Repository kubernetes-sigs/kubetest2: changes, and which Prow jobs are due for each by the changed paths.
All: gce-build-up-down, pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gce, pull-kubetest2-build-gke, pull-kubetest2-build-kind

gce-build-up-down:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230719-72ce785784-master
      command:
      - runner.sh
      args:
      - ./kubetest2-gce/ci-tests/buildupdown.sh
  ...

pull-kubetest2-gke-up-down-singlecluster:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230406-23cb1879e3-master
      command:
      - runner.sh
      args:
      - ./kubetest2-gke/ci-tests/buildupdown.sh
      - --cluster-topology
  ...

pull-kubetest2-gke-up-down-multicluster:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230406-23cb1879e3-master
      command:
      - runner.sh
      args:
      - ./kubetest2-gke/ci-tests/buildupdown.sh
      - --cluster-topology
  ...

pull-kubetest2-build-gce:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-gce
      securityContext:
        privileged: true

pull-kubetest2-build-gke:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-gke
      securityContext:
        privileged: true

pull-kubetest2-build-kind:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-kind
      securityContext:
        privileged: true

Remove deprecated --kube-root kind argument
  kubetest2-kind/deployer/build.go
  kubetest2-kind/deployer/deployer.go
Due: pull-kubetest2-build-kind

Dump cluster logs before bringing the cluster down
  kubetest2-gce/deployer/down.go
  kubetest2-gke/deployer/down.go
Due: gce-build-up-down, pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gce, pull-kubetest2-build-gke

kubetest-gce: dumpcluster logs after it run
  kubetest2-gce/deployer/down.go
  kubetest2-gce/deployer/up.go
Due: gce-build-up-down, pull-kubetest2-build-gce

gke: dump cluster logs after tests run or setup fails
  kubetest2-gke/deployer/down.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

kind: dump cluster logs when tearing down the cluster
  kubetest2-kind/deployer/down.go
Due: pull-kubetest2-build-kind

build e2e requirements for kind deployer
  kubetest2-kind/deployer/build.go
Due: pull-kubetest2-build-kind

Update build.go with gofmt
  kubetest2-kind/deployer/build.go
Due: pull-kubetest2-build-kind

remove ginkgo v1 option
  kubetest2-kind/deployer/build.go
Due: pull-kubetest2-build-kind

kubetest2 + kind using binaries from source
  kubetest2-kind/ci-tests/buildupdown.sh
Due: pull-kubetest2-build-kind

kubetest2 kind deployer readme
  kubetest2-kind/README.md
Due: pull-kubetest2-build-kind

add --container-runtime-endpoint for node tester
  pkg/testers/node/node.go
Due: none

Update the depedency modules
  .go-version
  go.mod
  go.sum
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

update dependencies
  hack/tools/.golangci.yml
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/app/cmd.go
  pkg/boskos/boskos.go
  pkg/testers/clusterloader2/cl2.go
Due: none

Bump the machineType to E2_HIGHCPU_8
  hack/ci/push-binaries/cloudbuild.yaml
Due: none

add ginkgo-flags to node tester
  pkg/testers/node/node.go
Due: none

use labelfilter instead of ginkgoflags
  pkg/testers/node/node.go
Due: none

remove LABEL_FILTER whitespace
  pkg/testers/node/node.go
Due: none

Replace opencensus vanity url to avoid expired cert
  go.mod
  go.sum
Due: none

Update README.md - typo
  README.md
Due: none

Add ppc64le architecture to kubetest2 available archs
  hack/build/ci-binaries.sh
Due: none

Add s390x architecture to kubetest2 available archs
  hack/build/ci-binaries.sh
Due: none

Bump the machine size and timeout in the cloudbuild
  hack/ci/push-binaries/cloudbuild.yaml
Due: none

Add support for GKE extended channel.
  kubetest2-gke/deployer/options/cluster.go
  kubetest2-gke/deployer/version.go
  kubetest2-gke/deployer/version_test.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Provide GKE cluster identifiers to tests.
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/deployer_test.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Add a GKE_ prefix to GKE cluster information environment variables.
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Provide GKE cluster identifiers to tests. (#294)
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/deployer_test.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

bump packages and upgrade to go 1.25
  .go-version
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/build/krel.go
Due: none

set parallelism to 2
  hack/build/ci-binaries.sh
Due: none

Add back job-version to metadata/finished json for kubetest2 jobs
  pkg/testers/clusterloader2/cl2.go
  pkg/testers/exec/exec.go
  pkg/testers/ginkgo/ginkgo.go
  pkg/testers/metadata.go
  pkg/testers/node/node.go
Due: none

fix broken verify job
  hack/ci/unit.sh
Due: none

write metadata json after pretestSetup
  pkg/testers/ginkgo/ginkgo.go
  pkg/testers/ginkgo/package.go
  pkg/testers/metadata.go
Due: none

Add support for extended GKE release channel.
  kubetest2-gke/deployer/version.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

add provider & label filter flag
  kubetest2-gce/ci-tests/buildupdown.sh
  pkg/testers/ginkgo/ginkgo.go
Due: gce-build-up-down, pull-kubetest2-build-gce

fix complex env variables
  kubetest2-gce/deployer/common.go
Due: gce-build-up-down, pull-kubetest2-build-gce

add `boskos-resource-type` flag
  kubetest2-gce/deployer/common.go
  kubetest2-gce/deployer/deployer.go
Due: gce-build-up-down, pull-kubetest2-build-gce

add node-accelerators flag
  kubetest2-gce/deployer/common.go
  kubetest2-gce/deployer/deployer.go
Due: gce-build-up-down, pull-kubetest2-build-gce

allow repeated --test-overrides & --test-configs to work
  pkg/testers/clusterloader2/cl2.go
Due: none

Add '--down-timeout' gke-deloyer flag
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/down.go
  kubetest2-gke/deployer/options/cluster.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Append --down-timeout only if set
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/down.go
  kubetest2-gke/deployer/options/cluster.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Pass extra args in the gcloud container node-pools create call
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/options/cluster.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Path conditions:
  gce-build-up-down: any of: kubetest2-gce/.*
  pull-kubetest2-gke-up-down-singlecluster: any of: kubetest2-gke/.*
  pull-kubetest2-gke-up-down-multicluster: any of: kubetest2-gke/.*
  pull-kubetest2-build-gce: any of: kubetest2-gce/.*
  pull-kubetest2-build-gke: any of: kubetest2-gke/.*
  pull-kubetest2-build-kind: any of: kubetest2-kind/.*
