Repository kubernetes-sigs/kubetest2: changes, and which Prow jobs are due for each by the changed paths.
All: gce-build-up-down, pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gce, pull-kubetest2-build-gke, pull-kubetest2-build-kind

gce-build-up-down:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230719-72ce785784-master
      command:
      - runner.sh
      args:
      - ./kubetest2-gce/ci-tests/buildupdown.sh
  ...

pull-kubetest2-gke-up-down-singlecluster:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230406-23cb1879e3-master
      command:
      - runner.sh
      args:
      - ./kubetest2-gke/ci-tests/buildupdown.sh
      - --cluster-topology
  ...

pull-kubetest2-gke-up-down-multicluster:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230406-23cb1879e3-master
      command:
      - runner.sh
      args:
      - ./kubetest2-gke/ci-tests/buildupdown.sh
      - --cluster-topology
  ...

pull-kubetest2-build-gce:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-gce
      securityContext:
        privileged: true

pull-kubetest2-build-gke:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-gke
      securityContext:
        privileged: true

pull-kubetest2-build-kind:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-kind
      securityContext:
        privileged: true

enable the use of multiple testers
  .go-version
  README.md
  go.mod
  kubetest2-gke/ci-tests/buildupdown.sh
  kubetest2-gke/deployer/commandutils.go
  kubetest2-kind/ci-tests/buildupdown.sh
  kubetest2-kind/ci-tests/test.sh
  pkg/app/app.go
  pkg/app/cmd.go
  pkg/metadata/metadata.go
  pkg/types/types.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke, pull-kubetest2-build-kind

skip writing empty keys to metadata.json
  pkg/app/shim/shim.go
  pkg/metadata/metadata.go
  pkg/testers/ginkgo/ginkgo.go
Due: none

Don't return if bastion NAT setup failed
  kubetest2-gke/deployer/bastion.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

SshProxyInstanceName -> SSHProxyInstanceName
  kubetest2-gke/deployer/bastion.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/options/network.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

log error if NAT access config setup failed
  kubetest2-gke/deployer/bastion.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Copyright 2020 -> 2026
  kubetest2-gke/deployer/bastion.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Search for bastion instance in the host project
  kubetest2-gke/deployer/bastion.go
  kubetest2-gke/deployer/options/network.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

simplify bastion setup
  kubetest2-gke/deployer/bastion.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

add pre-test-cmd
  .gitignore
  kubetest2-gke/ci-tests/buildupdown.sh
  kubetest2-kind/ci-tests/buildupdown.sh
  kubetest2-kind/ci-tests/test.sh
  kubetest2-kind/deployer/build.go
  kubetest2-kind/deployer/up.go
  pkg/app/app.go
  pkg/app/cmd.go
  pkg/types/types.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke, pull-kubetest2-build-kind

add-extra-networks-flag
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/network.go
  kubetest2-gke/deployer/network_test.go
  kubetest2-gke/deployer/options/network.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

allow-repeated-flags-in-extra-nodepool
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/up_test.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Allow override log-dump.sh
  kubetest2-gke/deployer/dumplogs.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Fix pre-test-cmd and add post-test-cmd
  pkg/app/app.go
  pkg/app/cmd.go
  pkg/types/types.go
Due: none

Remove stale push-build.sh reference from comment
  pkg/build/krel.go
Due: none

dump-configmaps flag that dumps user-specified ConfigMaps as part of gathering cluster logs.
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/dumplogs.go
  kubetest2-gke/deployer/options/common.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

dumpConfigMapsJsonString -> dumpConfigMapsJSONString
  kubetest2-gke/deployer/dumplogs.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Use client-go instead of calling exec
  go.mod
  kubetest2-gke/deployer/dumplogs.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

gke: add --metadata-sources flag to merge metadata from JSON files
  kubetest2-gke/deployer/dumplogs.go
  kubetest2-gke/deployer/dumplogs_test.go
  kubetest2-gke/deployer/options/common.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Copyright 2020 -> 2026
  kubetest2-gke/deployer/dumplogs.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Copyright 2026
  kubetest2-gke/deployer/dumplogs.go
  kubetest2-gke/deployer/dumplogs_test.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Added error handling since it's required for pull-kubetest2-verify
  kubetest2-gke/deployer/dumplogs_test.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Don't fail if a metadata source doesn't exist
  kubetest2-gke/deployer/dumplogs.go
  kubetest2-gke/deployer/dumplogs_test.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Dump config maps and merge metadata sources on top of DumpClusterLogs since it works well with both zonal and regional clusters
  kubetest2-gke/deployer/dumplogs.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Move TODO to the corresponding code block
  kubetest2-gke/deployer/dumplogs.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

Update kubetest2-tf link in README.md
  README.md
Due: none

Add support for mTLS endpoint selection in GKE deployer based on gcloud configuration
  kubetest2-gke/deployer/commandutils.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke

drop bazel from kubetest2
  kubetest2-gce/ci-tests/buildupdown.sh
  kubetest2-gce/deployer/build.go
  pkg/build/bazel.go
  pkg/build/options.go
Due: gce-build-up-down, pull-kubetest2-build-gce

Adding tester for kube-burner
  README.md
  kubetest2-tester-kube-burner/main.go
  pkg/testers/kube-burner/kube_burner.go
Due: none

gce: document that cloud-provider-gcp no longer works
  kubetest2-gce/README.md
Due: gce-build-up-down, pull-kubetest2-build-gce

node tester: add support for pre-built binaries
  pkg/testers/node/node.go
  pkg/testers/node/package.go
Due: none

node tester: build locally, invoke as for pre-built binaries
  pkg/testers/node/node.go
Due: none

kind: install latest version during CI testing
  kubetest2-kind/ci-tests/buildupdown.sh
Due: pull-kubetest2-build-kind

app: add --metadata flag to record extra key=value pairs in metadata.json
  pkg/app/app.go
  pkg/app/app_test.go
  pkg/app/cmd.go
  pkg/types/types.go
Due: none

bump to go 1.27, allow testers to pass keys to metadata.json and bump deps
  .go-version
  go.mod
  go.sum
  hack/ci/unit.sh
  kubetest2-gce/ci-tests/buildupdown.sh
  kubetest2-gce/ci-tests/clusterloader2.sh
  pkg/app/cmd.go
  pkg/app/shim/shim.go
  pkg/testers/clusterloader2/cl2.go
  pkg/testers/clusterloader2/cl2_test.go
  pkg/testers/exec/exec.go
  pkg/testers/ginkgo/ginkgo.go
  pkg/testers/metadata.go
  pkg/testers/metadata_test.go
  pkg/testers/node/node.go
Due: gce-build-up-down, pull-kubetest2-build-gce

bump to go 1.27, allow testers to pass keys to metadata.json and bump deps (#350)
  .go-version
  go.mod
  go.sum
  hack/ci/unit.sh
  kubetest2-gce/ci-tests/buildupdown.sh
  kubetest2-gce/ci-tests/clusterloader2.sh
  pkg/app/cmd.go
  pkg/app/shim/shim.go
  pkg/testers/clusterloader2/cl2.go
  pkg/testers/clusterloader2/cl2_test.go
  pkg/testers/exec/exec.go
  pkg/testers/ginkgo/ginkgo.go
  pkg/testers/metadata.go
  pkg/testers/metadata_test.go
  pkg/testers/node/node.go
Due: gce-build-up-down, pull-kubetest2-build-gce

add a metadata setter and copy over k/k boilerplate checker
  hack/boilerplate/boilerplate.Dockerfile.txt
  hack/boilerplate/boilerplate.Makefile.txt
  hack/boilerplate/boilerplate.py
  hack/boilerplate/boilerplate.py.txt
  hack/boilerplate/boilerplate.sh.txt
  hack/boilerplate/boilerplate_test.py
  hack/boilerplate/test/fail_2026.go
  hack/boilerplate/test/pass_no_year.go
  kubetest2-gke/deployer/bastion.go
  kubetest2-gke/deployer/dumplogs_test.go
  kubetest2-kind/ci-tests/buildupdown.sh
  kubetest2-kind/ci-tests/test.sh
  pkg/app/app_test.go
  pkg/testers/ginkgo/ginkgo.go
  pkg/testers/ginkgo/ginkgo_test.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke, pull-kubetest2-build-kind

add a metadata setter and copy over k/k boilerplate checker (#351)
  hack/boilerplate/boilerplate.Dockerfile.txt
  hack/boilerplate/boilerplate.Makefile.txt
  hack/boilerplate/boilerplate.py
  hack/boilerplate/boilerplate.py.txt
  hack/boilerplate/boilerplate.sh.txt
  hack/boilerplate/boilerplate_test.py
  hack/boilerplate/test/fail_2026.go
  hack/boilerplate/test/pass_no_year.go
  kubetest2-gke/deployer/bastion.go
  kubetest2-gke/deployer/dumplogs_test.go
  kubetest2-kind/ci-tests/buildupdown.sh
  kubetest2-kind/ci-tests/test.sh
  pkg/app/app_test.go
  pkg/testers/ginkgo/ginkgo.go
  pkg/testers/ginkgo/ginkgo_test.go
Due: pull-kubetest2-gke-up-down-singlecluster, pull-kubetest2-gke-up-down-multicluster, pull-kubetest2-build-gke, pull-kubetest2-build-kind

bump go to 1.27.1
  .go-version
  go.mod
  hack/ci/unit.sh
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

bump go to 1.27.1 (#353)
  .go-version
  go.mod
  hack/ci/unit.sh
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

Path conditions:
  gce-build-up-down: any of: kubetest2-gce/.*
  pull-kubetest2-gke-up-down-singlecluster: any of: kubetest2-gke/.*
  pull-kubetest2-gke-up-down-multicluster: any of: kubetest2-gke/.*
  pull-kubetest2-build-gce: any of: kubetest2-gce/.*
  pull-kubetest2-build-gke: any of: kubetest2-gke/.*
  pull-kubetest2-build-kind: any of: kubetest2-kind/.*
