Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

Update netlify DNS request details
  github-management/subproject-site-requests.md
Due: none

Update repo creation instructions
  github-management/org-owners-guide.md
Due: none

Update with the new SIG Testing - TestGrid subproject.
  sig-testing/README.md
  sigs.yaml
Due: generate-sigs

Create the Brazilian dev channels
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update contributors/guide/contributor-cheatsheet/README-es.md
  contributors/guide/contributor-cheatsheet/README-es.md
Due: none

Update annual-report-2020.md
  sig-cloud-provider/annual-report-2020.md
Due: none

Update company affiliation for aravindhp
  sig-list.md
  sig-windows/README.md
  sigs.yaml
Due: generate-sigs

Modernize controllers.md
  contributors/devel/sig-api-machinery/controllers.md
Due: none

update annual report questions
  generator/annual-report/github_issue.tmpl
  generator/annual-report/sig_report.tmpl
  generator/annual-report/wg_report.tmpl
Due: none

generate 2023 Annual Report boilerplates
  sig-api-machinery/annual-report-2023.md
  sig-apps/annual-report-2023.md
  sig-architecture/annual-report-2023.md
  sig-auth/annual-report-2023.md
  sig-autoscaling/annual-report-2023.md
  sig-cli/annual-report-2023.md
  sig-cloud-provider/annual-report-2023.md
  sig-cluster-lifecycle/annual-report-2023.md
  sig-contributor-experience/annual-report-2023.md
  sig-docs/annual-report-2023.md
  sig-etcd/annual-report-2023.md
  sig-instrumentation/annual-report-2023.md
  sig-k8s-infra/annual-report-2023.md
  sig-multicluster/annual-report-2023.md
  sig-network/annual-report-2023.md
  sig-node/annual-report-2023.md
  sig-release/annual-report-2023.md
  sig-scalability/annual-report-2023.md
  sig-scheduling/annual-report-2023.md
  sig-security/annual-report-2023.md
  sig-storage/annual-report-2023.md
  sig-testing/annual-report-2023.md
  sig-ui/annual-report-2023.md
  sig-windows/annual-report-2023.md
  wg-api-expression/annual-report-2023.md
  wg-batch/annual-report-2023.md
  wg-data-protection/annual-report-2023.md
  wg-iot-edge/annual-report-2023.md
  wg-lts/annual-report-2023.md
  wg-policy/annual-report-2023.md
  wg-structured-logging/annual-report-2023.md
Due: none

Update community-membership.md
  community-membership.md
Due: none

Update Devfile Slack User Group
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Fix suggestions link in help-wanted.md
  contributors/guide/help-wanted.md
Due: none

Update required Go versions for different versions of Kubernetes.
  contributors/devel/development.md
Due: none

Update test-suite.md
  contributors/devel/sig-node/test-suite.md
Due: none

chore: add channel for kubecfg
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add SIG Docs Arabic team meeting to README
  sig-docs/README.md
Due: none

Revert "Add SIG Docs Arabic team meeting to README"
  sig-docs/README.md
Due: none

Generate entry from sigs.yaml
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

sig-scheduling: update descheduler meeting times
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
Due: generate-sigs

Fixed the cri api pkg link in sig-node/Readme.md
  sig-node/README.md
Due: none

update DNS programming latency SLI
  sig-scalability/slos/dns_programming_latency.md
Due: none

Fix meeting time 16:00 -> 18:00
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Adds exported kubernetes.io analytics data from universal analytics
  sig-docs/analytics/README.md
  sig-docs/analytics/top-blogs-by-pageview.csv
  sig-docs/analytics/top-pages-by-pageviews.csv
  sig-docs/analytics/top-search-terms.csv
Due: none

update reg team README
  events/events-team/registration/README.md
Due: none

Remove myself as SIG Cluster Lifecycle TL
  OWNERS_ALIASES
  sig-cluster-lifecycle/README.md
  sigs.yaml
Due: generate-sigs

Update sig-scalability/slos/dns_programming_latency.md
  sig-scalability/slos/dns_programming_latency.md
Due: none

Add channel #reconcilerio
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
