Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

Updating year from 2024 to 2025
  elections/steering/README.md
Due: none

Add WG AI Gateway Slack Channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

steering/2025: add candidate bio for xmudrii
  elections/steering/2025/candidate-xmudrii.md
Due: none

Bump go module dependencies
  go.mod
  go.sum
Due: none

Run make generate after dep bump
  sigs.yaml
Due: generate-sigs

Fix bash-based word count validation for steering elections
  hack/verify-steering-election.sh
Due: none

address review feedback - round 1
  contributors/devel/sig-architecture/api-conventions.md
  contributors/devel/sig-architecture/api_changes.md
Due: none

Add candidate bio for ritazh
  elections/steering/2025/candidate-ritazh.md
Due: none

Add candidate bio for Natali Vlatko (natalisucks)
  elections/steering/2025/candidate-natalisucks.md
Due: none

add pacoxu candidate bio for 2025 election
  elections/steering/2025/candidate-pacoxu.md
Due: none

Add candidate bio for Maciej Szulik (soltysh)
  elections/steering/2025/candidate-soltysh.md
Due: none

reduce bio to comply with new wordcount max
  elections/steering/2025/candidate-katcosgrove.md
Due: none

WG-Batch leads update
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-batch/README.md
Due: generate-sigs

add candidate bio for Priyanka Saggu (Priyankasaggu11929)
  elections/steering/2025/candidate-priyankasaggu11929.md
Due: none

sig-arch: add wg-ai-conformance repo under AI conformance working group
  sig-architecture/README.md
  sigs.yaml
Due: generate-sigs

Delay 2025 election start
  elections/steering/2025/README.md
  elections/steering/2025/election.yaml
Due: none

Add name to SC 2025 election bio
  elections/steering/2025/candidate-stmcginnis.md
Due: none

fix link for allowed-third-party-license-policy
  github-management/kubernetes-repositories.md
Due: none

updates members in release-team-leads for 1.35 release cycle
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update CLA.md
  CLA.md
Due: none

Add Chris Short to moderators list
  communication/moderators.md
Due: none

Make year range dynamic based on current year
  hack/verify-steering-election-tool.go
Due: none

Update election candidate bios and template to use proper YAML format
  elections/steering/2025-GB/candidate-cblecker.md
  elections/steering/2025-GB/candidate-cpanato.md
  elections/steering/2025-GB/candidate-dims.md
  elections/steering/2025-GB/candidate-nikhita.md
  elections/steering/2025/nomination-template.md
Due: none

Add Go-based utility to replace hack/verify-steering-election.sh
  hack/verify-steering-election-tool.go
  hack/verify-steering-election.sh
Due: none

Replace deprecated io/ioutil with os.ReadFile
  hack/verify-steering-election-tool.go
Due: none

Require exactly 61 dashes for YAML header separators
  hack/verify-steering-election-tool.go
Due: none

Extract startYear constant and update election validation to 2026
  hack/verify-steering-election-tool.go
Due: none

Add comprehensive unit tests for verify-steering-election tool
  hack/verify-steering-election-tool_test.go
Due: none

sig-cloud-provider: add kro subproject
  sig-cloud-provider/README.md
  sigs.yaml
Due: generate-sigs

Added doc on SIG Node wrangler program
  sig-node/sig-node-kep-wrangler-program.md
Due: none

Add more conventions around validation
  contributors/devel/sig-architecture/api-conventions.md
Due: none

feat: add Declarative APIs and Linters subproject meeting
  sig-api-machinery/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Clarified wrangler lead role and responsibilities
  sig-node/sig-node-kep-wrangler-program.md
Due: none

Added note on collecting wrangler applications
  sig-node/sig-node-kep-wrangler-program.md
Due: none

Add links to AI conformance definition repos
  wg-ai-conformance/README.md
Due: none

chore: add new slack channel for CAPI working group
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

sig-cluster-lifecycle: document minkube-os/preloads repos
  sig-cluster-lifecycle/README.md
  sigs.yaml
Due: generate-sigs

docs: fix archive_url for Declarative APIs and Linters subproject meeting
  sig-api-machinery/README.md
  sigs.yaml
Due: generate-sigs

github-management: add jasonbraganza as GitHub Admin
  github-management/OWNERS
  github-management/README.md
Due: none

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
