Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

update code generation makefile hints
  contributors/devel/sig-architecture/api_changes.md
Due: none

create e2e-framework slack channels
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

sig-cl: change ML to kubernetes.io
  archive/wg-kubeadm-adoption/README.md
  sig-cluster-lifecycle/CONTRIBUTING.md
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Clarify ineligibility of fixes for alpha feature issue for backports
  contributors/devel/sig-release/cherry-picks.md
Due: none

Step down as TL for Kueue and add mimowo
  sig-scheduling/README.md
  sigs.yaml
Due: generate-sigs

Update community-membership.md
  community-membership.md
Due: none

Update feature gate documentation for compatibility version
  contributors/devel/sig-architecture/feature-gates.md
Due: none

Fixup comments
  contributors/devel/sig-architecture/feature-gates.md
Due: none

sig-cl: remove nested CAPI provider subproject
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

sig-cluster-lifecycle: add karpenter-provider-cluster-api repo
  sig-cluster-lifecycle/README.md
  sigs.yaml
Due: generate-sigs

Update CAPI IBMCloud meeting time and meeting notes document
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Remove myself from sig-scalability README.md
  sig-scalability/README.md
Due: none

Correct Cailyn's GitHub username, which was changed on 2024/10/10, and a spelling error.
  OWNERS_ALIASES
  sig-list.md
  sig-security/README.md
  sigs.yaml
Due: generate-sigs

add capi provider gcp office hours
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

kubernetes testing strategy
  contributors/devel/sig-testing/testing-strategy.md
  contributors/devel/sig-testing/testing.md
Due: none

Update contributors/devel/sig-testing/testing-strategy.md
  contributors/devel/sig-testing/testing-strategy.md
Due: none

Onboarding Cailyn Edwards as additonal SIG Security chair! (#8085)
  OWNERS_ALIASES
  sig-list.md
  sig-security/README.md
  sigs.yaml
Due: generate-sigs

address comments
  contributors/devel/sig-testing/testing-strategy.md
Due: none

PRs: document policy around linter checks
  contributors/guide/pull-requests.md
Due: none

clarify testing pyramid
  contributors/devel/sig-testing/sig_testing_kubecon_na_2022_pyramid.png
  contributors/devel/sig-testing/testing-strategy.md
Due: none

support email field in sigs.yaml
  generator/app.go
Due: none

add my email to sigs.yaml
  sigs.yaml
Due: generate-sigs

Add externaljwt repo to service-accounts project
  sig-auth/README.md
  sigs.yaml
Due: generate-sigs

sig-network: add cni-dra-driver repo
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

docs: add best practices guide for API extensions
  sig-network/api-extensions-best-practices.md
Due: none

docs: add warnings about support levels
  sig-network/api-extensions-best-practices.md
Due: none

Add project `kro` to slack channels
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update moderators.md
  communication/moderators.md
Due: none

Update SIG Instrumentation leads
  sig-instrumentation/README.md
Due: none

Update README.md
  sig-instrumentation/README.md
Due: none

add networking slis for services
  sig-scalability/slos/connection_total_latency.md
  sig-scalability/slos/first_packet_latency.md
  sig-scalability/slos/slos.md
  sig-scalability/slos/throughput.md
Due: none

remove connection total latency SLI
  sig-scalability/slos/connection_total_latency.md
  sig-scalability/slos/slos.md
Due: none

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
