Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

update links to contribute site awards
  events/awards/README.md
Due: none

address feedback from andrey
  wg-batch/annual-report-2024.md
Due: none

k8s-infra: Update Mailing list
  sig-k8s-infra/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

SIG Windows Annual report 2024
  sig-windows/annual-report-2024.md
Due: none

update contributor site repo link
  events/awards/README.md
Due: none

sig-k8s-infra: Update mailing list
  sig-k8s-infra/README.md
  sig-k8s-infra/charter.md
  sigs.yaml
Due: generate-sigs

SIG-Storage 2024 annual report
  sig-storage/annual-report-2024.md
Due: none

Add zpages as subproject under sig-instrumentation
  sig-instrumentation/README.md
  sigs.yaml
Due: generate-sigs

Add sig-inst meeting recordings link
  sig-instrumentation/README.md
  sigs.yaml
Due: generate-sigs

Update annual-report-2024.md
  sig-ui/annual-report-2024.md
Due: none

update SIG Cloud Provider 2024 annual report
  sig-cloud-provider/annual-report-2024.md
Due: none

Add the 2024 SIG-Multicluster report, update README.md
  sig-multicluster/README.md
  sig-multicluster/annual-report-2024.md
Due: none

SIG k8s Infra 2024 annual report
  sig-k8s-infra/annual-report-2024.md
Due: none

Fix the email address for mimowo
  sigs.yaml
Due: generate-sigs

SIG Apps Annual Report 2024
  sig-apps/annual-report-2024.md
Due: none

Update annual-report-2024.md
  wg-serving/annual-report-2024.md
Due: none

update sig docs annual report
  sig-docs/annual-report-2024.md
Due: none

wg-structured-logging: annual report 2024
  wg-structured-logging/annual-report-2024.md
Due: none

wg-device-management: annual report 2024
  sig-list.md
  sigs.yaml
  wg-device-management/README.md
  wg-device-management/annual-report-2024.md
Due: generate-sigs

WIP: 2024 sig etcd report
  sig-etcd/annual-report-2024.md
Due: none

adds SIG release annual report draft
  sig-release/annual-report-2024.md
Due: none

Changes per PR feedback.
  wg-etcd-operator/annual-report-2024.md
Due: none

Update wg-data-protection mailing list
  sig-list.md
  sigs.yaml
  wg-data-protection/README.md
Due: generate-sigs

elections/cocc: Add 2025 election results
  elections/code-of-conduct/2025/ballots.csv
  elections/code-of-conduct/2025/results.md
Due: none

Update hub-cluster-position-statement.md
  sig-multicluster/hub-cluster-position-statement.md
Due: none

SIG scalability leadership changes
  OWNERS_ALIASES
  sig-list.md
  sig-scalability/README.md
  sigs.yaml
Due: generate-sigs

WIP - Update annual-report-2024.md
  sig-api-machinery/annual-report-2024.md
Due: none

add ingate meeting and update ingress-nginx meeting
  sigs.yaml
Due: generate-sigs

add ingate channels
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

ran make
  sig-list.md
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Update sig-node CI subgroup meeting link
  sig-list.md
  sig-node/README.md
  sigs.yaml
Due: generate-sigs

Update sig-api-machinery/annual-report-2024.md
  sig-api-machinery/annual-report-2024.md
Due: none

Update annual-report-2024.md
  sig-api-machinery/annual-report-2024.md
Due: none

Swap wg-device-management liaisons to avoid conflict of interest
  liaisons.md
  sigs.yaml
  wg-device-management/README.md
Due: generate-sigs

WG-Etcd Operator annual report (#8296)
  sig-etcd/README.md
  sigs.yaml
  wg-etcd-operator/README.md
  wg-etcd-operator/annual-report-2024.md
Due: generate-sigs

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
