Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

Add perfdash links and fix testgrid links
  sig-scalability/README.md
Due: none

sig-cluster-lifecycle: move logical-cluster to a subproject repo
  sig-cluster-lifecycle/README.md
  sigs.yaml
Due: generate-sigs

Migrating k8s-testgrid.appspot.com link to testgrid.k8s.io
  communication/meeting-notes-archive/201801-201807_Community_Meeting_Minutes.md
  communication/meeting-notes-archive/201808-201902_Community_Meeting_Minutes.md
  contributors/devel/sig-testing/e2e-tests.md
  sig-contributor-experience/meeting-notes-archive/2018-meeting-notes.md
  sig-node/archive/meeting-notes-2016.md
  sig-node/archive/meeting-notes-2017.md
  sig-node/archive/meeting-notes-2018.md
  sig-node/archive/meeting-notes-2019.md
  sig-node/charter.md
  sig-scheduling/charter.md
Due: none

Reverting changes from archive folder
  communication/meeting-notes-archive/201801-201807_Community_Meeting_Minutes.md
  communication/meeting-notes-archive/201808-201902_Community_Meeting_Minutes.md
  sig-contributor-experience/meeting-notes-archive/2018-meeting-notes.md
  sig-node/archive/meeting-notes-2016.md
  sig-node/archive/meeting-notes-2017.md
  sig-node/archive/meeting-notes-2018.md
  sig-node/archive/meeting-notes-2019.md
Due: none

Migrating k8s-testgrid.appspot.com link to testgrid.k8s.io (#7472)
  contributors/devel/sig-testing/e2e-tests.md
  sig-node/charter.md
  sig-scheduling/charter.md
Due: none

first contribution: warn about unsolicited PRs for linter warnings
  contributors/guide/first-contribution.md
Due: none

release: document kind/deprecation
  contributors/devel/sig-release/release.md
Due: none

Update sigs.yaml for wg-policy chair changes
  sigs.yaml
Due: generate-sigs

first contribution: avoid node block
  contributors/guide/first-contribution.md
Due: none

Pass the torch in ContribEx
  OWNERS_ALIASES
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Clarifying channel name while not overlapping user
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update CLA.md
  CLA.md
Due: none

Update details around blog contribution
  communication/README.md
  communication/contributor-comms/blogging-resources/blog-guidelines.md
  sig-docs/blog-subproject/README.md
Due: none

Apply suggestion from code review
  sig-docs/blog-subproject/README.md
Due: none

Clarify AKS-related channels on K8s Slack (#7585)
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

WG-Batch leads update
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-batch/README.md
Due: generate-sigs

structured logging WG: change serathius -> mengjiao-liu as organizer
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-structured-logging/README.md
Due: generate-sigs

Add 2 users to the dra-dev group
  communication/slack-config/sig-node/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

docs: update the checklist on the event awards playbook
  events/awards/playbook.md
Due: none

Update users.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add 2 users to the dra-dev group (#7609)
  communication/slack-config/sig-node/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Changing Jay Vays to Amim Knabben as SIG-Windows tech lead
  OWNERS_ALIASES
  sig-windows/README.md
  sigs.yaml
Due: generate-sigs

Clarify PRR approvers criteria
  sig-architecture/production-readiness.md
Due: none

sig-autoscaling: add karpenter subproject
  sig-autoscaling/README.md
  sigs.yaml
Due: generate-sigs

slack-config: Rename bpfd to bpfman
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

add helayoty, jasonbraganza, ydFu as New Membership Coordinators
  github-management/README.md
Due: none

Adding suggestion per code review
  sig-docs/netlify-access.md
Due: none

Adding Tech leads per code review
  sig-docs/netlify-access.md
Due: none

Mention of the GitHub admin team's elevated access
  sig-docs/netlify-access.md
Due: none

Fix broken links in contributors guide
  contributors/devel/running-locally.md
  contributors/devel/sig-testing/e2e-tests.md
  contributors/devel/sig-testing/monitoring.md
  contributors/guide/issue-triage.md
Due: none

docs(update): add info for MKCC
  events/events-team/content/meet-and-greet.md
Due: none

patch(spelling): fix spelling of liaison
  events/events-team/content/meet-and-greet.md
Due: none

chore: add kyverno-chainsaw slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add Spotlight on SIG Testing blog to SIG Spotlights blog list
  communication/contributor-comms/blogging-resources/sig-spotlights.md
Due: none

Update guidance for becoming an approver
  sig-architecture/production-readiness.md
Due: none

Update issue-triage.md
  contributors/guide/issue-triage.md
Due: none

patch(spelling): fix stuff caught in review
  events/events-team/content/meet-and-greet.md
Due: none

sig-release: add release-actions repo under release-engineering subproject
  sig-release/README.md
  sigs.yaml
Due: generate-sigs

fix failing test case
  sig-etcd/README.md
Due: none

update devfile-devs
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
