Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

fix: Add Natalie Fisher to the Slack announcebot
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update announcement guidelines with user addition steps
  communication/contributor-comms/automation/announcement-guidelines.md
Due: none

Update 2025 etcd report
  sig-etcd/annual-report-2025.md
Due: none

Add 2025 SIG Security annual report
  sig-security/annual-report-2025.md
Due: none

SIG Autoscaling 2025 Annual Report (#8853)
  sig-autoscaling/CONTRIBUTING.md
  sig-autoscaling/README.md
  sig-autoscaling/annual-report-2025.md
  sigs.yaml
Due: generate-sigs

Correct a spelling error
  sig-security/annual-report-2025.md
Due: none

flaky tests: set timeout when using stress
  contributors/devel/sig-testing/flaky-tests.md
Due: none

Add 2025 SIG Security annual report (#8880)
  sig-security/annual-report-2025.md
Due: none

Document GitHub moderation policies
  github-management/github-moderation.md
Due: none

WG Batch: add 2025 annual report (#8836)
  wg-batch/annual-report-2025.md
Due: none

sig-release usergroups.yaml to finish offboarding cji user
  communication/slack-config/sig-release/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add the 2025 SIG Testing report.
  contributors/devel/README.md
  contributors/devel/sig-testing/gubernator.md
  contributors/devel/sig-testing/testing.md
  sig-testing/CONTRIBUTING.md
  sig-testing/annual-report-2025.md
  sig-testing/charter.md
Due: none

fix: update slack ids for @kubetail-maintainers
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Enable announcebot for Josh Berkus
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

wg-lts spin down
  OWNERS_ALIASES
  liaisons.md
  sig-architecture/README.md
  sig-cluster-lifecycle/README.md
  sig-k8s-infra/README.md
  sig-list.md
  sig-release/README.md
  sig-security/README.md
  sig-testing/README.md
  sigs.yaml
Due: generate-sigs

wg-lts: 2025 annual report
  wg-lts/annual-report-2025.md
Due: none

Add #kubernetes-docs-zh-tw Slack channel
  communication/slack-config/sig-docs/docs-channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Move Agent Sandbox meeting 30 mins earlier to be more EMEA-friendly
  sig-apps/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

sig-architecture: add Go feature adoption policy
  contributors/devel/sig-architecture/go-version-adoption-policy.md
Due: none

Update contributors/devel/sig-architecture/go-version-adoption-policy.md
  contributors/devel/sig-architecture/go-version-adoption-policy.md
Due: none

Add Slack channel for NCO Staff
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update for sig-network 2025
  sig-network/README.md
  sig-network/annual-report-2025.md
Due: none

Remove stale entry for InGate meetings
  sig-list.md
  sigs.yaml
Due: generate-sigs

Archive wg-serving channel in channels.yaml
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Rename ai-conformance channel to Slack config
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update Slack channels configuration
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add channel ID for k8s-ai-conformance
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add a note for DST in NCO meeting
  mentoring/new-contributor-orientation/README.md
Due: none

sig-node: update repos to include cri-streaming and streaming
  sig-node/README.md
  sigs.yaml
Due: generate-sigs

Add hjoshi123 to cert-manager-maintainers usergroup
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update Slack channel for K8s AI Conformance subproject
  sig-architecture/README.md
  sigs.yaml
Due: generate-sigs

Remove occurences of Defunc Community Meeting
  communication/README.md
  communication/youtube/youtube-guidelines.md
  communication/zoom-guidelines.md
  contributors/guide/non-code-contributions.md
  events/community-meeting.md
  events/events-team/best-practices.md
  mentoring/programs/mentoring-lead.md
  sig-wg-lifecycle.md
Due: none

Fix kubernetes-docs-zh-tw not in sig-docs restrictions
  communication/slack-config/restrictions.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

docs: add documentation for adding a new API fields with validation using DV tags only and testing
  contributors/devel/sig-architecture/api_changes.md
Due: none

docs: add declarative validation patterns for feature-gates.md
  contributors/devel/sig-architecture/feature-gates.md
Due: none

address-feedback: doc clarifications
  contributors/devel/sig-architecture/api_changes.md
Due: none

Update sig scale README.md
  sig-scalability/README.md
Due: none

Sig scale 2025 report
  sig-scalability/annual-report-2025.md
Due: none

sig windows 2025 annual report
  sig-windows/annual-report-2025.md
Due: none

Update self-referencing master URLs to main
  committee-code-of-conduct/README.md
  committee-security-response/README.md
  committee-steering/README.md
  generator/committee_readme.tmpl
  generator/sig_readme.tmpl
  hack/generate-devstats-repo-sql.py
  sig-api-machinery/README.md
  sig-apps/README.md
  sig-architecture/README.md
  sig-auth/README.md
  sig-autoscaling/README.md
  sig-cli/README.md
  sig-cloud-provider/README.md
  sig-cluster-lifecycle/README.md
  sig-contributor-experience/README.md
  sig-docs/README.md
  sig-etcd/README.md
  sig-instrumentation/README.md
  sig-k8s-infra/README.md
  sig-multicluster/README.md
  sig-network/README.md
  sig-node/README.md
  sig-release/README.md
  sig-scalability/README.md
  sig-scheduling/README.md
  sig-security/README.md
  sig-storage/README.md
  sig-testing/README.md
  sig-ui/README.md
  sig-windows/README.md
  sigs.yaml
Due: generate-sigs
