Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

update voters.yaml for 2026 steering election with new org members
  elections/steering/2026/voters.yaml
Due: none

add jayeshmahajan to the contributor-comms group in usergroups.yaml
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

slack-config: add missing uid entry for jayeshmahajan
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Change in SIG Cluster Lifecycle leadership
  OWNERS_ALIASES
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

sig-autoscaling: add model-serving-signals repo as new subproject
  sig-autoscaling/README.md
  sigs.yaml
Due: generate-sigs

sig-apps: add workload-class repo as new subproject
  sig-apps/README.md
  sigs.yaml
Due: generate-sigs

Address feedback from SIG meeting
  sig-cluster-lifecycle/charter.md
Due: none

Address feedback from steering
  sig-cluster-lifecycle/charter.md
Due: none

Move WG Checkpoint Restore meeting to Mondays
  sig-list.md
  sigs.yaml
  wg-checkpoint-restore/README.md
Due: generate-sigs

added model-serving-signals slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update kubectl conventions
  contributors/devel/sig-cli/kubectl-conventions.md
Due: none

Update sigs.yaml
  sigs.yaml
Due: generate-sigs

add 2026 results
  elections/steering/2026/results.md
Due: none

updates for Steering Committe elections 2026
  OWNERS_ALIASES
  committee-steering/README.md
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
  sig-list.md
  sigs.yaml
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

fix the meeting time
  sig-list.md
  sig-scalability/README.md
  sigs.yaml
Due: generate-sigs

add ballots.csv for 2026 steering election
  elections/steering/2026/ballots.csv
Due: none

Update company affiliation for ritazh
  committee-steering/README.md
  sig-architecture/README.md
  sig-auth/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Archive WG LTS docs under archive/wg-lts
  archive/wg-lts/README-2019.md
  archive/wg-lts/README.md
  archive/wg-lts/annual-report-2023.md
  archive/wg-lts/annual-report-2024.md
  archive/wg-lts/annual-report-2025.md
  archive/wg-lts/charter-2019.md
  archive/wg-lts/charter.md
  wg-lts/README.md
  wg-lts/charter.md
Due: none

update sig diagram svg/png
  SIG-diagram.png
  SIG-diagram.svg
Due: none

Update liaison assignments
  committee-code-of-conduct/README.md
  liaisons.md
  sig-api-machinery/README.md
  sig-apps/README.md
  sig-architecture/README.md
  sig-auth/README.md
  sig-cli/README.md
  sig-cloud-provider/README.md
  sig-cluster-lifecycle/README.md
  sig-contributor-experience/README.md
  sig-docs/README.md
  sig-etcd/README.md
  sig-instrumentation/README.md
  sig-k8s-infra/README.md
  sig-multicluster/README.md
  sig-node/README.md
  sig-release/README.md
  sig-scalability/README.md
  sig-scheduling/README.md
  sig-storage/README.md
  sig-testing/README.md
  sig-ui/README.md
  sig-windows/README.md
  sigs.yaml
  wg-ai-gateway/README.md
  wg-batch/README.md
  wg-checkpoint-restore/README.md
  wg-data-protection/README.md
  wg-device-management/README.md
  wg-etcd-operator/README.md
  wg-node-identity/README.md
  wg-node-lifecycle/README.md
  wg-workload-aware-scheduling/README.md
Due: generate-sigs

Add WG Workload Conformance metadata
  OWNERS_ALIASES
  liaisons.md
  sig-apps/README.md
  sig-architecture/README.md
  sig-list.md
  sigs.yaml
  wg-workload-conformance/OWNERS
  wg-workload-conformance/README.md
  wg-workload-conformance/charter.md
Due: generate-sigs

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
