Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

update wg-policy 2023 annual report
  wg-policy/annual-report-2023.md
Due: none

updating doc link
  wg-serving/proposals/llm_instance_gateway/README.md
Due: none

Add channel #loxilb
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update company affiliation for soltysh
  committee-steering/README.md
  sig-apps/README.md
  sig-cli/README.md
  sig-list.md
  sigs.yaml
  wg-batch/README.md
Due: generate-sigs

Add updated list of spotlights done by Comms
  communication/contributor-comms/blogging-resources/sig-spotlights.md
Due: none

add the first version of the guidlines for the usage of the kubernetesio x account
  communication/kubernetesio-x-guidelines.md
Due: none

Add channel #loxilb (#8064)
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

add new cert-manager maintainer erikgb to the slack usergroup
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

[steering 2024] add voters from approved exception request - sept 10
  elections/steering/2024/voters.yaml
Due: none

Add CAPI Operator Office hours details
  sigs.yaml
Due: generate-sigs

Add 'make generate' changes
  sig-cluster-lifecycle/README.md
  sig-list.md
Due: none

slack: add channel kty
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add SimKube to Slack Channels
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

sig-network: add gwctl under gateway-api subproject
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Update communication/contributor-comms/blogging-resources/sig-spotlights.md
  communication/contributor-comms/blogging-resources/sig-spotlights.md
Due: none

Adding sandeepkanabar to Slack Announcebot
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update SIG Security info
  sig-list.md
  sig-security/README.md
  sigs.yaml
Due: generate-sigs

Creating New Contributor Orientation Content
  mentoring/new-contributor-orientation/README.md
  mentoring/new-contributor-orientation/nco-host-handbook.md
  mentoring/new-contributor-orientation/nco-lead-handbook.md
  mentoring/new-contributor-orientation/nco-slides/TEMPLATE [MONTH] New Contributor Orientation.pdf
  mentoring/new-contributor-orientation/nco-slides/[September] New Contributor Orientation.pdf
  mentoring/new-contributor-orientation/new-contributor-resources.md
Due: none

Update README.md
  mentoring/new-contributor-orientation/README.md
Due: none

Update README.md
  elections/steering/2024/README.md
Due: none

Update meeting recordings link for wg-device-management
  sigs.yaml
  wg-device-management/README.md
Due: generate-sigs

add k0s-dev and k0s-users
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

wg-serving: add DRA workstream
  wg-serving/README.md
Due: none

wg-serving: add links to sponsored subprojects
  wg-serving/README.md
Due: none

doc(e2e-node-tests): fix gcloud list images cmd
  contributors/devel/sig-node/e2e-node-tests.md
Due: none

Apply Review Changes
  communication/kubernetesio-x-guidelines.md
Due: none

Onboarding Cailyn Edwards as SIG Security chair!
  OWNERS_ALIASES
  sig-list.md
  sig-security/README.md
  sigs.yaml
Due: generate-sigs

Fix docs blog readme
  sig-docs/README.md
  sig-docs/blog-subproject/README.md
  sigs.yaml
Due: generate-sigs

Update based on feedback
  sig-docs/README.md
  sigs.yaml
Due: generate-sigs

Autogen readme
  sig-docs/README.md
Due: none

New Membership Coordinator: cleanup
  github-management/README.md
Due: none

Update feature gate documentation for compatibility version
  contributors/devel/sig-architecture/feature-gates.md
Due: none

doc(test-e2e): support custom network and subnet on remote e2e mode
  contributors/devel/sig-node/e2e-node-tests.md
Due: none

Add more to volunteers instructions
  events/events-team/operations/volunteers.md
Due: none

Add kubectl.nvim to the channel.yaml
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

sig-cl: remove nested CAPI provider subproject
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

steering: Onboard/offboard members following 2024 election results
  OWNERS_ALIASES
  committee-steering/README.md
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
  sig-list.md
  sigs.yaml
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

steering: Update governance group liaisons
  committee-code-of-conduct/README.md
  liaisons.md
  sig-api-machinery/README.md
  sig-apps/README.md
  sig-cluster-lifecycle/README.md
  sig-contributor-experience/README.md
  sig-etcd/README.md
  sig-multicluster/README.md
  sig-release/README.md
  sig-scalability/README.md
  sigs.yaml
  wg-batch/README.md
  wg-lts/README.md
  wg-structured-logging/README.md
Due: generate-sigs
