Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

Update sig-multicluster/annual-report-2025.md
  sig-multicluster/annual-report-2025.md
Due: none

Update annual-report-2025.md
  sig-multicluster/annual-report-2025.md
Due: none

AI Conformance Annual Report 2025
  wg-ai-conformance/annual-report-2025.md
Due: none

Update KubeCon links and operational task status
  wg-serving/annual-report-2025.md
Due: none

WG Node Lifecycle annual report 2025
  wg-node-lifecycle/annual-report-2025.md
Due: none

Update annual-report-2025.md
  wg-serving/annual-report-2025.md
Due: none

docs: update AIGW wg leadership
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-ai-gateway/README.md
Due: generate-sigs

Update wg-batch/annual-report-2025.md
  wg-batch/annual-report-2025.md
Due: none

Update sig-mc CONTRIBUTING.md
  sig-multicluster/CONTRIBUTING.md
Due: none

Updated AI-conformance annual report
  wg-ai-conformance/annual-report-2025.md
Due: none

update SIG Docs 2025 annual report
  sig-docs/annual-report-2025.md
Due: none

Correct agent-sandbox subproject information
  sig-apps/README.md
  sigs.yaml
Due: generate-sigs

SIG Apps Annual Report 2025
  sig-apps/annual-report-2025.md
Due: none

Remove WG Serving from sig list
  OWNERS_ALIASES
  liaisons.md
  sig-apps/README.md
  sig-architecture/README.md
  sig-autoscaling/README.md
  sig-instrumentation/README.md
  sig-list.md
  sig-network/README.md
  sig-node/README.md
  sig-scheduling/README.md
  sig-storage/README.md
  sigs.yaml
Due: generate-sigs

Move to archive folder
  archive/wg-serving/OWNERS
  archive/wg-serving/README.md
  archive/wg-serving/annual-report-2024.md
  archive/wg-serving/annual-report-2025.md
  archive/wg-serving/charter.md
Due: none

Fix nits
  committee-code-of-conduct/governance/onboarding-offboarding.md
  communication/youtube/youtube-guidelines.md
  contributors/guide/non-code-contributions.md
Due: none

Address Andrey's comment
  wg-batch/annual-report-2025.md
Due: none

Create WAS slack channel
  communication/slack-config/channels.yaml
  communication/slack-config/sig-scheduling/OWNERS
  communication/slack-config/sig-scheduling/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Offboarding cji
  OWNERS_ALIASES
  committee-security-response/README.md
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
  sig-list.md
  sigs.yaml
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

SIG Autoscaling 2025 Annual Report
  sig-autoscaling/CONTRIBUTING.md
  sig-autoscaling/README.md
  sig-autoscaling/annual-report-2025.md
Due: none

Generate docs
  sig-autoscaling/README.md
  sigs.yaml
Due: generate-sigs

Clarified things in 2025 vs 2026
  wg-ai-conformance/annual-report-2025.md
Due: none

Archive AI Conformance WG
  OWNERS_ALIASES
  archive/wg-ai-conformance/OWNERS
  archive/wg-ai-conformance/README.md
  archive/wg-ai-conformance/annual-report-2025.md
  archive/wg-ai-conformance/charter.md
  liaisons.md
  sig-architecture/README.md
  sig-list.md
  sig-testing/README.md
  sigs.yaml
Due: generate-sigs

Create AI Conformance Subproject under sig-arch
  sig-architecture/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Fix typo in disbandment process description
  committee-steering/governance/wg-governance.md
Due: none

sig-cl: fill annual report for 2025
  sig-cluster-lifecycle/annual-report-2025.md
Due: none

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
