Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

sig-cluster-lifecycle: archive cluster-api-provider-packet subproject
  sig-cluster-lifecycle/README.md
  sigs.yaml
Due: generate-sigs

Update wg-ai-integration meeting time
  sig-list.md
  sigs.yaml
  wg-ai-integration/README.md
Due: generate-sigs

k8s-infra: Update meeting time
  sig-k8s-infra/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

add WG AI Gateway
  OWNERS_ALIASES
  sig-list.md
  sig-network/README.md
  sigs.yaml
  wg-ai-gateway/OWNERS
  wg-ai-gateway/README.md
  wg-ai-gateway/charter.md
Due: generate-sigs

chore: update sigs.yaml to have entry for wg-api-expression
  OWNERS_ALIASES
  liaisons.md
  sig-api-machinery/README.md
  sig-architecture/README.md
  sig-cli/README.md
  sig-list.md
  sigs.yaml
  wg-api-expression/README.md
  wg-api-expression/charter.md
Due: generate-sigs

Update the time of the weekly meeting for SIG Autoscaling
  sig-autoscaling/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Update README.md: NCO slides path is broken
  mentoring/new-contributor-orientation/README.md
Due: none

Update CAPZ meetings to biweekly cadence
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Propose timeline for 2025 steering elections
  elections/steering/2025/README.md
Due: none

Update wg-api-expression/charter.md
  wg-api-expression/charter.md
Due: none

address feedback - round 1
  liaisons.md
  sigs.yaml
  wg-api-expression/README.md
  wg-api-expression/charter.md
Due: generate-sigs

Updated retro dates, liaison usernames
  elections/steering/2025/README.md
Due: none

docs: update api_changes.md and api_conventions.md with declarative validation information
  contributors/devel/sig-architecture/api-conventions.md
  contributors/devel/sig-architecture/api_changes.md
Due: none

Added election.yaml and election_desc.md for 2025 steering elections
  elections/steering/2025/election.yaml
  elections/steering/2025/election_desc.md
  elections/steering/2025/voters.yaml
Due: none

Add an optional leads mailing list address
  generator/app.go
  generator/sig_readme.tmpl
  sig-multicluster/README.md
  sigs.yaml
Due: generate-sigs

add WG AI Gateway
  OWNERS_ALIASES
  liaisons.md
  sig-list.md
  sig-network/README.md
  sigs.yaml
  wg-ai-gateway/OWNERS
  wg-ai-gateway/README.md
  wg-ai-gateway/charter.md
Due: generate-sigs

Fixed dates
  elections/steering/2025/election.yaml
Due: none

Update 2025 list of initial steering election voters
  elections/steering/2025/voters.yaml
Due: none

Drop problematic point from wg-batch charter
  wg-batch/charter.md
Due: none

wg-serving: Remove the sentence on KubeCon maintainer track
  wg-serving/charter.md
Due: none

Fixing typo about number of seats in election
  elections/steering/2025/README.md
Due: none

add WG AI Gateway
  OWNERS_ALIASES
  liaisons.md
  sig-list.md
  sig-multicluster/README.md
  sig-network/README.md
  sigs.yaml
  wg-ai-gateway/OWNERS
  wg-ai-gateway/README.md
  wg-ai-gateway/charter.md
Due: generate-sigs

Update the meetings link to use an absolute URL
  sig-docs/blog-subproject/README.md
Due: none

Apply suggestions from code review
  sigs.yaml
  wg-checkpoint-restore/README.md
  wg-checkpoint-restore/charter.md
Due: generate-sigs

add meeting agenda/zoom link for wg AI Conformance
  sig-list.md
  sigs.yaml
  wg-ai-conformance/README.md
Due: generate-sigs

doc: fix incorrect outline order in `contributors/guide/pull-requests.md`
  contributors/guide/pull-requests.md
Due: none

fix Kubernetes slack invitation link in new contributor resources from "www.slack.k8s.io" to "slack.k8s.io"
  mentoring/new-contributor-orientation/new-contributor-resources.md
Due: none

Remove contested Cluster Inventory entry for now
  sig-multicluster/terminology.md
Due: none

add pacoxu candidate bio for 2025 election
  elections/steering/2025/candidate-pacoxu.md
Due: none

WG-Batch leads update
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-batch/README.md
Due: generate-sigs

Add sig-doc-automation Slack Channel
  communication/slack-config/sig-docs/docs-channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add stmcginnis bio for 2025 steering
  elections/steering/2025/candidate-stmcginnis.md
Due: none

chore: archive kubernetes-sigs/blixt
  communication/slack-config/channels.yaml
  sig-network/README.md
  sig-network/charter.md
  sigs.yaml
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

CoCC: Update term information in README
  committee-code-of-conduct/README.md
Due: none

Adds Kat Cosgrove's bio
  elections/steering/2025/candidate-katcosgrove.md
Due: none

updates release team roles
  elections/steering/2025/candidate-katcosgrove.md
Due: none

Fixup labels for elections directories
  elections/OWNERS
  elections/steering/2025/OWNERS
  elections/steering/OWNERS
Due: none
