Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

fixed typos and hyphenate words
  community-membership.md
Due: none

Update README.md
  communication/contributor-comms/README.md
Due: none

sig-scheduling: Remove kube-batch subproject
  sig-scheduling/README.md
  sigs.yaml
Due: generate-sigs

add eksctl channel in k8s slack
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update the incorrect links in sig-storage under k/community
  sig-storage/CONTRIBUTING.md
  sig-storage/annual-report-2020.md
  sig-storage/annual-report-2021.md
Due: none

cleanup containers after use, fix spacing
  icons/tools/rasterize.sh
Due: none

Updated incorrect links under sig api-machinery in k/community
  sig-api-machinery/annual-report-2020.md
  sig-api-machinery/annual-report-2021.md
Due: none

add 2021 annual report back
  sig-node/annual-report-2021.md
Due: none

update sig-node contributing doc
  sig-node/CONTRIBUTING.md
  sig-node/README.md
Due: none

Update SIG-CLI chairs and TL
  OWNERS_ALIASES
  sig-cli/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

adding meeting minutes to yearly archive
  sig-release/meeting-notes-archive/2017.md
  sig-release/meeting-notes-archive/2018.md
  sig-release/meeting-notes-archive/2019.md
  sig-release/meeting-notes-archive/2020.md
  sig-release/meeting-notes-archive/2021.md
  sig-release/meeting-notes-archive/2022.md
Due: none

fix published sig-testing intro talk link
  sig-testing/README.md
Due: none

Add official CAAPH Slack Channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add cluster-api-openstack-mentoring channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add issue template for leadership change
  .github/ISSUE_TEMPLATE/leadership-change.yml
Due: none

Fixing links in leadership change issue template
  .github/ISSUE_TEMPLATE/leadership-change.yml
Due: none

Add label section to leadership change template
  .github/ISSUE_TEMPLATE/leadership-change.yml
Due: none

Replace lavalamp with jpbetz as TL for sig-apimachinery
  OWNERS_ALIASES
  sig-api-machinery/README.md
  sigs.yaml
Due: generate-sigs

sig-cluster-lifecycle: add cluster-api-ipam-provider-in-cluster subproject
  sig-cluster-lifecycle/README.md
  sigs.yaml
Due: generate-sigs

Add CAPO Office Hours meeting
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

sig-node: dd bugs triage board with pr triage
  contributors/devel/sig-node/triage.md
  sig-node/CONTRIBUTING.md
  sig-node/README.md
Due: none

Rotate SIG-Testing chairs
  OWNERS_ALIASES
  sig-list.md
  sig-testing/README.md
  sigs.yaml
Due: generate-sigs

feat: create traditional chinese (zh-tw) docs channel
  communication/slack-config/sig-docs/docs-channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Remove Luke Hinds from SRC
  OWNERS_ALIASES
  committee-security-response/README.md
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/usergroups.yaml
  sig-list.md
  sigs.yaml
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

github-management: add madhav to github admin team
  github-management/OWNERS
  github-management/README.md
Due: none

github-management: mark NMC section as TBD
  github-management/README.md
Due: none

Adding sig-docs-ru-owners to sig-docs/README.md
  sig-docs/README.md
  sigs.yaml
Due: generate-sigs

Update election.md
  committee-code-of-conduct/election.md
Due: none

Add channel for primaza
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Fix link
  sig-testing/README.md
Due: none

sig-windows: Update meeting notes link
  sig-windows/README.md
  sigs.yaml
Due: generate-sigs

archive wg-multitenancy
  archive/wg-multitenancy/OWNERS
  archive/wg-multitenancy/README.md
  archive/wg-multitenancy/annual-report-2020.md
  archive/wg-multitenancy/annual-report-2022.md
  sigs.yaml
Due: generate-sigs

make
  OWNERS_ALIASES
  liaisons.md
  sig-api-machinery/README.md
  sig-auth/README.md
  sig-list.md
  sig-network/README.md
  sig-node/README.md
  sig-scheduling/README.md
  sig-storage/README.md
Due: none

contribex: Add sigs-github-actions subproject
  sig-contributor-experience/README.md
  sigs.yaml
Due: generate-sigs

archive sig-usability
  OWNERS_ALIASES
  archive/sig-usability/OWNERS
  archive/sig-usability/README.md
  archive/sig-usability/annual-report-2020.md
  archive/sig-usability/annual-report-2022.md
  archive/sig-usability/charter.md
  communication/slack-config/channels.yaml
  liaisons.md
  sig-list.md
  sigs.yaml
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Update release-team-leads slack group for 1.28 RT
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add SCS slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Fix event link path in Content subteam readme
  events/events-team/content/README.md
Due: none

generator: Refactor to make github API calls only when needed
  generator/app.go
Due: none
