Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

Update pull-requests.md
  contributors/guide/pull-requests.md
Due: none

Update OWNERS
  github-management/OWNERS
Due: none

fix typo
  sig-docs/analytics/README.md
Due: none

sig-release: Add subproject leads as reviewers/approvers for subdirs
  OWNERS_ALIASES
  communication/slack-config/sig-release/OWNERS
  contributors/devel/sig-release/OWNERS
  sig-release/OWNERS
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update and rename OWNERS to X
  elections/X
Due: none

sig-release: Add 2023 meeting notes archive
  sig-release/meeting-notes-archive/2023.md
Due: none

contributors: Add SIG ContribEx as owners
  contributors/OWNERS
Due: none

add guiding policy for contribex review on test-infra repo
  sig-contributor-experience/contribex-review-guidelines-on-test-infra.md
Due: none

fix: links in /contributors/guide/README-*.md
  contributors/guide/contributor-cheatsheet/README-de.md
  contributors/guide/contributor-cheatsheet/README-fr.md
  contributors/guide/contributor-cheatsheet/README-hi.md
  contributors/guide/contributor-cheatsheet/README-id.md
  contributors/guide/contributor-cheatsheet/README-it.md
  contributors/guide/contributor-cheatsheet/README-ja.md
  contributors/guide/contributor-cheatsheet/README-ko.md
  contributors/guide/contributor-cheatsheet/README-pt.md
  contributors/guide/contributor-cheatsheet/README-uk.md
  contributors/guide/contributor-cheatsheet/README-zh.md
Due: none

fix: use https:// instead of http://
  communication/meeting-notes-archive/201902-201911_Community_Meeting_Notes.md
  contributors/devel/automation.md
  contributors/devel/sig-testing/e2e-tests.md
  contributors/devel/sig-testing/testing.md
  contributors/guide/owners.md
  contributors/guide/pull-requests.md
  contributors/guide/review-guidelines.md
  contributors/guide/style-guide.md
  github-management/README.md
  github-management/permissions.md
  github-management/setting-up-cla-check.md
Due: none

update: contributors/guide/contributor-cheatsheet/README.md
  contributors/guide/contributor-cheatsheet/README.md
Due: none

update: contributors/guide/review-guidelines.md
  contributors/guide/review-guidelines.md
Due: none

fix: 404 error
  contributors/guide/contributor-cheatsheet/README-de.md
  contributors/guide/contributor-cheatsheet/README-es.md
  contributors/guide/contributor-cheatsheet/README-fr.md
  contributors/guide/contributor-cheatsheet/README-hi.md
  contributors/guide/contributor-cheatsheet/README-id.md
  contributors/guide/contributor-cheatsheet/README-it.md
  contributors/guide/contributor-cheatsheet/README-ja.md
  contributors/guide/contributor-cheatsheet/README-ko.md
  contributors/guide/contributor-cheatsheet/README-pt.md
  contributors/guide/contributor-cheatsheet/README-uk.md
  contributors/guide/contributor-cheatsheet/README-zh.md
  contributors/guide/contributor-cheatsheet/README.md
Due: none

fix: use https instead of http
  communication/meeting-notes-archive/201902-201911_Community_Meeting_Notes.md
  communication/meeting-notes-archive/201911-202010_Community_Meeting_Notes.md
  communication/slack-guidelines.md
  contributors/chairs-and-techleads/technical-lead.md
  contributors/devel/sig-architecture/staging.md
  contributors/devel/sig-release/cherry-picks.md
  contributors/guide/first-contribution.md
  elections/steering/2020/bobkillen.md
  elections/steering/2022/candidate-mrbobbytables.md
  events/events-team/registration/README.md
  sig-auth/CONTRIBUTING.md
  sig-cli/CONTRIBUTING.md
  sig-cloud-provider/CONTRIBUTING.md
  sig-cluster-lifecycle/CONTRIBUTING.md
  sig-multicluster/annual-report-2020.md
  sig-release/meeting-notes-archive/2019.md
  sig-scalability/CONTRIBUTING.md
  sig-ui/CONTRIBUTING.md
Due: none

update: 201911-202010_Community_Meeting_Notes.md
  communication/meeting-notes-archive/201911-202010_Community_Meeting_Notes.md
Due: none

update: staging.md
  contributors/devel/sig-architecture/staging.md
Due: none

sig-arch: Add verify-conformance repo
  sig-architecture/README.md
  sigs.yaml
Due: generate-sigs

Annual change of membership for Election Subproject
  elections/OWNERS
  elections/README.md
Due: none

update mrbobbytables affiliation
  committee-steering/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

e2e-tests.md: update description of labels
  contributors/devel/sig-testing/e2e-tests.md
Due: none

e2e-tests.md: explain usage of Feature tag for alpha/beta tests
  contributors/devel/sig-testing/e2e-tests.md
Due: none

Fixed broken link in sig-node/CONTRIBUTING.md
  sig-node/CONTRIBUTING.md
Due: none

Changing marketing to comms and updating resources
  events/events-team/comms/README.md
Due: none

Update slack link for sig-etcd
  sig-etcd/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Some master branch has been chenged to main
  sig-network/README.md
Due: none

sig-auth: 2023 annual report
  sig-auth/annual-report-2023.md
Due: none

Updating the event-team README.
  events/events-team/README.md
Due: none

Add links to KCS discussion and items for blog posts
  wg-lts/annual-report-2023.md
Due: none

Add cluster-api-ionoscloud to Slack
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add relevant KubeCon talks
  wg-lts/annual-report-2023.md
Due: none

etcd operator working group
  OWNERS_ALIASES
  liaisons.md
  sig-cluster-lifecycle/README.md
  sig-etcd/README.md
  sig-list.md
  sigs.yaml
  wg-etcd-operator/README.md
  wg-etcd-operator/charter.md
Due: generate-sigs

sig-contribex: annual report 2023
  sig-contributor-experience/annual-report-2023.md
Due: none

add Kat Cosgove as SIG Docs tech lead
  OWNERS_ALIASES
  sig-docs/README.md
  sigs.yaml
Due: generate-sigs

chore: Update go version
  go.mod
  go.sum
Due: none

review feedback
  sig-auth/annual-report-2023.md
Due: none

docs: fix 404 errors in container-runtime-interface.md
  contributors/devel/sig-node/container-runtime-interface.md
Due: none

review https://github.com/kubernetes/community/pull/7921#discussion_r1642628001
  icons/README.md
Due: none

fix: broken link
  sig-docs/README.md
  sigs.yaml
Due: generate-sigs

docs: update SIG Network meetings
  sig-list.md
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

docs: cleanup and add links to SIG Network charter
  sig-network/charter.md
Due: none
