Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

chore: update sig-architecture mailing list email
  sig-architecture/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Update sig network mailing list
  sigs.yaml
Due: generate-sigs

Update Network SIG mailing list in sig-list.md
  sig-list.md
Due: none

Update SIG Network mailing list
  sig-list.md
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Add Beta and Internal metric stability levels, update deprecation timelines
  contributors/devel/sig-instrumentation/metric-stability.md
Due: none

Add guidelines for metric graduation
  contributors/devel/sig-instrumentation/metric-instrumentation.md
  contributors/devel/sig-instrumentation/metric-stability.md
Due: none

docs: add Declarative Validation Native (DV Native) to api-conventions.md and api_changes.md
  contributors/devel/sig-architecture/api-conventions.md
  contributors/devel/sig-architecture/api_changes.md
Due: none

Add v1.36 leads
  communication/slack-config/sig-release/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add Josh to user list for Slack mapping
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add Dipesh Rawat as SIG Docs Tech Lead
  OWNERS_ALIASES
  sig-docs/README.md
  sigs.yaml
Due: generate-sigs

Fix v1.36 members username
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update dashboard project status and add Headlamp
  sig-ui/charter.md
Due: none

chore: Update WG AI Gateway meetings
  sig-list.md
  sigs.yaml
  wg-ai-gateway/README.md
Due: generate-sigs

Add Agus and Fred to release-team-leads
  communication/slack-config/sig-release/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

update WG Node Lifecycle leads
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-node-lifecycle/README.md
Due: generate-sigs

Adding the slides for January 2026 NCO
  mentoring/new-contributor-orientation/nco-slides/[January 2026] New Contributor Orientation.pdf
Due: none

Onboard Vinayak Goyal to SRC
  OWNERS_ALIASES
  committee-security-response/README.md
  communication/slack-config/usergroups.yaml
  sig-list.md
  sigs.yaml
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Adds Frederico as subproject lead
  sig-release/README.md
  sigs.yaml
Due: generate-sigs

fix: remove reference to weekly community meeting
  sig-list.md
Due: none

fix: remove reference to the community meeting
  generator/list.tmpl
Due: none

fix: remove community meeting reference
  generator/list.tmpl
  sig-list.md
Due: none

Fix release sorting for report generation
  generator/app.go
Due: none

Generate 2025 annual report boilerplates
  sig-api-machinery/annual-report-2025.md
  sig-apps/annual-report-2025.md
  sig-architecture/annual-report-2025.md
  sig-auth/annual-report-2025.md
  sig-autoscaling/annual-report-2025.md
  sig-cli/annual-report-2025.md
  sig-cloud-provider/annual-report-2025.md
  sig-cluster-lifecycle/annual-report-2025.md
  sig-contributor-experience/annual-report-2025.md
  sig-docs/annual-report-2025.md
  sig-etcd/annual-report-2025.md
  sig-instrumentation/annual-report-2025.md
  sig-k8s-infra/annual-report-2025.md
  sig-multicluster/annual-report-2025.md
  sig-network/annual-report-2025.md
  sig-node/annual-report-2025.md
  sig-release/annual-report-2025.md
  sig-scalability/annual-report-2025.md
  sig-scheduling/annual-report-2025.md
  sig-security/annual-report-2025.md
  sig-storage/annual-report-2025.md
  sig-testing/annual-report-2025.md
  sig-ui/annual-report-2025.md
  sig-windows/annual-report-2025.md
  wg-ai-conformance/annual-report-2025.md
  wg-ai-gateway/annual-report-2025.md
  wg-ai-integration/annual-report-2025.md
  wg-batch/annual-report-2025.md
  wg-checkpoint-restore/annual-report-2025.md
  wg-data-protection/annual-report-2025.md
  wg-device-management/annual-report-2025.md
  wg-etcd-operator/annual-report-2025.md
  wg-lts/annual-report-2025.md
  wg-node-lifecycle/annual-report-2025.md
  wg-serving/annual-report-2025.md
  wg-structured-logging/annual-report-2025.md
Due: none

grammar: "is" -> "are"
  icons/README.md
Due: none

scaling up SIG Node KEPs approvers
  sig-node/CONTRIBUTING.md
Due: none

update nirrozenbaum email in ai gateway leads
  sigs.yaml
Due: generate-sigs

SIG Release: Add 2025 annual report
  sig-release/annual-report-2025.md
Due: none

Move maciaszczykm to SIG UI emeritus leads section
  OWNERS_ALIASES
  sig-list.md
  sig-ui/README.md
  sigs.yaml
Due: generate-sigs

Update SIG Release annual report
  sig-release/annual-report-2025.md
Due: none

WG Checkpoint Restore: Add 2025 annual report
  wg-checkpoint-restore/annual-report-2025.md
Due: none

add Rey Lejano as SIG Docs TL
  sig-docs/README.md
  sigs.yaml
Due: generate-sigs

Add Vinayak's slack user ID
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add Slack channel for writable-cgroups
  communication/slack-config/sig-node/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add kubelet code docs
  contributors/devel/sig-node/kubelet.md
  sig-node/CONTRIBUTING.md
Due: none

Rewrap
  contributors/devel/sig-node/kubelet.md
  sig-node/CONTRIBUTING.md
Due: none

sig-ui: archive kubernetes/dashboard repo
  sig-ui/README.md
  sigs.yaml
Due: generate-sigs

update ai-gw meetings to weekly
  sig-list.md
  sigs.yaml
  wg-ai-gateway/README.md
Due: generate-sigs

make generate
  sig-list.md
  wg-ai-gateway/README.md
Due: none

H1 2025 updates
  sig-multicluster/annual-report-2025.md
Due: none

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
