Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

Add justinsb email to sigs.yaml
  sigs.yaml
Due: generate-sigs

add salaxander email
  sigs.yaml
Due: generate-sigs

Add emails to WG Serving leads in sigs.yaml
  sigs.yaml
Due: generate-sigs

add sig-instrumentation leads' emails
  sigs.yaml
Due: generate-sigs

Add sig-etcd lead emails to sigs.yaml.
  sigs.yaml
Due: generate-sigs

Adding emails for SIG Docs chairs and tech leads
  sigs.yaml
Due: generate-sigs

k8s-infra: Update Mailing list
  sig-k8s-infra/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Add platforms guide
  contributors/guide/platforms.md
Due: none

owners.md: cleanup outdated links / stale gubernator reference (#7920)
  contributors/guide/owners.md
Due: none

sig-storage: remove cosi-provisioner-sidecar, cosi-controller, cosi-spec repos
  sig-storage/README.md
  sigs.yaml
Due: generate-sigs

testing strategy: add policy for non-blocking jobs by path
  contributors/devel/sig-testing/testing-strategy.md
Due: none

Update triage party usage information.
  contributors/chairs-and-techleads/process-workflow-guide.md
Due: none

updated old sig-diagram to latest one
  SIG-diagram.png
  SIG-diagram.svg
Due: none

modified new-contributor-resource
  mentoring/new-contributor-orientation/new-contributor-resources.md
Due: none

sig-network: Add ingate subproject
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Add self to sig-instrumentation maintainers
  OWNERS_ALIASES
  sig-instrumentation/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

sig-apps: add kjob subproject
  sig-apps/README.md
  sigs.yaml
Due: generate-sigs

docs: fix SIG regular meeting zoom link for api-machinery zoom meeting
  sig-api-machinery/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Updated some slack rules to match actual practice.
  .github/ISSUE_TEMPLATE/slack-request.yml
  communication/slack-guidelines.md
Due: none

Update moderators.md
  communication/moderators.md
Due: none

Update communication/slack-guidelines.md
  communication/slack-guidelines.md
Due: none

sig-storage: remove container-object-storage-interface-api subproject repo
  sig-storage/README.md
  sigs.yaml
Due: generate-sigs

Update e2e tests link to kubetest2
  contributors/devel/sig-testing/testing.md
Due: none

A couple more spelling/grammar corrections.
  communication/slack-guidelines.md
Due: none

Create management-cluster-position-statement.md
  sig-multicluster/management-cluster-position-statement.md
Due: none

Updated some slack rules to match actual practice. (#8203)
  .github/ISSUE_TEMPLATE/slack-request.yml
  communication/slack-guidelines.md
Due: none

Moving Instance Gateway to SIG-Network and renaming it
  sig-apps/README.md
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Update sig-apps mailing list
  sig-apps/CONTRIBUTING.md
  sig-apps/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Update sig-cli mailing list
  sig-cli/CONTRIBUTING.md
  sig-cli/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Remove unused kubernetes-sig-cli-mentors group
  sig-cli/CONTRIBUTING.md
Due: none

Add xmudrii as K8s Infra Tech Lead
  OWNERS_ALIASES
  sig-k8s-infra/README.md
  sigs.yaml
Due: generate-sigs

Fix YAML format issue in slack issue template.
  .github/ISSUE_TEMPLATE/slack-request.yml
Due: none

Fix GH Yml format on slack template.
  .github/ISSUE_TEMPLATE/slack-request.yml
Due: none

Completing rename of Gateway API Inference Extension
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Add cni-dra-driver Slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update sig-storage mailinglist
  sig-list.md
  sig-storage/README.md
  sigs.yaml
Due: generate-sigs

Update SIG Testing leads and subproject leads.
  OWNERS_ALIASES
  sig-testing/OWNERS
  sig-testing/README.md
  sigs.yaml
Due: generate-sigs

Update sigs.yaml
  sigs.yaml
Due: generate-sigs

Update README.md
  README.md
Due: none

Update sig-cli CONTRIBUTING.md file
  sig-cli/CONTRIBUTING.md
Due: none
