Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

initial wg lts changes
  OWNERS_ALIASES
  liaisons.md
  sig-architecture/README.md
  sig-cluster-lifecycle/README.md
  sig-k8s-infra/README.md
  sig-list.md
  sig-release/README.md
  sig-testing/README.md
  sigs.yaml
  wg-long-term-support/README.md
  wg-long-term-support/charter.md
Due: generate-sigs

Rename long-term-support to lts
  OWNERS_ALIASES
  liaisons.md
  sig-architecture/README.md
  sig-cluster-lifecycle/README.md
  sig-k8s-infra/README.md
  sig-list.md
  sig-release/README.md
  sig-testing/README.md
  sigs.yaml
  wg-lts/README.md
  wg-lts/charter.md
Due: generate-sigs

Update wg-lts/charter.md
  wg-lts/charter.md
Due: none

Update to address comments
  wg-lts/charter.md
Due: none

Add annual report and regular working group updates to timeline
  wg-lts/charter.md
Due: none

Address review comments
  sig-list.md
  sig-security/README.md
  sigs.yaml
  wg-lts/README.md
  wg-lts/charter.md
Due: generate-sigs

Fix typo in multi_year_comparisons/README.md
  sig-contributor-experience/surveys/multi_year_comparisons/README.md
Due: none

Fix typo in multi_year_2019.ipynb
  sig-contributor-experience/surveys/multi_year_comparisons/multi_year_2019.ipynb
Due: none

draft 2022 annual report
  sig-multicluster/CONTRIBUTING.md
  sig-multicluster/annual-report-2022.md
Due: none

sig-auth: remove multi-tenancy subproject
  sig-auth/README.md
  sigs.yaml
Due: generate-sigs

Add sig-auth-authorizers-dev slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Apply code review comment
  sigs.yaml
  wg-lts/README.md
Due: generate-sigs

updated readme
  contributors/guide/README.md
Due: none

Reduce inactive member policy from 18 to 12 months
  community-membership.md
Due: none

Update sig-list.md
  sig-list.md
Due: none

Clarify member requirements to highlight active and ongoing commmitment
  community-membership.md
Due: none

Add sig security to charter
  wg-lts/charter.md
Due: none

Update list of members of the Elections Subproject in time for the 2023 SC elections
  elections/OWNERS
  elections/README.md
Due: none

Offboard Luke Hinds from SRC
  OWNERS_ALIASES
  committee-security-response/README.md
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/usergroups.yaml
  sig-list.md
  sigs.yaml
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Add #gophercloud Slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Fix redirect
  communication/contributor-comms/README.md
Due: none

Add README for blogging resources
  communication/contributor-comms/blogging-resources/README.md
  communication/contributor-comms/blogging-resources/blog-guidelines.md
  communication/contributor-comms/blogging-resources/event-checklist.md
  communication/contributor-comms/blogging-resources/example-interview-qs-sig-windows.md
  communication/contributor-comms/blogging-resources/example-topics.md
  communication/contributor-comms/blogging-resources/multichannel-communications.md
  communication/contributor-comms/blogging-resources/sig-spotlight-blog-process.md
  communication/contributor-comms/blogging-resources/sig-spotlights.md
  communication/contributor-comms/blogging-resources/social-guidelines.md
Due: none

Update noderesourcetopology-api repo location
  sig-node/README.md
  sigs.yaml
Due: generate-sigs

Create first pr
  CLA.md
Due: none

Update sigs.yaml
  sigs.yaml
Due: generate-sigs

Regenerate README after sigs.yaml update
  wg-lts/README.md
Due: none

Update README.md
  communication/contributor-comms/README.md
Due: none

First draft of Social Event handbook
  events/events-team/content/social-content.md
Due: none

Draft of completed EO Handbook, with templates.
  elections/steering/README.md
  elections/steering/documentation/README.md
  elections/steering/documentation/messaging/election-templates.md
  elections/steering/documentation/template/README.md
  elections/steering/documentation/template/election-template.yaml
  elections/steering/documentation/template/election_desc.md
  elections/steering/documentation/template/nomination-template.md
  elections/steering/documentation/template/voters.yaml
Due: none

Adds the 2023 Election officers
  elections/steering/2023/OWNERS
  elections/steering/2023/README.md
  elections/steering/2023/election-template.yaml
  elections/steering/2023/election_desc.md
  elections/steering/2023/nomination-template.md
  elections/steering/2023/voters.yaml
Due: none

Add kuadrant channel & maintainer user group
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

add Operations Handbook
  events/events-team/README.md
  events/events-team/operations/README.md
Due: none

Update README.md
  communication/contributor-comms/blogging-resources/README.md
Due: none

Initial WG LTS Reformation (#7287)
  OWNERS_ALIASES
  liaisons.md
  sig-architecture/README.md
  sig-cluster-lifecycle/README.md
  sig-k8s-infra/README.md
  sig-list.md
  sig-release/README.md
  sig-security/README.md
  sig-testing/README.md
  sigs.yaml
  wg-lts/README.md
  wg-lts/charter.md
Due: generate-sigs

restore wg-lts slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Remove user-groups from governance docs & other user-group references
  README.md
  committee-steering/governance/annual-reports.md
  committee-steering/governance/ug-governance.md
  communication/calendar-guidelines.md
  communication/slack-guidelines.md
  communication/youtube/youtube-guidelines.md
  contributors/guide/style-guide.md
  elections/steering/documentation/template/README.md
  elections/teams/README.md
  generator/README.md
  generator/liaisons.tmpl
  generator/list.tmpl
  generator/ug_readme.tmpl
  governance.md
  liaisons.md
  mentoring/programs/contributor-workshop/live-workshop/community-groups.md
  sig-list.md
  sig-wg-lifecycle.md
Due: none

retire VMware UG and remove User Groups as an official K8s group type
  OWNERS_ALIASES
  archive/ug-vmware-users/README.md
  committee-steering/governance/annual-reports.md
  committee-steering/governance/ug-governance.md
  communication/calendar-guidelines.md
  communication/slack-guidelines.md
  communication/youtube/youtube-guidelines.md
  contributors/guide/style-guide.md
  elections/steering/documentation/template/README.md
  elections/teams/README.md
  generator/README.md
  generator/liaisons.tmpl
  generator/list.tmpl
  generator/ug_readme.tmpl
  governance.md
  liaisons.md
  mentoring/programs/contributor-workshop/live-workshop/community-groups.md
  sig-list.md
  sig-wg-lifecycle.md
  sigs.yaml
Due: generate-sigs
