Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

steering: Liaison updates following 2023 election cycle
  committee-code-of-conduct/README.md
  liaisons.md
  sig-auth/README.md
  sig-autoscaling/README.md
  sig-docs/README.md
  sig-instrumentation/README.md
  sig-network/README.md
  sig-node/README.md
  sig-security/README.md
  sig-storage/README.md
  sig-testing/README.md
  sigs.yaml
  wg-data-protection/README.md
  wg-iot-edge/README.md
  wg-policy/README.md
Due: generate-sigs

liaisons: Add Bob for SIG etcd
  liaisons.md
  sig-etcd/README.md
  sigs.yaml
Due: generate-sigs

liaisons: Affinity-based swaps pt. 1
  committee-code-of-conduct/README.md
  liaisons.md
  sig-docs/README.md
  sig-security/README.md
  sigs.yaml
Due: generate-sigs

liaisons: Rebalance Steering load
  liaisons.md
  sig-cli/README.md
  sig-cloud-provider/README.md
  sig-node/README.md
  sig-ui/README.md
  sigs.yaml
Due: generate-sigs

spellcheck: exclude all voters.yaml
  hack/.spelling_failures
Due: none

Add a note on how to appear in community calendar
  communication/calendar-guidelines.md
Due: none

Adding results for 2023 Steering election
  elections/steering/2023/results.md
Due: none

Adding ballots to 2023 Steering election records
  elections/steering/2023/ballots.csv
Due: none

Correcting date for 2023 Steering election retro
  elections/steering/2023/README.md
Due: none

sig-multicluster: add cluster-inventory-api subproject
  sig-multicluster/README.md
  sigs.yaml
Due: generate-sigs

chore: add openstack-magnum channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Liaison updates following 2023 Steering election (#7560)
  committee-code-of-conduct/README.md
  liaisons.md
  sig-auth/README.md
  sig-autoscaling/README.md
  sig-cli/README.md
  sig-cloud-provider/README.md
  sig-docs/README.md
  sig-etcd/README.md
  sig-instrumentation/README.md
  sig-network/README.md
  sig-node/README.md
  sig-security/README.md
  sig-storage/README.md
  sig-testing/README.md
  sig-ui/README.md
  sigs.yaml
  wg-data-protection/README.md
  wg-iot-edge/README.md
  wg-policy/README.md
Due: generate-sigs

Update README-es.md
  contributors/guide/contributor-cheatsheet/README-es.md
Due: none

Remove deprecated Gubernator from README.md
  contributors/guide/contributor-cheatsheet/README.md
Due: none

Fix grammar on README.md
  contributors/guide/contributor-cheatsheet/README.md
Due: none

Remove deprecated gubernator from README-es.md
  contributors/guide/contributor-cheatsheet/README-es.md
Due: none

Update channels.yaml
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

docs: add dan winship as signet tech lead
  sigs.yaml
Due: generate-sigs

chore: run generators
  OWNERS_ALIASES
  sig-network/README.md
Due: none

docs: add tim as signet lead
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

sig-network: add blixt subproject
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Change "etcd" channel to sig-etcd
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update API review project links
  sig-architecture/README.md
  sig-architecture/annual-report-2020.md
  sig-architecture/annual-report-2021.md
  sig-architecture/api-review-process.md
Due: none

fix: minor url fix
  contributors/devel/development.md
Due: none

Update usergroups.yaml
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update feature-gates doc re. 'Deprecated'
  contributors/devel/sig-architecture/feature-gates.md
Due: none

rotate K8s Infra Leadership
  OWNERS_ALIASES
  sig-k8s-infra/README.md
  sigs.yaml
Due: generate-sigs

Clarify AKS-related channels on K8s Slack
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Document latest process(es) for licenses
  github-management/kubernetes-repositories.md
Due: none

wg-structured-logging: remove regular meeting
  sig-list.md
  sigs.yaml
  wg-structured-logging/README.md
Due: generate-sigs

Fix typo and grammar in StatusTooManyRequests
  contributors/devel/sig-architecture/api-conventions.md
Due: none

Update monthly steering meeting time
  committee-steering/README.md
  sigs.yaml
Due: generate-sigs

slack-config: Archive lokomotive channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update sig-auth TL
  sig-auth/README.md
  sigs.yaml
Due: generate-sigs

SIG-Autoscaling - Initial Karpenter details
  sig-autoscaling/README.md
  sig-autoscaling/charter.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Update stale subproject governance links
  community-membership.md
Due: none

Remove dangling wg-multitenancy readme
  wg-multitenancy/README.md
Due: none

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
