Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

Add election results of 2024 Steering Committee election
  elections/steering/2024/ballots.csv
  elections/steering/2024/results.md
  elections/steering/2024/voters.yaml
Due: none

Simplify contributor setup by removing GOPATH dependency
  contributors/guide/github-workflow.md
Due: none

Update CAPI IBMCloud meeting time and meeting notes document
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

doc: Update staging branch list and clarify publishing rules
  contributors/devel/sig-architecture/staging.md
Due: none

Archive three disused channels
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

docs: add best practices guide for API extensions
  sig-network/api-extensions-best-practices.md
Due: none

allow to specify the calendar link and properly escape the time url query
  generator/app.go
  generator/committee_readme.tmpl
  generator/list.tmpl
  generator/sig_readme.tmpl
  generator/wg_readme.tmpl
Due: none

moved calendar link to the explicit variable
  sigs.yaml
Due: generate-sigs

regenerate files
  archive/wg-api-expression/README.md
  committee-steering/README.md
  sig-api-machinery/README.md
  sig-apps/README.md
  sig-architecture/README.md
  sig-auth/README.md
  sig-autoscaling/README.md
  sig-cli/README.md
  sig-cloud-provider/README.md
  sig-cluster-lifecycle/README.md
  sig-contributor-experience/README.md
  sig-docs/README.md
  sig-etcd/README.md
  sig-instrumentation/README.md
  sig-k8s-infra/README.md
  sig-list.md
  sig-multicluster/README.md
  sig-network/README.md
  sig-node/README.md
  sig-release/README.md
  sig-scalability/README.md
  sig-scheduling/README.md
  sig-security/README.md
  sig-storage/README.md
  sig-testing/README.md
  sig-windows/README.md
  wg-batch/README.md
  wg-data-protection/README.md
  wg-device-management/README.md
  wg-etcd-operator/README.md
  wg-lts/README.md
  wg-policy/README.md
  wg-serving/README.md
Due: none

Add Subproject Leads responsibilities
  sig-network/README.md
Due: none

Update sig-network/api-extensions-best-practices.md
  sig-network/api-extensions-best-practices.md
Due: none

docs: archive zarf-dev slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update affiliation for ameukam
  sig-k8s-infra/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Add docs Arabic team contact and meeting details
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

sig-cl: change ML to kubernetes.io
  archive/wg-kubeadm-adoption/README.md
  sig-cluster-lifecycle/CONTRIBUTING.md
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Clarify cherry-pick candidates
  contributors/devel/sig-release/cherry-picks.md
Due: none

Adding Past Designs
  events/art-assets/README.md
  events/art-assets/award-designs/2022-detroit-k8s-contributor-awards-LowRes.png
  events/art-assets/award-designs/ChopPizzaCarryBoxes_Box_Award_LowRes.png
  events/art-assets/event-logos/10YearAnniversaryBack_LowRes.png
  events/art-assets/event-logos/10YearAnniversary_LowRes.png
  events/art-assets/event-logos/2016_NA_Seattle_Pixelated_LowRes.png
  events/art-assets/event-logos/2017_EU_Berlin_splatter_LowRes.png
  events/art-assets/event-logos/2017_LeadershipSummit_Brushstrokes_LowRes.png
  events/art-assets/event-logos/2017_NA_Austin_LineArt_LowRes.png
  events/art-assets/event-logos/2018_NA_Seattle_Halftone_LowRes.png
  events/art-assets/event-logos/2018_Shanghai_Dragon_LowRes.png
  events/art-assets/event-logos/2019_EU_Barcelona_Miro_LowRes.png
  events/art-assets/event-logos/2019_NA_SanDiego_ArtDeco_LowRes.png
  events/art-assets/event-logos/2019_Shanghai_PearlTower_LowRes.png
  events/art-assets/event-logos/2021_Unused_LosAngeles_HollywoodHills_LowRes.png
  events/art-assets/event-logos/2023_EU_Amsterdam_StarryNight_LowRes.png
  events/art-assets/event-logos/2024_EU_Paris_Cityscape_LowRes.png
Due: none

add room proctor instructions
  events/events-team/operations/mainroom-room-proctor.md
  events/events-team/operations/presentation-session-room-proctor.md
  events/events-team/operations/sig-meeting-room-proctor.md
  events/events-team/operations/unconference-room-proctor.md
Due: none

update wg-batch to move Kevin to organizer and adding aldo to emeritus
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-batch/README.md
Due: generate-sigs

Update feature gate documentation for compatibility version
  contributors/devel/sig-architecture/feature-gates.md
Due: none

comments
  contributors/devel/sig-architecture/feature-gates.md
Due: none

add suggestions
  events/events-team/operations/presentation-session-room-proctor.md
  events/events-team/operations/sig-meeting-room-proctor.md
  events/events-team/operations/unconference-room-proctor.md
Due: none

add capi provider gcp office hours
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Update OWNERS
  communication/contributor-comms/OWNERS
Due: none

Updating contributor-comms team members
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Removing mbianchidev
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Moving AvineshTripathi to emeritus (#8115)
  communication/contributor-comms/OWNERS
Due: none

Updating contributor-comms team members (#8116)
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update community-membership.md
  community-membership.md
Due: none

docs: add sub-project leads for Gateway API
  sigs.yaml
Due: generate-sigs

docs: add sub-project leads for Network Policy
  sigs.yaml
Due: generate-sigs

chore: run generators
  sig-network/README.md
Due: none

docs: add sub-project leads for MultiNetwork
  sigs.yaml
Due: generate-sigs
