Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

Contributor Comms announcebot: Add TineoC
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add amy to wg-batch and kevin as emeritus
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-batch/README.md
Due: generate-sigs

update eligibility with correct dates
  elections/steering/2026/README.md
Due: none

Initial generation of eligible voters from devstats and org members, CoCC, and SRC
  elections/steering/2026/voters.yaml
Due: none

Add WG Checkpoint Restore bi-weekly meeting slot
  sig-list.md
  sigs.yaml
  wg-checkpoint-restore/README.md
Due: generate-sigs

Fix seat count in 2026 voter guide: 4 -> 3 seats
  elections/steering/2026/README.md
Due: none

Fix incorrect Slack reporting hyperlink
  communication/slack-guidelines.md
Due: none

add github banner instructions and template
  elections/steering/documentation/README.md
  elections/steering/documentation/template/github-banner-template.md
Due: none

Update to recent Go version
  generator/app.go
  generator/app_test.go
  go.mod
  hack/tools.go
  hack/verify-spelling.sh
Due: none

Add #modelplane Slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Updated sig-docs blog subproject readme
  sig-docs/blog-subproject/README.md
  sig-docs/blog-subproject/role-handbooks/blog-community-manager.md
  sig-docs/blog-subproject/role-handbooks/copy-editor.md
  sig-docs/blog-subproject/role-handbooks/editorial-lead.md
  sig-docs/blog-subproject/role-handbooks/technical-editor.md
Due: none

Remove occurences of Defunc Community Meeting
  communication/README.md
  communication/youtube/youtube-guidelines.md
  communication/zoom-guidelines.md
  contributors/guide/non-code-contributions.md
  events/community-meeting.md
  events/events-team/best-practices.md
  mentoring/programs/mentoring-lead.md
  sig-wg-lifecycle.md
Due: none

update owners
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-ai-gateway/README.md
Due: generate-sigs

sig-cloud-provider: archive cloud-provider-sample
  sig-cloud-provider/README.md
  sigs.yaml
Due: generate-sigs

sig-cloud-provider: archive cloud-provider-equinix-metal
  sig-cloud-provider/README.md
  sigs.yaml
Due: generate-sigs

sig-storage: add kubernetes-csi/kubernetes-csi repo
  sig-storage/README.md
  sigs.yaml
Due: generate-sigs

Add Arpit Agrawal to moderators list
  communication/moderators.md
Due: none

Add Slack channel links to contributor-comms README
  communication/contributor-comms/README.md
Due: none

Update contributor-comms links and meeting notes doc URL
  communication/contributor-comms/README.md
  sig-contributor-experience/README.md
  sigs.yaml
Due: generate-sigs

Add AI notetaker guidance to Zoom meeting guidelines
  communication/contributor-comms/README.md
  communication/zoom-guidelines.md
  sig-contributor-experience/README.md
  sigs.yaml
Due: generate-sigs

Address review feedback: proactive waiting room setup
  communication/zoom-guidelines.md
Due: none

Use / instead of → for accessible menu path
  communication/zoom-guidelines.md
Due: none

Clarify risks of unauthorized AI notetakers
  communication/zoom-guidelines.md
Due: none

Create k8s-metrics-reviewer.md for SIG-Instrumentation
  contributors/devel/sig-instrumentation/k8s-metrics-instrumenter.md
  contributors/devel/sig-instrumentation/k8s-metrics-reviewer.md
Due: none

Refactor folder structure based on comment
  contributors/devel/sig-instrumentation/k8s-metrics-instrumenter/SKILL.md
  contributors/devel/sig-instrumentation/k8s-metrics-reviewer/SKILL.md
Due: none

Create k8s-log-reviewer and k8s-log-instrumenter skills
  contributors/devel/sig-instrumentation/k8s-log-instrumenter.md
  contributors/devel/sig-instrumentation/k8s-log-reviewer.md
Due: none

Refactor folder structure to align with https://agentskills.io/specification
  contributors/devel/sig-instrumentation/k8s-log-instrumenter/SKILL.md
  contributors/devel/sig-instrumentation/k8s-log-reviewer/SKILL.md
Due: none

Add k8s-event-instrumenter to k8s-events-instrumenter skills
  contributors/devel/sig-instrumentation/k8s-events-instrumenter.md
  contributors/devel/sig-instrumentation/k8s-events-reviewer.md
Due: none

Refactor folder structure to align with https://agentskills.io/specification
  contributors/devel/sig-instrumentation/k8s-events-instrumenter/SKILL.md
  contributors/devel/sig-instrumentation/k8s-events-reviewer/SKILL.md
Due: none

Add k8s-trace-instrumentation and k8s-trace-instrumenter skills
  contributors/devel/sig-instrumentation/k8s-trace-instrumenter.md
  contributors/devel/sig-instrumentation/k8s-trace-reviewer.md
Due: none

Fix based on comments
  contributors/devel/sig-instrumentation/k8s-trace-reviewer.md
Due: none

wg-node-identity: add working group charter and registration
  OWNERS_ALIASES
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
  wg-node-identity/README.md
  wg-node-identity/charter.md
Due: generate-sigs

sig-network: remove kubernetes-sigs/ingate
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

update voters.yaml
  elections/steering/2026/voters.yaml
Due: none

sig-network: add gateway-api-conformance-images repo
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

add 2026 steering committee nomination for elmiko
  elections/steering/2026/candidate-elmiko.md
Due: none

Update Lucy Sweet company and email
  sig-list.md
  sigs.yaml
  wg-node-lifecycle/README.md
Due: generate-sigs

Update declarative validation docs for current validation-gen workflow
  contributors/devel/sig-architecture/api-conventions.md
  contributors/devel/sig-architecture/api_changes.md
Due: none

Reorganize SIG Network subprojects
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Remove core from subprojects
  sig-network/README.md
  sigs.yaml
Due: generate-sigs
