Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

sig-contribex: add APAC/J/NZ timezone meeting
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Update SIG Auth Zoom Info
  sig-auth/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

arch: Add wg-serving subproject
  sig-architecture/README.md
  sigs.yaml
Due: generate-sigs

network: Add multi-network repos
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

add slack chennel sre-learning-platform
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

correct druid-operator-maintainers UIDs
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

fix operator-sdk-maintainers UIDs
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

remove newline from PSC description
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Setting up Steering election for 2024
  elections/steering/2024/README.md
  elections/steering/2024/election.yaml
  elections/steering/2024/election_desc.md
  elections/steering/2024/nomination-template.md
  elections/steering/2024/voters.yaml
  elections/steering/README.md
  elections/steering/documentation/template/README.md
Due: none

Removing "User Group" as it no longer applies
  elections/steering/2024/README.md
  elections/steering/documentation/README.md
  elections/steering/documentation/template/README.md
Due: none

Update slack/email process per retro item.
  elections/steering/documentation/README.md
Due: none

Removing outdated UG mentions
  elections/steering/2024/nomination-template.md
  elections/steering/documentation/template/nomination-template.md
Due: none

Upcoming Comms liaison
  elections/steering/2024/README.md
Due: none

make doc easy
  contributors/devel/development.md
Due: none

add What this PR does / why we need it section
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update owners.md
  contributors/guide/owners.md
Due: none

rename hmc to hmc-dev
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

docs: update company for shaneutt
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

chore: run generators
  sig-list.md
Due: none

Update spotlight list
  communication/contributor-comms/blogging-resources/sig-spotlights.md
Due: none

[steering elections 2024] add initial list of eligible voters
  elections/steering/2024/voters.yaml
Due: none

[steering elections 2024] alpha-sort correction in voters.yaml
  elections/steering/2024/voters.yaml
Due: none

sig-node: remove unavailable node-perf-dash.k8s.io
  sig-node/charter.md
Due: none

Add docs Arabic team contact and meeting details
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

add hmc to slack channel (#7973)
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update archive_url (google doc) and mailing list for wg-etcd-operator
  sig-list.md
  sigs.yaml
  wg-etcd-operator/README.md
Due: generate-sigs

instructions on how to uploade videos for SIG Node
  sig-node/CONTRIBUTING.md
Due: none

contributing KEPs in SIG Node: best practices
  sig-node/CONTRIBUTING.md
Due: none

Rename issue template marketing request to comms reqeust
  .github/ISSUE_TEMPLATE/comms-request.yaml
Due: none

Update sig-node/CONTRIBUTING.md
  sig-node/CONTRIBUTING.md
Due: none

Add meeting recordings url for wg-etcd-operator.
  sigs.yaml
  wg-etcd-operator/README.md
Due: generate-sigs

added Peter Hunt as a chair
  OWNERS_ALIASES
  sig-list.md
  sig-node/README.md
  sigs.yaml
Due: generate-sigs

emeritus approver
  sig-node/sig-node-contributor-ladder.md
Due: none

Add candidate profile for saschagrunert
  elections/steering/2024/candidate-saschagrunert.md
Due: none

add aojea candidate proposal
  elections/steering/2024/candidate-aojea.md
Due: none

Update youtube-guidelines.md
  communication/youtube/youtube-guidelines.md
Due: none

8021 (#1)
  mentoring/README.md
  mentoring/mentees/group-mentee-guide.md
  mentoring/mentors/group-mentoring.md
  mentoring/mentors/mentor-guide.md
  mentoring/processes/google-season-of-docs.md
  mentoring/processes/group-mentoring.md
  mentoring/processes/leads-curriculum.md
  mentoring/processes/lfx-mentorship.md
  mentoring/programs/archive/README-Meetings.md
  mentoring/programs/archive/google-summer-of-code.md
  mentoring/programs/archive/meet-our-contributors.md
  mentoring/programs/archive/mentoring-events.md
  mentoring/programs/archive/mentoring-lead.md
  mentoring/programs/archive/outreachy.md
  mentoring/programs/archive/shadow-roles.md
  mentoring/programs/archive/the1-on-1hour.md
Due: none

Set up directory structure and start planning Group Cohorts
  mentoring/README.md
  mentoring/programs/2024/groupmentorship/group-mentor-planning.md
  mentoring/programs/2024/shadow-roles.md
  mentoring/programs/archive/README-Meetings.md
  mentoring/programs/archive/group-mentoring.md
  mentoring/programs/archive/meetings.md
  mentoring/programs/mentoring-events.md
  mentoring/resources/office-hours.md
Due: none

Set up directory structure and start planning Group Cohorts (#2)
  mentoring/README.md
  mentoring/programs/2024/groupmentorship/group-mentor-planning.md
  mentoring/programs/2024/shadow-roles.md
  mentoring/programs/archive/README-Meetings.md
  mentoring/programs/archive/group-mentoring.md
  mentoring/programs/archive/meetings.md
  mentoring/programs/mentoring-events.md
  mentoring/resources/office-hours.md
Due: none

8021 (#3)
  mentoring/programs/archive/README.md
Due: none
