Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

fix link for controlplane subproject
  sig-api-machinery/README.md
  sigs.yaml
Due: generate-sigs

Fixed Broken link to api.proto
  contributors/devel/sig-node/container-runtime-interface.md
Due: none

slack: add usergroup for Kubernetes GitHub Admins
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

sig-cloud-provider: add aws-fsx-openzfs-csi-driver repo
  sig-cloud-provider/README.md
  sigs.yaml
Due: generate-sigs

Adding initial draft
  sig-release/annual-report-2022.md
Due: none

Add TLs and update affiliation for Ken
  sig-apps/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Add initial draft of the 2022 SIG Release Report
  sig-release/annual-report-2022.md
Due: none

Update annual-report-2022.md
  sig-testing/annual-report-2022.md
Due: none

sig-scheduling annual report
  sig-scheduling/annual-report-2022.md
Due: none

Documentation example incorrectly references pod.Uid instead of pod.UID, updated
  contributors/devel/sig-storage/flexvolume.md
Due: none

Update sig-release/annual-report-2022.md
  sig-release/annual-report-2022.md
Due: none

add initial draft of sig docs 2022 annual report
  sig-docs/annual-report-2022.md
Due: none

Document exclusions for SLO/SLI API call latency
  sig-scalability/slos/api_call_latency.md
  sig-scalability/slos/slos.md
Due: none

Update sigs.yaml
  sigs.yaml
Due: generate-sigs

Public WIP annual report draft
  sig-security/annual-report-2022.md
Due: none

how we do meetings note
  sig-security/annual-report-2022.md
Due: none

SIG governance: Overhaul subproject requirements
  committee-steering/governance/sig-governance.md
Due: none

run make
  sig-security/README.md
  sigs.yaml
Due: generate-sigs

Add Self Assessments as a subproject to SIG Security (#7221)
  sig-security/README.md
  sigs.yaml
Due: generate-sigs

update michael zappa as sig-network chair
  OWNERS_ALIASES
  sig-list.md
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

added sidecar WG
  OWNERS_ALIASES
  liaisons.md
  sig-apps/README.md
  sig-architecture/README.md
  sig-list.md
  sig-node/README.md
  sig-scheduling/README.md
  sigs.yaml
  wg-sidecar/OWNERS
  wg-sidecar/README.md
  wg-sidecar/charter.md
Due: generate-sigs

docs: add Gateway API Code Jam meeting to SIG Network README
  sig-list.md
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

use `--force-with-lease`
  contributors/guide/github-workflow.md
Due: none

sig-apps: add jobset repo
  sig-apps/README.md
  sigs.yaml
Due: generate-sigs

Add log message style guidelines
  contributors/devel/sig-instrumentation/logging.md
Due: none

Update the user group for Cluster API release team
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

add cluster-api-k3s to slack
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Revised annual report per suggestion
  sig-docs/annual-report-2022.md
Due: none

Readme changes ahead of Annual Report
  sig-docs/README.md
Due: none

rotate xmcqueen in and bentheelder & spiffxp out of SIG testing chairs
  OWNERS_ALIASES
  sig-list.md
  sig-testing/README.md
  sigs.yaml
Due: generate-sigs

add vpc-lattice-k8-community to slack
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Annual Report 2022
  sig-node/README.md
  sig-node/annual-report-2022.md
  sigs.yaml
Due: generate-sigs

Fix kubernetes doc links in api conventions doc
  contributors/devel/sig-architecture/api-conventions.md
Due: none

SIG-windows-2022-annual-report
  sig-windows/annual-report-2022.md
Due: none

Add KEP 3027
  sig-release/annual-report-2022.md
Due: none

Fix spelling
  sig-release/annual-report-2022.md
Due: none

SIG Autoscaling - 2022 Annual Report
  sig-autoscaling/annual-report-2022.md
Due: none

sig-contribex: add new leads
  OWNERS_ALIASES
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs
