Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

sig-autoscaling: update cluster-autoscaler subproject with new standalone repo
  sig-autoscaling/README.md
  sigs.yaml
Due: generate-sigs

Update the threshold based on progress on resource size effort
  sig-scalability/configs-and-limits/thresholds.md
Due: none

Update Comms Tech Lead in contributor-comms README
  communication/contributor-comms/README.md
Due: none

contrib guide: Describe how to resolve merge conflicts
  contributors/guide/github-workflow.md
  contributors/guide/pull-requests.md
Due: none

Security process(es) doc
  contributors/guide/security.md
Due: none

Add #agent-sandbox Slack channel
  sig-apps/README.md
  sigs.yaml
Due: generate-sigs

sig-node: add dra-driver-google-tpu repo as a new subproject
  sig-node/README.md
  sigs.yaml
Due: generate-sigs

Update AI Conformance calendar and zoom links
  sig-architecture/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

doc: add #careers vetting criteria and link to README
  communication/README.md
  communication/slack-job-posting-policy.md
Due: none

Apply suggestions from code review
  contributors/guide/security.md
Due: none

Update README.md
  README.md
Due: none

Update slack moderators list
  communication/moderators.md
  communication/slack-config/OWNERS
Due: pull-community-tempelis-check, post-community-tempelis-apply

Nominate Sean McGinnis for Slack Moderator
  communication/moderators.md
  communication/slack-config/OWNERS
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update SIG Network meeting doc link
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Offboard ritazh from SRC
  OWNERS_ALIASES
  committee-security-response/README.md
  communication/slack-config/usergroups.yaml
  sig-list.md
  sigs.yaml
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Ensure only slack-admins can approve new channels
  communication/slack-config/OWNERS
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add new WG
  OWNERS_ALIASES
  liaisons.md
  sig-apps/README.md
  sig-autoscaling/README.md
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
  wg-workload-topology-awareness/README.md
  wg-workload-topology-awareness/charter.md
Due: generate-sigs

Update channel and label for WAS
  communication/slack-config/channels.yaml
  communication/slack-config/sig-scheduling/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Change my affiliation
  sig-autoscaling/README.md
  sigs.yaml
Due: generate-sigs

Add sig-autoscaling slack config, WAS channel
  communication/slack-config/channels.yaml
  communication/slack-config/restrictions.yaml
  communication/slack-config/sig-autoscaling/OWNERS
  communication/slack-config/sig-autoscaling/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Fix typo in serialization of optional/required fields
  contributors/devel/sig-architecture/api-conventions.md
Due: none

Integrate karpenter
  communication/slack-config/channels.yaml
  communication/slack-config/restrictions.yaml
  communication/slack-config/sig-autoscaling/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update sigs list per change in sig-etcd leadership
  OWNERS_ALIASES
  sig-etcd/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Add AI code review tools evaluation policy
  github-management/README.md
  github-management/ai-code-review-tools.md
Due: none

archive sig-autoscaling-api channel
  communication/slack-config/channels.yaml
  communication/slack-config/sig-autoscaling/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Mark kube-dns deprecated, split out node-local-dns
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Add Kubernetes security processes documentation
  contributors/guide/security.md
Due: none

docs: integrate user-facing guidelines for #kubernetes-careers
  communication/slack-guidelines.md
Due: none

Update links to instrumentation stable metrics regression testing
  contributors/devel/sig-instrumentation/metric-instrumentation.md
Due: none

docs: create workflow setup guide for #kubernetes-careers
  communication/slack-careers-workflow-setup.md
Due: none

Update release-team-leads Slack group members for v1.37
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Create 2026 folder, make election officer approval to Steering
  elections/steering/2026/OWNERS
  elections/steering/2026/README.md
Due: none

Update CAPI IBMCloud meeting time
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Add #trusted-execution-clusters Slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add WG Workload-aware Scheduling
  OWNERS_ALIASES
  liaisons.md
  sig-apps/README.md
  sig-autoscaling/README.md
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
  wg-workload-aware-scheduling/README.md
  wg-workload-aware-scheduling/charter.md
Due: generate-sigs

Updated awards ceremony details
  events/events-team/content/awards-ceremony.md
Due: none
