Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

add sig-storage leads emails
  sigs.yaml
Due: generate-sigs

update usergroups
  communication/slack-config/sig-release/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

add shadows
  communication/slack-config/sig-release/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Fix google groups link
  communication/README.md
Due: none

drop mention of NodeFeature
  contributors/devel/sig-node/e2e-node-tests.md
Due: none

Add the NCO back-link
  mentoring/new-contributor-orientation/new-contributor-resources.md
Due: none

sig-cl: add lead emails
  sigs.yaml
Due: generate-sigs

update steering emails
  sigs.yaml
Due: generate-sigs

Add kubernetes-hybrid-cloud slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add the NCP in the Join the Community list
  mentoring/new-contributor-orientation/new-contributor-resources.md
Due: none

Generate 2024 annual report boilerplates
  sig-api-machinery/annual-report-2024.md
  sig-apps/annual-report-2024.md
  sig-architecture/annual-report-2024.md
  sig-auth/annual-report-2024.md
  sig-autoscaling/annual-report-2024.md
  sig-cli/annual-report-2024.md
  sig-cloud-provider/annual-report-2024.md
  sig-cluster-lifecycle/annual-report-2024.md
  sig-contributor-experience/annual-report-2024.md
  sig-docs/annual-report-2024.md
  sig-etcd/annual-report-2024.md
  sig-instrumentation/annual-report-2024.md
  sig-k8s-infra/annual-report-2024.md
  sig-multicluster/annual-report-2024.md
  sig-network/annual-report-2024.md
  sig-node/annual-report-2024.md
  sig-release/annual-report-2024.md
  sig-scalability/annual-report-2024.md
  sig-scheduling/annual-report-2024.md
  sig-security/annual-report-2024.md
  sig-storage/annual-report-2024.md
  sig-testing/annual-report-2024.md
  sig-ui/annual-report-2024.md
  sig-windows/annual-report-2024.md
  wg-batch/annual-report-2024.md
  wg-data-protection/annual-report-2024.md
  wg-device-management/annual-report-2024.md
  wg-etcd-operator/annual-report-2024.md
  wg-lts/annual-report-2024.md
  wg-policy/annual-report-2024.md
  wg-serving/annual-report-2024.md
  wg-structured-logging/annual-report-2024.md
Due: none

Remove link from annual report subprojects section
  generator/annual-report/sig_report.tmpl
Due: none

Create 2025 Kubernetes CNCF GB seat election
  elections/steering/2025-GB/OWNERS
  elections/steering/2025-GB/candidate-cblecker.md
  elections/steering/2025-GB/candidate-cpanato.md
  elections/steering/2025-GB/candidate-dims.md
  elections/steering/2025-GB/candidate-nikhita.md
  elections/steering/2025-GB/election.yaml
  elections/steering/2025-GB/election_desc.md
  elections/steering/2025-GB/voters.yaml
Due: none

add slack mapping
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

draft: naming guidelines
  committee-steering/governance/project-naming.md
Due: none

cross-link naming guidelines
  github-management/kubernetes-repositories.md
Due: none

steering dir: only steering can approve
  committee-steering/OWNERS
Due: none

add release signal lead
  communication/slack-config/sig-release/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

add sig-instrumentation leads' emails
  sigs.yaml
Due: generate-sigs

Create new vertical-pod-autoscaler channel
  communication/slack-config/channels.yaml
  sigs.yaml
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Generate docs
  sig-autoscaling/README.md
Due: none

Add SIG-Multicluster lead emails
  sigs.yaml
Due: generate-sigs

Add emails for sig security leads
  sigs.yaml
Due: generate-sigs

Archive meeting notes and ci subgroup notes.
  sig-node/archive/ci-subgroup-notes-2020.md
  sig-node/archive/ci-subgroup-notes-2021.md
  sig-node/archive/ci-subgroup-notes-2022.md
  sig-node/archive/ci-subgroup-notes-2023.md
  sig-node/archive/ci-subgroup-notes-2024.md
  sig-node/archive/ci-subgroup-notes-2025.md
  sig-node/archive/meeting-notes-2024.md
  sig-node/archive/meeting-notes-2025.md
Due: none

Update mengjiao-liu' email and company information
  sig-list.md
  sigs.yaml
  wg-structured-logging/README.md
Due: generate-sigs

Update community-membership.md
  community-membership.md
Due: none

CAPI: Update v1.10 release team members
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Rename channel name based on suggestions
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Fix typo in issue template and switch to use gh for creating issues
  generator/README.md
  generator/annual-report/github_issue.tmpl
Due: none

Updated the weekly ci triage meeting zoom link.
  sig-node/README.md
Due: none

Fixed commit error by updating the top level sigs yaml.
  sig-list.md
  sigs.yaml
Due: generate-sigs

Update OWNERS for k/community
  OWNERS
Due: none

Fixed commit error by updating spelling of ci-subgroup-notes.
  sig-node/archive/ci-subgroup-notes-2020.md
Due: none

Update Stephen Augustus (justaugustus) affiliation
  committee-steering/README.md
  sig-list.md
  sig-release/README.md
  sigs.yaml
Due: generate-sigs

Update annual reports documentation to point to actual templates used for generating reports
  committee-steering/governance/annual-reports.md
Due: none

Add sig-cli annual report for 2024
  sig-cli/annual-report-2024.md
Due: none

annual report for wg-batch 2024
  wg-batch/annual-report-2024.md
Due: none

address feedback from mimowo
  wg-batch/annual-report-2024.md
Due: none

jobset risk
  wg-batch/annual-report-2024.md
Due: none

add: SIG-Scheduling annual report
  sig-scheduling/annual-report-2024.md
Due: none
