Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

Fix generator unit tests by adding gb_rep to testdata
  generator/testdata/sigs.yaml
Due: none

Updating year to 2026
  elections/steering/2026/README.md
Due: none

Update based on reviews
  contributors/devel/sig-instrumentation/README.md
  contributors/devel/sig-instrumentation/k8s-metrics-instrumenter/SKILL.md
  contributors/devel/sig-instrumentation/k8s-metrics-reviewer/SKILL.md
  contributors/devel/sig-instrumentation/k8s-metrics-reviewer/evals/evals.json
  contributors/devel/sig-instrumentation/k8s-metrics-reviewer/evals/files/init_registration.diff
  contributors/devel/sig-instrumentation/k8s-metrics-reviewer/evals/files/raw_prometheus.diff
  contributors/devel/sig-instrumentation/k8s-metrics-reviewer/evals/files/stable_metric_change.diff
  contributors/devel/sig-instrumentation/k8s-metrics-reviewer/evals/files/unbounded_cardinality.diff
Due: none

Update contributors/devel/sig-instrumentation/k8s-log-reviewer/SKILL.md
  contributors/devel/sig-instrumentation/k8s-log-reviewer/SKILL.md
Due: none

communication: name the No Solicitation policy and link it from platform guidelines
  communication/README.md
  communication/calendar-guidelines.md
  communication/discuss-guidelines.md
  communication/mailing-list-guidelines.md
  communication/moderation.md
  communication/slack-guidelines.md
  communication/zoom-guidelines.md
Due: none

Remove occurences of Defunc Community Meeting
  communication/README.md
  communication/youtube/youtube-guidelines.md
  communication/zoom-guidelines.md
  contributors/guide/non-code-contributions.md
  events/community-meeting.md
  events/events-team/best-practices.md
  mentoring/programs/mentoring-lead.md
  sig-wg-lifecycle.md
Due: none

add voters from approved exception requests
  elections/steering/2026/voters.yaml
Due: none

update sig-cli CONTRIBUTING.md
  sig-cli/CONTRIBUTING.md
Due: none

Update zoom-guidelines.md
  communication/zoom-guidelines.md
Due: none

Update tenzen-y affiliation
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
  wg-batch/README.md
Due: generate-sigs

Add SaranBalaji90 to Security Response Committee emeritus list
  committee-security-response/README.md
  sigs.yaml
Due: generate-sigs

update date for the steering question and answer session
  elections/steering/2026/README.md
Due: none

Add stmcginnis bio for 2026 steering
  elections/steering/2026/candidate-stmcginnis.md
Due: none

Update declarative validation docs for current validation-gen workflow
  contributors/devel/sig-architecture/api-conventions.md
  contributors/devel/sig-architecture/api_changes.md
Due: none

Update wg-node-identity/charter.md
  wg-node-identity/charter.md
Due: none

Update sigs.yaml
  sigs.yaml
Due: generate-sigs

chore: elevate engineering standards and add CI pipeline
  .github/workflows/ci.yml
  CONTRIBUTING_PROPOSED.md
  SECURITY_PROPOSED.md
Due: none

docs: remove stale NCO Google Calendar TEMPLATE links
  mentoring/new-contributor-orientation/README.md
Due: none

Add documentation for social media automation process
  communication/contributor-comms/automation/social-media-automation.md
Due: none

[SIG Autoscaling] Add sub-project donation requirements
  sig-autoscaling/README.md
  sigs.yaml
Due: generate-sigs

Add cluster-api-kubeswift Slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Review feedback
  sig-autoscaling/README.md
Due: none

Add @release-comms Slack usergroup (Part A)
  communication/slack-config/sig-release/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

fix: remove styling for light/dark mode compatibility
  communication/contributor-comms/automation/social-media-automation.md
Due: none

Update Stefan Schimanski's affiliation to Nvidia
  sig-api-machinery/README.md
Due: none

elections: Add candidate bio for Janet Kuo (@janetkuo)
  elections/steering/2026/candidate-janetkuo.md
Due: none

update/koba1t_affiliation
  sig-cli/README.md
  sigs.yaml
Due: generate-sigs

Add #kubeaid Slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Revise Zoom license management references
  communication/zoom-guidelines.md
Due: none

add candidate bio for Priyanka Saggu (Priyankasaggu11929) for 2026
  elections/steering/2026/candidate-priyankasaggu11929.md
Due: none

Add github status channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add more general approval language
  sig-autoscaling/README.md
Due: none

Add candidate profile for Kaslin Fields
  elections/steering/2026/candidate-kaslin.md
Due: none

Update LinkedIn link in candidate-kaslin.md
  elections/steering/2026/candidate-kaslin.md
Due: none

elections: Add candidate bio for Medya Ghazizadeh (@medyagh)
  elections/steering/2026/candidate-medyagh.md
Due: none

reduce to 300 words
  elections/steering/2026/candidate-medyagh.md
Due: none

depaul university
  elections/steering/2026/candidate-medyagh.md
Due: none

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
