Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

update doc link; add period
  contributors/devel/sig-node/kubelet-cri-networking.md
Due: none

chore: sync up capi 1.11 release team members
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update Nathan Herz email
  sigs.yaml
Due: generate-sigs

Update sig-etcd leads
  OWNERS_ALIASES
  sig-etcd/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Introduce Node Lifecycle WG
  OWNERS_ALIASES
  communication/slack-config/channels.yaml
  liaisons.md
  sig-apps/README.md
  sig-autoscaling/README.md
  sig-cli/README.md
  sig-cloud-provider/README.md
  sig-cluster-lifecycle/README.md
  sig-list.md
  sig-network/README.md
  sig-node/README.md
  sig-scheduling/README.md
  sig-storage/README.md
  sigs.yaml
  wg-node-lifecycle/OWNERS
  wg-node-lifecycle/README.md
  wg-node-lifecycle/charter.md
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

explain that GA features must be disableable if it is the first release they are default-on
  contributors/devel/sig-architecture/feature-gates.md
Due: none

Update sig-etcd charter to clarify openness and transparency about leadership change
  sig-etcd/charter.md
Due: none

fix sanposhiho's company affiliation
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
Due: generate-sigs

Change the wording
  sigs.yaml
Due: generate-sigs

regenerate mds
  sig-list.md
  sig-scheduling/README.md
Due: none

Update guidance on optional/required field serialization
  contributors/devel/sig-architecture/api-conventions.md
Due: none

Discourage usage of nullable on API types
  contributors/devel/sig-architecture/api-conventions.md
Due: none

delete WG-Policy
  sigs.yaml
Due: generate-sigs

run make
  OWNERS_ALIASES
  liaisons.md
  sig-architecture/README.md
  sig-auth/README.md
  sig-list.md
  sig-multicluster/README.md
  sig-network/README.md
  sig-node/README.md
  sig-scheduling/README.md
  sig-storage/README.md
Due: none

Add FAQ for changes to Slack.
  communication/slack-migration-faq.md
Due: none

Update communication/slack-migration-faq.md
  communication/slack-migration-faq.md
Due: none

Fix link to Slack issue
  communication/slack-migration-faq.md
Due: none

Create slack-backup.md
  communication/slack-backup.md
Due: none

Update communication/slack-backup.md
  communication/slack-backup.md
Due: none

Add instructions for backing up private channels.
  communication/slack-backup.md
  communication/slack-backup/README.md
  communication/slack-backup/channelid1.jpeg
  communication/slack-backup/channelid2.jpeg
  communication/slack-backup/channelid3.jpeg
  communication/slack-backup/channelid4.jpeg
  communication/slack-backup/cookielogin.jpeg
  communication/slack-backup/createcredential.jpeg
  communication/slack-backup/exportdata1.jpeg
  communication/slack-backup/exportdata2.jpeg
  communication/slack-backup/getcookie.jpeg
  communication/slack-backup/login.jpeg
  communication/slack-backup/runwizard.jpeg
  communication/slack-migration-faq.md
Due: none

Change Gateway API EMEA meeting to bi-weekly
  sig-list.md
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Update communication/slack-backup/README.md
  communication/slack-backup/README.md
Due: none

Changes per Nabarun's feedback.
  communication/slack-backup/README.md
  communication/slack-backup/export.png
Due: none

slack-config: added channel sig-node-wranglers
  communication/slack-config/sig-node/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update the information on Slack.
  communication/slack-migration-faq.md
Due: none

move wg-policy folder to archive
  archive/wg-policy/OWNERS
  archive/wg-policy/README.md
  archive/wg-policy/annual-report-2022.md
  archive/wg-policy/annual-report-2023.md
  archive/wg-policy/annual-report-2024.md
Due: none

SIG-scheduling contributing documentation should point to the SIG-scheduling's charter, not SIG-cluster-lifecycle's charter.
  sig-scheduling/CONTRIBUTING.md
Due: none

chore: update sigs.yaml to have entry for wg-api-expression
  OWNERS_ALIASES
  liaisons.md
  sig-api-machinery/README.md
  sig-architecture/README.md
  sig-cli/README.md
  sig-list.md
  sigs.yaml
  wg-api-expression/README.md
Due: generate-sigs

Update api-changes's conversion section with stronger wording
  contributors/devel/sig-architecture/api_changes.md
Due: none

Update SIG Instrumentation zoom invite
  sig-instrumentation/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

feat: add ai-gateway channel to slack
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply
