Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

testing strategy: add policy for presubmits
  contributors/devel/sig-testing/testing-strategy.md
Due: none

[Steering 2025] Add voters from approved exception requests - Oct 20
  elections/steering/2025/voters.yaml
Due: none

fix: move the asia/europe sig scheduling meeting 2 hours earlier
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
Due: generate-sigs

add GB rep to sigs.yaml
  generator/app.go
  sigs.yaml
Due: generate-sigs

validate that github must be set for all persons
  generator/app.go
Due: none

add slack channel - gpu-nvidia
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update the multi-network meeting time to Tuesday 6:00 every two weeks
  sig-list.md
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Add new Slack channel 'sig-network-agentic-networking'
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

[Steering 2025] Add voters from approved exception requests - Oct 24
  elections/steering/2025/voters.yaml
Due: none

Add election results of 2025 Steering Committee election
  elections/steering/2025/ballots.csv
  elections/steering/2025/results.md
Due: none

sig-cli: archive krm-functions-registry repo
  sig-cli/README.md
  sigs.yaml
Due: generate-sigs

added automation playbook
  communication/youtube/obs/streaming-key.md
  communication/youtube/obs/wizard-screenshots/obs-1.png
  communication/youtube/obs/wizard-screenshots/obs-2.png
  communication/youtube/obs/wizard-screenshots/obs-3.png
  communication/youtube/obs/wizard-screenshots/obs-4.png
  communication/youtube/obs/wizard-screenshots/obs-5.png
  communication/youtube/obs/wizard-screenshots/obs-6.png
  communication/youtube/obs/youtube-stream-dashboard.png
  communication/youtube/youtube-publish-automation.md
  communication/youtube/zapier-workflow-for-k8s-community-youtube.png
Due: none

sig-node: add node-readiness-controller subproject
  sig-node/README.md
  sigs.yaml
Due: generate-sigs

Update meeting link with password for DP WG
  wg-data-protection/README.md
Due: none

sig-network: add new subproject - kube-agentic-networking
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

sig-cli: archive slack channel #sig-cli-krm-functions
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

sig-release: add signalhound repo under release-team subproject
  sig-release/README.md
  sigs.yaml
Due: generate-sigs

Update Steering members following annual election cycle
  OWNERS_ALIASES
  committee-steering/README.md
  communication/slack-config/usergroups.yaml
  sigs.yaml
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Update Kat's company
  sigs.yaml
Due: generate-sigs

Generated changes
  sig-docs/README.md
  sig-list.md
  sig-release/README.md
Due: none

Fix link to AI Conformance WG calendar
  sig-list.md
  sigs.yaml
  wg-ai-conformance/README.md
Due: generate-sigs

add chad as zoom admin
  communication/moderators.md
Due: none

Add WG Checkpoint Restore Slack Channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update Steering members following annual election cycle
  committee-code-of-conduct/README.md
  committee-security-response/README.md
  liaisons.md
  sig-auth/README.md
  sig-contributor-experience/README.md
  sig-docs/README.md
  sig-instrumentation/README.md
  sig-k8s-infra/README.md
  sig-release/README.md
  sig-security/README.md
  sigs.yaml
  wg-ai-conformance/README.md
  wg-ai-gateway/README.md
  wg-data-protection/README.md
  wg-node-lifecycle/README.md
  wg-structured-logging/README.md
Due: generate-sigs

Update link to checkpoint-restore wg mailing list
  sig-list.md
  sigs.yaml
  wg-checkpoint-restore/README.md
Due: generate-sigs

add slack channel for tofu-controller
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

logging: clarify error logging
  contributors/devel/sig-instrumentation/logging.md
Due: none

Add a link to SIG Apps calendar
  sig-apps/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

provide path to meeting note access
  wg-ai-conformance/README.md
Due: none

Add sig-network-ingress2gateway channel to YAML
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

create slack channel for node-readiness-controller
  communication/slack-config/sig-node/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add documentation for Node Declared Features (KEP-5328)
  contributors/devel/sig-architecture/api_changes.md
  contributors/devel/sig-architecture/feature-gates.md
Due: none

update googlegroup mail list to kubernetes.io mail list
  communication/mailing-list-guidelines.md
Due: none

fix: update broken link
  contributors/guide/release-notes.md
Due: none

Add OWNERS file for WG Checkpoint Restore
  wg-checkpoint-restore/OWNERS
Due: none

sigs.yaml: update WG ch/r meetings
  sig-list.md
  sigs.yaml
  wg-checkpoint-restore/README.md
Due: generate-sigs

Update dims@ affiliation
  Makefile
  sig-architecture/README.md
  sig-list.md
  sig-testing/README.md
  sigs.yaml
Due: generate-sigs

Couple of typos in incident-process.md
  committee-code-of-conduct/incident-process.md
Due: none

Add a passcode to the SIG Scheduling meeting links
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
Due: generate-sigs

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
