Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

SIG cluster lifecycle annual report 2022
  sig-cluster-lifecycle/annual-report-2022.md
Due: none

sig-cluster-lifecycle: update image-builder meeting to Mondays
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

SIG Apps Annual report 2022
  sig-apps/annual-report-2022.md
Due: none

WG Batch Annual report 2022
  wg-batch/annual-report-2022.md
Due: none

Update annual-report-2022.md
  wg-policy/annual-report-2022.md
Due: none

addressed comments
  sig-scheduling/annual-report-2022.md
Due: none

docs: fix tiny typo in github-management `README.md`
  github-management/README.md
Due: none

Modified the link of User Guide , Cluster Admin Guide , Authentication , Authorization Plugins
  contributors/devel/README.md
Due: none

improve kubemark binary building
  contributors/devel/sig-scalability/kubemark-setup-guide.md
Due: none

docs: fix broken link for TimeoutContext
  contributors/devel/sig-testing/writing-good-e2e-tests.md
Due: none

Fix broken links
  contributors/devel/sig-architecture/api-conventions.md
Due: none

Update contributors/devel/sig-testing/writing-good-e2e-tests.md
  contributors/devel/sig-testing/writing-good-e2e-tests.md
Due: none

moderators: dholbach steps down
  communication/moderators.md
Due: none

Fixed Broken Link
  mentoring/programs/google-summer-of-code.md
Due: none

Clarify namespace sameness wrt policy
  sig-multicluster/namespace-sameness-position-statement.md
Due: none

update chairs of sig cloud-provider
  OWNERS_ALIASES
  sig-cloud-provider/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Remove kubefed subproject
  sig-multicluster/README.md
  sigs.yaml
Due: generate-sigs

Add cel-admission-webhook subproject
  sig-api-machinery/README.md
  sigs.yaml
Due: generate-sigs

Add kubectl-validate subproject
  sig-cli/README.md
  sigs.yaml
Due: generate-sigs

feat: add ebpf channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

fix: slack-channel-name
  sig-docs/blog-subproject/README.md
Due: none

Add org member cmd for reg playbook
  events/events-team/registration/README.md
Due: none

docs: Ask for cherry-picks to be made in order from newest to oldest releases
  contributors/devel/sig-release/cherry-picks.md
Due: none

Add a section to the pull-request docs about giant multi-SIG PRs
  contributors/guide/pull-requests.md
Due: none

request to add kcp-edge-devs group
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

request to add kcp-edge-dev channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update usergroups.yaml
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

updated user names to match GH
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

added users from kcp-edge-devs
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update sig-spotlight-blog-process.md
  communication/contributor-comms/storytelling-resources/sig-spotlight-blog-process.md
Due: none

Update Shell Style Guide link and text
  contributors/guide/coding-conventions.md
Due: none

Update annual-report-2022.md
  sig-contributor-experience/annual-report-2022.md
Due: none

Updating README with most recent KubeCon talks
  sig-contributor-experience/README.md
Due: none

Onboard new SRC member Craig Ingram
  OWNERS_ALIASES
  committee-security-response/README.md
  communication/slack-config/usergroups.yaml
  sig-list.md
  sigs.yaml
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Correct channel name
  communication/contributor-comms/storytelling-resources/sig-spotlight-blog-process.md
Due: none

updated link for In-place updates
  contributors/devel/sig-architecture/api_changes.md
Due: none

lfx-mentorship link fix
  mentoring/programs/lfx-mentorship.md
Due: none

SIG Scalability annual report 2022
  sig-scalability/annual-report-2022.md
Due: none

Update sig-spotlight-blog-process.md (#7279)
  communication/contributor-comms/storytelling-resources/sig-spotlight-blog-process.md
Due: none

sig-api-machinery: Flesh out Annual Report
  sig-api-machinery/annual-report-2022.md
Due: none

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
