Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

sig auth 2025 annual report
  sig-auth/annual-report-2025.md
Due: none

sig-contribex: update 2025 annual report
  sig-contributor-experience/annual-report-2025.md
Due: none

wg-structured-logging: archive WG
  OWNERS_ALIASES
  archive/wg-structured-logging/README.md
  archive/wg-structured-logging/annual-report-2021.md
  archive/wg-structured-logging/annual-report-2022.md
  archive/wg-structured-logging/annual-report-2023.md
  archive/wg-structured-logging/annual-report-2024.md
  archive/wg-structured-logging/charter.md
  liaisons.md
  sig-api-machinery/README.md
  sig-architecture/README.md
  sig-cloud-provider/README.md
  sig-instrumentation/README.md
  sig-list.md
  sig-network/README.md
  sig-node/README.md
  sig-scheduling/README.md
  sig-storage/README.md
  sigs.yaml
  wg-structured-logging/annual-report-2025.md
Due: generate-sigs

Remove topology-aware channel from sig-scheduling
  communication/slack-config/sig-scheduling/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

address comments
  sig-auth/annual-report-2025.md
Due: none

missed pulling in KEP links to KEP section
  sig-multicluster/annual-report-2025.md
Due: none

Clarify HPA maintainer needs
  sig-autoscaling/annual-report-2025.md
Due: none

KEP 5325 did not achieve alpha in 1.35
  sig-autoscaling/annual-report-2025.md
Due: none

sig-node: add 2025 annual report
  sig-node/README.md
  sig-node/annual-report-2025.md
  sigs.yaml
Due: generate-sigs

Restore alphabetical order
  sig-autoscaling/annual-report-2025.md
Due: none

Add karpenter content as per DerekFrank
  sig-autoscaling/annual-report-2025.md
Due: none

SIG CLI Annual Report 2025
  sig-cli/CONTRIBUTING.md
  sig-cli/annual-report-2025.md
Due: none

WG Node Lifecycle annual report 2025
  wg-node-lifecycle/annual-report-2025.md
Due: none

sig-instrumentation annual report 2025
  sig-instrumentation/annual-report-2025.md
Due: none

Create AI Conformance Subproject under sig-arch
  sig-architecture/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Archive AI Conformance WG
  OWNERS_ALIASES
  archive/wg-ai-conformance/OWNERS
  archive/wg-ai-conformance/README.md
  archive/wg-ai-conformance/annual-report-2025.md
  archive/wg-ai-conformance/charter.md
  liaisons.md
  sig-architecture/README.md
  sig-list.md
  sig-testing/README.md
  sigs.yaml
Due: generate-sigs

Update SIG K8s Infra 2025 annual report
  sig-k8s-infra/annual-report-2025.md
Due: none

k8s-infra: add more data to 2025 annual report
  sig-k8s-infra/annual-report-2025.md
Due: none

Update wg-ai-gateway 2025 annual report.
  wg-ai-gateway/annual-report-2025.md
Due: none

Update approvers
  communication/slack-config/sig-scheduling/OWNERS
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update wg-ai-gateway/annual-report-2025.md
  wg-ai-gateway/annual-report-2025.md
Due: none

Add the 2025 SIG Testing report.
  contributors/devel/README.md
  contributors/devel/sig-testing/gubernator.md
  contributors/devel/sig-testing/testing.md
  sig-testing/CONTRIBUTING.md
  sig-testing/annual-report-2025.md
  sig-testing/charter.md
Due: none

Remove sig channel from the config file
  communication/slack-config/sig-scheduling/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Delete sig-scheduling and new channel from channel yaml file
  communication/slack-config/channels.yaml
  communication/slack-config/sig-scheduling/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

update sig-scheduling* channels in restrictions.yaml
  communication/slack-config/restrictions.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

sig auth 2025 annual report (#8858)
  sig-auth/annual-report-2025.md
Due: none

sig-apps: add mcp-lifecycle-operator repo under application subproject
  sig-apps/README.md
  sigs.yaml
Due: generate-sigs

docs(mentoring): optimize hugo front matter and header hierarchy for NCO docs
  mentoring/new-contributor-orientation/README.md
  mentoring/new-contributor-orientation/nco-host-handbook.md
  mentoring/new-contributor-orientation/nco-lead-handbook.md
  mentoring/new-contributor-orientation/new-contributor-resources.md
Due: none

docs(mentoring): revert body changes in nco-lead-handbook.md while keeping front matter
  mentoring/new-contributor-orientation/nco-lead-handbook.md
Due: none

update resources subtitle
  mentoring/new-contributor-orientation/new-contributor-resources.md
Due: none

Remove occurences of Defunc Community Meeting
  communication/README.md
  communication/youtube/youtube-guidelines.md
  communication/zoom-guidelines.md
  contributors/guide/non-code-contributions.md
  events/community-meeting.md
  events/events-team/best-practices.md
  mentoring/programs/mentoring-lead.md
  sig-wg-lifecycle.md
Due: none

sig windows 2025 annual report
  sig-windows/annual-report-2025.md
Due: none

Update Kubernetes New Contributor Orientation Meeting Timing
  mentoring/new-contributor-orientation/README.md
Due: none

additional CA items
  sig-autoscaling/annual-report-2025.md
Due: none

Update users.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply
