Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

Fixed user keys
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add kahirokunn as SIG UI lead
  OWNERS_ALIASES
  sig-list.md
  sig-ui/README.md
  sigs.yaml
Due: generate-sigs

Fix missing protocol on the k8s.dev link in events-team comms README
  events/events-team/comms/README.md
Due: none

Add WG Workload Conformance creation proposal and charter
  wg-workload-conformance/charter.md
  wg-workload-conformance/proposal.md
Due: none

add jmdeal as SIG Autoscaling tech lead
  OWNERS_ALIASES
  sig-autoscaling/README.md
  sigs.yaml
Due: generate-sigs

Updated Contributing Documentation for sig/cli (#9167)
  sig-cli/CONTRIBUTING.md
Due: none

Update SIG Cluster Lifecycle charter
  sig-cluster-lifecycle/charter.md
Due: none

Update release-team-leads Slack group members for v1.38 release cycle (#9138)
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update sig-release-subproject-leads
  OWNERS_ALIASES
Due: none

update voters.yaml for 2026 steering election with new org members
  elections/steering/2026/voters.yaml
Due: none

Address comments, align to sig governance wording, clarify archival process
  sig-cluster-lifecycle/charter.md
Due: none

wg-node-identity: add working group charter and registration
  OWNERS_ALIASES
  liaisons.md
  sig-autoscaling/README.md
  sig-cloud-provider/README.md
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
  wg-node-identity/README.md
  wg-node-identity/charter.md
Due: generate-sigs

Update sig-contributor-experience/annual-report-2025.md
  sig-contributor-experience/annual-report-2025.md
Due: none

Apply suggestion from @mfahlandt
  sig-contributor-experience/annual-report-2025.md
Due: none

wg-batch: fix meeting time to Thursdays 14:00 UTC weekly
  sig-list.md
  sigs.yaml
  wg-batch/README.md
Due: generate-sigs

Add Slack channel for WG Node Identity
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update contributor roles in README.md
  communication/contributor-comms/README.md
Due: none

Update Social Media Coordinator role details in README.md
  communication/contributor-comms/README.md
Due: none

sig-instrumentation: add metrics APIs graduation guide
  contributors/devel/README.md
  contributors/devel/sig-instrumentation/metrics-api-graduation.md
Due: none

wg-workload-conformance: address charter review comments
  wg-workload-conformance/charter.md
  wg-workload-conformance/proposal.md
Due: none

Clarify how to write a KEP
  sig-cluster-lifecycle/charter.md
Due: none

SIG Testing: add ktesting subproject
  sig-testing/README.md
  sigs.yaml
Due: generate-sigs

Add vetting criteria for the #announcements Slack channel
  communication/README.md
  communication/slack-announcement-policy.md
  communication/slack-guidelines.md
Due: none

add slack channel for slinky
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add sig-auth meeting notes archives
  sig-auth/archive/meeting-notes-2021.md
  sig-auth/archive/meeting-notes-2022.md
  sig-auth/archive/meeting-notes-2023.md
  sig-auth/archive/meeting-notes-2024.md
  sig-auth/archive/meeting-notes-2025.md
Due: none

Recommend the latest WebSocket protocols
  contributors/devel/sig-architecture/api-conventions.md
Due: none

docs(chairs-and-techleads): expand leadership changes guide with comprehensive checklist
  contributors/chairs-and-techleads/leadership-changes.md
Due: none

Update sig-auth agenda links
  archive/wg-policy/annual-report-2023.md
  generator/testdata/custom_content.md
  generator/testdata/no_custom_content.md
  sig-auth/README.md
  sig-auth/annual-report-2020.md
  sigs.yaml
Due: generate-sigs

Update sig-ui-leads by removing a member
  OWNERS_ALIASES
Due: none

Move Shu Muto to emeritus
  sig-ui/README.md
Due: none

Remove Shu Muto from UI SIG
  sig-list.md
Due: none

Move Shu Muto to emeritus
  sigs.yaml
Due: generate-sigs

Revert Slack link for UI SIG
  sig-list.md
Due: none

chore(sigs): Move shu-mutou to SIG-UI emeritus (#9189)
  OWNERS_ALIASES
  sig-list.md
  sig-ui/README.md
  sigs.yaml
Due: generate-sigs

Add WG Workload Conformance metadata
  OWNERS_ALIASES
  liaisons.md
  sig-apps/README.md
  sig-architecture/README.md
  sig-list.md
  sigs.yaml
  wg-workload-conformance/OWNERS
  wg-workload-conformance/README.md
  wg-workload-conformance/charter.md
Due: generate-sigs

Add Wei Fu to SIG-etcd leads.
  OWNERS_ALIASES
  sig-etcd/README.md
  sigs.yaml
Due: generate-sigs

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
