Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

Adding initial voter list
  elections/steering/2023/voters.yaml
Due: none

Excluding voter list from spellcheck
  hack/.spelling_failures
Due: none

Full initial list of eligible voters
  elections/steering/2023/voters.yaml
Due: none

Clarifying how to generate the eligible voter list
  elections/steering/documentation/README.md
Due: none

Voter eligibility correction
  elections/steering/documentation/template/voters.yaml
Due: none

Stop spellcheck error due to voter usernames
  elections/steering/documentation/README.md
Due: none

Improve shadow requirements identification
  communication/contributor-comms/role-handbooks/blog-coordinator.md
Due: none

add project health details for q1 and q6
  sig-auth/annual-report-2022.md
Due: none

bootstrap 2023 CoCC elections
  elections/code-of-conduct/2023/OWNERS
  elections/code-of-conduct/2023/README.md
  elections/code-of-conduct/2023/candidate-anammedina21.md
  elections/code-of-conduct/2023/candidate-jameslaverack.md
  elections/code-of-conduct/2023/candidate-jeremyrickard.md
  elections/code-of-conduct/2023/candidate-kalyan678.md
  elections/code-of-conduct/2023/candidate-pacoxu.md
  elections/code-of-conduct/2023/candidate-reylejano.md
  elections/code-of-conduct/2023/candidate-rphitg00.md
  elections/code-of-conduct/2023/candidate-sayanchowdhury.md
  elections/code-of-conduct/2023/candidate-stmcginnis.md
  elections/code-of-conduct/2023/election.yaml
  elections/code-of-conduct/2023/election_desc.md
  elections/code-of-conduct/2023/voters.yaml
Due: none

Add the usergroup "cert-manager-maintainers"
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

add github-to-slack mapping for cert-manager-maintainers group
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

cert-manager-maintainers group: explain the users.yaml mapping
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Create divyamohan.md
  elections/steering/2023/divyamohan.md
Due: none

Rename divyamohan.md to candidate-divya-mohan0209.md
  elections/steering/2023/candidate-divya-mohan0209.md
Due: none

Fix comment syntax
  mentoring/README.md
Due: none

update cocc election dates
  elections/code-of-conduct/2023/README.md
  elections/code-of-conduct/2023/election.yaml
Due: none

Archive kpack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

add pacoxu as candidate for 2023 steering
  elections/steering/2023/candidate-pacoxu.md
Due: none

Update sig-spotlights.md
  communication/contributor-comms/blogging-resources/sig-spotlights.md
Due: none

Create netlify-access.md
  sig-docs/netlify-access.md
Due: none

Update README.md
  sig-network/README.md
Due: none

Adding exception
  elections/steering/2023/voters.yaml
Due: none

generated
  sig-network/README.md
Due: none

sigs.yaml, generalized code jam
  sigs.yaml
Due: generate-sigs

fix
  sig-list.md
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Add sig-auth-certificates-dev slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update elections/code-of-conduct/2023/election.yaml
  elections/code-of-conduct/2023/election.yaml
Due: none

Update wg-lts info
  liaisons.md
  sig-list.md
  sigs.yaml
  wg-lts/README.md
Due: generate-sigs

github-management: add Priyanka as github admin
  github-management/OWNERS
  github-management/README.md
Due: none

Update sig-network/README.md
  sig-network/README.md
Due: none

generated changes
  sig-network/README.md
Due: none

generated
  sig-list.md
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Add candidate bio for Vince Prignano
  elections/steering/2021/candidate-vincepri.md
  elections/steering/2023/candidate-vincepri.md
Due: none

fixup! Add candidate bio for Vince Prignano
  elections/steering/2021/candidate-vincepri.md
  elections/steering/2023/candidate-vincepri.md
Due: none

Update cloud-provider-openstack maintainers
  OWNERS_ALIASES
Due: none

Correcting date discrepancies - 2023 CCoC election
  elections/code-of-conduct/2023/election.yaml
  elections/code-of-conduct/2023/election_desc.md
Due: none

devel: add docs around go version decision in K8s build targets
  contributors/devel/development.md
Due: none

Update core kubernetes slack channel names
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply
