Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

Add wg-lts recordings link
  sigs.yaml
  wg-lts/README.md
Due: generate-sigs

generated from make generate per instructions
  wg-policy/README.md
Due: none

Add #myks Slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

add users config
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Fix outdated conformance test requirement
  contributors/devel/sig-architecture/conformance-tests.md
Due: none

update usergroups
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Mention cherrypickapproved prow plugin in SIG Release docs
  contributors/devel/sig-release/cherry-picks.md
Due: none

Update events handbook for MKCC after NA 2023 event (#7629)
  events/events-team/content/meet-and-greet.md
Due: none

add aojea as sig-network TL
  OWNERS_ALIASES
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Update spelling failures check for contributor cheatsheet
  hack/.spelling_failures
  hack/verify-spelling.sh
Due: none

WG-Batch leads update
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-batch/README.md
Due: generate-sigs

Update sigs.yaml
  sigs.yaml
Due: generate-sigs

generated from make generate per instructions and emeritus change
  OWNERS_ALIASES
  sig-list.md
  wg-policy/README.md
Due: none

Remove references to Gubernator in contributors and comms docs
  communication/best-practices.md
  contributors/chairs-and-techleads/process-workflow-guide.md
  contributors/guide/contributor-cheatsheet/README-de.md
  contributors/guide/contributor-cheatsheet/README-fr.md
  contributors/guide/contributor-cheatsheet/README-hi.md
  contributors/guide/contributor-cheatsheet/README-id.md
  contributors/guide/contributor-cheatsheet/README-it.md
  contributors/guide/contributor-cheatsheet/README-ja.md
  contributors/guide/contributor-cheatsheet/README-ko.md
  contributors/guide/contributor-cheatsheet/README-pt.md
  contributors/guide/contributor-cheatsheet/README-uk.md
  contributors/guide/contributor-cheatsheet/README-zh.md
  contributors/guide/issue-triage.md
Due: none

use the video link of kcseu deflaking
  contributors/devel/sig-testing/flaky-tests.md
Due: none

remove todo of adding instructions to flaking test issue template
  contributors/devel/sig-testing/flaky-tests.md
Due: none

Add gophercloud-maintainers slack user group
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

update leadership change template to include OWNERS_ALIAS list item for kubernetes/kubernetes
  .github/ISSUE_TEMPLATE/leadership-change.yml
Due: none

Update leadership-change.yml
  .github/ISSUE_TEMPLATE/leadership-change.yml
Due: none

Update .github/ISSUE_TEMPLATE/leadership-change.yml
  .github/ISSUE_TEMPLATE/leadership-change.yml
Due: none

Update offboarding.md
  sig-docs/offboarding.md
Due: none

fix_typos
  events/events-team/registration/README.md
Due: none

sig-release: add obscli repo under release-engineering subproject
  sig-release/README.md
  sigs.yaml
Due: generate-sigs

sig-instrumentation: add rexagod to leads
  OWNERS_ALIASES
  sig-instrumentation/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Create annual-activities.md
  sig-docs/annual-activities.md
Due: none

update tech leads for sig-docs
  OWNERS_ALIASES
  sig-docs/README.md
  sig-docs/netlify-access.md
  sigs.yaml
Due: generate-sigs

update affiliation for rey lejano
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Update style-guide.md
  contributors/guide/style-guide.md
Due: none

Add Gaurav Padam as editor for blog
  sig-docs/blog-subproject/README.md
Due: none

chore: add pepr channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add Capi Proxmox Channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

sig-testing: add hydrophone repo
  sig-testing/README.md
  sigs.yaml
Due: generate-sigs

Remove reference to user groups in verify script
  hack/verify-generated-docs.sh
Due: none

Add riscv to Slack channels
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Archive past years of SIG-node agenda
  sig-node/archive/README.md
  sig-node/archive/meeting-notes-2021.md
  sig-node/archive/meeting-notes-2022.md
  sig-node/archive/meeting-notes-2023.md
Due: none

sig network: add subproject node-ipam-controller
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Updates RT Slack group
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Two monthly meetings for WG batch targeting different timezones
  sig-list.md
  sigs.yaml
  wg-batch/README.md
Due: generate-sigs

added okd-dev
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
