Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

Update wg-ai-gateway/charter.md
  wg-ai-gateway/charter.md
Due: none

Update kcp-devs user group with current maintainers
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Rename current kcp-dev channel to kcp-users
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Fix my email in Node Lifecycle WG Chairs
  sigs.yaml
Due: generate-sigs

Introduce WG Checkpoint Restore
  OWNERS_ALIASES
  sig-api-machinery/README.md
  sig-apps/README.md
  sig-auth/README.md
  sig-cli/README.md
  sig-list.md
  sig-node/README.md
  sig-scheduling/README.md
  sigs.yaml
  wg-checkpoint-restore/README.md
  wg-checkpoint-restore/charter.md
Due: generate-sigs

tempelis: add slack user id - embik, mjudeikis, scheeles, xrstf
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add new kcp-dev channel (after previous one has been renamed to kcp-users)
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add Steering liason for wg to sigs.yaml
  sigs.yaml
Due: generate-sigs

Add Steering liaison to wg-ai-conformance/README.md
  wg-ai-conformance/README.md
Due: none

remove manual update from sig-list.md
  sig-list.md
Due: none

Delete wg-ai-conformance/README.md
  wg-ai-conformance/README.md
Due: none

Remove entries from autogenerated files sig-architecture/README.md
  sig-architecture/README.md
Due: none

Remove entries from autogenerated files sig-architecture/README.md sig-testing/README.md
  sig-testing/README.md
Due: none

Update SIG-MC meeting info
  sig-list.md
  sig-multicluster/README.md
  sigs.yaml
Due: generate-sigs

adding liason and re-running generator
  liaisons.md
  sig-architecture/README.md
  sig-list.md
  sig-testing/README.md
  wg-ai-conformance/README.md
Due: none

add Kubernetes AI Conformance working group (#8515)
  OWNERS_ALIASES
  liaisons.md
  sig-architecture/README.md
  sig-list.md
  sig-testing/README.md
  sigs.yaml
  wg-ai-conformance/OWNERS
  wg-ai-conformance/README.md
  wg-ai-conformance/charter.md
Due: generate-sigs

Add WG AI Conformance
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

add WG AI Gateway
  OWNERS_ALIASES
  sig-list.md
  sig-network/README.md
  sigs.yaml
  wg-ai-gateway/OWNERS
  wg-ai-gateway/README.md
  wg-ai-gateway/charter.md
Due: generate-sigs

sig-cli: archive kui repo
  sig-cli/README.md
  sigs.yaml
Due: generate-sigs

Update wg-ai-conformance charter to point to wg-governance doc
  wg-ai-conformance/charter.md
Due: none

doc: update e2e-tests.md to clarify steps running delve locally without GCE
  contributors/devel/sig-testing/e2e-tests.md
Due: none

chore: update sigs.yaml to have entry for wg-api-expression
  OWNERS_ALIASES
  liaisons.md
  sig-api-machinery/README.md
  sig-architecture/README.md
  sig-cli/README.md
  sig-list.md
  sigs.yaml
  wg-api-expression/README.md
Due: generate-sigs

Add basic terminology page for SIG-MC.
  sig-multicluster/terminology.md
Due: none

Add WG AI Integration
  OWNERS_ALIASES
  liaisons.md
  sig-api-machinery/README.md
  sig-apps/README.md
  sig-architecture/README.md
  sig-auth/README.md
  sig-cli/README.md
  sig-list.md
  sigs.yaml
  wg-ai-integration/OWNERS
  wg-ai-integration/README.md
  wg-ai-integration/charter.md
Due: generate-sigs

Create TRIXMI
  contributors/guide/TRIXMI
Due: none

Update running-locally.md sudo example to preserve $PATH
  contributors/devel/running-locally.md
Due: none

sig-cl: remove capi provider packet subproject
  sig-cluster-lifecycle/README.md
  sigs.yaml
Due: generate-sigs

Update SIG Release meeting time
  sig-list.md
  sig-release/README.md
  sigs.yaml
Due: generate-sigs

Update README.md
  sig-multicluster/README.md
Due: none

Add slack configuration for SIG K8S Infra
  communication/slack-config/channels.yaml
  communication/slack-config/restrictions.yaml
  communication/slack-config/sig-k8s-infra/OWNERS
  communication/slack-config/sig-k8s-infra/config.yaml
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update OWNERS
  OWNERS
Due: none

Update README.md
  wg-ai-conformance/README.md
Due: none

Align with community comment on website glossary PR And remember ClusterClaim from its time in the bikeshed :)
  sig-multicluster/terminology.md
Due: none

Update sig-list.md
  sig-list.md
Due: none

Add WG AI Integration Slack Channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Drop sig-network from stakeholders in charter.md
  wg-ai-integration/charter.md
Due: none

sig-instrumentation: add resource-state-metrics subproject
  sig-instrumentation/README.md
  sigs.yaml
Due: generate-sigs

sig-apps: add agent-sandbox under application subproject
  sig-apps/README.md
  sigs.yaml
Due: generate-sigs

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
