Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

Update affiliation for KnVerey
  sig-cli/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

adding sig-docs offboarding doc
  sig-docs/offboarding.md
Due: none

Jim Angel going to emeritus
  OWNERS_ALIASES
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Begin new Steering Committee election docs
  elections/README.md
  elections/steering/documentation/README.md
Due: none

Update sig-release/annual-report-2022.md
  sig-release/annual-report-2022.md
Due: none

Address review comments
  sig-release/annual-report-2022.md
Due: none

Update SIG Release meeting times
  sig-list.md
  sig-release/README.md
  sigs.yaml
Due: generate-sigs

Add enhancement tracking and address minor comments
  sig-release/annual-report-2022.md
Due: none

Add kubectl-validate channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

sig-network: correct multi-network meeting to weekly
  sig-list.md
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Add CONTRIBUTING to sig scheduling
  sig-scheduling/CONTRIBUTING.md
Due: none

docs: update google-season-of-docs resolving broken links
  mentoring/programs/google-season-of-docs.md
Due: none

Improvements to phrasing
  contributors/devel/sig-release/cherry-picks.md
Due: none

Update channels.yaml
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update usergroups.yaml
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update sig-spotlights.md
  communication/contributor-comms/storytelling-resources/sig-spotlights.md
Due: none

Update blog-guidelines.md
  communication/contributor-comms/storytelling-resources/blog-guidelines.md
Due: none

address comments
  sig-scheduling/CONTRIBUTING.md
Due: none

sig-scheduling: add kube-scheduler-wasm-extension repo
  sig-scheduling/README.md
  sigs.yaml
Due: generate-sigs

docs: Ask for cherry-picks to be made against all supported release branches
  contributors/devel/sig-release/cherry-picks.md
Due: none

Add CONTRIBUTING.md to sig scheduling (#7292)
  sig-scheduling/CONTRIBUTING.md
Due: none

Updatd the links to corrected permalinks
  contributors/devel/sig-testing/e2e-tests.md
Due: none

Document short-names and categories
  contributors/devel/sig-architecture/api-conventions.md
Due: none

Update e2e-tests-kubetest2.md with new source for Kubernetes releases
  contributors/devel/sig-testing/e2e-tests-kubetest2.md
Due: none

Add SIG-CLI 2022 annual report
  sig-cli/annual-report-2022.md
Due: none

Updated links in the different sigs folder under contributors/devel
  contributors/devel/sig-cli/kubectl-conventions.md
  contributors/devel/sig-scheduling/scheduling_code_hierarchy_overview.md
  contributors/devel/sig-testing/writing-good-e2e-tests.md
Due: none

add details for becoming a PRR approver
  sig-architecture/production-readiness.md
Due: none

Update README.md to mention about becoming shadow for contributor-comms
  communication/contributor-comms/README.md
Due: none

add eksctl slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Create readme.md
  readme.md
Due: none

rename to contributor-comms
  committee-steering/governance/sig-governance.md
  communication/calendar-guidelines.md
  communication/contributor-comms/storytelling-resources/event-checklist.md
  communication/contributor-comms/storytelling-resources/multichannel-communications.md
  events/events-team/marketing/README.md
  mentoring/programs/shadow-roles.md
Due: none

Update communication/slack-config/usergroups.yaml
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update users.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

archive wg-reliability
  OWNERS_ALIASES
  archive/wg-reliability/README.md
  archive/wg-reliability/annual-report-2022.md
  archive/wg-reliability/charter.md
  communication/slack-config/channels.yaml
  sig-architecture/README.md
  sig-cluster-lifecycle/README.md
  sig-list.md
  sig-release/README.md
  sig-scalability/README.md
  sig-testing/README.md
  sigs.yaml
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

request to add kubestellar-dev channel (#7276)
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

request to add kubestellar-devs group (#7275)
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply
