Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

Add Spegel Slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

SIG-Autoscaling - Update 2024 report
  sig-autoscaling/README.md
  sig-autoscaling/annual-report-2024.md
Due: none

SIG Autoscaling - Add Contributing.md
  sig-autoscaling/CONTRIBUTING.md
  sig-autoscaling/README.md
  sig-autoscaling/annual-report-2024.md
Due: none

SIG Testing annual report 2024
  sig-testing/annual-report-2024.md
Due: none

Update Stephen Augustus affiliation
  committee-steering/README.md
  sig-list.md
  sig-release/README.md
  sigs.yaml
Due: generate-sigs

WIP: 2024 sig etcd report
  sig-etcd/annual-report-2024.md
Due: none

Update annual-report-2024.md with reviewers' comments
  sig-etcd/annual-report-2024.md
Due: none

docs: update SIG Network charter.md
  sig-network/charter.md
Due: none

Annual Report for SIG Instrumentation 2024
  sig-instrumentation/annual-report-2024.md
Due: none

cocc: Update for 2025 election
  OWNERS_ALIASES
  committee-code-of-conduct/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

add ingate meeting and update ingress-nginx meeting
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

run generate docs
  sig-list.md
Due: none

SIG scalability leadership changes
  OWNERS_ALIASES
  sig-list.md
  sig-scalability/README.md
  sigs.yaml
Due: generate-sigs

fix: remove removed teams from the "Contact" lists
  sig-scheduling/README.md
  sigs.yaml
Due: generate-sigs

docs: cleanup sig network report 2024
  sig-network/annual-report-2024.md
Due: none

docs: add keps for sig network report 2024
  sig-network/annual-report-2024.md
Due: none

docs: add highlights to sig network report 2024
  sig-network/annual-report-2024.md
Due: none

docs: add subproject help to sig network report 2024
  sig-network/annual-report-2024.md
Due: none

docs: add community updates to sig network report 2024
  sig-network/annual-report-2024.md
Due: none

docs: operational items for sig network report 2024
  sig-list.md
  sig-network/README.md
  sig-network/annual-report-2024.md
  sig-network/charter.md
  sigs.yaml
Due: generate-sigs

docs: expand the gie section sig network report 2024
  sig-network/annual-report-2024.md
Due: none

docs: add CONTRIBUTING.md to sig-network
  sig-network/CONTRIBUTING.md
  sig-network/annual-report-2024.md
Due: none

sig-contribex: update 2024 annual report
  sig-contributor-experience/annual-report-2024.md
Due: none

sig-cloud-provider: Add ibmcloud-test-infra to ibmcloud subproject
  sig-cloud-provider/README.md
  sigs.yaml
Due: generate-sigs

Update sig-release/annual-report-2024.md
  sig-release/annual-report-2024.md
Due: none

docs: update external-dns highlights sig network report 2024
  sig-network/annual-report-2024.md
Due: none

Update sig-instrumentation/annual-report-2024.md
  sig-instrumentation/annual-report-2024.md
Due: none

Adding Arpit Agrawal to YouTube Admins
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Adding Kaslin to YouTube Admin Slack Group
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

update youtube-admins slack user group
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

sig-contribex: remove subproject sigs-github-actions
  sig-contributor-experience/README.md
  sigs.yaml
Due: generate-sigs

sig-network: add network-policy-finalizer under network-policy subproject
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

updates annual report
  sig-docs/annual-report-2024.md
Due: none

Update annual-report-2024.md
  sig-api-machinery/annual-report-2024.md
Due: none

Updated sig-node archive readme listing all years.
  sig-node/archive/README.md
Due: none

Update sig-autoscaling/annual-report-2024.md
  sig-autoscaling/annual-report-2024.md
Due: none

sig-contribex: retire contributor-katacoda repo
  sig-contributor-experience/README.md
  sigs.yaml
Due: generate-sigs

2024 Annual Report: WG Serving (#8335)
  wg-serving/annual-report-2024.md
Due: none

Update sig-contributor-experience/annual-report-2024.md
  sig-contributor-experience/annual-report-2024.md
Due: none

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
