Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

Update Subproject-Lead.md Shadow Requirements
  communication/contributor-comms/role-handbooks/Subproject-Lead.md
Due: none

typo: exchange Wei Huang's first/last name
  events/awards/award-recipients/2019-award-recipients.md
Due: none

fix(slack): use long name since scs is already taken
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add SCS slack channel (#7367)
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update Social-Media lead handbook
  communication/contributor-comms/role-handbooks/Social-Media.md
Due: none

Add PRR survey for 2023
  sig-architecture/Kubernetes_PRR_Survey_2023Q2.pdf
Due: none

Update secrets-store-csi-driver community meeting time
  sig-auth/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

(steering/governance): add subproject lead section to SIG governance
  committee-steering/governance/sig-governance.md
Due: none

(generator): change generator to allow for subproject leads
  generator/app.go
  generator/sig_readme.tmpl
Due: none

(steering/governance): default responsibilities of subprojects leads to owners in the absence of former
  a
  committee-steering/governance/sig-governance.md
Due: none

(community-membership): points to governance doc for a single source of truth on subproject roles
  community-membership.md
Due: none

Update sig-apps community
  sig-apps/CONTRIBUTING.md
  sig-apps/README.md
  sig-apps/agenda.md
  sig-apps/charter.md
  sig-apps/minutes/2016-05-18.md
  sig-apps/minutes/2016-05-25.md
  sig-apps/minutes/2016-06-08.md
  sig-apps/minutes/2016-06-15.md
  sig-apps/minutes/2016-06-22.md
  sig-apps/minutes/2016-06-29.md
  sig-apps/minutes/2016-07-06.md
  sig-apps/minutes/2016-07-13.md
  sig-apps/minutes/2016-07-20.md
  sig-apps/minutes/2016-07-27.md
  sig-apps/minutes/2016-08-03.md
  sig-apps/minutes/OWNERS
  sig-apps/minutes/README.md
  sigs.yaml
Due: generate-sigs

Update channels.yaml
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Apply suggestions from code review
  sig-docs/localization-subproject/README.md
Due: none

Updating to link to localization Github owners
  sig-docs/localization-subproject/README.md
Due: none

Update flaky-tests.md
  contributors/devel/sig-testing/flaky-tests.md
Due: none

Update contributors/devel/sig-testing/flaky-tests.md
  contributors/devel/sig-testing/flaky-tests.md
Due: none

Add educates channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update sig-autoscaling Zoom linke
  sig-autoscaling/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Adding voter exceptions
  elections/steering/2023/voters.yaml
Due: none

remove accidentally committed file in a previous PR
  a
Due: none

patch(channel): archive outdated sig-contribex-meetings channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

sig-contribex: remove contributor-tweets repo
  sig-contributor-experience/README.md
  sigs.yaml
Due: generate-sigs

Update Comms-Tech-Lead.md
  communication/contributor-comms/role-handbooks/Comms-Tech-Lead.md
Due: none

Add document access note to API Machinery
  sig-api-machinery/README.md
Due: none

Link to documentation site and clarify PR/CLA order
  CONTRIBUTING.md
  contributors/guide/pull-requests.md
Due: none

Update cloud provider-aws zoom link
  sig-cloud-provider/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Adding SIG Cloud Provider annual report for 2022
  sig-cloud-provider/annual-report-2022.md
Due: none

normalize company names so they're not all over the place
  committee-code-of-conduct/README.md
  sig-architecture/README.md
  sig-k8s-infra/README.md
  sig-list.md
  sig-scalability/README.md
  sig-windows/README.md
  sigs.yaml
Due: generate-sigs

Update README.md - Kubebuilder and Controller-Runtime
  sig-api-machinery/README.md
Due: none

Update Kubebuilder meeting - agenda and recorders
  sig-api-machinery/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Update company for Marcel Zieba
  sig-list.md
  sig-scalability/README.md
  sigs.yaml
Due: generate-sigs

steering: Update committee members following annual election cycle
  OWNERS_ALIASES
  committee-steering/README.md
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
  sig-list.md
  sigs.yaml
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Create README-es.md in Spanish
  contributors/guide/contributor-cheatsheet/README-es.md
Due: none

Update README-es.md
  contributors/guide/contributor-cheatsheet/README-es.md
Due: none

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
