Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

WG IoT Edge Regular Meeting Bi-Weekly.
  sigs.yaml
Due: generate-sigs

docs: fix api convention concurrency control and consistency part typo
  contributors/devel/sig-architecture/api-conventions.md
Due: none

Adding Aravindhp as sig-windows co-chair
  OWNERS_ALIASES
  sig-list.md
  sig-windows/README.md
  sigs.yaml
Due: generate-sigs

writing-good-e2e-tests.md: polling, contexts and failure messages
  contributors/devel/sig-testing/writing-good-e2e-tests.md
Due: none

Revert "TLs are approving KEPs"
  committee-steering/governance/sig-governance.md
  contributors/chairs-and-techleads/technical-lead.md
Due: none

TLs are approving KEPs
  committee-steering/governance/sig-governance.md
  contributors/chairs-and-techleads/technical-lead.md
Due: none

Updated the Marketing Council Handbook Link for the Storytellers.md file
  communication/contributor-comms/role-handbooks/storytellers.md
Due: none

SRC membership updates
  OWNERS_ALIASES
  committee-security-response/README.md
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
  sig-list.md
  sigs.yaml
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

sig-testing: Add cloud-provider-kind repo
  sig-testing/README.md
  sigs.yaml
Due: generate-sigs

wg-batch: Update the youtube playlist link
  sigs.yaml
  wg-batch/README.md
Due: generate-sigs

sig-k8s-infra: Add community-images repo
  sig-k8s-infra/README.md
  sigs.yaml
Due: generate-sigs

Create Slack Channel for Tamil (ta)
  communication/slack-config/sig-docs/docs-channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Setup bpfd slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

SIG Governance: Split Chair & TL roles
  committee-steering/governance/sig-governance.md
Due: none

WIP: sig-testing annual-report-2022.md
  sig-testing/annual-report-2022.md
Due: none

Update contributors/devel/sig-architecture/api-conventions.md
  contributors/devel/sig-architecture/api-conventions.md
Due: none

Playbook for the Meet and Greet coordinator for contributor summits (#7087)
  events/events-team/content/meet-and-greet.md
  events/events-team/content/sig-contrib-events.md
  events/events-team/content/sig-f2f.md
Due: none

add info on debugging e2e node tests
  contributors/devel/sig-node/e2e-node-tests.md
Due: none

Update api-conventions.md
  contributors/devel/sig-architecture/api-conventions.md
Due: none

Clarify fuzzer operation
  contributors/devel/sig-architecture/api_changes.md
Due: none

Add sig-auth-authenticators-dev slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update product-security-committee members Signed-off-by: Monis Khan <mok@microsoft.com>
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

feat(channel): add jenkins-operator channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Create sig windows level channel
  communication/slack-config/sig-windows/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add sig-storage annual report for 2022
  sig-storage/annual-report-2022.md
Due: none

docs: There are sentences in the contributors file that are not punctuated
  contributors/devel/README.md
Due: none

Data Protection WG 2022 Annual Report
  wg-data-protection/annual-report-2022.md
Due: none

added contributor course to getting started section
  contributors/guide/contributor-cheatsheet/README.md
Due: none

Archive #garden and #garden-dev See PR #7141
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

stop suggesting depth=1, suggest filter=blob:none instead
  contributors/devel/running-locally.md
Due: none

add API Machinery annual report
  sig-api-machinery/annual-report-2022.md
Due: none

WG structured logging: annual report 2022
  wg-structured-logging/annual-report-2022.md
Due: none

Add kubernetes-docs-bg slack channel
  communication/slack-config/sig-docs/docs-channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

annual report for SIG Instrumentation for 2022
  sig-instrumentation/annual-report-2022.md
Due: none

Update annual-report-2022.md
  wg-policy/annual-report-2022.md
Due: none

added contributor course link to helpful resources
  contributors/guide/contributor-cheatsheet/README.md
Due: none

Update README.md
  sig-testing/README.md
Due: none

Update annual-report-2022.md
  sig-testing/annual-report-2022.md
Due: none

SIG governance: clean up formatting & wording
  committee-steering/governance/sig-governance.md
Due: none

SIG governance: Remove yearly SIG mailing list status update requirement
  committee-steering/governance/sig-governance.md
Due: none

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
