Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

Update contributors/guide/contributor-cheatsheet/README-es.md
  contributors/guide/contributor-cheatsheet/README-es.md
Due: none

sig-etcd: add etcd-manager subproject
  sig-etcd/README.md
  sigs.yaml
Due: generate-sigs

Rework Marketing Request Template to represent different target audiences
  .github/ISSUE_TEMPLATE/marketing-request.yml
Due: none

Add sig-etcd biweekly triage meeting.
  sig-etcd/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

wg-serving: add link to orchestration workstream and minor edits
  wg-serving/README.md
Due: none

Add SIG Docs Arabic team meeting to README
  sig-docs/README.md
Due: none

Revert "Add SIG Docs Arabic team meeting to README"
  sig-docs/README.md
Due: none

Generate entry from sigs.yaml
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Adjust meeting 18:00 biweekly -> 17:00 weekly
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Fix meeting time 16:00 -> 18:00
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Fix typo in a URL
  sig-docs/README.md
  sigs.yaml
Due: generate-sigs

wg-serving: add link to K8s WG Serving playlist
  sigs.yaml
  wg-serving/README.md
Due: generate-sigs

add ThatsMrTalbot to the cert-manager-maintainers group on the Kubernetes Slack.
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update communication/contributor-comms/blogging-resources/blogging-shadow-guide.md
  communication/contributor-comms/blogging-resources/blogging-shadow-guide.md
Due: none

Adds Kat Cosgrove as tech lead
  OWNERS_ALIASES
  sigs.yaml
Due: generate-sigs

removes tim
  sigs.yaml
Due: generate-sigs

add slack channel for lula project
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

sig-cluster-lifecycle: add annual report for 2023
  sig-cluster-lifecycle/annual-report-2023.md
Due: none

Prep SIG Instrumentation Annual Report
  sig-instrumentation/annual-report-2023.md
Due: none

update name
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

add slack channel for lula project (#7907)
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

docs: add 2024 EU contrib summit staff
  events/2024/03-contributor-summit/README.md
Due: none

2023 annual report for SIG scalability
  sig-scalability/annual-report-2023.md
Due: none

docs: remove outdated warning
  contributors/guide/owners.md
Due: none

added a playlist for WG Serving
  sigs.yaml
  wg-serving/README.md
Due: generate-sigs

Add WG-LTS annual report.
  wg-lts/annual-report-2023.md
Due: none

Add initial draft of WG-LTS annual report
  wg-lts/annual-report-2023.md
Due: none

Update sig-api-machinery/annual-report-2023.md
  sig-api-machinery/annual-report-2023.md
Due: none

Update sig-cli agenda
  sig-cli/README.md
  sigs.yaml
Due: generate-sigs

SIG Cloud Provider update
  OWNERS_ALIASES
  sig-cloud-provider/README.md
  sigs.yaml
Due: generate-sigs

Update contributors/guide/owners.md
  contributors/guide/owners.md
Due: none

allow to specify the calendar link and properly escape the time url query
  generator/app.go
  generator/committee_readme.tmpl
  generator/list.tmpl
  generator/sig_readme.tmpl
  generator/wg_readme.tmpl
Due: none

moved calendar link to the explicit variable
  sigs.yaml
Due: generate-sigs

regenerate files
  archive/wg-api-expression/README.md
  committee-steering/README.md
  sig-api-machinery/README.md
  sig-apps/README.md
  sig-architecture/README.md
  sig-auth/README.md
  sig-autoscaling/README.md
  sig-cli/README.md
  sig-cloud-provider/README.md
  sig-cluster-lifecycle/README.md
  sig-contributor-experience/README.md
  sig-docs/README.md
  sig-etcd/README.md
  sig-instrumentation/README.md
  sig-k8s-infra/README.md
  sig-list.md
  sig-multicluster/README.md
  sig-network/README.md
  sig-node/README.md
  sig-release/README.md
  sig-scalability/README.md
  sig-scheduling/README.md
  sig-security/README.md
  sig-storage/README.md
  sig-testing/README.md
  sig-windows/README.md
  wg-batch/README.md
  wg-data-protection/README.md
  wg-device-management/README.md
  wg-lts/README.md
  wg-policy/README.md
  wg-serving/README.md
Due: none

added instructions on how to deal with the meetings
  wg-serving/README.md
Due: none

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
