Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

Introduce Node Lifecycle WG
  OWNERS_ALIASES
  communication/slack-config/channels.yaml
  liaisons.md
  sig-apps/README.md
  sig-architecture/README.md
  sig-autoscaling/README.md
  sig-cli/README.md
  sig-cloud-provider/README.md
  sig-cluster-lifecycle/README.md
  sig-list.md
  sig-network/README.md
  sig-node/README.md
  sig-scheduling/README.md
  sig-storage/README.md
  sigs.yaml
  wg-node-lifecycle/OWNERS
  wg-node-lifecycle/README.md
  wg-node-lifecycle/charter.md
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Add ivanvc to sig-etcd-leads.
  OWNERS_ALIASES
  sig-etcd/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

SIG Auth: Leadership Change
  OWNERS_ALIASES
  sig-auth/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

renaming google groups
  contributors/devel/sig-node/container-runtime-interface.md
  sig-list.md
  sig-node/CONTRIBUTING.md
  sig-node/README.md
  sigs.yaml
Due: generate-sigs

add sensitive communication guidelines
  communication/sensitive-comms-guidelines.md
Due: none

sig-ui: Add headlamp subproject
  sig-ui/README.md
  sigs.yaml
Due: generate-sigs

charter for CI testing subgroup of SIG Node
  sig-node/CONTRIBUTING.md
  sig-node/README.md
  sig-node/sig-node-ci-testing-group-charter.md
Due: none

Update new SRC members
  OWNERS_ALIASES
  committee-security-response/README.md
  communication/slack-config/usergroups.yaml
  sig-list.md
  sigs.yaml
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Add slack channel for API Machinery dev tools
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

sig-contribex: update 2024 annual report (#8306)
  sig-contributor-experience/annual-report-2024.md
Due: none

SIG Docs Annual Report 2024 (#8336)
  sig-docs/annual-report-2024.md
Due: none

add: SIG-Scheduling annual report (#8288)
  sig-scheduling/annual-report-2024.md
Due: none

feat: update 2024 annual report
  wg-policy/annual-report-2024.md
Due: none

Add maintainer-tools subproject
  sig-architecture/README.md
  sigs.yaml
Due: generate-sigs

api-machinery: add kube-api-linter subproject
  sig-api-machinery/README.md
  sigs.yaml
Due: generate-sigs

WIP: generate maintainers table for cncf
  .gitignore
  generator/app.go
Due: none

sort by gh handle for stable generation
  generator/app.go
Due: none

add missing sig-testing lead email
  sigs.yaml
Due: generate-sigs

add sig ui lead emails
  sigs.yaml
Due: generate-sigs

add missing sig windows emails
  sigs.yaml
Due: generate-sigs

fix validation for company affiliation and email must be set for leads
  generator/app.go
Due: none

ensure name is set
  generator/app.go
Due: none

add missing emails for code of conduct committee
  sigs.yaml
Due: generate-sigs

add missing sig-k8s-infra email
  sigs.yaml
Due: generate-sigs

add wg-policy lead emails
  sigs.yaml
Due: generate-sigs

add missing wg-data-protection email
  sigs.yaml
Due: generate-sigs

drop bazel related tools references from sig testing charter
  sig-testing/charter.md
Due: none

docs(devel): remove section on adding GNUBINS to path
  contributors/devel/development.md
Due: none

Uploading April 2025 NCO
  mentoring/new-contributor-orientation/nco-slides/[April 2025] New Contributor Orientation.pdf
Due: none

Uploading April 2025 NCO (#8426)
  mentoring/new-contributor-orientation/nco-slides/[April 2025] New Contributor Orientation.pdf
Due: none

typo fix suggested by soltysh
  contributors/devel/sig-testing/e2e-tests.md
Due: none

correct guidance for building e2e.test with debug symbols (#8397)
  contributors/devel/sig-testing/e2e-tests.md
Due: none

fix: add links to talks
  wg-policy/annual-report-2024.md
Due: none

SIG k8s Infra 2024 annual report
  sig-k8s-infra/annual-report-2024.md
Due: none

Archive kubernetes-sigs/pspmigrator
  sig-auth/README.md
  sigs.yaml
Due: generate-sigs

Archive kubernetes-sigs/hierarchical-namespaces
  sig-auth/README.md
  sigs.yaml
Due: generate-sigs

Introduce Node Lifecycle WG
  OWNERS_ALIASES
  communication/slack-config/channels.yaml
  liaisons.md
  sig-apps/README.md
  sig-autoscaling/README.md
  sig-cli/README.md
  sig-cloud-provider/README.md
  sig-cluster-lifecycle/README.md
  sig-list.md
  sig-network/README.md
  sig-node/README.md
  sig-scheduling/README.md
  sig-storage/README.md
  sigs.yaml
  wg-node-lifecycle/OWNERS
  wg-node-lifecycle/README.md
  wg-node-lifecycle/charter.md
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply
