Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

fix: correct the check box
  sig-scheduling/annual-report-2024.md
Due: none

fix: add scheduler-plugins
  sig-scheduling/annual-report-2024.md
Due: none

sig-scalability: add inference-perf subproject
  sig-scalability/README.md
  sigs.yaml
Due: generate-sigs

fix: add kwok
  sig-scheduling/annual-report-2024.md
Due: none

address feedback from review
  wg-batch/annual-report-2024.md
Due: none

fix: update the report based on the reviews
  sig-scheduling/annual-report-2024.md
Due: none

sig-network: add nat64 repo to pod-networking sub-project
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

slack-config: Add cluster-api-release channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Adding a #gateway-api-inference-extension Slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Initial WIP of wg-etcd annual report.
  wg-etcd-operator/annual-report-2024.md
Due: none

Added info about the etcd-operator repository
  sig-etcd/README.md
  sigs.yaml
  wg-etcd-operator/README.md
  wg-etcd-operator/annual-report-2024.md
Due: generate-sigs

Add #syself slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add 2025 Kubernetes CNCF GB seat election results
  elections/steering/2025-GB/ballots.csv
  elections/steering/2025-GB/results.md
Due: none

Update and rename management-cluster-position-statement.md to hub-cluster-position-statement.md
  sig-multicluster/hub-cluster-position-statement.md
  sig-multicluster/management-cluster-position-statement.md
Due: none

add sig meet and greet handbook
  events/events-team/README.md
  events/events-team/sig-meet-and-greet/README.md
Due: none

remove critest page from community repository
  contributors/devel/README.md
  contributors/devel/sig-node/cri-validation.md
  sig-node/charter.md
Due: none

sig-contribex: update 2024 annual report
  sig-contributor-experience/annual-report-2024.md
Due: none

Add Mario Fahlandt as Co-Chair to Contributor Experience
  OWNERS_ALIASES
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

List the best practices on configuring staging repo
  contributors/devel/sig-architecture/staging.md
Due: none

Updated installation steps for Fedora
  contributors/devel/development.md
Due: none

contributing KEPs in SIG Node: best practices
  sig-node/CONTRIBUTING.md
Due: none

update sig meet and greet handbook
  events/events-team/content/meet-and-greet.md
Due: none

Update committee-steering/governance/project-naming.md
  committee-steering/governance/project-naming.md
Due: none

line-wrap
  committee-steering/governance/project-naming.md
Due: none

SIG Autoscaling - 2024 Report first draft
  sig-autoscaling/annual-report-2024.md
Due: none

address nits
  wg-batch/annual-report-2024.md
Due: none

make sig-architecture-approvers to be approvers of devel
  OWNERS_ALIASES
  contributors/devel/OWNERS
Due: none

elections/cocc: Correct election form link
  elections/code-of-conduct/2025/README.md
Due: none

elections/cocc: Add 2025 candidates
  elections/code-of-conduct/2025/candidate-divya-mohan0209.md
  elections/code-of-conduct/2025/candidate-endocrimes.md
  elections/code-of-conduct/2025/candidate-sreeram-venkitesh.md
  elections/code-of-conduct/2025/candidate-stmcginnis.md
  elections/code-of-conduct/2025/candidate-swatisehgal.md
Due: none

cocc: Synchronize existing terms with current election cycle
  committee-code-of-conduct/README.md
Due: none

cocc: Correct/deduplicate company listings
  committee-code-of-conduct/README.md
Due: none

generated: Run `make generate`
  sig-docs/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Update sig-multicluster/hub-cluster-position-statement.md
  sig-multicluster/hub-cluster-position-statement.md
Due: none

add: new asia/europe biweekly meetings for sig-scheduling
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
Due: generate-sigs

docs: add best practices guide for API extensions
  sig-network/api-extensions-best-practices.md
Due: none

add link to contributor awards site
  events/awards/README.md
Due: none

Data Protection WG 2024 Annual Report
  wg-data-protection/annual-report-2024.md
Due: none

sig-cl: add anual report for 2024
  sig-cluster-lifecycle/annual-report-2024.md
Due: none

Add Lagos meetup channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply
