Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

kube-burner slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Added hydrophone slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

sig-network: Add knftables subproject
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Updated Visio stencil
  icons/visio/kubernetes-visio-stencil.vssx
Due: none

Update channels.yaml to add channel for in place pod resize feature
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update channels.yaml to add channel for in place pod resize feature
  communication/slack-config/sig-node/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update config.yaml
  communication/slack-config/sig-node/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Updated Spotlight Blogs list
  communication/contributor-comms/blogging-resources/sig-spotlights.md
Due: none

Move onlydole to emeritus for SIG Docs Tech Lead
  OWNERS_ALIASES
  sig-docs/README.md
  sigs.yaml
Due: generate-sigs

Cluster API: update office hours agenda document link
  sig-cluster-lifecycle/README.md
  sigs.yaml
Due: generate-sigs

Add mfahlandt as Comms Tech Lead, move SD-13 to Emeritus
  communication/contributor-comms/OWNERS
  communication/contributor-comms/README.md
Due: none

Update Contribex-comms Slack members for Spring 2024 and adding missing IDs to users.yaml
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add KCSEU2024 Comms Lead temporary to Contributor Communications
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

update broken patch releases link in contributor cheatsheet
  contributors/guide/contributor-cheatsheet/README.md
Due: none

revise from reflect.Equal to reflect.DeepEqual
  sig-scheduling/CONTRIBUTING.md
Due: none

Add Stefan as tech lead for sig-api-machinery
  OWNERS_ALIASES
  sig-api-machinery/README.md
  sigs.yaml
Due: generate-sigs

feat: add a slack channel for the blixt project
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

feat: add a slack channel for the KNI project
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update instrumentation.md
  contributors/devel/sig-instrumentation/instrumentation.md
Due: none

fix spelling
  contributors/devel/sig-instrumentation/instrumentation.md
Due: none

Remove incorrect apostrophe
  CONTRIBUTING.md
Due: none

generator: fix KEP list generation for Annual Reports
  generator/annual-report/sig_report.tmpl
  generator/app.go
Due: none

slack-config: Archive appscode slack
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

slack config: add Cozystack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

steering: remove funding repo
  committee-steering/README.md
  sigs.yaml
Due: generate-sigs

Update config.yaml
  communication/slack-config/sig-security/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Sidecar WG slack channel
  communication/slack-config/sig-node/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

sig-etcd: Add auger subproject
  sig-etcd/README.md
  sigs.yaml
Due: generate-sigs

Update sig-cli leads
  OWNERS_ALIASES
  sig-cli/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Update company for Yugo
  sig-cli/README.md
  sigs.yaml
Due: generate-sigs

add kni to schedule
  sig-list.md
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Fix containerized generation
  Makefile
  generator/README.md
  hack/verify.sh
Due: none

sig-architecture: add apisnoop subproject
  sig-architecture/README.md
  sigs.yaml
Due: generate-sigs

Fix integration-tests specific test
  contributors/devel/sig-testing/integration-tests.md
Due: none

Add a new requirement to org membership - updated gitdm!
  community-membership.md
Due: none

sig-apps: add lws subproject
  sig-apps/README.md
  sigs.yaml
Due: generate-sigs

Update sig testing charter.md
  sig-testing/charter.md
Due: none

Update sig-testing/charter.md
  sig-testing/charter.md
Due: none

Remove the APAC meeting from SIG-Scheduling
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
Due: generate-sigs

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
