Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

Fix typos in api_changes.md
  contributors/devel/sig-architecture/api_changes.md
Due: none

Trim trailing whitespaces in api_changes.md
  contributors/devel/sig-architecture/api_changes.md
Due: none

Update affiliation of palnabarun
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

add a policy on AI usage
  contributors/guide/pull-requests.md
Due: none

update SIG Security info
  sig-list.md
  sig-security/README.md
  sigs.yaml
Due: generate-sigs

Add a new contribex-leads Slack usergroup
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add Chad, Chris and Nabarun to zoom-admins Slack usergroup
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add Jason to github-admins
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update SIG Spotlight blogging guide
  communication/contributor-comms/blogging-resources/blog-guidelines.md
Due: none

Add documentation of feature gate MinCompatibilityVersion
  contributors/devel/sig-architecture/feature-gates.md
Due: none

Add Beta and Internal metric stability levels, update deprecation timelines
  contributors/devel/sig-instrumentation/metric-stability.md
Due: none

Add guidelines for metric graduation
  contributors/devel/sig-instrumentation/metric-instrumentation.md
Due: none

sig-network: add subproject for kubernetes-network-drivers
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

added links of calender,zoom,youtube playlist,and google docs
  sig-list.md
  sigs.yaml
  wg-ai-gateway/README.md
Due: generate-sigs

Updated README to remove test-infra owners link
  sig-testing/README.md
Due: none

Updated sigs.yaml to remove test-infra OWNER
  sigs.yaml
Due: generate-sigs

Updated links in sig-apps and sig-auth READMEs
  sig-apps/README.md
  sig-auth/README.md
Due: none

removed owner url from sigs.yaml
  sigs.yaml
Due: generate-sigs

Fixed broken link
  contributors/guide/contributor-cheatsheet/README.md
Due: none

broken link fix
  contributors/guide/contributor-cheatsheet/README.md
Due: none

Clarify that options can be set outside filters in OWNERS files
  contributors/guide/owners.md
Due: none

SIG-Docs: Update meeting recording link for the Korean team
  sig-docs/README.md
Due: none

wg-checkpoint-restore: update meetings frequency
  sig-list.md
  sigs.yaml
  wg-checkpoint-restore/README.md
Due: generate-sigs

Sign CNCF CLA
  README.md
Due: none

add missing newline at the end of README.md
  README.md
Due: none

remove unnecessary newline in README.md
  README.md
Due: none

Update release-notes.md
  contributors/guide/release-notes.md
Due: none

Update OWNERS
  .github/OWNERS
Due: none

Node: update main meeting zoom location
  sig-list.md
  sig-node/README.md
  sigs.yaml
Due: generate-sigs

Updated README to remove test-infra owners link (#8710)
  sig-testing/README.md
  sigs.yaml
Due: generate-sigs

Fix SIG Scheduling NA/Europe meeting time
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
Due: generate-sigs

docs: docs: add rikatz as gateway-api maintainer
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

logging: warn about logger.V().Error
  contributors/devel/sig-instrumentation/migration-to-structured-logging.md
Due: none

Remove broken external moderation links
  communication/moderation.md
Due: none
