Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

Add WG Workload Conformance creation proposal and charter
  wg-workload-conformance/charter.md
  wg-workload-conformance/proposal.md
Due: none

docs: remove deprecated kubetest instructions from conformance-tests.md
  contributors/devel/sig-architecture/conformance-tests.md
Due: none

docs: fix stale conformance doc example link
  contributors/devel/sig-architecture/conformance-tests.md
Due: none

docs: fix broken charter link for sig-cloud-provider
  sig-cloud-provider/README.md
  sigs.yaml
Due: generate-sigs

docs: fix malformed markdown link in wg-node-lifecycle charter
  wg-node-lifecycle/charter.md
Due: none

docs: fix broken elections subproject link
  elections/steering/documentation/README.md
Due: none

docs: fix broken relative link to API review process doc
  contributors/devel/sig-architecture/go_api_changes.md
Due: none

Fix dead weekly meetings link in first-contribution.md
  contributors/guide/first-contribution.md
Due: none

Fix two dead sig-release reference doc links
  contributors/devel/sig-release/kubernetes-versions.md
  contributors/devel/sig-release/release.md
Due: none

Add group for cloud-provider-openstack maintainers
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Fix inverted SPDY and WebSocket client guidance
  contributors/devel/sig-architecture/api-conventions.md
Due: none

wg-node-identity: add working group charter and registration
  OWNERS_ALIASES
  liaisons.md
  sig-autoscaling/README.md
  sig-cloud-provider/README.md
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
  wg-node-identity/README.md
  wg-node-identity/charter.md
Due: generate-sigs

sig-node: Add security profiles merger subproject
  sig-node/README.md
  sigs.yaml
Due: generate-sigs

Fix broken SIG Docs leadership link in annual-activities.md
  sig-docs/annual-activities.md
Due: none

Fix SIG Node link in sig-instrumentation charter to use its reference definition
  sig-instrumentation/charter.md
Due: none

Fix three dead relative links in mentor-guide.md
  mentoring/processes/mentor-guide.md
Due: none

Rename release-comms usergroup handle to avoid channel name collision
  communication/slack-config/sig-release/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/sig-release/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Removes release-comms usergroup per discussion.
  communication/slack-config/sig-release/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Remove stale instructions for deprecated e2e testing tools
  contributors/devel/sig-architecture/conformance-tests.md
  contributors/devel/sig-testing/e2e-tests-kubetest2.md
Due: none

Remove stray zero width spaces from a sig-cloud-provider zoom link
  sig-cloud-provider/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Fix relative path to the Contributor Comms charter
  communication/contributor-comms/blogging-resources/blog-guidelines.md
  communication/contributor-comms/blogging-resources/blogging-shadow-guide.md
Due: none

Fix missing protocol on the k8s.dev link in events-team comms README
  events/events-team/comms/README.md
Due: none

Rename haproxy-ingress channel to n42-gateway
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Remove dangling references to the deleted Regional Category Moderators section
  communication/moderation.md
  communication/moderators.md
Due: none

chore(sigs): move floreks to SIG-UI emeritus
  OWNERS_ALIASES
  sig-list.md
  sig-ui/README.md
  sigs.yaml
Due: generate-sigs

run make to regenerate docs
  sig-ui/README.md
  sigs.yaml
Due: generate-sigs

Use https instead of http for github.com and k8s.io links
  contributors/guide/README.md
  sig-contributor-experience/community-maintenance.md
Due: none

Create an orc-maintainers group
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

update documentation
  sig-cli/CONTRIBUTING.md
Due: none

Add back the PR sizing label
  sig-cli/CONTRIBUTING.md
Due: none

Direct users to sig-cli calls for finding their first issue Replace feature section with KEP link and contact details
  sig-cli/CONTRIBUTING.md
Due: none

Update contributor guide link
  sig-cli/CONTRIBUTING.md
Due: none

remove unused links
  sig-cli/CONTRIBUTING.md
Due: none

Apply suggestion from @soltysh
  sig-cli/CONTRIBUTING.md
Due: none

add removed note
  sig-cli/CONTRIBUTING.md
Due: none

Fix godep.md link mislabeled as Go Modules in devel guide index
  contributors/devel/README.md
Due: none

rename prr freeze to kep readiness deadline
  contributors/devel/sig-release/release.md
  sig-architecture/production-readiness.md
  sig-node/sig-node-kep-wrangler-program.md
Due: none

Move myself to emeritus
  OWNERS_ALIASES
  sig-instrumentation/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs
