Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

Update README.md
  sig-multicluster/README.md
Due: none

add a README note for MAINTAINERS_LIST
  generator/README.md
Due: none

WIP: generate maintainers table for cncf
  .gitignore
  generator/app.go
Due: none

sort by gh handle for stable generation
  generator/app.go
Due: none

Update sig-scheduling leadership
  OWNERS_ALIASES
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
Due: generate-sigs

developements-#8378-Added installation instructions for Alpine Linux, Clear Linux, and Solus
  contributors/devel/development.md
Due: none

Fixed link to SIG Node CI charter doc
  sig-node/CONTRIBUTING.md
Due: none

Fix [issues] link in `sig-cli/CONTRIBUTING.md`
  sig-cli/CONTRIBUTING.md
Due: none

WG Batch: clarify regular meeting details
  sig-list.md
  sigs.yaml
  wg-batch/README.md
Due: generate-sigs

delete defunct godeps docs
  contributors/devel/sig-architecture/godep.md
Due: none

SIG Architecture 2024 annual report
  sig-architecture/annual-report-2024.md
Due: none

fix: update the mailing list of sig-scheduling
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
Due: generate-sigs

Update README.md
  sig-contributor-experience/README.md
Due: none

Updating meeting time for SIG ContribEx
  sig-contributor-experience/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

relax help-wanted guidelines
  contributors/guide/help-wanted.md
Due: none

Update hub-cluster-position-statement.md
  sig-multicluster/hub-cluster-position-statement.md
Due: none

Update README.md with Vince's affiliation
  sig-cluster-lifecycle/README.md
Due: none

wg-serving: change meeting frequency to biweekly
  wg-serving/README.md
Due: none

Update
  sig-list.md
  sigs.yaml
  wg-serving/README.md
Due: generate-sigs

Introduce Node Lifecycle WG
  OWNERS_ALIASES
  communication/slack-config/channels.yaml
  liaisons.md
  sig-apps/README.md
  sig-autoscaling/README.md
  sig-cli/README.md
  sig-cloud-provider/README.md
  sig-cluster-lifecycle/README.md
  sig-list.md
  sig-network/README.md
  sig-node/README.md
  sig-scheduling/README.md
  sig-storage/README.md
  sigs.yaml
  wg-node-lifecycle/OWNERS
  wg-node-lifecycle/README.md
  wg-node-lifecycle/charter.md
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Update committee-security-response/README.md
  committee-security-response/README.md
Due: none

Update sig-list.md
  sig-list.md
Due: none

Update sigs.yaml
  sigs.yaml
Due: generate-sigs

pull-requests.md: add guidance for large and/or automatic edits
  contributors/guide/pull-requests.md
Due: none

new: add kubetail and its usergroup
  communication/slack-config/channels.yaml
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

[tempelis] add slack member id for gh user natherz97
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Adding Joel Speed
  OWNERS_ALIASES
  sig-cloud-provider/README.md
  sigs.yaml
Due: generate-sigs

update devfile team members
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add permissions for v1.34 release team leads and subteam leads
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Remove Taylor Dolezal from moderators and administrators lists in communication/moderators.md
  communication/moderators.md
Due: none

Trigger CLA signing
  README.md
Due: none

sig-cl: update neolit123's affiliation
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Update steering readme
  committee-steering/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Create #inference-perf slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Describe ratcheting validation
  contributors/devel/sig-architecture/api_changes.md
Due: none

Update sig-windows leads
  OWNERS_ALIASES
  sig-windows/README.md
  sigs.yaml
Due: generate-sigs

sig-api-machinery: add crdify subproject
  sig-api-machinery/README.md
  sigs.yaml
Due: generate-sigs
