Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

Update links in WG Checkpoint Restore charter
  wg-checkpoint-restore/charter.md
Due: none

Create a WG charter template
  committee-steering/governance/wg-charter-template.md
Due: none

Add meeting info and owners file
  sig-list.md
  sigs.yaml
  wg-workload-aware-scheduling/OWNERS
  wg-workload-aware-scheduling/README.md
  wg-workload-aware-scheduling/charter.md
Due: generate-sigs

Add Andrey Velichkevich as co-chair
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-workload-aware-scheduling/README.md
Due: generate-sigs

Address review feedback for GH moderation guidelines
  github-management/github-moderation.md
Due: none

Update message configuration for rejection notifications
  communication/slack-careers-workflow-setup.md
Due: none

Document tooling and architecture for Slack workflows
  communication/slack-careers-workflow-setup.md
Due: none

Revise Slack job posting and resume submission criteria
  communication/slack-guidelines.md
Due: none

Update communication/slack-guidelines.md
  communication/slack-guidelines.md
Due: none

Add information about triaging open issues
  contributors/guide/contributing.md
Due: none

Rename sig-cloud-provider CHARTER.md to charter.md
  sig-cloud-provider/charter.md
Due: none

Update mailing list
  sig-list.md
  sigs.yaml
  wg-workload-aware-scheduling/README.md
Due: generate-sigs

Add WG Node Lifecycle to the stackholders
  wg-workload-aware-scheduling/charter.md
Due: none

Update moderators
  communication/moderators.md
Due: none

update autoscaling TL
  OWNERS_ALIASES
  sig-autoscaling/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Separate Slack admin instructions from the rest of slack guidelines
  communication/slack-guidelines.md
  communication/slack-migration-faq.md
  communication/slack-moderation.md
Due: none

fixup! contrib guide: Describe how to resolve merge conflicts
  contributors/guide/pull-requests.md
Due: none

distinguish CRD vs built-in pointer guidance in api-conventions
  contributors/devel/sig-architecture/api-conventions.md
Due: none

simplify resume submission text and fix formatting
  communication/slack-guidelines.md
Due: none

node_e2e advanced setup
  contributors/devel/sig-node/e2e-node-tests.md
Due: none

Update slack channel name for WG WAS
  communication/slack-config/channels.yaml
  communication/slack-config/restrictions.yaml
  communication/slack-config/sig-scheduling/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

events: add deprecation notice for long discountinued monthly community meeting
  events/community-meeting.md
Due: none

moderators: Sync list of Zoom and Youtube moderators
  communication/moderators.md
Due: none

Update WG meeting links and times
  sig-list.md
  sigs.yaml
  wg-workload-aware-scheduling/README.md
Due: generate-sigs

update schedule for 2026 steering election
  elections/steering/2026/README.md
  elections/steering/2026/election.yaml
Due: none

add election_desc.md
  elections/steering/2026/election_desc.md
Due: none

add nomination-template.md
  elections/steering/2026/nomination-template.md
Due: none

add voters.yaml
  elections/steering/2026/voters.yaml
Due: none

add election.yaml
  elections/steering/2026/election.yaml
Due: none

update steering election readme with current steering election to 2026
  elections/steering/README.md
Due: none

change voters.md to voters.yaml in readme
  elections/steering/2026/README.md
Due: none

add infra and comms liaisons
  elections/steering/2026/README.md
Due: none

update announcement date per public steering meeting
  elections/steering/2026/README.md
Due: none

Update meeting days
  sig-list.md
  sigs.yaml
  wg-workload-aware-scheduling/README.md
Due: generate-sigs

Remove Disruptive tests tag from e2e documentation
  contributors/devel/sig-testing/e2e-tests.md
  contributors/devel/sig-testing/writing-good-e2e-tests.md
Due: none

Add WG Checkpoint Restore bi-weekly meeting slot
  sig-list.md
  sigs.yaml
  wg-checkpoint-restore/README.md
Due: generate-sigs

sig-architecture: document Go API guidelines
  contributors/devel/sig-architecture/go_api_changes.md
Due: none

add coderabbit as an approved tool
  github-management/ai-code-review-tools.md
Due: none

Improve user addition steps with direct links
  communication/contributor-comms/automation/announcement-guidelines.md
Due: none

Document deprecating behavior that has no feature gate
  contributors/devel/sig-architecture/feature-gates.md
Due: none
