Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

Fix typo in a URL
  sig-docs/README.md
  sigs.yaml
Due: generate-sigs

Update README.md
  wg-iot-edge/README.md
Due: none

coding-conventions.md: Update links
  contributors/guide/coding-conventions.md
Due: none

sig-testing: annual report 2023
  sig-testing/annual-report-2023.md
Due: none

sig-k8s-infra: Annua report 2023
  sig-k8s-infra/annual-report-2023.md
Due: none

first-contribution: add sig-node link
  contributors/guide/first-contribution.md
Due: none

Fix broken OWNER links in sig-etcd README
  sig-etcd/README.md
  sigs.yaml
Due: generate-sigs

add tracing instrumentation documentation
  contributors/devel/sig-instrumentation/metric-instrumentation.md
  contributors/devel/sig-instrumentation/trace-instrumentation.md
Due: none

address feedback
  contributors/devel/sig-instrumentation/trace-instrumentation.md
Due: none

Add link to e2e_node test docs
  contributors/devel/sig-testing/e2e-tests.md
Due: none

typo
  contributors/devel/sig-instrumentation/trace-instrumentation.md
Due: none

Add etcd-operator subproject to sig-etcd
  communication/slack-config/channels.yaml
  sig-etcd/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Update community-membership.md
  community-membership.md
Due: none

docs: update events lead handbook
  events/events-team/events-lead.md
Due: none

Add sig-api-machinery-storageversion-dev channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

This PR updates the required fields in 2023 annual report of sig-cli
  sig-cli/annual-report-2023.md
Due: none

Update CAPV meeting notes links
  sig-cluster-lifecycle/README.md
  sigs.yaml
Due: generate-sigs

add document about how to e2e that testing the specified modules
  contributors/devel/sig-testing/e2e-tests-kubetest2.md
Due: none

sig-cloud-provider: move andrewsykim and nckturner to emeritus status, add elmiko as TL
  OWNERS_ALIASES
  sig-cloud-provider/README.md
  sigs.yaml
Due: generate-sigs

Update K8s DP WG annual report 2023
  wg-data-protection/annual-report-2023.md
Due: none

Update DP WG annual report 2023
  wg-data-protection/annual-report-2023.md
Due: none

New update to SIG Storage 2023 report
  sig-storage/annual-report-2023.md
Due: none

Add terraform-kops slack channel.
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update CLA.md
  CLA.md
Due: none

Added hydrophone office hours
  sig-list.md
  sig-testing/README.md
  sigs.yaml
Due: generate-sigs

Archive wg-iot-edge
  OWNERS_ALIASES
  archive/wg-iot-edge/OWNERS
  archive/wg-iot-edge/README.md
  archive/wg-iot-edge/annual-report-2022.md
  archive/wg-iot-edge/annual-report-2023.md
  archive/wg-iot-edge/whitepapers/edge-security-challenges/README.md
  liaisons.md
  sig-list.md
  sig-multicluster/README.md
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Update sig-cli leads
  OWNERS_ALIASES
  sig-cli/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

adding wg-serving channel ahead of approval to enable conversation early
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

sig-network: add kube-network-policies under network-policy subproject
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Added a note to CLA so that begginers can understand it quickly.
  CLA.md
Due: none

SIG-Autoscaling Leads Update
  OWNERS_ALIASES
  sig-autoscaling/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

SIG-UI 2023 Annual Report
  sig-ui/CONTRIBUTING.md
  sig-ui/annual-report-2023.md
  sig-ui/charter.md
  sigs.yaml
Due: generate-sigs

regenerate README.md
  sig-list.md
  sig-ui/README.md
  sig-ui/annual-report-2023.md
  sigs.yaml
Due: generate-sigs

update meetings note
  sig-list.md
  sig-ui/README.md
  sigs.yaml
Due: generate-sigs

sig-release: Add inaugural subproject leads
  sig-release/README.md
  sigs.yaml
Due: generate-sigs

sig-storage: add external-snapshot-metadata as new sub-project
  sig-storage/README.md
  sigs.yaml
Due: generate-sigs

sig-storage: remove container-object-storage-interface-csi-adapter for archival
  sig-storage/README.md
  sigs.yaml
Due: generate-sigs

Update capi v1.8 release team members
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
