Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

appeases CI
  sig-release/README.md
Due: none

docs(mentoring): add hugo headers to nco documentation
  mentoring/new-contributor-orientation/README.md
  mentoring/new-contributor-orientation/nco-host-handbook.md
  mentoring/new-contributor-orientation/nco-lead-handbook.md
Due: none

archive wg-policy slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

wg-structured-logging: archive WG
  OWNERS_ALIASES
  archive/wg-structured-logging/README.md
  archive/wg-structured-logging/annual-report-2021.md
  archive/wg-structured-logging/annual-report-2022.md
  archive/wg-structured-logging/annual-report-2023.md
  archive/wg-structured-logging/annual-report-2024.md
  archive/wg-structured-logging/charter.md
  liaisons.md
  sig-api-machinery/README.md
  sig-architecture/README.md
  sig-cloud-provider/README.md
  sig-instrumentation/README.md
  sig-list.md
  sig-network/README.md
  sig-node/README.md
  sig-scheduling/README.md
  sig-storage/README.md
  sigs.yaml
  wg-structured-logging/annual-report-2025.md
Due: generate-sigs

Backend agnostic wording re: OCI
  contributors/devel/sig-node/kubelet.md
Due: none

Wording of what OCI does
  contributors/devel/sig-node/kubelet.md
Due: none

Formatting
  contributors/devel/sig-node/kubelet.md
Due: none

Add WG AI Integration 2025 annual report
  sig-list.md
  sigs.yaml
  wg-ai-integration/README.md
  wg-ai-integration/annual-report-2025.md
Due: generate-sigs

Add guidelines for metric graduation
  contributors/devel/sig-instrumentation/metric-instrumentation.md
  contributors/devel/sig-instrumentation/metric-stability.md
Due: none

Update SIG diagram to reflect current community groups
  SIG-diagram.png
  SIG-diagram.svg
Due: none

update capo community calls timings
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Change Joaquim Rocha's affiliation
  sig-list.md
  sig-ui/README.md
  sigs.yaml
Due: generate-sigs

Add info about Agent Sandbox meetings
  sig-apps/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Added H2 2025 activities
  sig-multicluster/annual-report-2025.md
Due: none

Formatting/organization
  sig-multicluster/annual-report-2025.md
Due: none

add sig cloud provider 2025 report
  sig-cloud-provider/annual-report-2025.md
Due: none

Update sig-multicluster/annual-report-2025.md
  sig-multicluster/annual-report-2025.md
Due: none

wg-structured-logging: archive WG
  OWNERS_ALIASES
  archive/wg-structured-logging/README.md
  archive/wg-structured-logging/annual-report-2021.md
  archive/wg-structured-logging/annual-report-2022.md
  archive/wg-structured-logging/annual-report-2023.md
  archive/wg-structured-logging/annual-report-2024.md
  archive/wg-structured-logging/annual-report-2025.md
  archive/wg-structured-logging/charter.md
  liaisons.md
  sig-api-machinery/README.md
  sig-architecture/README.md
  sig-cloud-provider/README.md
  sig-instrumentation/README.md
  sig-list.md
  sig-network/README.md
  sig-node/README.md
  sig-scheduling/README.md
  sig-storage/README.md
  sigs.yaml
  wg-structured-logging/annual-report-2025.md
Due: generate-sigs

sig-ui: Update annual report for 2025
  sig-ui/annual-report-2025.md
Due: none

SIG-Scheduling annual report 2025
  sig-scheduling/annual-report-2025.md
Due: none

sig node: update youtube uploading instructions
  sig-node/CONTRIBUTING.md
Due: none

added prerequisite for youtube automation
  communication/youtube/youtube-publish-automation.md
  communication/youtube/zapier-access-for-zoom.png
  communication/youtube/zapier-workflow-for-k8s-community-youtube.png
Due: none

Update sig-scheduling/annual-report-2025.md
  sig-scheduling/annual-report-2025.md
Due: none

more highlighted works
  sig-scheduling/annual-report-2025.md
Due: none

Remove occurences of Defunc Community Meeting
  committee-code-of-conduct/governance/onboarding-offboarding.md
  communication/README.md
  communication/youtube/youtube-guidelines.md
  communication/zoom-guidelines.md
  contributors/guide/non-code-contributions.md
  events/community-meeting.md
  events/events-team/best-practices.md
  mentoring/programs/mentoring-lead.md
Due: none

Add comments for sig-wg-lc
  sig-wg-lifecycle.md
Due: none

Update SIG Storage Annual Report 2025
  sig-storage/annual-report-2025.md
Due: none

Update DP WG wqannual report 2025
  wg-data-protection/annual-report-2025.md
Due: none

sig-cl: fill annual report for 2025
  sig-cluster-lifecycle/annual-report-2025.md
Due: none

Add Patrick as tech lead for sig-instrumentation
  OWNERS_ALIASES
  sig-instrumentation/README.md
  sigs.yaml
Due: generate-sigs

WG etcd-operator annual report of 2025
  wg-etcd-operator/annual-report-2025.md
Due: none

Add 2025 annual report for wg-device-management
  wg-device-management/annual-report-2025.md
Due: none

add Rey Lejano as SIG Docs TL
  sig-docs/README.md
  sigs.yaml
Due: generate-sigs

WG Batch: add 2025 annual report
  wg-batch/annual-report-2025.md
Due: none

WG Serving 2025 Annual Report
  wg-serving/annual-report-2025.md
Due: none
