Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

Add AI code review tools evaluation policy
  github-management/ai-code-review-tools.md
Due: none

add gitHub actions security policy requiring SHA pinning
  github-management/github-actions-policy.md
Due: none

Update 2025 Annual Report with initiatives and updates
  sig-api-machinery/annual-report-2025.md
Due: none

docs: add declarative validation patterns for feature-gates.md
  contributors/devel/sig-architecture/feature-gates.md
Due: none

docs: updates to sig net leadership
  OWNERS_ALIASES
  sig-list.md
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

updates AI policy
  contributors/guide/pull-requests.md
Due: none

Document repository transfer process in org-owners-guide
  github-management/org-owners-guide.md
Due: none

Onboard stlaz to SRC
  OWNERS_ALIASES
  committee-security-response/README.md
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
  sig-list.md
  sigs.yaml
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Update SIG Scheduling NA/Europe meeting time
  sig-list.md
  sig-scheduling/README.md
  sigs.yaml
Due: generate-sigs

small spacing change to avoid awkward linebreak
  contributors/guide/pull-requests.md
Due: none

archive ingress-nginx and ingate slack channels
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update contributor AI usage and disclosure policy (#8918)
  contributors/guide/pull-requests.md
Due: none

Update sig scale README.md
  sig-scalability/README.md
Due: none

Sig scale 2025 report
  sig-list.md
  sig-scalability/README.md
  sig-scalability/annual-report-2025.md
  sigs.yaml
Due: generate-sigs

Add tip for copilot: disable includeCoAuthoredBy
  contributors/guide/pull-requests.md
Due: none

sig-node: add nvidia-dra-driver-gpu subproject
  sig-node/README.md
  sigs.yaml
Due: generate-sigs

Add #aicr Slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update github-management/org-owners-guide.md
  github-management/org-owners-guide.md
Due: none

Add channels for Flannel project
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

sigs.yaml: remove co-lead
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-checkpoint-restore/README.md
Due: generate-sigs

Add bot rules and do general cleanup on Slack Guidelines
  communication/slack-guidelines.md
Due: none

WG Batch change meeting time
  sig-list.md
  sigs.yaml
  wg-batch/README.md
Due: generate-sigs

Add Andrey Velichkevich as WG C/R lead
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-checkpoint-restore/README.md
Due: generate-sigs

Disband WG AI Integration
  OWNERS_ALIASES
  archive/wg-ai-integration/OWNERS
  archive/wg-ai-integration/README.md
  archive/wg-ai-integration/annual-report-2025.md
  archive/wg-ai-integration/charter.md
  communication/slack-config/channels.yaml
  liaisons.md
  sig-api-machinery/README.md
  sig-apps/README.md
  sig-architecture/README.md
  sig-auth/README.md
  sig-cli/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Run make
  sig-api-machinery/README.md
Due: none

sig-node: rename nvidia-dra-driver-gpu to dra-driver-nvidia-gpu
  sig-node/README.md
  sigs.yaml
Due: generate-sigs

add admission-policies subproject to sig-architecture
  sig-architecture/README.md
  sigs.yaml
Due: generate-sigs

sig-network: add node-local-dns under kube-dns project
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Update e2e test label definitions for FeatureGate and NodeConformance
  contributors/devel/sig-testing/e2e-tests.md
Due: none

docs: make gate-agnostic validation the default pattern for feature-gated fields
  contributors/devel/sig-architecture/feature-gates.md
Due: none

docs: add documentation for adding a new API fields with validation using DV tags only and testing
  contributors/devel/sig-architecture/api_changes.md
Due: none

docs: add feature gate wiping section
  contributors/devel/sig-architecture/api_changes.md
Due: none

sig-scheduling: add new subproject - scheduler-library
  sig-scheduling/README.md
  sigs.yaml
Due: generate-sigs

adds example disclosure
  contributors/guide/pull-requests.md
Due: none

Adds style guidance for graduation stages
  contributors/guide/style-guide.md
Due: none

Add karpenter-gcp Slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Create sig-network-dranet slack channel
  communication/slack-config/sig-network/config.yaml
  sig-network/README.md
  sigs.yaml
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply
