Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

Update contributor comms OWNERS
  communication/contributor-comms/OWNERS
Due: none

Update Contributor comms OWNERS
  communication/contributor-comms/OWNERS
Due: none

Steering 2023 Candidate Bio for Patrick Ohly
  elections/steering/2023/candidate-pohly.md
Due: none

rayudu added a message
  README.md
Due: none

add names.txt
  names.txt
Due: none

Correcting GitHub username for election exception
  elections/steering/2023/voters.yaml
Due: none

elections/steering/2023: Add Stephen Augustus (justaugustus) bio
  elections/steering/2023/candidate-justaugustus.md
Due: none

Add bio for candidate ameukam
  elections/steering/2023/candidate-ameukam.md
Due: none

Voting exceptions
  elections/steering/2023/voters.yaml
Due: none

Create candidate-natalisucks.md
  elections/steering/2023/candidate-natalisucks.md
Due: none

Create 2023 steering election profile for detiber
  elections/steering/2023/candidate-detiber.md
Due: none

slack-config: add Madhav and Priyanka to GH Admin slack usergroup
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update companies for chair/tech lead and our meeting cadence
  sig-docs/README.md
Due: none

Update sig-list.md with new meeting cadence and chair/TL companies
  sig-list.md
Due: none

Update sigs.yaml with new meeting candence and chair/TL companies
  sigs.yaml
Due: generate-sigs

Fixing image links
  communication/contributor-comms/automation/announcement-guidelines.md
Due: none

Adding approved exceptions
  elections/steering/2023/voters.yaml
Due: none

Create SIG-etcd
  OWNERS_ALIASES
  liaisons.md
  sig-etcd/OWNERS
  sig-etcd/README.md
  sig-etcd/charter.md
  sig-etcd/vision.md
  sigs.yaml
Due: generate-sigs

Remove unnecessary eviations
  sig-etcd/charter.md
Due: none

update charter.md, vision.md and README.md to address comments
  sig-etcd/README.md
  sig-etcd/charter.md
  sig-etcd/vision.md
  sigs.yaml
Due: generate-sigs

Update charter.md to remove OWNERS file from deviation
  sig-etcd/charter.md
Due: none

Update sig-etcd/charter.md
  sig-etcd/charter.md
Due: none

update sig-etcd with new chairs
  OWNERS_ALIASES
  sig-etcd/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Update charter.md
  sig-etcd/charter.md
Due: none

Update charter.md to include implicit k8s-etcd-contract as part of sig-etcd's responsibility in a sentence, instead of a linked google doc
  sig-etcd/charter.md
Due: none

Add dependency update example for cherry-picks
  contributors/devel/sig-release/cherry-picks.md
Due: none

update prod readiness docs for submitting kep for PRR
  sig-architecture/production-readiness.md
Due: none

update 1.29 RT Lead/Shadows/EA info in slack
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

update wg-lts agenda link and meeting recordings link
  sigs.yaml
  wg-lts/README.md
Due: generate-sigs

Add Seokho as lead
  sig-docs/localization-subproject/README.md
Due: none

Update sig-etcd/vision.md
  sig-etcd/vision.md
Due: none

sig-cloud-provider: add cloud-pv-admission-labeler as cloud-provider-extraction-migration subproject
  sig-cloud-provider/README.md
  sigs.yaml
Due: generate-sigs

update etcd meeting link, time and youtube link
  sig-etcd/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

set up SIG-etcd (#7372)
  OWNERS_ALIASES
  liaisons.md
  sig-etcd/OWNERS
  sig-etcd/README.md
  sig-etcd/charter.md
  sig-etcd/vision.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Update devfile-devs group
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Adding approved voter exception
  elections/steering/2023/voters.yaml
Due: none

Update voters.yaml
  elections/steering/2023/voters.yaml
Due: none

Update channels.yaml
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply
