Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

fix spell
  elections/steering/2026/candidate-medyagh.md
Due: none

Add jackfrancis bio (Steering Committee 2026)
  elections/steering/2026/candidate-jackfrancis.md
Due: none

update company affiliation for nirrozenbaum
  sig-list.md
  sigs.yaml
  wg-ai-gateway/README.md
Due: generate-sigs

Add #openperouter slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add developer guide for node declared features
  contributors/devel/README.md
  contributors/devel/sig-architecture/feature-gates.md
  contributors/devel/sig-node/node-declared-features.md
Due: none

[SIG Autoscaling] Add sub-project donation requirements (#9079)
  sig-autoscaling/README.md
  sigs.yaml
Due: generate-sigs

Add stmcginnis bio for 2026 steering
  elections/steering/2026/candidate-stmcginnis.md
Due: none

add 2026 steering committee nomination for elmiko
  elections/steering/2026/candidate-elmiko.md
Due: none

update documentation nomination template with 2026 version
  elections/steering/documentation/template/nomination-template.md
Due: none

Adds kueue release channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

add voters from approved exception requests
  elections/steering/2026/voters.yaml
Due: none

offboard xmcqueen
  OWNERS_ALIASES
  sig-list.md
  sig-testing/README.md
  sigs.yaml
Due: generate-sigs

Update candidate statement for Kaslin Fields
  elections/steering/2026/candidate-kaslin.md
Due: none

add eligible voters from CHAOSS CollectOSS database
  elections/steering/2026/voters.yaml
Due: none

add org memberr as eligible voters
  elections/steering/2026/voters.yaml
Due: none

WG-Batch: Weekly meeting
  sig-list.md
  sigs.yaml
  wg-batch/README.md
Due: generate-sigs

Update candidate bio
  elections/steering/2026/candidate-priyankasaggu11929.md
Due: none

Update candidate bios
  elections/steering/2026/candidate-elmiko.md
  elections/steering/2026/candidate-jackfrancis.md
  elections/steering/2026/candidate-janetkuo.md
  elections/steering/2026/candidate-kaslin.md
  elections/steering/2026/candidate-priyankasaggu11929.md
  elections/steering/2026/candidate-stmcginnis.md
  hack/verify-steering-election-tool.go
  hack/verify-steering-election-tool_test.go
Due: none

update steering candidate bio - priyankasaggu11929
  elections/steering/2026/candidate-priyankasaggu11929.md
Due: none

update serenity611 to Serenity611 in voters.yaml
  elections/steering/2026/voters.yaml
Due: none

update 2026 steering election eligibility
  elections/steering/2026/README.md
  elections/steering/2026/election.yaml
  elections/steering/2026/election_desc.md
Due: none

revert nomination templates to use bulleted list
  elections/steering/2026/nomination-template.md
  elections/steering/documentation/template/nomination-template.md
Due: none

wg-node-identity: add working group charter and registration
  OWNERS_ALIASES
  sig-autoscaling/README.md
  sig-cloud-provider/README.md
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
  wg-node-identity/README.md
  wg-node-identity/charter.md
Due: generate-sigs

sig-windows: move aravindhp to emeritus
  OWNERS_ALIASES
  sig-list.md
  sig-windows/README.md
  sigs.yaml
Due: generate-sigs

sig-windows: onboard jrvaldes as co-chair
  OWNERS_ALIASES
  sig-list.md
  sig-windows/README.md
  sigs.yaml
Due: generate-sigs

Alphabetical ordering.
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update gophercloud maintainers
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Create an orc-maintainers group
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add kueue release management channel (#9109)
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add #kube-vm-operator Slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update anupamghosh to AnupamGhosh, jeffwan to Jeffwan, TommyStarK to TommyStar
  elections/steering/2026/voters.yaml
Due: none

Add new channel for organizing k8s presence at Kubecon
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Rename #kube-bind Slack channel to #kbind-dev
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Fix typo: fsmunzo to fsmunoz in release-comms usergroup
  communication/slack-config/sig-release/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Marly Salazar affiliation from Independent to Edera
  sig-cli/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Update WG etcd-operator's zoom meeting URL
  sig-list.md
  sigs.yaml
  wg-etcd-operator/README.md
Due: generate-sigs

Update SIG-Storage leads
  OWNERS_ALIASES
  sig-list.md
  sig-storage/README.md
  sigs.yaml
Due: generate-sigs

Shorten release-comms usergroup description to fit Slack limit
  communication/slack-config/sig-release/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update release-team-leads Slack group members for v1.38 release cycle
  communication/slack-config/sig-release/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
