Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

docs: add docs around when to use declarative vs hand-Written validation and when to create a new declarative validation tag
  contributors/devel/sig-architecture/api_changes.md
Due: none

siddhant added a message
  README.md
Due: none

siddhant added someting
  fames.txt
Due: none

docs: update declarative apis and linters meeting recordings url
  sig-api-machinery/README.md
  sigs.yaml
Due: generate-sigs

chore: Update SIG Instrumentation call timings
  sig-instrumentation/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Update AI Integration WG meeting cadence to bi-weekly
  sigs.yaml
  wg-ai-integration/README.md
Due: generate-sigs

Run make to generate
  sig-list.md
Due: none

prod-readiness: remove mentions of kepctl
  sig-architecture/production-readiness.md
Due: none

update autoscaling TL
  OWNERS_ALIASES
  sig-autoscaling/README.md
  sigs.yaml
Due: generate-sigs

sig-network: document new wg-ai-gateway repo owners
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

[Steering 2025] Add voters from approved exception requests - Sep 28
  elections/steering/2025/voters.yaml
Due: none

Added comment
  elections/steering/2025/voters.yaml
Due: none

Add #agent-sandbox Slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update sig-network chairs from Tim to Bowei
  OWNERS_ALIASES
  sig-list.md
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Update subproject-responsibilities.md (change word: guise -> purview)
  github-management/subproject-responsibilities.md
Due: none

Fix: Typo, remove superfluous A
  github-management/permissions.md
Due: none

k8s-infra: Rotate Leads
  sigs.yaml
Due: generate-sigs

k8s-infra: rotate sig leads for Slack
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

make generated executed
  OWNERS_ALIASES
  sig-k8s-infra/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Update zoom-admins slack usergroup
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update WG Serving meeting recordings link
  sigs.yaml
  wg-serving/README.md
Due: generate-sigs

[Steering 2025] Add voters from approved exception requests - Oct 5
  elections/steering/2025/voters.yaml
Due: none

Retire channels related to self-assessment projects that have completed
  communication/slack-config/sig-security/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add documentation for re-opened SIG Security Self-Assessments subproject!
  sig-security/README.md
  sigs.yaml
Due: generate-sigs

[fix:tempelis] archive sig-security-assess* slack channels
  communication/slack-config/sig-security/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

sig-autoscaling: add karpenter-provider-ibm-cloud repo to karpenter subproject
  sig-autoscaling/README.md
  sigs.yaml
Due: generate-sigs

Introduce WG Checkpoint Restore
  OWNERS_ALIASES
  liaisons.md
  sig-apps/README.md
  sig-auth/README.md
  sig-list.md
  sig-node/README.md
  sig-scheduling/README.md
  sigs.yaml
  wg-checkpoint-restore/README.md
  wg-checkpoint-restore/charter.md
Due: generate-sigs

docs: update for kep wrangling status reporting
  sig-node/sig-node-kep-wrangler-program.md
Due: none

Update meeting to biweekly for AI Conformance WG
  sig-list.md
  sigs.yaml
  wg-ai-conformance/README.md
Due: generate-sigs

remove mattia
  sigs.yaml
Due: generate-sigs

promote Lionel to lead on multi network
  sigs.yaml
Due: generate-sigs

replace Andrew and Yang with Surya and Nadia
  sigs.yaml
Due: generate-sigs

make generate
  sig-network/README.md
Due: none

sig-network: add kindnet subproject
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Add joaquimrocha as SIG UI lead
  OWNERS_ALIASES
  sig-list.md
  sig-ui/README.md
  sigs.yaml
Due: generate-sigs

Update candidate bio with gh link
  elections/steering/2025/candidate-soltysh.md
Due: none

Archive spark-operator Slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

sig-scheduling: document dra-driver-topology repo
  sig-scheduling/README.md
  sigs.yaml
Due: generate-sigs

[tempelis] fix typo in sig-security config.yaml
  communication/slack-config/sig-security/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
