Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

edit README to remove reference to User Groups as an official K8s group type
  README.md
Due: none

Update communication/youtube/youtube-guidelines.md
  communication/youtube/youtube-guidelines.md
Due: none

Add cri-dockerd to channels.yaml
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

docs: general updates for sig network 2022 report
  sig-network/annual-report-2022.md
Due: none

docs: add GAMMA project to 2022 sig network report
  sig-network/annual-report-2022.md
Due: none

deprecated comms event role
  communication/contributor-comms/README.md
  communication/contributor-comms/role-handbooks/[Deprecated]Comms-Events.md
  sig-contributor-experience/README.md
Due: none

Add Slack channel for kustomize training cohort
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

fixed test failing
  sigs.yaml
Due: generate-sigs

Add contact info for CAAPH
  sig-cluster-lifecycle/README.md
  sigs.yaml
Due: generate-sigs

Add Krkn slack channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

chore: typo fixing - Github to GitHub
  archive/sig-configuration/README.md
  events/2017/12-contributor-summit/breaking-up-the-monolith.md
Due: none

Disambiguate timeline for candidate notifications
  elections/steering/2023/README.md
  elections/steering/documentation/README.md
  elections/steering/documentation/template/README.md
Due: none

2023 Steering Election setup
  elections/README.md
  elections/steering/2023/README.md
  elections/steering/2023/election-template.yaml
  elections/steering/2023/election.yaml
  elections/steering/2023/election_desc.md
  elections/steering/documentation/template/README.md
  elections/steering/documentation/template/election_desc.md
Due: none

Setting 2023 as the year for the Steering election
  elections/steering/2023/README.md
  elections/steering/2023/voters.yaml
Due: none

Additional updates from 2022 to 2023
  elections/steering/README.md
  elections/steering/documentation/README.md
  elections/steering/documentation/template/README.md
  elections/steering/documentation/template/voters.yaml
Due: none

chore: add magnum-cluster-api channel
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

chore: update gateway API code jam frequency
  sig-list.md
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

Renaming file to prevent early launch of election
  elections/steering/2023/election-template.yaml
Due: none

Reorganize conventions for numeric fields
  contributors/devel/sig-architecture/api-conventions.md
Due: none

Adjusting seasonal language to apply globally
  elections/steering/2023/election_desc.md
  elections/steering/documentation/template/election_desc.md
Due: none

cocc: update election procedure
  committee-code-of-conduct/election.md
Due: none

Clarify election year
  elections/steering/2023/election_desc.md
Due: none

Renaming file to soft-launch system
  elections/steering/2023/election.yaml
Due: none

sig-cloud-provider: Add equinix-metal subproject
  sig-cloud-provider/README.md
  sigs.yaml
Due: generate-sigs

Complete draft of Contributor Social handbook.
  events/events-team/content/social-content.md
Due: none

[sig-node] mothball old scrub slack channel and create a fresh one for CI subgroup
  communication/slack-config/sig-node/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Testing whether the voter list must be non-empty
  elections/steering/2023/voters.yaml
Due: none

Update communication/slack-config/sig-node/config.yaml
  communication/slack-config/sig-node/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Revert "Testing whether the voter list must be non-empty"
  elections/steering/2023/voters.yaml
Due: none

Update CAPI v1.6 RT usergroup members list
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Use correct Anywhere on Earth dates
  elections/steering/2023/election.yaml
Due: none

Use AoE for template
  elections/steering/documentation/template/election-template.yaml
Due: none

sig-auth: 2022 annual report
  sig-auth/annual-report-2022.md
Due: none

Update the incorrect links in contributors/devel/running-locally.md
  contributors/devel/running-locally.md
Due: none

The K8s election no longer uses email ballots.
  elections/steering/2023/README.md
  elections/steering/documentation/template/README.md
Due: none

Updated the link to permalink in community docs
  contributors/devel/sig-cli/kubectl-conventions.md
  contributors/devel/sig-scheduling/scheduling_code_hierarchy_overview.md
Due: none

removed storyteller role
  communication/contributor-comms/README.md
  communication/contributor-comms/blogging-resources/README.md
  communication/contributor-comms/role-handbooks/[Deprecated]Comms-Events.md
  communication/contributor-comms/role-handbooks/storytellers.md
Due: none

Update README.md
  communication/contributor-comms/README.md
Due: none

add announcement bot doc
  communication/contributor-comms/automation/announcement-guidelines.md
Due: none

add claudie to channels.yaml for slack
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply
