Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config

Fix docs blog readme
  sig-docs/blog-subproject/README.md
Due: none

correct path for mentor-guide
  mentoring/programs/mentoring-events.md
Due: none

docs: update SIG Network meetings
  sig-list.md
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

docs: cleanup and add links to SIG Network charter
  sig-network/charter.md
Due: none

update wg-policy 2023 annual report
  wg-policy/annual-report-2023.md
Due: none

cluster-api-provider-openstack: Update agenda URL
  sig-cluster-lifecycle/README.md
  sigs.yaml
Due: generate-sigs

offboard irbe from the cert-manager maintainers
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update KCS Comms Team Handbook
  events/events-team/comms/README.md
Due: none

SIG-MC leadership change: pmorie emeritus, skitt co-chair
  OWNERS_ALIASES
  sig-list.md
  sig-multicluster/README.md
  sigs.yaml
Due: generate-sigs

Removing excess parens
  events/events-team/comms/README.md
Due: none

Modernize controllers.md
  contributors/devel/sig-api-machinery/controllers.md
Due: none

sig-cl: cleanup etcdadm project
  sig-cluster-lifecycle/README.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

add cve-feed-osv
  sig-security/README.md
  sigs.yaml
Due: generate-sigs

add a period to the end of youtube-admins and zoom-admins descriptions
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

docs: add a custom archive section to the SIG Network README.md
  sig-network/README.md
Due: none

docs: mark KPNG as an archived SIG Network sub-project
  communication/slack-config/sig-network/config.yaml
  sig-network/README.md
  sigs.yaml
Due: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

sig-auth: 2023 annual report
  sig-auth/annual-report-2023.md
Due: none

Select Election Officers for 2024 Elections
  elections/steering/2024/OWNERS
  elections/steering/2024/README.md
  elections/steering/README.md
Due: none

wg-serving: use correct zoom link
  sig-list.md
  sigs.yaml
  wg-serving/README.md
Due: generate-sigs

chore: archive kpng slack channel
  communication/slack-config/sig-network/config.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

add hmc to channels
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Add Subproject Leads responsibilities
  sig-network/README.md
Due: none

chore: run generators
  sig-network/README.md
  sigs.yaml
Due: generate-sigs

docs: add sub-project leads for Network Policy
  sigs.yaml
Due: generate-sigs

docs: add sub-project leads for Gateway API
  sigs.yaml
Due: generate-sigs

docs: add sub-project leads for MultiNetwork
  sigs.yaml
Due: generate-sigs

chore: run generators
  sig-network/README.md
Due: none

sig-scheduling 2023 update
  sig-scheduling/annual-report-2023.md
Due: none

Adding new YouTube Admin Chad M. Crowell
  communication/moderators.md
  communication/slack-config/usergroups.yaml
  communication/slack-config/users.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

etcd operator working group
  OWNERS_ALIASES
  liaisons.md
  sig-cluster-lifecycle/README.md
  sig-etcd/README.md
  sig-list.md
  sigs.yaml
  wg-etcd-operator/README.md
  wg-etcd-operator/charter.md
Due: generate-sigs

Initial draft of the shadowing guide, updated with suggestions.
  communication/contributor-comms/blogging-resources/blogging-shadow-guide.md
Due: none

Add #wg-etcd-operator
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Move Jaice to emeritus_approvers
  OWNERS
  communication/OWNERS
  elections/steering/OWNERS
Due: none

Fix docs blog readme
  sig-docs/README.md
  sig-docs/blog-subproject/README.md
  sigs.yaml
Due: generate-sigs

Update regular meeting schedule url for WG etcd-operator
  sig-list.md
  sigs.yaml
  wg-etcd-operator/README.md
Due: generate-sigs

Add wg-etcd-operator to Slack
  communication/slack-config/channels.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

remove deprecated sig testing groups
  communication/slack-config/restrictions.yaml
  communication/slack-config/sig-testing/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply
