Repository kubernetes/community: changes, and which Prow jobs are due for each by the changed paths.
All: generate-sigs, pull-community-tempelis-check, post-community-tempelis-apply

generate-sigs:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: golang:1.18
      command:
      - make
      args:
      - generate-dockerized
      securityContext:
        privileged: true

pull-community-tempelis-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

post-community-tempelis-apply:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-slack-infra/tempelis:v20200909-1eb97f5
      command:
      - /tempelis
      args:
      - --config=communication/slack-config/
      - --restrictions=communication/slack-config/restrictions.yaml
      - --auth=/etc/slack-auth/auth.json
  ...

Update sigs.yaml for wg-policy chair changes (#7643)
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-policy/README.md
Due: generate-sigs

Add WG Device Management
  OWNERS_ALIASES
  liaisons.md
  sig-architecture/README.md
  sig-autoscaling/README.md
  sig-list.md
  sig-network/README.md
  sig-node/README.md
  sig-scheduling/README.md
  sigs.yaml
  wg-device-management/README.md
  wg-device-management/charter.md
Due: generate-sigs

Fix Kevin's github handle
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-device-management/README.md
Due: generate-sigs

Update charter
  wg-device-management/charter.md
Due: none

Meeting time has been determined
  sig-list.md
  sigs.yaml
  wg-device-management/README.md
Due: generate-sigs

Guidance for skipping Alpha for feature gated changes
  contributors/devel/sig-architecture/feature-gates.md
Due: none

Fix roles and org management
  wg-device-management/charter.md
Due: none

sig-cloud-provider: remove baiducloud project
  sig-cloud-provider/README.md
  sigs.yaml
Due: generate-sigs

update sig cloud provider 2023 annual report
  sig-cloud-provider/README.md
  sig-cloud-provider/annual-report-2023.md
  sig-list.md
  sigs.yaml
Due: generate-sigs

Update annual-report-2023.md
  sig-etcd/annual-report-2023.md
Due: none

Mention the lack of maintainers for kustomize
  sig-cli/annual-report-2023.md
Due: none

SIG Apps Annual report 2023
  sig-apps/annual-report-2023.md
Due: none

Rename Slack channel, update exit criteria
  communication/slack-config/channels.yaml
  wg-device-management/charter.md
Due: pull-community-tempelis-check, post-community-tempelis-apply

Added YouTube list creation in the list of action items
  .github/ISSUE_TEMPLATE/leadership-change.yml
Due: none

Corrected URL destination
  contributors/guide/contributor-cheatsheet/README-ja.md
Due: none

SIG Autoscaling 2023 Report - First cut
  sig-autoscaling/annual-report-2023.md
Due: none

sig-auth: Add secrets-store-sync-controller subproject
  sig-auth/README.md
  sigs.yaml
Due: generate-sigs

WG serving proposal
  OWNERS_ALIASES
  liaisons.md
  sig-apps/README.md
  sig-architecture/README.md
  sig-autoscaling/README.md
  sig-instrumentation/README.md
  sig-list.md
  sig-network/README.md
  sig-node/README.md
  sig-scheduling/README.md
  sig-storage/README.md
  sigs.yaml
  wg-serving/README.md
  wg-serving/charter.md
Due: generate-sigs

2023 Annual Report: WG Structured Logging
  wg-structured-logging/annual-report-2023.md
Due: none

Add `cri-client` repository to `sigs.yaml`
  sig-node/README.md
  sigs.yaml
Due: generate-sigs

Kueue: Add Aldo and Yuki to leads roles
  sig-scheduling/README.md
  sigs.yaml
Due: generate-sigs

Update youtube admin list
  communication/moderators.md
  communication/slack-config/usergroups.yaml
Due: pull-community-tempelis-check, post-community-tempelis-apply

Update annual-report-2023.md
  sig-docs/annual-report-2023.md
Due: none

update SIG release annual report
  sig-release/annual-report-2023.md
Due: none

Update annual report questions
  sig-multicluster/annual-report-2023.md
Due: none

added a playlist for WG Serving
  sigs.yaml
  wg-serving/README.md
Due: generate-sigs

first draft of annual report
  sig-node/annual-report-2023.md
Due: none

Update CONTRIBUTING.md for SIG-MC
  sig-multicluster/CONTRIBUTING.md
Due: none

Reviewed/updated contributing.md
  sig-multicluster/annual-report-2023.md
Due: none

Checked README and subprojects
  sig-multicluster/annual-report-2023.md
Due: none

Fix typo in sig MC teams
  sigs.yaml
Due: generate-sigs

Ran MAKE for sig-multicluster
  sig-multicluster/README.md
  sigs.yaml
Due: generate-sigs

Archive workgroup API expression
  archive/wg-api-expression/OWNERS
  archive/wg-api-expression/README.md
  archive/wg-api-expression/annual-report-2020.md
  archive/wg-api-expression/annual-report-2021.md
  archive/wg-api-expression/annual-report-2022.md
  archive/wg-api-expression/annual-report-2023.md
Due: none

sig-testing: remove outdated links to prow OWNERS
  sig-testing/README.md
  sigs.yaml
Due: generate-sigs

sig-testing: annual report 2023
  sig-testing/annual-report-2023.md
Due: none

Fix broken links in sig-scalability README
  sig-scalability/README.md
  sigs.yaml
Due: generate-sigs

update reg team README.md post KCSEU2024
  events/events-team/registration/README.md
Due: none

update communications handbook for contrib summit
  events/events-team/marketing/README.md
Due: none

Document feature gates more
  contributors/devel/sig-architecture/api_changes.md
  contributors/devel/sig-architecture/feature-gates.md
Due: none

added Jeffwan as a WG Serving chair
  OWNERS_ALIASES
  sig-list.md
  sigs.yaml
  wg-serving/README.md
Due: generate-sigs

Path conditions:
  generate-sigs: any of: ^sigs.yaml
  pull-community-tempelis-check: any of: ^communication/slack-config
  post-community-tempelis-apply: any of: ^communication/slack-config
