Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-images, post-kubernetes-push-image-pause, pull-publishing-bot-dry-run, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200422-c760048
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200422-c760048
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-images:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20190927-21e0205
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
      - --env-passthrough=PULL_BASE_REF
      - --build-dir=.
  ...

post-kubernetes-push-image-pause:
  decorate: true
  spec:
    serviceAccountName: deployer
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200422-c760048
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kubernetes
      - --scratch-bucket=gs://k8s-staging-kubernetes-gcb
  ...

pull-publishing-bot-dry-run:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190301-76bc03340-master
      command:
      - make
      args:
      - run
      env:
      - name: CONFIG
        value: https://raw.githubusercontent.com/kubernetes/publishing-bot/master/configs/kubernetes
  ...

pull-kubernetes-e2e-aks-engine-azure:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      args:
      - --job=$(JOB_NAME)
      - --root=/go/src
  ...

pull-kubernetes-e2e-azure-disk:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      args:
      - --job=$(JOB_NAME)
      - --root=/go/src
  ...

pull-kubernetes-e2e-azure-disk-vmss:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      args:
      - --job=$(JOB_NAME)
      - --root=/go/src
  ...

More precise description the complete options in Run function
  cmd/kube-apiserver/app/server.go
Due: none

make cronjobController sync period configurable via flag
  api/api-rules/violation_exceptions.list
  cmd/kube-controller-manager/app/batch.go
  cmd/kube-controller-manager/app/options/jobcontroller.go
  cmd/kube-controller-manager/app/options/options.go
  cmd/kube-controller-manager/app/options/options_test.go
  pkg/controller/apis/config/types.go
  pkg/controller/apis/config/v1alpha1/defaults.go
  pkg/controller/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/controller/apis/config/zz_generated.deepcopy.go
  pkg/controller/cronjob/config/OWNERS
  pkg/controller/cronjob/config/doc.go
  pkg/controller/cronjob/config/types.go
  pkg/controller/cronjob/config/v1alpha1/BUILD
  pkg/controller/cronjob/config/v1alpha1/conversion.go
  pkg/controller/cronjob/config/v1alpha1/defaults.go
  pkg/controller/cronjob/config/v1alpha1/doc.go
  pkg/controller/cronjob/config/v1alpha1/register.go
  pkg/controller/cronjob/config/v1alpha1/zz_generated.conversion.go
  pkg/controller/cronjob/config/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/cronjob/config/zz_generated.deepcopy.go
  pkg/controller/cronjob/cronjob_controller.go
  staging/src/k8s.io/kube-controller-manager/config/v1alpha1/types.go
  staging/src/k8s.io/kube-controller-manager/config/v1alpha1/zz_generated.deepcopy.go
Due: pull-kubernetes-godeps

cluster/README.md: update notes about content
  cluster/README.md
Due: none

Restrict service account token metrics to kube-apiserver only.
  cmd/kube-apiserver/app/server.go
  pkg/serviceaccount/metrics.go
Due: none

bump(*)
  go.mod
  go.sum
Due: none

UPSTREAM: <drop>: make update
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/kubectl/pkg/generated/bindata.go
  test/e2e/generated/bindata.go
Due: pull-kubernetes-godeps

build: check docker buildx if need
  build/common.sh
  build/release-images.sh
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Add versioned counterparts for VolumeBindingArgs
  pkg/scheduler/apis/config/scheme/scheme_test.go
  pkg/scheduler/apis/config/types.go
  pkg/scheduler/apis/config/types_pluginargs.go
  pkg/scheduler/apis/config/v1alpha2/defaults.go
  pkg/scheduler/framework/v1alpha1/framework_test.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/register.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/types.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/types_pluginargs.go
Due: pull-kubernetes-godeps

Add versioned counterparts for VolumeBindingArgs: auto-generted files
  pkg/scheduler/apis/config/v1alpha2/zz_generated.conversion.go
  pkg/scheduler/apis/config/v1alpha2/zz_generated.defaults.go
  staging/src/k8s.io/kube-scheduler/config/v1alpha2/zz_generated.deepcopy.go
Due: pull-kubernetes-godeps

Use polling while deleting the collection of pod templates
  test/e2e/common/podtemplates.go
Due: none

Switch over to new etcd 3.4.7-2 image
  cluster/gce/manifests/etcd.manifest
Due: pull-kubernetes-e2e-gke

enhancement: netstat not found
  hack/lib/etcd.sh
  hack/local-up-cluster.sh
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Switch kube-controller-manager to distroless image
  build/BUILD
  build/common.sh
  cluster/gce/gci/configure-helper.sh
  cluster/gce/manifests/kube-controller-manager.manifest
  test/e2e/storage/detach_mounted.go
  test/e2e/storage/flexvolume.go
  test/e2e/storage/flexvolume_mounted_volume_resize.go
Due: pull-kubernetes-e2e-gke, pull-kubernetes-cross, pull-kubernetes-godeps

Moving Kubelet --node-status-max-images flag to configuration
  cmd/kubelet/app/options/options.go
  pkg/kubelet/apis/config/fuzzer/fuzzer.go
  pkg/kubelet/apis/config/helpers_test.go
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/after/v1beta1.yaml
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/roundtrip/default/v1beta1.yaml
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/v1beta1/defaults.go
  pkg/kubelet/apis/config/v1beta1/zz_generated.conversion.go
  pkg/kubelet/apis/config/validation/validation.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
  staging/src/k8s.io/kubelet/config/v1beta1/zz_generated.deepcopy.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized, pull-kubernetes-godeps

build/go-runner: fix init-docker-buildx checking condition
  build/go-runner/Makefile
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Fix linter and bazel errors
  plugin/pkg/admission/runtimeclass/BUILD
  plugin/pkg/admission/runtimeclass/admission.go
  plugin/pkg/admission/runtimeclass/admission_test.go
Due: none

Fix log timestamps to be displayed in fixed width
  pkg/apis/core/types.go
  pkg/kubelet/kuberuntime/logs/BUILD
  pkg/kubelet/kuberuntime/logs/logs.go
  pkg/kubelet/kuberuntime/logs/logs_test.go
  pkg/kubelet/types/constants.go
  pkg/kubelet/types/types.go
Due: pull-kubernetes-local-e2e-containerized

log tls handshake error at trace level to avoid error flooding, and add metric to count such errors
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/server/BUILD
  staging/src/k8s.io/apiserver/pkg/server/secure_serving.go
  staging/src/k8s.io/component-base/metrics/counter.go
Due: pull-kubernetes-godeps

integration test services finalizers
  test/integration/BUILD
  test/integration/network/BUILD
  test/integration/network/main_test.go
  test/integration/network/services_test.go
Due: none

1. add go module support for sample-controller/hack/update-codegen.sh
  staging/src/k8s.io/sample-controller/hack/update-codegen.sh
Due: pull-kubernetes-godeps

fix: fix topology issue in azure disk sc migration
  staging/src/k8s.io/csi-translation-lib/plugins/azure_disk.go
  staging/src/k8s.io/csi-translation-lib/plugins/azure_disk_test.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

Tuned npb is workload resources
  test/e2e_node/perf/workloads/npb_is.go
Due: none

serviceaccount: fix log spam when namespace is being terminated
  cmd/kube-controller-manager/app/controllermanager.go
  pkg/controller/serviceaccount/tokens_controller.go
  pkg/controller/serviceaccount/tokens_controller_test.go
  test/integration/serviceaccount/service_account_test.go
Due: none

kubeadm: Remove unused constants
  cmd/kubeadm/app/constants/constants.go
Due: pull-kubernetes-e2e-kubeadm-gce

Backport e2e Image Override Changes
  test/e2e/framework/create.go
  test/e2e/framework/ingress/ingress_utils.go
  test/e2e/storage/utils/utils.go
  test/e2e/storage/volume_provisioning.go
  test/utils/image/BUILD
  test/utils/image/manifest.go
Due: none

Update CNI to v0.8.6
  build/dependencies.yaml
  build/workspace.bzl
  cluster/gce/config-common.sh
  cluster/gce/gci/configure.sh
  test/e2e_node/remote/utils.go
Due: pull-kubernetes-e2e-gke, pull-kubernetes-cross, pull-kubernetes-godeps

remove '-f' to compatible with low version xfs_quota
  pkg/volume/util/fsquota/BUILD
  pkg/volume/util/fsquota/common/BUILD
  pkg/volume/util/fsquota/common/quota_linux_common.go
  pkg/volume/util/fsquota/common/quota_linux_common_impl.go
  pkg/volume/util/fsquota/quota_linux.go
  pkg/volume/util/fsquota/quota_linux_test.go
Due: none

explicit envvar "CODEGEN_PKG"
  staging/src/k8s.io/sample-controller/hack/update-codegen.sh
Due: pull-kubernetes-godeps

fix if don't set ephemeral-storage limit emptyDir's sizeLimit doesn't work
  pkg/kubelet/volumemanager/cache/BUILD
  pkg/kubelet/volumemanager/cache/desired_state_of_world.go
  pkg/kubelet/volumemanager/cache/desired_state_of_world_test.go
Due: pull-kubernetes-local-e2e-containerized

Add labels to containers in pod according to annotations
  pkg/kubelet/kuberuntime/labels.go
  pkg/kubelet/kuberuntime/labels_test.go
Due: pull-kubernetes-local-e2e-containerized

fix error of add suffix
  staging/src/k8s.io/apimachinery/pkg/api/resource/suffix.go
Due: pull-kubernetes-godeps

Revert "Rely on default watch cache capacity and ignore its requested size"
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache_test.go
Due: pull-kubernetes-godeps

service: fix IPFamily validation and defaulting problems
  pkg/apis/core/validation/conditional_validation.go
  pkg/apis/core/validation/conditional_validation_test.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/registry/core/rest/storage_core.go
  pkg/registry/core/service/BUILD
  pkg/registry/core/service/storage/BUILD
  pkg/registry/core/service/storage/rest.go
  pkg/registry/core/service/storage/rest_test.go
  pkg/registry/core/service/storage/storage.go
  pkg/registry/core/service/storage/storage_test.go
  pkg/registry/core/service/strategy.go
  pkg/registry/core/service/strategy_test.go
Due: none

Remove duplicate judgment logic 'utilfeature.DefaultMutableFeatureGate.SetFromMap'
  cmd/kubelet/app/server.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

Ignore forbidden error for leases when describing node
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
Due: pull-kubernetes-godeps

test images: Adds Windows Container image support for etcd, pause
  test/images/BUILD
  test/images/etcd/BASEIMAGE
  test/images/etcd/Dockerfile_windows
  test/images/etcd/VERSION
  test/images/pause/BASEIMAGE
  test/images/pause/BUILD
  test/images/pause/Dockerfile
  test/images/pause/Makefile
  test/images/pause/VERSION
  test/images/pause/pauseloop.go
Due: post-kubernetes-push-images, pull-kubernetes-cross

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-images: any of: ^test\/images\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
