Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, pull-kind-verify-deps

Path conditions:
  post-kind-push-base-image: any of: ^images\/base
  post-kind-push-kindnetd-image: any of: ^images\/kindnetd
  post-kind-push-haproxy-image: any of: ^images\/haproxy
  pull-kind-verify-deps: any of: ^(go\.mod)|(go\.sum)|(vendor/.*)$

docs: revert description
  site/content/docs/user/configuration.md
Due: none

Dump images used by kind into a log file
  pkg/cluster/internal/providers/common/logs.go
Due: none

Update docs on MetalLB LoadBalancer
  site/content/docs/user/loadbalancer.md
  site/static/examples/loadbalancer/metallb-addresspool.yaml
  site/static/examples/loadbalancer/metallb-configmap.yaml
Due: none

Pin metallb to the last stable version
  site/content/docs/user/loadbalancer.md
Due: none

enable registry.k8s.io
  images/base/files/etc/containerd/config.toml
Due: post-kind-push-base-image

bump base image
  pkg/build/nodeimage/defaults.go
Due: none

Add workarounds for Docker Desktop cgroupv2
  site/content/docs/user/known-issues.md
Due: none

update cni plugins to v1.1.1
  images/base/Dockerfile
Due: post-kind-push-base-image

update to containerd 1.6.1
  images/base/Dockerfile
Due: post-kind-push-base-image

fix containerd 1.6+ file naming
  images/base/Dockerfile
  images/base/update-shasums.sh
Due: post-kind-push-base-image

bump base
  pkg/build/nodeimage/defaults.go
Due: none

upgrade to go1.18
  .go-version
Due: none

upgrade packages in root module
  go.mod
  go.sum
Due: pull-kind-verify-deps

bump tools
  hack/tools/go.mod
  hack/tools/go.sum
Due: pull-kind-verify-deps

bump node image
  pkg/apis/config/defaults/image.go
Due: none

bump containerd to 1.6.2
  images/base/Dockerfile
Due: post-kind-push-base-image

Moves the documentation of setting node images to Per-Node Options
  site/content/docs/user/configuration.md
Due: none

remove TODO for Create in provider.go
  pkg/cluster/provider.go
Due: none

use switch case in DetectNodeProvider
  pkg/cluster/provider.go
Due: none

fix todo: remove docs/_index.md, now that we have navigation
  site/content/docs/_index.md
Due: none

Set permissions for GitHub actions
  .github/workflows/cgroup2.yaml
  .github/workflows/docker.yaml
  .github/workflows/podman.yml
Due: none

Add ppc64le support
  images/Makefile.common.in
Due: none

Added multi-arch support for quay quick
  images/Makefile.common.in
Due: none

entrypoint: fix shellcheck SC2126
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

entrypoint: detect cgroupns for cgroup v1
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

entrypoint: fix chicken-and-egg runtime problem
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

update base image
  pkg/build/nodeimage/defaults.go
Due: none

consider prereleases on comparisons
  pkg/cluster/internal/create/actions/kubeadminit/init.go
  pkg/internal/version/version_test.go
Due: none

#2717 Exit on startup if the host is out of space
  go.mod
  go.sum
  pkg/cluster/internal/providers/docker/provider.go
  pkg/cluster/internal/providers/podman/provider.go
  pkg/cluster/internal/providers/provider.go
  pkg/cluster/provider.go
Due: pull-kind-verify-deps

#2717 Refactor CheckFreeDiskSpace
  pkg/cluster/internal/providers/common/disk.go
  pkg/cluster/internal/providers/docker/provider.go
  pkg/cluster/internal/providers/podman/provider.go
Due: none

#2717 Move CheckFreeDiskSpace to common package
  pkg/cluster/internal/providers/common/disk.go
  pkg/cluster/internal/providers/docker/provider.go
  pkg/cluster/internal/providers/podman/provider.go
  pkg/cluster/internal/providers/provider.go
  pkg/cluster/provider.go
Due: none

Prefer to build Ginkgo V2
  hack/ci/e2e-k8s.sh
Due: none

use curly braces
  hack/ci/e2e-k8s.sh
Due: none

load: support loading images with different providers (`podman`)
  pkg/cluster/internal/providers/docker/provider.go
  pkg/cluster/internal/providers/podman/provider.go
  pkg/cluster/internal/providers/provider.go
  pkg/cluster/provider.go
  pkg/cmd/kind/load/docker-image/docker-image.go
Due: none

Fixing service name in ingess kong documentation. Issue 2727
  site/content/docs/user/ingress.md
Due: none

Fix multi-node cluster not working after restarting docker
  pkg/cluster/internal/create/actions/config/config.go
  pkg/cluster/internal/kubeadm/config.go
Due: none

update using-wsl2.md
  site/content/docs/user/using-wsl2.md
Due: none

mark /vagrant safe
  hack/ci/Vagrantfile
Due: none
