Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, pull-kind-verify-deps

post-kind-push-base-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

post-kind-push-kindnetd-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

post-kind-push-haproxy-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

pull-kind-verify-deps:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-experimental
      command:
      - ./hack/verify-deps.sh

fix: wrong comment
  pkg/cluster/internal/providers/docker/network.go
Due: none

fix: isOnlyErrorNoSuchNetwork return true when err is nil
  pkg/cluster/internal/providers/docker/network.go
Due: none

added Kong ingress example
  site/content/docs/user/ingress.md
  site/static/examples/ingress/kong/deployment.patch.json
  site/static/examples/ingress/kong/service.patch.json
Due: none

only mount /dev/fuse for rootless
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/podman/provider.go
  pkg/cluster/internal/providers/podman/provision.go
Due: none

Local registry example uses port 5001 to be more mac friendly
  site/content/docs/user/local-registry.md
  site/static/examples/kind-with-registry.sh
Due: none

stage dpkg status
  images/haproxy/stage-binary-and-deps.sh
Due: post-kind-push-haproxy-image

debian11 distroless
  images/haproxy/Dockerfile
  images/haproxy/stage-binary-and-deps.sh
Due: post-kind-push-haproxy-image

debug staged paths
  images/haproxy/Dockerfile
Due: post-kind-push-haproxy-image

switch to distroless static
  images/haproxy/Dockerfile
  images/haproxy/stage-binary-and-deps.sh
Due: post-kind-push-haproxy-image

bump haproxy image
  pkg/cluster/internal/loadbalancer/const.go
Due: none

only mount /dev/fuse for rootless
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/docker/util.go
  pkg/cluster/internal/providers/podman/provision.go
  pkg/cluster/internal/providers/podman/util.go
Due: none

Add note to quick start about idempotent deletes
  site/content/docs/user/quick-start.md
Due: none

Skip GitHub Actions on doc only changes
  .github/workflows/cgroup2.yaml
  .github/workflows/docker.yaml
  .github/workflows/podman.yml
Due: none

version v0.12.0
  pkg/cmd/kind/version/version.go
Due: none

version v0.13.0-alpha
  pkg/cmd/kind/version/version.go
Due: none

Remove obsolete step from metallb guide
  site/content/docs/user/loadbalancer.md
Due: none

pkg/build: improve source finding message
  pkg/build/nodeimage/internal/kube/source.go
Due: none

bump go to 1.17.8
  .go-version
Due: none

exec: show command error output
  pkg/exec/types.go
Due: none

podman: don't try to delete without volumes
  pkg/cluster/internal/providers/podman/provider.go
  pkg/cluster/internal/providers/podman/util.go
Due: none

Ship Stargz Snapshotter
  images/base/Dockerfile
  images/base/files/etc/containerd-stargz-grpc/config.toml
  images/base/files/etc/containerd/config.toml
  images/base/files/etc/systemd/system/stargz-snapshotter.service
  images/base/files/usr/local/bin/entrypoint
  images/base/update-shasums.sh
Due: post-kind-push-base-image

update base image
  pkg/build/nodeimage/defaults.go
Due: none

bump containerd to 1.5.10
  images/base/Dockerfile
Due: post-kind-push-base-image

update crictl to 1.23.0
  images/base/Dockerfile
Due: post-kind-push-base-image

update cni plugins to 1.1.0
  images/base/Dockerfile
Due: post-kind-push-base-image

bump overlayfs to 1.0.4
  images/base/Dockerfile
Due: post-kind-push-base-image

bump base image
  pkg/build/nodeimage/defaults.go
Due: none

bump default node image
  pkg/apis/config/defaults/image.go
Due: none

update banner to support humanitarian aid for ukraine
  site/assets/css/inline.css
  site/layouts/partials/navbar.html
Due: none

updated doc for known issues
  site/content/docs/user/known-issues.md
Due: none

Add KUBE_PROXY_DETECT_LOCAL_MODE option in e2e-k8s.sh
  hack/ci/e2e-k8s.sh
Due: none

issue #2669: improve note visibility
  site/content/docs/user/configuration.md
Due: none

Switch to registry.k8s.io
  images/base/files/etc/containerd/config.toml
  pkg/build/nodeimage/const_storage.go
  pkg/build/nodeimage/internal/container/docker/image_test.go
  pkg/cluster/nodeutils/util_test.go
Due: post-kind-push-base-image

docs(READEME): update kind version
  README.md
Due: none

updated doc with supported architectures
  site/content/docs/user/quick-start.md
Due: none

docs: update "stableVersion" to 0.12.0
  site/config.toml
  site/content/docs/user/configuration.md
Due: none

Generate a list of images in a log file
  pkg/cluster/internal/providers/docker/provider.go
  pkg/cluster/internal/providers/podman/provider.go
Due: none

Dump images used by kind into a log files
  pkg/cluster/internal/providers/common/logs.go
Due: none

Path conditions:
  post-kind-push-base-image: any of: ^images\/base
  post-kind-push-kindnetd-image: any of: ^images\/kindnetd
  post-kind-push-haproxy-image: any of: ^images\/haproxy
  pull-kind-verify-deps: any of: ^(go\.mod)|(go\.sum)|(vendor/.*)$
