Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, pull-kind-verify-deps

post-kind-push-base-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

post-kind-push-kindnetd-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

post-kind-push-haproxy-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

pull-kind-verify-deps:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-experimental
      command:
      - ./hack/verify-deps.sh

Pass through GPUs
  pkg/apis/config/v1alpha4/types.go
  pkg/cluster/internal/providers/docker/provision.go
  pkg/internal/apis/config/convert_v1alpha4.go
  pkg/internal/apis/config/types.go
Due: none

Update readme
  README.md
Due: none

load docker-image: only use sanitzed name for retagging
  pkg/cmd/kind/load/docker-image/docker-image.go
Due: none

Update node Dockerfile to bring back flannel support
  images/base/Dockerfile
Due: post-kind-push-base-image

chore: use aks-helloworld container instead of http-echo
  site/static/examples/ingress/usage.yaml
Due: none

chore: use v1 of image for availability reasons
  site/static/examples/ingress/usage.yaml
Due: none

update kubeadm api in docs to v1beta3 from v1beta2
  site/content/docs/user/configuration.md
  site/content/docs/user/kind-example-config.yaml
Due: none

update containerd to v1.6.12
  images/base/Dockerfile
Due: post-kind-push-base-image

upgrade crictl to v1.26.0
  images/base/Dockerfile
Due: post-kind-push-base-image

update containerd fuse overlayfs snapshotter to v1.0.5
  images/base/Dockerfile
Due: post-kind-push-base-image

bump base image
  pkg/build/nodeimage/defaults.go
Due: none

bump node image to v1.26.0
  pkg/apis/config/defaults/image.go
Due: none

set nofile for loadbalancer
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/podman/provision.go
Due: none

chore: use agnhost image instead of a branded image
  site/static/examples/ingress/usage.yaml
Due: none

chore: adjust to new output
  site/content/docs/user/ingress.md
Due: none

chore: indentation adjusted
  site/static/examples/ingress/usage.yaml
Due: none

support host shellcheck binary and DOCKER=podman
  hack/make-rules/verify/shellcheck.sh
Due: none

fix vagrant-helper shellcheck
  hack/ci/vagrant-helper.sh
Due: none

update gimme
  hack/third_party/gimme/gimme
Due: none

bump shellcheck to v0.9.0
  hack/make-rules/verify/shellcheck.sh
Due: none

fix new shellcheck v0.9.0 failure
  hack/ci/e2e-k8s.sh
Due: none

Add alias 'cluster' for clusters' and 'node' for 'nodes' in 'get' command
  pkg/cmd/kind/get/clusters/clusters.go
  pkg/cmd/kind/get/nodes/nodes.go
Due: none

clarify bug template
  .github/ISSUE_TEMPLATE/bug-report.md
Due: none

ask for cluster log export when cluster creation fails
  .github/ISSUE_TEMPLATE/bug-report.md
Due: none

Add clusterAPI for AWS capabilities
  go.mod
  pkg/apis/config/defaults/image.go
  pkg/cluster/internal/create/actions/createworker/eks.go
  pkg/cluster/internal/create/actions/createworker/eksgen.go
  pkg/cluster/internal/create/actions/installcapi/capi.go
  pkg/cluster/internal/create/create.go
  pkg/cluster/internal/create/keosinstaller/keosinstaller.go
  pkg/cluster/internal/providers/docker/images.go
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/docker/stratio/Dockerfile
Due: pull-kind-verify-deps

upgrade to containerd 1.16.14
  images/base/Dockerfile
Due: post-kind-push-base-image

bump node image
  pkg/apis/config/defaults/image.go
Due: none

overwrite instead of concatenating dpkg status
  images/haproxy/stage-binary-and-deps.sh
Due: post-kind-push-haproxy-image

bump haproxy image
  pkg/cluster/internal/loadbalancer/const.go
Due: none

push initial changes and looks over exiting actions
  README.md
Due: none

Update apiVersion from v1alpha4 to v1
  site/content/docs/user/ingress.md
Due: none

Fix image tag from sha to version
  pkg/cluster/internal/providers/docker/provision.go
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update Makefile
  Makefile
Due: none

Update .gitignore
  .gitignore
Due: none

Update VERSION
  VERSION
Due: none

Added Jenkins integration files and binary compilation scripts
  .gitignore
  CHANGELOG.md
  Jenkinsfile
  Makefile
  VERSION
  go.sum
  hack/custom/deploy.sh
  hack/custom/deps.sh
Due: pull-kind-verify-deps

Decouple providers
  pkg/cluster/internal/create/actions/createworker/createworker.go
  pkg/cluster/internal/create/actions/createworker/eks.go
  pkg/cluster/internal/create/actions/installcapi/capi.go
Due: none

decouple installCAPA function
  pkg/cluster/internal/create/actions/createworker/createworker.go
  pkg/cluster/internal/create/actions/createworker/eks.go
  pkg/cluster/internal/create/actions/installcapi/capi.go
  pkg/cluster/internal/create/actions/installcapx/capi.go
  pkg/cluster/internal/create/create.go
Due: none

Path conditions:
  post-kind-push-base-image: any of: ^images\/base
  post-kind-push-kindnetd-image: any of: ^images\/kindnetd
  post-kind-push-haproxy-image: any of: ^images\/haproxy
  pull-kind-verify-deps: any of: ^(go\.mod)|(go\.sum)|(vendor/.*)$
