Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-images, post-kubernetes-push-image-pause, pull-publishing-bot-dry-run, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-images: any of: ^test\/images\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$

FieldManager: Reset if we receive nil or a list with one empty item
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/managedfields.go
  test/integration/apiserver/apply/apply_test.go
Due: pull-kubernetes-godeps

Pin go.etcd.io/etcd to 3.4.9 and rebuild vendor
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/go.etcd.io/etcd/auth/BUILD
  vendor/go.etcd.io/etcd/auth/metrics.go
  vendor/go.etcd.io/etcd/auth/store.go
  vendor/go.etcd.io/etcd/clientv3/balancer/picker/err.go
  vendor/go.etcd.io/etcd/clientv3/balancer/picker/roundrobin_balanced.go
  vendor/go.etcd.io/etcd/clientv3/balancer/resolver/endpoint/endpoint.go
  vendor/go.etcd.io/etcd/clientv3/maintenance.go
  vendor/go.etcd.io/etcd/etcdserver/api/rafthttp/http.go
  vendor/go.etcd.io/etcd/etcdserver/api/rafthttp/snapshot_sender.go
  vendor/go.etcd.io/etcd/etcdserver/api/snap/BUILD
  vendor/go.etcd.io/etcd/etcdserver/api/snap/snapshotter.go
  vendor/go.etcd.io/etcd/etcdserver/api/v3rpc/BUILD
  vendor/go.etcd.io/etcd/etcdserver/api/v3rpc/maintenance.go
  vendor/go.etcd.io/etcd/etcdserver/api/v3rpc/watch.go
  vendor/go.etcd.io/etcd/etcdserver/apply.go
  vendor/go.etcd.io/etcd/etcdserver/backend.go
  vendor/go.etcd.io/etcd/etcdserver/etcdserverpb/rpc.pb.go
  vendor/go.etcd.io/etcd/etcdserver/raft.go
  vendor/go.etcd.io/etcd/etcdserver/server.go
  vendor/go.etcd.io/etcd/etcdserver/storage.go
  vendor/go.etcd.io/etcd/etcdserver/util.go
  vendor/go.etcd.io/etcd/mvcc/BUILD
  vendor/go.etcd.io/etcd/mvcc/kvstore.go
  vendor/go.etcd.io/etcd/mvcc/watchable_store.go
  vendor/go.etcd.io/etcd/version/version.go
  vendor/go.etcd.io/etcd/wal/wal.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

Update etcd makefile to build 3.4.9 image
  cluster/images/etcd/Makefile
  cluster/images/etcd/README.md
  cluster/images/etcd/migrate-if-needed.sh
Due: pull-kubernetes-cross

Run SCTP HostPort test only if the container runtime is Docker. Containerd does not support SCTP in HostPort mapping.
  test/e2e/network/service.go
Due: none

update autogenerated swagger docs
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
Due: pull-kubernetes-godeps

test images: Adds OWNERS files for images
  test/images/nonroot/OWNERS
  test/images/regression-issue-74839/OWNERS
Due: post-kubernetes-push-images

test images: Adds --force-yes when installing jessie-dnsutils packages
  test/images/jessie-dnsutils/Dockerfile
Due: post-kubernetes-push-images

Allow UDP for AWS NLB
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_test.go
Due: pull-kubernetes-godeps

Fix fieldType being dropped by older go-clients
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/validation/validation.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/validation/validation_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/managedfields.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/managedfields_test.go
Due: pull-kubernetes-godeps

bump agnhost version to match fully
  test/images/agnhost/VERSION
  test/images/agnhost/agnhost.go
Due: post-kubernetes-push-images

Add health port to network proxy
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-ds.yaml
  cluster/gce/gci/configure-helper.sh
  cluster/gce/manifests/konnectivity-server.yaml
Due: pull-kubernetes-e2e-gke

test images: rebases the kitten and nautilus images
  test/images/kitten/BASEIMAGE
  test/images/nautilus/BASEIMAGE
Due: post-kubernetes-push-images

Add WINDOWS_CONTAINER_RUNTIME env vairable
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/util.sh
  cluster/gce/windows/k8s-node-setup.psm1
Due: pull-kubernetes-e2e-gke

address comments
  pkg/registry/core/service/portallocator/controller/repair.go
  pkg/registry/core/service/portallocator/controller/repair_test.go
Due: none

enable lint in metrics test utils and add legacy invalid metrics to exception list.
  staging/src/k8s.io/component-base/metrics/testutil/promlint.go
  staging/src/k8s.io/component-base/metrics/testutil/promlint_test.go
  staging/src/k8s.io/component-base/metrics/testutil/testutil.go
Due: pull-kubernetes-godeps

Fix invalid metric name in unit test
  staging/src/k8s.io/component-base/metrics/testutil/testutil_test.go
Due: pull-kubernetes-godeps

Remove contemplation of invariant violations from delta_fifo.go
  staging/src/k8s.io/client-go/tools/cache/delta_fifo.go
Due: pull-kubernetes-godeps

Fix build file
  cmd/cloud-controller-manager/app/apis/config/BUILD
Due: none

Fix golint failure #68026, remove "cmd/cloud-controller-manager/app/apis/config/v1alpha1"
  build/kazel_generated.bzl
  cmd/cloud-controller-manager/app/apis/config/BUILD
  cmd/cloud-controller-manager/app/apis/config/scheme/BUILD
  cmd/cloud-controller-manager/app/apis/config/v1alpha1/BUILD
  cmd/cloud-controller-manager/app/apis/config/v1alpha1/defaults.go
  cmd/cloud-controller-manager/app/apis/config/v1alpha1/defaults_test.go
  cmd/cloud-controller-manager/app/apis/config/v1alpha1/doc.go
  cmd/cloud-controller-manager/app/apis/config/v1alpha1/register.go
  cmd/cloud-controller-manager/app/apis/config/v1alpha1/types.go
  cmd/cloud-controller-manager/app/apis/config/v1alpha1/zz_generated.conversion.go
  cmd/cloud-controller-manager/app/apis/config/v1alpha1/zz_generated.deepcopy.go
  cmd/cloud-controller-manager/app/apis/config/v1alpha1/zz_generated.defaults.go
  cmd/cloud-controller-manager/app/options/BUILD
  hack/.golint_failures
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Enrich the unit tests for azure_instances
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances_test.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

kubeadm join: Wait longer for TLS bootstrapping
  cmd/kubeadm/app/cmd/phases/join/kubelet.go
  cmd/kubeadm/app/constants/constants.go
Due: pull-kubernetes-e2e-kubeadm-gce

bump agnhost usage to current version
  test/utils/image/manifest.go
Due: none

add json logger format
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-base/logs/BUILD
  staging/src/k8s.io/component-base/logs/json/BUILD
  staging/src/k8s.io/component-base/logs/json/json.go
  staging/src/k8s.io/component-base/logs/json/json_benchmark_test.go
  staging/src/k8s.io/component-base/logs/json/json_test.go
  staging/src/k8s.io/component-base/logs/registry.go
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubelet/go.sum
  vendor/modules.txt
Due: pull-kubernetes-godeps

improve some kubelet functions as helpers
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/kubelet_node_status_test.go
Due: pull-kubernetes-local-e2e-containerized

fix bazel BUILD rule and suppress pkg-config errors
  hack/update-bazel.sh
Due: none

Fix golint failures pkg/util/goroutinemap/exponentialbackoff
  hack/.golint_failures
  pkg/util/goroutinemap/exponentialbackoff/exponential_backoff.go
Due: none

Adding new PodSpec field called setHostnameAsFQDN and SetHostnameAsFQDN gate
  pkg/api/pod/util.go
  pkg/apis/core/types.go
  pkg/features/kube_features.go
  staging/src/k8s.io/api/core/v1/types.go
Due: pull-kubernetes-godeps

Adding Kubelet changes to enable SetHostnameAsFQDN feature
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox.go
  pkg/kubelet/util/util.go
  pkg/kubelet/util/util_test.go
  test/e2e/node/BUILD
  test/e2e/node/pod_hostnamefqdn.go
Due: pull-kubernetes-local-e2e-containerized

Fix broken format in CHANGELOG-1.18
  CHANGELOG/CHANGELOG-1.18.md
Due: none

gce_instances: Add check for multiple interface addresses in nodeAddresses and nodeAddressesFromInstance
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_instances.go
Due: pull-kubernetes-godeps

Improves unittest CC for azure_controller_vmss
  staging/src/k8s.io/legacy-cloud-providers/azure/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_vmss_test.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

Revert "fix(e2e): access nodes via test container in LB network tests"
  test/e2e/framework/network/utils.go
  test/e2e/framework/service/jig.go
  test/e2e/network/service.go
  test/e2e/network/util.go
Due: none

e2e conntrack tests
  test/e2e/network/BUILD
  test/e2e/network/conntrack.go
  test/e2e/network/service.go
Due: none

kube-proxy flush conntrack entries
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
  pkg/util/iptables/testing/fake.go
Due: none
