Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, pull-kind-verify-deps

post-kind-push-base-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

post-kind-push-kindnetd-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

post-kind-push-haproxy-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

pull-kind-verify-deps:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-experimental
      command:
      - ./hack/verify-deps.sh

cloudbuild for kind images
  images/base/cloudbuild.yaml
  images/haproxy/cloudbuild.yaml
  images/kindnetd/cloudbuild.yaml
Due: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image

check if containerd is running not if system is running
  pkg/cluster/internal/create/actions/config/config.go
Due: none

update containerd to v1.5.4
  images/base/Dockerfile
Due: post-kind-push-base-image

support containerd-fuse-overlayfs in update-shasums
  images/base/update-shasums.sh
Due: post-kind-push-base-image

update containerd-fuse-overlayfs to 1.0.3
  images/base/Dockerfile
Due: post-kind-push-base-image

update base to 21.10, update comment
  images/base/Dockerfile
Due: post-kind-push-base-image

correct comment
  images/base/Dockerfile
Due: post-kind-push-base-image

update containerd to 1.5.4-12-g1c13c54ca
  images/base/Dockerfile
Due: post-kind-push-base-image

bump base image
  pkg/build/nodeimage/defaults.go
Due: none

Add ability to specify log format for componentManager and apiServer.
  hack/ci/e2e-k8s.sh
Due: none

Add depricated comment for build node-image help
  pkg/cmd/kind/build/nodeimage/nodeimage.go
Due: none

Update pkg/cmd/kind/build/nodeimage/nodeimage.go
  pkg/cmd/kind/build/nodeimage/nodeimage.go
Due: none

Removed individual configuration levers for the control-plane components.
  hack/ci/e2e-k8s.sh
Due: none

Update node image build source reference
  images/node/README.md
Due: none

change http to https websites
  site/content/_index.md
  site/content/docs/contributing/getting-started.md
  site/content/docs/user/known-issues.md
Due: none

upgrade containerd to v1.5.5.
  images/base/Dockerfile
Due: post-kind-push-base-image

enable sysctl route_localnet
  images/base/files/etc/sysctl.d/10-network-magic.conf
Due: post-kind-push-base-image

DRY out kindnetd image and bump it to latest build
  pkg/build/nodeimage/const_cni.go
Due: none

Fix function name and make sure the error reflects the env.
  hack/ci/e2e-k8s.sh
Due: none

Clean up extra spaces
  images/base/Dockerfile
Due: post-kind-push-base-image

bump to v1.22.0 image
  pkg/apis/config/defaults/image.go
Due: none

upgrade to go 1.16.7
  .go-version
Due: none

Debug "CI failing for cgroup2+docker+rootless"
  .github/workflows/cgroup2.yaml
  pkg/cluster/internal/providers/docker/provision.go
Due: none

Return early if all images are already present on all nodes
  pkg/cmd/kind/load/docker-image/docker-image.go
Due: none

Fix typo
  site/content/docs/user/configuration.md
Due: none

assign node labels correctly
  pkg/cluster/internal/create/actions/config/config.go
Due: none

label images with imported label and list them according to that label
  pkg/cluster/nodeutils/util.go
  pkg/cmd/kind/list/list.go
  pkg/cmd/kind/list/load-image/load-image.go
  pkg/cmd/kind/load/docker-image/docker-image.go
  pkg/cmd/kind/root.go
Due: none

revert workarounds for rootless podman
  .github/workflows/cgroup2.yaml
  hack/ci/Vagrantfile
Due: none

rootless: replace procfs workaround with KubeletInUserNamespace feature gate
  images/base/files/usr/local/bin/entrypoint
  pkg/cluster/internal/kubeadm/config.go
Due: post-kind-push-base-image

bump go to 1.17
  .go-version
Due: none

bump golang to 1.17
  .go-version
Due: none

bump node image
  pkg/apis/config/defaults/image.go
Due: none

upgrade go to 1.17
  .go-version
Due: none

make gofmt
  hack/tools/tools.go
  pkg/apis/config/v1alpha4/zz_generated.deepcopy.go
  pkg/cluster/internal/providers/docker/network_integration_test.go
  pkg/internal/apis/config/zz_generated.deepcopy.go
Due: none

Added WSL2 workaround for kubelet
  images/base/files/etc/systemd/system/kubelet.service.d/10-kubeadm.conf
Due: post-kind-push-base-image

Path conditions:
  post-kind-push-base-image: any of: ^images\/base
  post-kind-push-kindnetd-image: any of: ^images\/kindnetd
  post-kind-push-haproxy-image: any of: ^images\/haproxy
  pull-kind-verify-deps: any of: ^(go\.mod)|(go\.sum)|(vendor/.*)$
