Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, pull-kind-verify-deps

post-kind-push-base-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

post-kind-push-kindnetd-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

post-kind-push-haproxy-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

pull-kind-verify-deps:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-experimental
      command:
      - ./hack/verify-deps.sh

Block `docker exec` until systemd in the node container initializes /sys/fs/cgroup
  pkg/cluster/internal/providers/common/provision.go
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/podman/provision.go
Due: none

podman rootless doc
  site/content/docs/user/rootless.md
Due: none

docs: switch to `legacy` branch of ingress-nginx
  site/content/docs/user/ingress.md
Due: none

refactor: move from io/ioutil to io and os package
  cmd/kind/app/main.go
  go.mod
  pkg/build/nodeimage/imageimporter.go
  pkg/build/nodeimage/internal/container/docker/archive.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/merge_test.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/read.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/remove_test.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/write.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/write_test.go
  pkg/cluster/internal/logs/logs.go
  pkg/cluster/provider.go
  pkg/cmd/kind/create/cluster/createcluster.go
  pkg/cmd/kind/root.go
  pkg/fs/fs.go
  pkg/internal/apis/config/encoding/load.go
  pkg/internal/env/term_test.go
Due: pull-kind-verify-deps

feat(cmd/load): auto pull images if not exist
  pkg/build/nodeimage/buildcontext.go
  pkg/cmd/kind/load/docker-image/docker-image.go
  pkg/internal/runtime/runtime.go
Due: none

upgrade pause image to 3.6
  images/base/files/etc/containerd/config.toml
Due: post-kind-push-base-image

remove the need for cp/mkdir/kill from haproxy image
  images/haproxy/Dockerfile
  pkg/build/nodeimage/helpers.go
  pkg/cluster/internal/create/actions/loadbalancer/loadbalancer.go
  pkg/cluster/internal/loadbalancer/const.go
  pkg/cluster/internal/providers/docker/node.go
  pkg/cluster/internal/providers/podman/node.go
  pkg/cluster/nodeutils/util.go
Due: post-kind-push-haproxy-image

adding auditing docs
  site/content/docs/contributing/1.0-roadmap.md
  site/content/docs/user/auditing.md
Due: none

Mount node's product files at containers
  images/base/Dockerfile
  images/base/files/etc/containerd/config.toml
  images/base/files/usr/local/bin/mount-product-files
Due: post-kind-push-base-image

wait 90secd for systemd to finish booting
  pkg/cluster/internal/providers/common/provision.go
Due: none

Validate: check conflicting ipfamily and pods / services subnet
  pkg/internal/apis/config/validate.go
  pkg/internal/apis/config/validate_test.go
Due: none

only wait for mult-user system for cgroupsv2
  pkg/cluster/internal/providers/common/provision.go
Due: none

examples/kind-with-registry.sh now also works with other than reg_port='5000'
  site/static/examples/kind-with-registry.sh
Due: none

portMapping listenAddress for dualstack clusters
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/podman/provision.go
Due: none

dual-stack order matters to configure apiserver advertise address
  pkg/cluster/internal/create/actions/config/config.go
Due: none

Disable rootless optimizations if cgroupv2 is not present
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

Disable `cgroupv2` detection in `entrypoint`
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

Delegate rootless detection to kind
  images/base/files/usr/local/bin/entrypoint
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/podman/provider.go
  pkg/cluster/internal/providers/podman/provision.go
Due: post-kind-push-base-image

Disable repeated checks
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

Rename rootless back to userns
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

Keep both userns and rootless variables
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

Adjust oomScoreAdj when in userns
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

Skip mount /sys as ro in userns
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

Revert "Skip mount /sys as ro in userns"
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

Unconditionally mount /sys and ignore error on userns
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

Enhance error ignoring logs
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

Updated QEMU image and added cross build support for s390x kind binary and associated images
  hack/build/init-buildx.sh
  hack/release/build/cross.sh
  images/Makefile.common.in
Due: none

entrypoint: allow $userns without cgroup v2
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

entrypoint: try remounting /sys even when $userns is true
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

entrypoint: fix KIND_EXPERIMENTAL_CONTAINERD_SNAPSHOTTER
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

entrypoint: allow overlayfs in userns when preferrable
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

Added WSL2 workaround for kubelet
  images/base/files/etc/systemd/system/kubelet.service.d/10-kubeadm.conf
Due: post-kind-push-base-image

bump base image dependencies
  images/base/Dockerfile
Due: post-kind-push-base-image

support s390x for base image
  images/base/Dockerfile
  images/base/update-shasums.sh
Due: post-kind-push-base-image

Path conditions:
  post-kind-push-base-image: any of: ^images\/base
  post-kind-push-kindnetd-image: any of: ^images\/kindnetd
  post-kind-push-haproxy-image: any of: ^images\/haproxy
  pull-kind-verify-deps: any of: ^(go\.mod)|(go\.sum)|(vendor/.*)$
