Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, pull-kind-verify-deps

post-kind-push-base-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

post-kind-push-kindnetd-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

post-kind-push-haproxy-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

pull-kind-verify-deps:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-experimental
      command:
      - ./hack/verify-deps.sh

entrypoint: allow $userns without cgroup v2
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

bump base image
  pkg/build/nodeimage/defaults.go
Due: none

Fixes issue with overlapping ipv6 addresses when using Docker
  pkg/cluster/internal/providers/docker/network.go
Due: none

support s390x node images
  pkg/build/nodeimage/build.go
Due: none

ignore seccomp for building node images
  pkg/build/nodeimage/buildcontext.go
Due: none

bump default node image
  pkg/apis/config/defaults/image.go
Due: none

test
  test.txt
Due: none

disable selinux for podman rootless on CI
  .github/workflows/cgroup2.yaml
Due: none

Fix a golint issue caused by typo
  pkg/build/nodeimage/internal/container/docker/archive.go
Due: none

update go to latest 1.17.2
  .go-version
Due: none

update main module direct dependencies to latest
  go.mod
  go.sum
Due: pull-kind-verify-deps

update tools to latest
  hack/tools/go.mod
  hack/tools/go.sum
Due: pull-kind-verify-deps

update kindnetd deps
  images/kindnetd/Dockerfile
  images/kindnetd/go.mod
  images/kindnetd/go.sum
Due: post-kind-push-kindnetd-image, pull-kind-verify-deps

bump kindnetd
  pkg/build/nodeimage/const_cni.go
Due: none

fix(cgroupsv2): skip procs from another namespace
  images/base/files/usr/local/bin/create-kubelet-cgroup-v2
Due: post-kind-push-base-image

fix: avoid unnecesary subshell
  images/base/files/usr/local/bin/create-kubelet-cgroup-v2
Due: post-kind-push-base-image

bump containerd
  images/base/Dockerfile
Due: post-kind-push-base-image

rootless: set LocalStorageCapacityIsolation=false to avoid "could not find device ..." error
  pkg/cluster/internal/kubeadm/config.go
Due: none

bump node image
  pkg/apis/config/defaults/image.go
Due: none

podman: use devicemapper for some filesystems
  pkg/cluster/internal/providers/podman/util.go
Due: none

podman-provider: get actually available cgroupControllers
  pkg/cluster/internal/providers/podman/provider.go
Due: none

Support getting all kind nodes with -A flag
  pkg/cmd/kind/get/nodes/nodes.go
Due: none

re-organize install guide and add more details
  site/content/docs/user/quick-start.md
Due: none

switch from os/exec to pkg/exec
  pkg/cluster/internal/providers/common/provision.go
  pkg/exec/helpers.go
Due: none

simplify waiting for systemd, dedupe compiling regexp
  pkg/cluster/internal/providers/common/provision.go
  pkg/cluster/internal/providers/common/systemd.go
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/podman/provision.go
  pkg/exec/helpers.go
Due: none

clarify regexp
  pkg/cluster/internal/providers/common/systemd.go
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/podman/provision.go
Due: none

drop inactive reviewer
  OWNERS
Due: none

use non-deprecated linters
  hack/tools/.golangci.yml
Due: none

fork k8s.io/apimachinery/pkg/util/sets
  pkg/internal/sets/doc.go
  pkg/internal/sets/empty.go
  pkg/internal/sets/string.go
Due: none

switch kind to forked sets package
  pkg/build/nodeimage/buildcontext.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/paths.go
  pkg/cluster/internal/providers/common/images.go
  pkg/cluster/internal/providers/common/images_test.go
  pkg/cluster/internal/providers/docker/provider.go
  pkg/cluster/internal/providers/podman/provider.go
Due: none

fork k8s.io/apimachinery/pkg/util/version
  pkg/internal/version/doc.go
  pkg/internal/version/version.go
  pkg/internal/version/version_test.go
Due: none

switch kind to forked version package
  pkg/build/nodeimage/buildcontext.go
  pkg/build/nodeimage/internal/kube/builder_docker.go
  pkg/cluster/internal/kubeadm/config.go
  pkg/cluster/internal/providers/podman/provider.go
  pkg/cluster/internal/providers/podman/util.go
Due: none

fork k8s.io/apimachinery/pkg/util/errors.Aggregate
  pkg/errors/aggregate.go
  pkg/errors/aggregate_forked.go
Due: none

drop k8s.io/apimachinery from go.mod
  go.mod
  go.sum
Due: pull-kind-verify-deps

golint kindnetd
  hack/make-rules/verify/lint.sh
Due: none

drop deprecated unused-code linters
  hack/tools/.golangci.yml
Due: none

clarify waiting for node cgroups ready
  pkg/cluster/internal/providers/common/cgroups.go
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/podman/provision.go
Due: none

kind load remove deuplicate images names
  pkg/cmd/kind/load/docker-image/docker-image.go
  pkg/cmd/kind/load/docker-image/docker-image_test.go
Due: none

Path conditions:
  post-kind-push-base-image: any of: ^images\/base
  post-kind-push-kindnetd-image: any of: ^images\/kindnetd
  post-kind-push-haproxy-image: any of: ^images\/haproxy
  pull-kind-verify-deps: any of: ^(go\.mod)|(go\.sum)|(vendor/.*)$
