Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, pull-kind-verify-deps

Path conditions:
  post-kind-push-base-image: any of: ^images\/base
  post-kind-push-kindnetd-image: any of: ^images\/kindnetd
  post-kind-push-haproxy-image: any of: ^images\/haproxy
  pull-kind-verify-deps: any of: ^(go\.mod)|(go\.sum)|(vendor/.*)$

ignore go files in shellcheck
  hack/make-rules/verify/shellcheck.sh
Due: none

set fail-swap-on in kubelet config
  pkg/cluster/internal/kubeadm/config.go
Due: none

set cgroupRoot in kubelet config
  pkg/cluster/internal/kubeadm/config.go
Due: none

replace errant haproxy comment
  images/local-path-helper/Dockerfile
Due: none

make registry configurable in push-node.sh
  hack/release/build/push-node.sh
Due: none

Fix kong ingress name in documentation
  site/content/docs/user/ingress.md
Due: none

kubeadminit: handle the "control-plane" taint for 1.25-pre
  pkg/cluster/internal/create/actions/kubeadminit/init.go
Due: none

ensure systemd """subsystem"""
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

improve comments and normalize indentation
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

search for fixed strings when searching for fixed strings
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

add a real systemd kubelet slice
  images/base/files/etc/systemd/system/kubelet.service
  images/base/files/etc/systemd/system/kubelet.slice
Due: post-kind-push-base-image

bump base image
  pkg/build/nodeimage/defaults.go
Due: none

CI: update Fedora to 36
  .github/workflows/cgroup2.yaml
  hack/ci/Vagrantfile
Due: none

bump node image
  pkg/apis/config/defaults/image.go
Due: none

use precise versions for kubeadm label / taint changes
  pkg/cluster/internal/create/actions/kubeadminit/init.go
  pkg/cluster/internal/create/actions/waitforready/waitforready.go
Due: none

version v0.14.0
  pkg/cmd/kind/version/version.go
Due: none

version v0.15.0-alpha
  pkg/cmd/kind/version/version.go
Due: none

update install to v0.14.0
  README.md
  site/config.toml
Due: none

add missing link
  README.md
Due: none

Fix multi-node cluster not working after restarting docker
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

fix IP address replacement
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

Update WSL2 docker installation documentation #2770
  site/content/docs/user/using-wsl2.md
Due: none

document unavailability of mount propogation
  site/content/docs/user/configuration.md
Due: none

Improve code reliability
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

GOOS=linux for kindnetd
  hack/make-rules/update/deps.sh
Due: none

update yaml to v3.0.1
  go.mod
  go.sum
Due: pull-kind-verify-deps

bump deps in kindnetd
  images/kindnetd/go.mod
  images/kindnetd/go.sum
Due: post-kind-push-kindnetd-image, pull-kind-verify-deps

bump dependencies in tools module
  hack/tools/go.mod
  hack/tools/go.sum
Due: pull-kind-verify-deps

bump kindnetd
  pkg/build/nodeimage/const_cni.go
Due: none

fix gosimple lint
  pkg/cluster/internal/providers/docker/network_test.go
Due: none

Add known issue "Docker Desktop for macOS and Windows"
  site/content/docs/user/known-issues.md
Due: none

Add resource for connecting macOS host to Kind nodes
  site/content/docs/user/known-issues.md
  site/content/docs/user/resources.md
Due: none

Improve the grammar
  site/content/docs/user/known-issues.md
Due: none

Add repo LICENSE file to base image
  images/base/Dockerfile
Due: post-kind-push-base-image

upgrade go to 1.18.3
  .go-version
Due: none

upgrade to debian-base:bullseye-v1.3.0
  images/haproxy/Dockerfile
  images/local-path-helper/Dockerfile
Due: post-kind-push-haproxy-image

upgrade to debian-iptables:bullseye-v1.4.0
  images/kindnetd/Dockerfile
Due: post-kind-push-kindnetd-image
