Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, pull-kind-verify-deps

post-kind-push-base-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

post-kind-push-kindnetd-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

post-kind-push-haproxy-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

pull-kind-verify-deps:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-experimental
      command:
      - ./hack/verify-deps.sh

bump go to 1.19
  .go-version
Due: none

bump base to v20220808-a2dcbb47
  pkg/build/nodeimage/defaults.go
Due: none

bump node image
  pkg/apis/config/defaults/image.go
Due: none

go 1.19 gofmt
  images/kindnetd/cmd/kindnetd/cni.go
  pkg/apis/config/v1alpha4/types.go
  pkg/build/nodeimage/internal/container/docker/image.go
  pkg/cluster/internal/create/actions/waitforready/waitforready.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/paths.go
  pkg/internal/apis/config/types.go
Due: post-kind-push-kindnetd-image

disable ioutil error, add TODO to follow-up in seperate PR
  hack/tools/.golangci.yml
Due: none

Distinguish usage of local registry for cluster and in-cluster app. (#2622)
  site/content/docs/user/local-registry.md
Due: none

rework snapshotter selection, detect fuseblk and use overlayfs-fuse
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

bump base image
  pkg/build/nodeimage/defaults.go
Due: none

doc: fix kong ingress https port
  site/static/examples/ingress/kong/deployment.patch.json
Due: none

Add extra labels section for per-node options
  site/content/docs/user/configuration.md
Due: none

Support for netavark backed podman(4.x+) and adding the control-plane to the no_proxy list
  pkg/cluster/internal/providers/podman/provision.go
Due: none

Post-review corrections: hiding the structure
  pkg/cluster/internal/providers/podman/provision.go
Due: none

Post-review corrections: removing bits unrelated to issue #2882
  pkg/cluster/internal/providers/podman/provision.go
Due: none

Extending the no_proxy to automatically include the control plane - issue #2884
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/podman/provision.go
Due: none

Refactoring the code to follow the existing conventions imposed by NodeNamer
  pkg/cluster/internal/providers/podman/provision.go
Due: none

Adding the equivalent treatment to docker provisioner and adding the external load balancer and etc roles(as they may be created implicitly) to complete the picture
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/podman/provision.go
Due: none

Post-review: a bit of refactoring to bring the podman provisioner closer to what's done for docker
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/podman/provision.go
Due: none

Extending the no_proxy env variable to automatically include all the nodes of the cluster (#2885)
  pkg/cluster/internal/providers/podman/provision.go
Due: none

doc: remove copy button background colour
  site/assets/css/inline.css
  site/layouts/shortcodes/codeFromFile.html
  site/layouts/shortcodes/codeFromInline.html
Due: none

doc: use emoji for copy button
  site/assets/css/inline.css
  site/layouts/shortcodes/codeFromFile.html
  site/layouts/shortcodes/codeFromInline.html
Due: none

Oracle based kind initial commit
  images/Makefile.common.in
  images/base/Dockerfile
  images/base/Makefile
  images/base/create_ocne_tar.sh
  images/base/files/crio.service
  images/base/files/etc/containerd/config.toml
  images/base/files/etc/containers/registries.conf
  images/base/files/etc/containers/storage.conf
  images/base/files/etc/crictl.yaml
  images/base/files/etc/crio/crio.conf.d/02-cgroup-manager.conf
  images/base/files/etc/kubeadm.yaml
  images/base/files/etc/systemd/system/containerd-fuse-overlayfs.service
  images/base/files/etc/systemd/system/containerd.service
  images/base/files/usr/local/bin/clean-install
  images/base/files/usr/local/bin/entrypoint
  pkg/build/nodeimage/build.go
  pkg/build/nodeimage/buildcontext.go
  pkg/build/nodeimage/imageimporter.go
  pkg/build/nodeimage/internal/kube/builder.go
  pkg/build/nodeimage/internal/kube/builder_docker.go
  pkg/cluster/internal/create/actions/config/config.go
  pkg/cluster/internal/create/actions/kubeadminit/init.go
  pkg/cluster/internal/providers/docker/provision.go
Due: post-kind-push-base-image

Remove experimental feature --platform from docker buildx command
  images/Makefile.common.in
Due: none

Remove more docker --platform switch usage
  pkg/build/nodeimage/buildcontext.go
  pkg/build/nodeimage/internal/container/docker/pull.go
Due: none

VZ-6913: Update storage driver and pull images at build time
  images/Makefile.common.in
  images/base/Dockerfile
  images/base/files/etc/containers/storage.conf
  images/base/files/etc/crio/crio.conf.d/02-cgroup-manager.conf
  images/base/files/usr/local/bin/entrypoint
  pkg/build/nodeimage/buildcontext.go
  pkg/build/nodeimage/internal/kube/builder_docker.go
Due: post-kind-push-base-image

Use replace strategy for fork branch
  go.mod
  go.sum
Due: pull-kind-verify-deps

Fix kind version in go.mod
  go.mod
Due: pull-kind-verify-deps

Use local path for replace directive (#5)
  go.mod
  go.sum
Due: pull-kind-verify-deps

Add copyright to go.mod
  go.mod
Due: pull-kind-verify-deps

enable loading multiple image archives
  pkg/cmd/kind/load/image-archive/image-archive.go
Due: none

add alpha tag immediately after release commit
  hack/release/create.sh
Due: none

feat: support commit count in pre-release version
  Makefile
  pkg/cmd/kind/version/version.go
Due: none

unexport version strings, correct semver
  Makefile
  hack/release/create.sh
  pkg/cmd/kind/version/version.go
Due: none

feat: add commit count flag in pre-release version (#2870)
  Makefile
  hack/release/create.sh
  pkg/cmd/kind/version/version.go
Due: none

add instructions to push alpha tag
  hack/release/create.sh
Due: none

version v0.15.0
  pkg/cmd/kind/version/version.go
Due: none

version v0.16.0-alpha
  pkg/cmd/kind/version/version.go
Due: none

update docs to point to v0.15.0
  README.md
  site/config.toml
Due: none

docs: update kind example config to use v1beta3
  site/content/docs/user/kind-example-config.yaml
Due: none

Path conditions:
  post-kind-push-base-image: any of: ^images\/base
  post-kind-push-kindnetd-image: any of: ^images\/kindnetd
  post-kind-push-haproxy-image: any of: ^images\/haproxy
  pull-kind-verify-deps: any of: ^(go\.mod)|(go\.sum)|(vendor/.*)$
