Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, pull-kind-verify-deps

Path conditions:
  post-kind-push-base-image: any of: ^images\/base
  post-kind-push-kindnetd-image: any of: ^images\/kindnetd
  post-kind-push-haproxy-image: any of: ^images\/haproxy
  pull-kind-verify-deps: any of: ^(go\.mod)|(go\.sum)|(vendor/.*)$

Update README.md
  images/base/README.md
Due: post-kind-push-base-image

completed in the absence of vpc custom merge and azs validation
  pkg/cmd/kind/create/cluster/validation/commonvalidations.go
Due: none

Implemented Validations
  pkg/cmd/kind/create/cluster/createcluster.go
  pkg/cmd/kind/create/cluster/validation/commonvalidations.go
  pkg/commons/cluster.go
Due: none

removed comments
  pkg/cluster/internal/create/create.go
  pkg/cmd/kind/create/cluster/createcluster.go
Due: none

Make autoscaler helm chart installation offline
  DEPENDENCIES
  pkg/cluster/internal/create/actions/createworker/utils.go
  pkg/cluster/internal/providers/docker/stratio/Dockerfile
Due: none

remove registry mirror config
  images/base/files/etc/containerd/config.toml
Due: post-kind-push-base-image

add minimum viable iptables fix from https://github.com/kubernetes/minikube/pull/15578
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

aojea suggestion to images/base/files/usr/local/bin/entrypoint
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

bump base image
  pkg/build/nodeimage/defaults.go
Due: none

bump node image to 1.26.2
  pkg/apis/config/defaults/image.go
Due: none

Add support for unbalanced zone_distribution
  pkg/cluster/internal/create/actions/cluster/cluster.go
  pkg/cluster/internal/create/actions/cluster/templates/aws.eks.tmpl
  pkg/cluster/internal/create/actions/cluster/templates/gcp.tmpl
Due: none

Add support to multiples registries
  pkg/cluster/internal/create/actions/cluster/cluster.go
  pkg/cluster/internal/create/actions/cluster/templates/gcp.tmpl
  pkg/cluster/internal/create/actions/createworker/createworker.go
Due: none

Add non root volumes support
  pkg/cluster/internal/create/actions/cluster/cluster.go
  pkg/cluster/internal/create/actions/cluster/templates/aws.eks.tmpl
  pkg/cluster/internal/create/actions/cluster/templates/gcp.tmpl
Due: none

integrated vpc custom for gce
  pkg/cluster/internal/create/actions/cluster/cluster.go
  pkg/cluster/internal/create/actions/cluster/templates/gcp.tmpl
Due: none

Add Stratio AWS provider fork
  pkg/cluster/internal/create/actions/createworker/aws.go
  pkg/cluster/internal/providers/docker/stratio/Dockerfile
Due: none

add cloudbuild configs for "internal" kind images
  images/base/cloudbuild.yaml
  images/haproxy/cloudbuild.yaml
  images/kindnetd/cloudbuild.yaml
  images/local-path-helper/cloudbuild.yaml
  images/local-path-provisioner/cloudbuild.yaml
Due: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image

switch to staging GCR for docker builds
  images/Makefile.common.in
Due: none

Fix default root volume size in eks template
  pkg/cluster/internal/create/actions/cluster/templates/aws.eks.tmpl
Due: none

Limit helm pull executions
  pkg/cluster/internal/providers/docker/stratio/Dockerfile
Due: none

Fix loop
  pkg/cluster/internal/providers/docker/stratio/Dockerfile
Due: none

Fix autoscaler helm chart path
  pkg/cluster/internal/create/actions/createworker/utils.go
Due: none

Separate machinehealthcheck by node type
  pkg/cluster/internal/create/actions/cluster/templates/aws.eks.tmpl
  pkg/cluster/internal/create/actions/cluster/templates/gcp.tmpl
  pkg/cluster/internal/create/actions/createworker/createworker.go
Due: none

Separate machinehealthcheck by node type
  pkg/cluster/internal/create/actions/cluster/templates/aws.eks.tmpl
  pkg/cluster/internal/create/actions/cluster/templates/gcp.tmpl
Due: none

fix cloudbuild configs
  images/base/cloudbuild.yaml
  images/haproxy/cloudbuild.yaml
  images/kindnetd/cloudbuild.yaml
  images/local-path-helper/cloudbuild.yaml
  images/local-path-provisioner/cloudbuild.yaml
Due: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image

Add private ecr registry support
  go.mod
  go.sum
  pkg/cluster/internal/create/actions/createworker/aws.go
  pkg/cluster/internal/create/actions/createworker/createworker.go
  pkg/cluster/internal/create/actions/createworker/gcp.go
  pkg/cluster/internal/create/actions/createworker/provider.go
  pkg/cluster/internal/create/actions/createworker/utils.go
  pkg/cluster/internal/providers/docker/stratio/Dockerfile
Due: pull-kind-verify-deps

Clean code
  pkg/cluster/internal/create/actions/createworker/createworker.go
Due: none

drop platforms we cannot test (s390x, ppc64le)
  hack/release/build/cross.sh
  images/Makefile.common.in
  images/base/Dockerfile
  images/base/update-shasums.sh
  pkg/build/nodeimage/build.go
Due: post-kind-push-base-image

Clarify use of mounts for merge patches
  site/content/docs/user/configuration.md
Due: none

Improve log output for delete cluster
  pkg/cluster/internal/delete/delete.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/remove.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/remove_test.go
  pkg/cluster/internal/kubeconfig/kubeconfig.go
Due: none

Update pkg/cluster/internal/create/actions/cluster/templates/gcp.tmpl
  pkg/cluster/internal/create/actions/cluster/templates/gcp.tmpl
Due: none

Update pkg/cluster/internal/create/actions/cluster/templates/aws.eks.tmpl
  pkg/cluster/internal/create/actions/cluster/templates/aws.eks.tmpl
Due: none

feat: move the restriction of imds access to provisioner
  pkg/cluster/internal/create/actions/createworker/aws.go
  pkg/cluster/internal/create/actions/createworker/calico.go
  pkg/cluster/internal/create/actions/createworker/createworker.go
  pkg/cluster/internal/create/actions/createworker/files/allow-all-egress_netpol.yaml
  pkg/cluster/internal/create/actions/createworker/files/allow-capa-egress-imds_gnetpol.yaml
  pkg/cluster/internal/create/actions/createworker/files/calico-helm-values.yaml
  pkg/cluster/internal/create/actions/createworker/files/deny-all-egress-imds_gnetpol.yaml
  pkg/cluster/internal/create/actions/createworker/keosinstaller.go
  pkg/cluster/internal/create/actions/createworker/provider.go
  pkg/cluster/internal/create/actions/createworker/templates/calico-helm-values.tmpl
  pkg/cluster/internal/providers/docker/stratio/Dockerfile
Due: none

changed label names
  pkg/cluster/internal/create/actions/cluster/templates/aws.eks.tmpl
  pkg/cluster/internal/create/actions/cluster/templates/gcp.tmpl
Due: none

Fix session token
  pkg/cluster/internal/create/actions/createworker/utils.go
Due: none

indent issues
  pkg/cluster/internal/create/actions/createworker/createworker.go
Due: none

Revert logging removal of context from kubeconfig
  pkg/cluster/internal/delete/delete.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/remove.go
  pkg/cluster/internal/kubeconfig/internal/kubeconfig/remove_test.go
  pkg/cluster/internal/kubeconfig/kubeconfig.go
Due: none

Improve log output for delete cluster (#2934)
  pkg/cluster/internal/delete/delete.go
Due: none

manually merge with kahun:fix/gcp_custom_subnets
  pkg/cluster/internal/create/actions/cluster/cluster.go
  pkg/cluster/internal/create/actions/cluster/templates/gcp.tmpl
Due: none

fixed gcp.tmpl
  pkg/cluster/internal/create/actions/cluster/templates/gcp.tmpl
Due: none

revert changes not related
  pkg/cluster/internal/create/actions/createworker/aws.go
  pkg/cluster/internal/providers/docker/stratio/Dockerfile
Due: none
