Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, pull-kind-verify-deps

Path conditions:
  post-kind-push-base-image: any of: ^images\/base
  post-kind-push-kindnetd-image: any of: ^images\/kindnetd
  post-kind-push-haproxy-image: any of: ^images\/haproxy
  pull-kind-verify-deps: any of: ^(go\.mod)|(go\.sum)|(vendor/.*)$

allow no matches when grepping for unsupported_cgroups
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

bump base image
  pkg/build/nodeimage/defaults.go
Due: none

bump node
  pkg/apis/config/defaults/image.go
Due: none

cleanup image building a little
  pkg/build/nodeimage/buildcontext.go
  pkg/build/nodeimage/helpers.go
Due: none

set systemdcgroup true by default in containerd config
  images/base/files/etc/containerd/config.toml
Due: post-kind-push-base-image

move pkg/cluster/internal/patch to pkg/internal/patch
  pkg/cluster/internal/create/actions/config/config.go
  pkg/cluster/internal/create/actions/installcni/cni.go
  pkg/internal/patch/doc.go
  pkg/internal/patch/json6902patch.go
  pkg/internal/patch/kubeyaml.go
  pkg/internal/patch/kubeyaml_test.go
  pkg/internal/patch/matchinfo.go
  pkg/internal/patch/mergepatch.go
  pkg/internal/patch/resource.go
  pkg/internal/patch/toml.go
  pkg/internal/patch/toml_test.go
Due: none

bump node image
  pkg/apis/config/defaults/image.go
Due: none

use systemd cgroups for kubernetes v1.24.0+
  pkg/build/nodeimage/buildcontext.go
  pkg/build/nodeimage/containerd.go
  pkg/cluster/internal/kubeadm/config.go
Due: none

enable kubelet CPUAccounting MemoryAccounting
  images/base/files/etc/systemd/system/kubelet.service
Due: post-kind-push-base-image

bump containerd to 1.6.4
  images/base/Dockerfile
Due: post-kind-push-base-image

setup /kubelet.slice cgroup for systemd driver
  images/base/files/usr/local/bin/create-kubelet-cgroup-v2
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

Add a flag to override server address in the generated config
  pkg/cluster/createoption.go
  pkg/cluster/internal/create/create.go
  pkg/cmd/kind/create/cluster/createcluster.go
Due: none

change apiServerAddress flag to address
  pkg/cmd/kind/create/cluster/createcluster.go
Due: none

version v0.13.0
  pkg/cmd/kind/version/version.go
Due: none

version v0.14.0-alpha
  pkg/cmd/kind/version/version.go
Due: none

upgrade to go 1.18.2
  .go-version
Due: none

containerd: Enable enable_unprivileged_ports and enable_unprivileged_icmp by default
  images/base/files/etc/containerd/config.toml
Due: post-kind-push-base-image

update kindnetd dependencies
  images/kindnetd/Dockerfile
  images/kindnetd/go.mod
  images/kindnetd/go.sum
Due: post-kind-push-kindnetd-image, pull-kind-verify-deps

bump kindnetd
  pkg/build/nodeimage/const_cni.go
Due: none

bump crictl to 1.24.0
  images/base/Dockerfile
Due: post-kind-push-base-image

bump haproxy image deps
  images/haproxy/Dockerfile
Due: post-kind-push-haproxy-image

bump haproxy
  pkg/cluster/internal/loadbalancer/const.go
Due: none

bump qemu to latest
  hack/build/init-buildx.sh
Due: none

update go version instructions
  README.md
Due: none

update install directions to v0.13.0
  README.md
  site/config.toml
Due: none

handle M1 vs intel macs in install directions
  README.md
  site/content/docs/user/quick-start.md
Due: none

[DOC] update README to 0.13
  README.md
Due: none

create digests images when loading images
  pkg/cluster/nodeutils/util.go
Due: none

create digets when preloading images into node
  pkg/build/nodeimage/imageimporter.go
Due: none

containerd configuration with drop-in files
  images/base/files/etc/containerd/certs.d/.gitkeep
  images/base/files/etc/containerd/conf.d/.gitkeep
  images/base/files/etc/containerd/config.toml
Due: post-kind-push-base-image

WIP: Adds OCI image support
  go.mod
  go.sum
  pkg/build/nodeimage/internal/container/docker/archive.go
Due: pull-kind-verify-deps

just export logs into artifacts directly
  hack/ci/e2e-k8s.sh
Due: none

add image for local-path-provisioner
  images/Makefile.common.in
  images/local-path-provisioner/Dockerfile
  images/local-path-provisioner/Makefile
  images/local-path-provisioner/README.md
Due: none

add missing makefile copyright boilerplate
  images/Makefile.common.in
  images/base/Makefile
Due: post-kind-push-base-image

fix querying symlinks
  images/haproxy/stage-binary-and-deps.sh
  images/local-path-helper/stage-binary-and-deps.sh
Due: post-kind-push-haproxy-image

update outdated comments in haproxy image
  images/haproxy/Dockerfile
  images/haproxy/README.md
Due: post-kind-push-haproxy-image

add local-path-provisioner helper image
  images/local-path-helper/Dockerfile
  images/local-path-helper/Makefile
  images/local-path-helper/README.md
  images/local-path-helper/stage-binary-and-deps.sh
Due: none

update to local-path-provisioner 0.0.22
  pkg/build/nodeimage/const_storage.go
Due: none
