Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, pull-kind-verify-deps

post-kind-push-base-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

post-kind-push-kindnetd-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

post-kind-push-haproxy-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

pull-kind-verify-deps:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-experimental
      command:
      - ./hack/verify-deps.sh

support not setting GITHUB_OAUTH_TOKEN
  hack/release/get-contributors.sh
Due: none

emeritus munnerz and amwat
  OWNERS
Due: none

update to go 1.19.1
  .go-version
Due: none

check for new podman overlap error message
  pkg/cluster/internal/providers/podman/network.go
Due: none

drop codepaths for Kubernetes versions < 1.15
  pkg/build/nodeimage/buildcontext.go
  pkg/cluster/internal/kubeadm/config.go
Due: none

add a note to known issue that probably no longer applies
  site/content/docs/user/known-issues.md
Due: none

alphabetize maintainers and drop inactive
  README.md
  site/content/_index.md
  site/content/docs/contributing/getting-started.md
Due: none

Suggest a more updated metallb version
  site/content/docs/user/loadbalancer.md
  site/static/examples/loadbalancer/metallb-config.yaml
  site/static/examples/loadbalancer/metallb-configmap.yaml
Due: none

increase logCancel timeout to 600 seconds
  pkg/cluster/internal/providers/docker/provision.go
Due: none

Remove Ambassador ingress docs
  site/content/docs/user/ingress.md
Due: none

doc: alternative for port mapping or ingress
  site/content/docs/user/using-wsl2.md
Due: none

switch to safetext/yamltemplate for yaml templating
  go.mod
  go.sum
  pkg/cluster/internal/create/actions/installcni/cni.go
  pkg/cluster/internal/kubeadm/config.go
Due: pull-kind-verify-deps

install open-iscsi
  images/base/Dockerfile
Due: post-kind-push-base-image

bump base image
  pkg/build/nodeimage/defaults.go
Due: none

fix pr #2921 comment
  site/content/docs/user/using-wsl2.md
Due: none

don't symlink /dev/console to /dev/kmsg
  images/base/files/usr/local/bin/entrypoint
Due: post-kind-push-base-image

bump crictl to v1.25.0
  images/base/Dockerfile
Due: post-kind-push-base-image

refactor containerd arg to make it easier to switch hosts
  images/base/Dockerfile
Due: post-kind-push-base-image

bump containerd to 1.6.8
  images/base/Dockerfile
Due: post-kind-push-base-image

bump node image to 1.25.2
  pkg/apis/config/defaults/image.go
Due: none

version v0.16.0
  pkg/cmd/kind/version/version.go
Due: none

version v0.17.0-alpha
  pkg/cmd/kind/version/version.go
Due: none

misc: adding String() to KinD provider interface
  pkg/cluster/internal/create/actions/config/config.go
  pkg/cluster/internal/providers/provider.go
Due: none

[DOC] README 0.16
  README.md
Due: none

bump site to 0.16.0
  site/config.toml
Due: none

kindnetd remove wrong routes
  images/kindnetd/cmd/kindnetd/routes.go
Due: post-kind-push-kindnetd-image

bump kindnetd
  pkg/build/nodeimage/const_cni.go
Due: none

kindnetd: fix removal of orphaned routes
  images/kindnetd/cmd/kindnetd/routes.go
Due: post-kind-push-kindnetd-image

WIP performance
  site/content/docs/user/performance.md
Due: none

migrate containerd registry endpoint to hosts.toml
  images/base/files/etc/containerd/certs.d/hosts.toml
  images/base/files/etc/containerd/config.toml
Due: post-kind-push-base-image

don't use index
  pkg/cluster/internal/kubeadm/config.go
Due: none

mark StructuralData
  pkg/cluster/internal/kubeadm/config.go
Due: none

Fix load docker-image with prefix
  pkg/cmd/kind/load/docker-image/docker-image.go
  pkg/cmd/kind/load/docker-image/docker-image_test.go
Due: none

upgrade to go version 1.19.2
  .go-version
Due: none

doc: copy kubernetes.io code blocks design
  site/assets/css/inline.css
  site/layouts/shortcodes/codeFromFile.html
  site/layouts/shortcodes/codeFromInline.html
  site/static/copycode.svg
Due: none

Docker Desktop is available on Linux. The same limitations are applied there like on macOs and Windows. Extra Port mappings are not needed for commandline versions of docker.
  site/content/docs/user/configuration.md
Due: none

add --all-platforms flag to LoadImageArchive
  pkg/cluster/nodeutils/util.go
Due: none

Path conditions:
  post-kind-push-base-image: any of: ^images\/base
  post-kind-push-kindnetd-image: any of: ^images\/kindnetd
  post-kind-push-haproxy-image: any of: ^images\/haproxy
  pull-kind-verify-deps: any of: ^(go\.mod)|(go\.sum)|(vendor/.*)$
