Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-images, post-kubernetes-push-image-pause, pull-publishing-bot-dry-run, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200422-c760048
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200422-c760048
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-images:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20190927-21e0205
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
      - --env-passthrough=PULL_BASE_REF
      - --build-dir=.
  ...

post-kubernetes-push-image-pause:
  decorate: true
  spec:
    serviceAccountName: deployer
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200422-c760048
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kubernetes
      - --scratch-bucket=gs://k8s-staging-kubernetes-gcb
  ...

pull-publishing-bot-dry-run:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190301-76bc03340-master
      command:
      - make
      args:
      - run
      env:
      - name: CONFIG
        value: https://raw.githubusercontent.com/kubernetes/publishing-bot/master/configs/kubernetes
  ...

pull-kubernetes-e2e-aks-engine-azure:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      args:
      - --job=$(JOB_NAME)
      - --root=/go/src
  ...

pull-kubernetes-e2e-azure-disk:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      args:
      - --job=$(JOB_NAME)
      - --root=/go/src
  ...

pull-kubernetes-e2e-azure-disk-vmss:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200213-a79910c-master
      args:
      - --job=$(JOB_NAME)
      - --root=/go/src
  ...

feat(port-forward): warn users about UDP port
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/BUILD
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward.go
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward_test.go
Due: pull-kubernetes-godeps

another:Replace framework.Failf with ExpectNoError
  test/e2e/storage/volume_metrics.go
Due: none

Update pod's conditions(Ready and ContainersReady) immediately
  pkg/kubelet/kubelet.go
  pkg/kubelet/pleg/generic.go
  pkg/kubelet/pleg/generic_test.go
Due: pull-kubernetes-local-e2e-containerized

Do not swallow NotFound error for DeletePod in dsc.manage
  pkg/controller/BUILD
  pkg/controller/controller_utils.go
  pkg/controller/controller_utils_test.go
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/job/job_controller.go
  pkg/controller/replicaset/replica_set.go
Due: none

Add functions for Filed slice
  vendor/k8s.io/utils/trace/trace.go
Due: pull-kubernetes-godeps

e2e_node: fix node-kubelet-benchmark test
  test/e2e_node/density_test.go
Due: none

[WIP] Experiments with containerd/runc DO NOT MERGE -- Another containerd commit (3943a537)
  cluster/gce/config-test.sh
  cluster/gce/gci/configure.sh
Due: pull-kubernetes-e2e-gke

Add retries for kubeadm join / UpdateStatus
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/phases/uploadconfig/BUILD
  cmd/kubeadm/app/phases/uploadconfig/uploadconfig.go
Due: pull-kubernetes-e2e-kubeadm-gce

Removed alpha from annotation
  pkg/controller/controller_utils.go
Due: none

[WIP] Experiments with containerd/runc DO NOT MERGE -- Another containerd commit (1.3.4-nightly)
  cluster/gce/config-test.sh
  cluster/gce/gci/configure.sh
Due: pull-kubernetes-e2e-gke

sort containers by attempt number
  pkg/kubelet/container/runtime.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kuberuntime/helpers.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_gc.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox.go
  pkg/kubelet/pod_container_deletor.go
Due: pull-kubernetes-local-e2e-containerized

go-to-protobuf: fix rewrite of embedded struct fields
  staging/src/k8s.io/code-generator/cmd/go-to-protobuf/protobuf/parser.go
Due: pull-kubernetes-godeps

some tests for new function
  staging/src/k8s.io/code-generator/cmd/go-to-protobuf/protobuf/parser_test.go
Due: pull-kubernetes-godeps

update e2e_node OWNERS file
  test/e2e_node/OWNERS
Due: none

Fixed bug where ingress table printer did not check to see if HTTP was enabled before including port 80 in the output
  pkg/printers/internalversion/printers.go
  pkg/printers/internalversion/printers_test.go
Due: none

set dest prefix and port for IPv6 sg rule
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
Due: pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-godeps

Remove quotes from error for readability
  plugin/pkg/auth/authorizer/node/node_authorizer.go
Due: none

Added a benchmark to evaluate overhead of unschedulable pods
  test/integration/scheduler_perf/config/performance-config.yaml
  test/integration/scheduler_perf/config/pod-large-cpu.yaml
  test/integration/scheduler_perf/scheduler_perf_test.go
Due: none

[WIP] Experiments with containerd/runc DO NOT MERGE -- (7699c5e9)
  cluster/gce/config-test.sh
  cluster/gce/gci/configure.sh
Due: pull-kubernetes-e2e-gke

Fix fieldType being dropped by older go-clients
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/validation/validation.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/validation/validation_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/managedfields.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/managedfields_test.go
Due: pull-kubernetes-godeps

FieldManager: Reset if we receive nil or a list with one empty item
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/managedfields.go
  test/integration/apiserver/apply/apply_test.go
Due: pull-kubernetes-godeps

[WIP] Experiments with containerd/runc DO NOT MERGE -- (1.4-38cb1c1a)
  cluster/gce/config-test.sh
  cluster/gce/gci/configure.sh
Due: pull-kubernetes-e2e-gke

node_authorizer.go: use %s for node names for log uniformity
  plugin/pkg/auth/authorizer/node/node_authorizer.go
Due: none

node_authorizer.go: single-quote node name for readability++
  plugin/pkg/auth/authorizer/node/node_authorizer.go
Due: none

[WIP] Experiments with containerd/runc DO NOT MERGE -- (1.3-gb26e6abe)
  cluster/gce/config-test.sh
  cluster/gce/gci/configure.sh
Due: pull-kubernetes-e2e-gke

[WIP] Experiments with containerd/runc DO NOT MERGE -- (1.3.4)
  cluster/gce/config-test.sh
  cluster/gce/gci/configure.sh
Due: pull-kubernetes-e2e-gke

Introduce PostFilter extension point
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/framework_test.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/scheduler.go
  test/integration/scheduler/framework_test.go
Due: none

[WIP] Experiments with containerd/runc DO NOT MERGE -- (1.3 - 1e902b2d)
  cluster/gce/config-test.sh
  cluster/gce/gci/configure.sh
Due: pull-kubernetes-e2e-gke

Remove unnecessary log message causing significant overhead on preemption evaluation
  pkg/scheduler/core/generic_scheduler.go
Due: none

[WIP] Experiments with containerd/runc DO NOT MERGE -- (1.3 - 3943a537)
  cluster/gce/config-test.sh
  cluster/gce/gci/configure.sh
Due: pull-kubernetes-e2e-gke

Add v1 CSR support to kubectl describe
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/util/certificate/BUILD
  staging/src/k8s.io/kubectl/pkg/util/certificate/certificate.go
Due: pull-kubernetes-godeps

Promote RotateKubeletClientCertificate to GA
  cmd/kubelet/app/server.go
  pkg/features/kube_features.go
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/validation/validation.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized, pull-kubernetes-godeps

Add support for v1 CSRs to kubectl certificate commands
  build/visible_to/BUILD
  staging/src/k8s.io/kubectl/pkg/cmd/certificates/BUILD
  staging/src/k8s.io/kubectl/pkg/cmd/certificates/certificates.go
  staging/src/k8s.io/kubectl/pkg/cmd/certificates/certificates_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/testing/fake.go
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Switch CSR approver/signer/cleaner controllers to v1
  cmd/kube-controller-manager/app/certificates.go
  pkg/apis/certificates/BUILD
  pkg/apis/certificates/helpers.go
  pkg/apis/certificates/v1beta1/defaults.go
  pkg/apis/certificates/validation/validation.go
  pkg/controller/certificates/BUILD
  pkg/controller/certificates/approver/BUILD
  pkg/controller/certificates/approver/sarapprove.go
  pkg/controller/certificates/approver/sarapprove_test.go
  pkg/controller/certificates/authority/BUILD
  pkg/controller/certificates/authority/authority_test.go
  pkg/controller/certificates/authority/policies.go
  pkg/controller/certificates/authority/policies_test.go
  pkg/controller/certificates/certificate_controller.go
  pkg/controller/certificates/certificate_controller_test.go
  pkg/controller/certificates/certificate_controller_utils.go
  pkg/controller/certificates/certificate_controller_utils_test.go
  pkg/controller/certificates/cleaner/BUILD
  pkg/controller/certificates/cleaner/cleaner.go
  pkg/controller/certificates/cleaner/cleaner_test.go
  pkg/controller/certificates/signer/BUILD
  pkg/controller/certificates/signer/signer.go
  pkg/controller/certificates/signer/signer_test.go
  plugin/pkg/admission/certificates/subjectrestriction/admission.go
  test/e2e/framework/.import-restrictions
  test/integration/certificates/controller_approval_test.go
Due: none

Cherry pick, do not merge
  plugin/pkg/admission/runtimeclass/BUILD
  plugin/pkg/admission/runtimeclass/admission.go
  plugin/pkg/admission/runtimeclass/admission_test.go
Due: none

remove retries of CreateOrMutateConfigMap and MutateConfigMap and add retry in the caller
  cmd/kubeadm/app/phases/uploadconfig/uploadconfig.go
  cmd/kubeadm/app/util/apiclient/BUILD
  cmd/kubeadm/app/util/apiclient/idempotency.go
  cmd/kubeadm/app/util/apiclient/idempotency_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

honor --cache-dir so that server resources and http-cache data are stored in the same location
  staging/src/k8s.io/cli-runtime/pkg/genericclioptions/config_flags.go
Due: pull-kubernetes-godeps

Support update PodManagementPolicy field for StatefulSet
  pkg/apis/apps/validation/validation.go
  pkg/apis/apps/validation/validation_test.go
Due: none

update corefile-migration library to 1.0.8
  go.mod
  go.sum
  vendor/github.com/coredns/corefile-migration/migration/corefile/corefile.go
  vendor/github.com/coredns/corefile-migration/migration/migrate.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-images: any of: ^test\/images\/
  post-kubernetes-push-image-pause: any of: ^build\/pause\/
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
