Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/

Add `document.GatherReleaseNotesDocument` and `notes.GatherReleaseNotes` API
  cmd/krel/cmd/changelog.go
  cmd/krel/cmd/release_notes.go
  cmd/release-notes/main.go
  pkg/notes/document/document.go
  pkg/notes/document/document_test.go
  pkg/notes/notes.go
Due: none

pkg/gcp: Swap GCloudExecutable and TarExecutable const values
  pkg/gcp/gcp.go
Due: none

anago: Add '--branch' to krel gcbmgr command tip
  anago
Due: none

Fix setting start-rev in krel changelog
  cmd/krel/cmd/changelog.go
  pkg/notes/options/options.go
Due: none

dependencies/golangci-lint: update to use release v1.24.0
  go.mod
  go.sum
  hack/verify-golangci-lint.sh
  repos.bzl
Due: none

images: Revert k8s-cloud-builder changes in kube-cross
  images/build/cross/Dockerfile
  images/build/cross/variants.yaml
  images/k8s-cloud-builder/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images/k8s-cloud-builder: Fix indentation
  images/k8s-cloud-builder/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

kube-cross: Fixup version arguments
  images/build/cross/Dockerfile
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

kube-cross: Drop SKOPEO_VERSION from image config
  images/build/cross/Makefile
  images/build/cross/cloudbuild.yaml
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

k8s-cloud-builder: Enable variant building
  images/k8s-cloud-builder/Dockerfile
  images/k8s-cloud-builder/cloudbuild.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

gcb: Use k8s-cloud-builder image for stage/release artifact phases
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
Due: none

images: Remove extraneous config values
  images/build/cross/Dockerfile
  images/build/cross/variants.yaml
  images/k8s-cloud-builder/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

k8s-cloud-builder: Build images on kube-cross v1.14.2-4 and v1.13.9-5
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Switch to go-git/v5
  go.mod
  go.sum
  pkg/git/BUILD.bazel
  pkg/git/git.go
  pkg/git/git_integration_test.go
  pkg/git/gitfakes/BUILD.bazel
  pkg/git/gitfakes/fake_repository.go
  pkg/git/gitfakes/fake_worktree.go
  pkg/notes/options/BUILD.bazel
  pkg/notes/options/options_test.go
  pkg/release/BUILD.bazel
  pkg/release/repository_test.go
  repos.bzl
Due: none

Verify non dirty or mismatched k/release checkouts
  pkg/git/BUILD.bazel
  pkg/git/git.go
  pkg/git/git_integration_test.go
  pkg/git/git_test.go
  pkg/git/gitfakes/fake_worktree.go
  pkg/release/releasefakes/fake_repository.go
  pkg/release/repository.go
  pkg/release/repository_test.go
Due: none

Make kubepkg tests independent from the internet
  cmd/kubepkg/cmd/debs.go
  cmd/kubepkg/cmd/root.go
  cmd/kubepkg/cmd/rpms.go
  pkg/kubepkg/BUILD.bazel
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkg_test.go
Due: none

Add dependency change possiblity to release notes
  go.mod
  go.sum
  pkg/notes/BUILD.bazel
  pkg/notes/dependencies.go
  pkg/notes/dependencies_test.go
  pkg/notes/notesfakes/BUILD.bazel
  pkg/notes/notesfakes/fake_mo_diff.go
  repos.bzl
Due: none

Refactor kubepkg options into own package
  cmd/kubepkg/cmd/debs.go
  cmd/kubepkg/cmd/root.go
  cmd/kubepkg/cmd/rpms.go
  pkg/kubepkg/BUILD.bazel
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkg_test.go
  pkg/kubepkg/options/BUILD.bazel
  pkg/kubepkg/options/options.go
  pkg/kubepkg/options/options_test.go
Due: none

Allow gcbmgr and anago to build betas from master
  anago
  cmd/krel/cmd/gcbmgr.go
  cmd/krel/cmd/gcbmgr_test.go
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
  lib/gitlib.sh
  lib/releaselib.sh
Due: none

Remove --official and --rc flags
  anago
  cmd/krel/cmd/gcbmgr.go
  cmd/krel/cmd/gcbmgr_test.go
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
  lib/releaselib.sh
Due: none

Add GetRepository() to github pkg and RepoIsForkOf() to verify repo inheritance
  pkg/github/github.go
  pkg/github/github_test.go
  pkg/github/githubfakes/fake_client.go
  pkg/github/record.go
  pkg/github/replay.go
Due: none

Validate --type flag on anago
  anago
  lib/releaselib.sh
Due: none

lib/release: Fix version label logic for release cuts
  lib/releaselib.sh
Due: none

Enhance kubepkg testing
  pkg/kubepkg/BUILD.bazel
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkg_test.go
  pkg/kubepkg/kubepkgfakes/BUILD.bazel
  pkg/kubepkg/kubepkgfakes/fake_impl.go
Due: none

Add dependency changes to generated changelog
  cmd/krel/cmd/BUILD.bazel
  cmd/krel/cmd/changelog.go
  cmd/krel/cmd/changelog_data_test.go
  cmd/krel/cmd/changelog_test.go
  go.mod
  go.sum
  pkg/notes/dependencies.go
  pkg/notes/dependencies_test.go
  repos.bzl
Due: none

Add dependency report option to release-notes tool
  cmd/release-notes/README.md
  cmd/release-notes/main.go
  pkg/notes/dependencies.go
Due: none

[krel] gcbmgr: Add validation method for GcbmgrOptions
  cmd/krel/cmd/gcbmgr.go
  cmd/krel/cmd/gcbmgr_test.go
Due: none

kube-cross: Build v1.14.3-1 image
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Update go-modiff to v1.2.0
  go.mod
  go.sum
  repos.bzl
Due: none

Normalize repository paths starting with ~/
  pkg/git/git.go
Due: none

Add dependency report option to krel release-notes
  cmd/krel/cmd/changelog.go
  cmd/krel/cmd/release_notes.go
  cmd/krel/cmd/root.go
  docs/krel/changelog.md
  docs/krel/release-notes.md
Due: none

k8s-cloud-builder: Build cross1.14 variant on kube-cross:v1.14.3-1
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Fix import group order in kubepkg.go
  pkg/kubepkg/kubepkg.go
Due: none

anago: push git branch verbose
  anago
Due: none

udpate dependencies
  go.mod
  go.sum
  repos.bzl
Due: none

Revert git push dry-run verbose logging
  anago
Due: none

Automate PR creation for relnote.k8s.io updates
  cmd/krel/cmd/release_notes.go
Due: none

Fix default --dependencies flag value in documentation
  cmd/release-notes/README.md
Due: none

Automate PR creation for updates to the Release Notes draft
  cmd/krel/cmd/release_notes.go
Due: none

Fix markdown rendering issues in relnotes and chnagelog templates
  cmd/krel/cmd/changelog.go
  cmd/krel/cmd/changelog_data_test.go
  cmd/krel/cmd/release_notes.go
  pkg/notes/document/template.go
  pkg/notes/document/testdata/document.md.golden
  pkg/notes/document/testdata/document_without_downloads.md.golden
Due: none
