Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-k8s-cloud-builder, post-release-push-image-deb-builder, post-release-push-image-rpm-builder

post-release-push-image-k8s-cloud-builder:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20191024-5047392
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-deb-builder:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20191024-5047392
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
      - build/debs
      env:
  ...

post-release-push-image-rpm-builder:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20191024-5047392
      command:
      - /run.sh
      args:
      - --project=k8s-staging-release-test
      - --scratch-bucket=gs://k8s-staging-release-test-gcb
      - --env-passthrough=PULL_BASE_REF
      - build/rpms
      env:
  ...

Add more discovery mode unit tests
  cmd/krel/cmd/changelog.go
  cmd/krel/cmd/ff.go
  cmd/release-notes/BUILD.bazel
  cmd/release-notes/main.go
  pkg/git/git.go
  pkg/git/git_test.go
  pkg/notes/options.go
Due: none

Change octal literal usage to be prefixed with 0o
  build/debs/build.go
  cmd/release-notes/main.go
  pkg/git/git_test.go
  pkg/notes/document_test.go
  pkg/notes/options_test.go
  pkg/release/release_test.go
  pkg/util/common_test.go
Due: post-release-push-image-deb-builder, post-release-push-image-rpm-builder

lint: Fix godox warnings for TODOs
  cmd/krel/cmd/changelog.go
  cmd/krel/cmd/push.go
  cmd/release-notes/main.go
  pkg/notes/client.go
  pkg/notes/notes.go
Due: none

lint: Fix golint warnings
  pkg/notes/notes_gatherer_test.go
Due: none

lint: Fix varcheck warnings
  pkg/release/release.go
Due: none

lint: Fix ineffassign warnings
  cmd/krel/cmd/push.go
Due: none

lint: Fix gosimple warnings
  pkg/notes/internal/retry_test.go
Due: none

lint: Fix gocritic warnings
  pkg/notes/client.go
  pkg/notes/notes_gatherer_test.go
  pkg/notes/notesfakes/fake_client.go
Due: none

kubepkg: Fix lint warnings
  cmd/kubepkg/cmd/debs.go
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkg_test.go
Due: none

kubepkg: Move debs subcommand to separate cmd directory
  cmd/kubepkg/BUILD.bazel
  cmd/kubepkg/cmd/BUILD.bazel
  cmd/kubepkg/cmd/debs.go
  cmd/kubepkg/cmd/debs_test.go
  cmd/kubepkg/cmd/root.go
  cmd/kubepkg/main.go
Due: none

kubepkg: Pass PackageDefinition as pointer instead of struct
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkg_test.go
Due: none

kubepkg: Move deb-builder into kubepkg tool
  build/debs/go.mod
  build/debs/go.sum
  cmd/kubepkg/Dockerfile
  cmd/kubepkg/build.go
  cmd/kubepkg/build_test.go
  cmd/kubepkg/cloudbuild.yaml
  hack/tools.go
Due: post-release-push-image-deb-builder, post-release-push-image-rpm-builder

kubepkg: Use logrus for logging
  cmd/kubepkg/cmd/BUILD.bazel
  cmd/kubepkg/cmd/debs.go
  cmd/kubepkg/cmd/root.go
  pkg/kubepkg/BUILD.bazel
  pkg/kubepkg/kubepkg.go
Due: none

kubepkg: Refactor common non-command vars and functions into pkg/kubepkg
  BUILD.bazel
  build/debs/BUILD.bazel
  cmd/kubepkg/cmd/debs.go
  cmd/kubepkg/cmd/root.go
  go.mod
  go.sum
  pkg/kubepkg/BUILD.bazel
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkg_test.go
  repos.bzl
Due: post-release-push-image-deb-builder, post-release-push-image-rpm-builder

kubepkg: Use pkg/command for running commands
  pkg/kubepkg/BUILD.bazel
  pkg/kubepkg/kubepkg.go
Due: none

kubepkg: Improve log messages
  pkg/kubepkg/kubepkg.go
Due: none

kubepkg: Add/update tests
  pkg/kubepkg/BUILD.bazel
  pkg/kubepkg/kubepkg_test.go
Due: none

cmd/kubepkg: Update copyright
  cmd/kubepkg/cmd/root.go
Due: none

kubepkg: Clean up error handling
  cmd/kubepkg/cmd/BUILD.bazel
  cmd/kubepkg/cmd/debs.go
  pkg/git/BUILD.bazel
  pkg/git/git.go
  pkg/git/git_test.go
  pkg/kubepkg/BUILD.bazel
  pkg/kubepkg/kubepkg.go
  pkg/util/common.go
Due: none

kubepkg: Use long-form flags for dpkg-buildpackage
  pkg/kubepkg/kubepkg.go
Due: none

kubepkg: Initial commit of rpm support
  build/rpms/10-kubeadm-post-1.8.conf
  build/rpms/10-kubeadm-pre-1.8.conf
  build/rpms/packages/latest/kubeadm/10-kubeadm.conf
  build/rpms/packages/latest/kubelet/kubelet.env
  build/rpms/packages/latest/kubelet/kubelet.service
  build/rpms/packages/latest/kubelet/kubelet.spec
  cmd/kubepkg/cmd/BUILD.bazel
  cmd/kubepkg/cmd/rpms.go
Due: post-release-push-image-deb-builder, post-release-push-image-rpm-builder

build/rpms: Split packages into individual spec files
  build/rpms/.gitignore
  build/rpms/packages/latest/cri-tools/cri-tools.spec
  build/rpms/packages/latest/kubeadm/kubeadm.spec
  build/rpms/packages/latest/kubectl/kubectl.spec
  build/rpms/packages/latest/kubelet/kubelet.spec
  build/rpms/packages/latest/kubernetes-cni/kubernetes-cni.spec
Due: post-release-push-image-deb-builder, post-release-push-image-rpm-builder

kubepkg: Add BuildType variable to enable building cases for debs/rpms
  cmd/kubepkg/cmd/debs.go
  cmd/kubepkg/cmd/rpms.go
  pkg/kubepkg/kubepkg.go
Due: none

kubepkg: Move build definition templating logic to template.go
  pkg/kubepkg/BUILD.bazel
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/template.go
Due: none

kubepkg: Add getBuildArch function and rename cfg to buildConfig
  build/debs/packages/latest/cri-tools/debian/control
  build/debs/packages/latest/cri-tools/debian/rules
  build/debs/packages/latest/kubeadm/debian/control
  build/debs/packages/latest/kubeadm/debian/rules
  build/debs/packages/latest/kubectl/debian/control
  build/debs/packages/latest/kubectl/debian/rules
  build/debs/packages/latest/kubelet/debian/control
  build/debs/packages/latest/kubelet/debian/rules
  build/debs/packages/latest/kubernetes-cni/debian/control
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/template.go
Due: post-release-push-image-deb-builder, post-release-push-image-rpm-builder

kubepkg: Support templating as a standalone step
  cmd/kubepkg/cmd/debs.go
  cmd/kubepkg/cmd/root.go
  cmd/kubepkg/cmd/rpms.go
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/template.go
Due: none

kubepkg: Fix copyright and file error-checking based on reviews
  cmd/kubepkg/cmd/rpms.go
  pkg/kubepkg/kubepkg.go
Due: none

kubepkg: Add validation for user-supplied packages, channels, and arches
  cmd/kubepkg/cmd/BUILD.bazel
  cmd/kubepkg/cmd/debs.go
  cmd/kubepkg/cmd/root.go
  cmd/kubepkg/cmd/rpms.go
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkg_test.go
Due: none

build/rpms: Enable go templating for rpm specs
  build/rpms/templates/latest/cri-tools/cri-tools.spec
  build/rpms/templates/latest/kubeadm/kubeadm.spec
  build/rpms/templates/latest/kubectl/kubectl.spec
  build/rpms/templates/latest/kubelet/kubelet.spec
  build/rpms/templates/latest/kubernetes-cni/kubernetes-cni.spec
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/template.go
Due: post-release-push-image-deb-builder, post-release-push-image-rpm-builder

kubepkg: Use maps to retrieve package dependencies
  build/debs/templates/latest/kubeadm/debian/control
  build/debs/templates/latest/kubelet/debian/control
  build/rpms/templates/latest/kubeadm/kubeadm.spec
  build/rpms/templates/latest/kubelet/kubelet.spec
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkg_test.go
Due: post-release-push-image-deb-builder, post-release-push-image-rpm-builder

kubepkg: Fix packageDefinition pointer copy
  pkg/kubepkg/kubepkg.go
Due: none

Fix minor-to-latest discovery mode
  cmd/release-notes/README.md
  cmd/release-notes/main.go
  pkg/git/git.go
  pkg/git/git_test.go
  pkg/notes/options.go
  pkg/notes/options_test.go
Due: none

Add table of contents generation support
  cmd/release-notes/main.go
  pkg/notes/BUILD.bazel
  pkg/notes/options.go
  pkg/notes/toc.go
  pkg/notes/toc_test.go
Due: none

Add markdown creation support for krel changelog
  cmd/krel/cmd/BUILD.bazel
  cmd/krel/cmd/changelog.go
  cmd/release-notes/main.go
Due: none

Add prow container image
  images/README.md
  images/releng-ci-bazel/Dockerfile
  images/releng-ci-bazel/cloudbuild.yaml
  images/releng-ci-bazel/test.yaml
Due: post-release-push-image-k8s-cloud-builder

Use testgrid config from github.com/GoogleCloudPlatform
  cmd/blocking-testgrid-tests/BUILD.bazel
  cmd/blocking-testgrid-tests/main.go
  go.mod
  go.sum
  repos.bzl
Due: none

add initial and basic tests for krel
  cmd/krel/cmd/BUILD.bazel
  cmd/krel/cmd/changelog_test.go
  cmd/krel/cmd/root_test.go
  go.mod
  go.sum
  repos.bzl
Due: none

Fix and adapt linter config
  .golangci.yml
  cmd/krel/cmd/push.go
  cmd/kubepkg/cmd/debs.go
  cmd/kubepkg/cmd/rpms.go
  cmd/release-notes/main.go
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkg_test.go
  pkg/notes/client.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
  pkg/notes/options.go
Due: none

Update dependencies and cleanup go.mod
  go.mod
  go.sum
  repos.bzl
Due: none

Path conditions:
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-deb-builder: any of: ^build\/
  post-release-push-image-rpm-builder: any of: ^build\/
