Repository kubernetes-sigs/kind: changes, and which Prow jobs are due for each by the changed paths.
All: post-kind-push-base-image, post-kind-push-kindnetd-image, post-kind-push-haproxy-image, pull-kind-verify-deps

post-kind-push-base-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

post-kind-push-kindnetd-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

post-kind-push-haproxy-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --project=k8s-staging-kind
      - --scratch-bucket=gs://k8s-staging-kind-gcb
      - --env-passthrough=PULL_BASE_SHA
  ...

pull-kind-verify-deps:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-experimental
      command:
      - ./hack/verify-deps.sh

simplify removeDuplicates, improve comment
  pkg/cmd/kind/load/docker-image/docker-image.go
Due: none

Fix a small typo
  site/content/docs/user/quick-start.md
Due: none

set --snapshotter when loading image archives
  pkg/cluster/nodeutils/util.go
  pkg/cluster/nodeutils/util_test.go
Due: none

upgrade to containerd 1.5.8
  images/base/Dockerfile
Due: post-kind-push-base-image

bump node image
  pkg/build/nodeimage/defaults.go
Due: none

bump node image
  pkg/apis/config/defaults/image.go
Due: none

Bumps kindnetd image and go version
  .go-version
  images/kindnetd/Dockerfile
Due: post-kind-push-kindnetd-image

ensure PATH is set in mount-product-files hook
  images/base/files/usr/local/bin/mount-product-files
Due: post-kind-push-base-image

be sure env is set in path parameters
  images/base/files/usr/local/bin/mount-product-files
Due: post-kind-push-base-image

bump base image
  pkg/build/nodeimage/defaults.go
Due: none

bump kindnetd image
  pkg/build/nodeimage/const_cni.go
Due: none

de-dupe clusterHasIPv6 and clusterHasImplicitLoadBalancer in providers
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/podman/provision.go
  pkg/internal/apis/config/cluster_util.go
  pkg/internal/apis/config/cluster_util_test.go
Due: none

fix dual-stack order detection
  pkg/cluster/internal/create/actions/config/config.go
Due: none

CI: update Fedora to 35
  hack/ci/Vagrantfile
Due: none

rootless: set LocalStorageCapacityIsolation=false to avoid "could not find device ..." error
  pkg/cluster/internal/kubeadm/config.go
Due: none

temp debug
  .github/workflows/cgroup2.yaml
Due: none

del rlimits from cri base spec
  images/base/Dockerfile
Due: post-kind-push-base-image

Fixed install command on index and readme.
  README.md
  site/content/_index.md
Due: none

refactor: remove deprecated flag --address from scheduler config
  pkg/cluster/internal/kubeadm/config.go
Due: none

fix: listnodes error message
  pkg/cluster/internal/providers/docker/provider.go
  pkg/cluster/internal/providers/podman/provider.go
Due: none

patches to kind to work within a container
  pkg/cluster/internal/create/actions/kubeadminit/init.go
  pkg/cluster/internal/create/actions/waitforready/waitforready.go
Due: none

wait up to 1minute
  pkg/cluster/internal/create/actions/kubeadminit/init.go
Due: none

removed commented code
  pkg/cluster/internal/create/actions/waitforready/waitforready.go
Due: none

bump go to 1.17.6
  .go-version
Due: none

bump containerd
  images/base/Dockerfile
Due: post-kind-push-base-image

upgrade to kubeadm v1beta3 config format
  pkg/cluster/internal/kubeadm/config.go
Due: none

Document known issue around BTRFS
  site/content/docs/user/known-issues.md
Due: none

Improved wording for "Failed to get rootfs info"
  site/content/docs/user/known-issues.md
Due: none

Fix broken link in known issues
  site/content/docs/user/known-issues.md
Due: none

Point broken links to live ad-free file permissions calculator
  images/base/Dockerfile
Due: post-kind-push-base-image

handle "master" label/taint changes for kubeadm 1.24
  pkg/build/nodeimage/const_storage.go
  pkg/cluster/internal/create/actions/kubeadminit/init.go
  pkg/cluster/internal/create/actions/waitforready/waitforready.go
  site/static/examples/ingress/contour/patch.json
Due: none

Local registry: only attach network if missing
  site/static/examples/kind-with-registry.sh
Due: none

minor follow-up tweaks to kind-with-registry.sh
  site/static/examples/kind-with-registry.sh
Due: none

fix: typo
  pkg/cluster/internal/providers/docker/network.go
Due: none

Path conditions:
  post-kind-push-base-image: any of: ^images\/base
  post-kind-push-kindnetd-image: any of: ^images\/kindnetd
  post-kind-push-haproxy-image: any of: ^images\/haproxy
  pull-kind-verify-deps: any of: ^(go\.mod)|(go\.sum)|(vendor/.*)$
