Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-publishing-bot-dry-run, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

Path conditions:
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$

fix typos in kubelet.go
  pkg/kubelet/kubelet.go
Due: pull-kubernetes-local-e2e-containerized

fix wrong spells in events.go
  pkg/apis/core/validation/events.go
Due: none

Regenerate _example informers packages
  staging/src/k8s.io/code-generator/_examples/apiserver/informers/externalversions/example2/interface.go
  staging/src/k8s.io/code-generator/_examples/apiserver/informers/internalversion/example2/interface.go
  staging/src/k8s.io/code-generator/_examples/crd/informers/externalversions/example2/interface.go
Due: pull-kubernetes-godeps

fix mis-spelling in etcd readme.md
  cluster/images/etcd/README.md
Due: none

cleanup: log message typo fix
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
Due: pull-kubernetes-godeps

kubeadm: add forgotten error check
  cmd/kubeadm/app/cmd/config.go
Due: pull-kubernetes-e2e-kubeadm-gce

Fix es 7.x.x initial cluster formation
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  cluster/addons/fluentd-elasticsearch/es-image/Makefile
  cluster/addons/fluentd-elasticsearch/es-image/config/elasticsearch.yml
  cluster/addons/fluentd-elasticsearch/es-image/elasticsearch_logging_discovery.go
  cluster/addons/fluentd-elasticsearch/es-image/go.mod
  cluster/addons/fluentd-elasticsearch/es-statefulset.yaml
  cluster/addons/fluentd-elasticsearch/kibana-deployment.yaml
Due: pull-kubernetes-e2e-gke, pull-kubernetes-cross

Add support for ephemeral containers to the kubelet
  pkg/kubelet/container/helpers.go
  pkg/kubelet/container/helpers_test.go
  pkg/kubelet/container/ref.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
  pkg/kubelet/server/server.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
Due: pull-kubernetes-local-e2e-containerized

Generated code for Ephemeral Containers in kubelet
  pkg/kubelet/container/BUILD
  pkg/kubelet/kuberuntime/BUILD
  pkg/kubelet/volumemanager/populator/BUILD
Due: pull-kubernetes-local-e2e-containerized

migrate leader election to lease API
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/BUILD
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/configmaplock.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/endpointslock.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/interface.go
Due: pull-kubernetes-godeps

EvenPodsSpread: Define a new Predicate
  pkg/scheduler/algorithm/predicates/error.go
  pkg/scheduler/algorithm/predicates/predicates.go
  pkg/scheduler/algorithmprovider/defaults/defaults.go
Due: none

EvenPodsSpread: update 'selfMatch' logic
  pkg/scheduler/algorithm/predicates/metadata.go
  pkg/scheduler/algorithm/predicates/predicates.go
  pkg/scheduler/algorithm/predicates/predicates_test.go
Due: none

fixup: address comments
  pkg/scheduler/algorithm/predicates/BUILD
  pkg/scheduler/algorithm/predicates/predicates.go
Due: none

EvenPodsSpread: UT on genericScheduler.Schedule()
  pkg/scheduler/core/generic_scheduler_test.go
Due: none

EvenPodsSpread: Core Predicate logic
  pkg/scheduler/algorithm/predicates/BUILD
  pkg/scheduler/algorithm/predicates/error.go
  pkg/scheduler/algorithm/predicates/metadata.go
  pkg/scheduler/algorithm/predicates/predicates.go
  pkg/scheduler/algorithm/predicates/predicates_test.go
Due: none

client-go/testing: Don't save subresources
  staging/src/k8s.io/client-go/testing/BUILD
  staging/src/k8s.io/client-go/testing/fixture.go
  staging/src/k8s.io/client-go/testing/fixture_test.go
Due: pull-kubernetes-godeps

Add service reachability test util function and e2e fixes
  test/e2e/framework/pod/resource.go
  test/e2e/framework/service/BUILD
  test/e2e/framework/service/const.go
  test/e2e/framework/service/hostname.go
  test/e2e/framework/service/jig.go
  test/e2e/instrumentation/monitoring/stackdriver_metadata_agent.go
  test/e2e/network/service.go
Due: none

Implement Teardown Priority
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/nodestatus/setters.go
  pkg/scheduler/algorithm/priorities/priorities.go
  pkg/scheduler/algorithm/priorities/teardown.go
  pkg/scheduler/algorithmprovider/defaults/defaults.go
  pkg/scheduler/algorithmprovider/defaults/register_priorities.go
  staging/src/k8s.io/api/core/v1/generated.pb.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/testdata/HEAD/core.v1.Node.json
  staging/src/k8s.io/api/testdata/HEAD/core.v1.Node.yaml
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.pb.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-godeps

Some feedback (squash later)
  cmd/kube-scheduler/app/server.go
  pkg/scheduler/algorithmprovider/BUILD
  pkg/scheduler/algorithmprovider/defaults/BUILD
  pkg/scheduler/algorithmprovider/defaults/defaults.go
  pkg/scheduler/api/validation/BUILD
  pkg/scheduler/api/validation/validation.go
Due: none

Add support for windows to AWS EBS
  pkg/volume/awsebs/BUILD
  pkg/volume/awsebs/attacher.go
  pkg/volume/awsebs/attacher_linux.go
  pkg/volume/awsebs/attacher_unsupported.go
  pkg/volume/awsebs/attacher_windows.go
  pkg/volume/awsebs/aws_ebs.go
Due: none

Enable windows ntfs e2e storage tests for aws driver
  test/e2e/storage/drivers/in_tree.go
Due: none

Check whether metricObj can be converted to *v1beta2.MetricValueList
  staging/src/k8s.io/metrics/pkg/client/custom_metrics/versioned_client.go
Due: pull-kubernetes-godeps

Move pkg/kubectl/util to staging
  pkg/kubectl/BUILD
  pkg/kubectl/cmd/logs/BUILD
  pkg/kubectl/cmd/logs/logs.go
  pkg/kubectl/cmd/portforward/BUILD
  pkg/kubectl/cmd/portforward/portforward.go
  pkg/kubectl/cmd/rollingupdate/BUILD
  pkg/kubectl/cmd/rollingupdate/rollingupdate.go
  pkg/kubectl/generate/versioned/BUILD
  pkg/kubectl/generate/versioned/configmap.go
  pkg/kubectl/generate/versioned/secret.go
  pkg/kubectl/proxy/BUILD
  pkg/kubectl/proxy/proxy_server.go
  pkg/kubectl/rolling_updater.go
  pkg/kubectl/rolling_updater_test.go
  pkg/kubectl/util/BUILD
  staging/src/k8s.io/kubectl/BUILD
  staging/src/k8s.io/kubectl/pkg/util/BUILD
  staging/src/k8s.io/kubectl/pkg/util/pod_port.go
  staging/src/k8s.io/kubectl/pkg/util/pod_port_test.go
  staging/src/k8s.io/kubectl/pkg/util/service_port.go
  staging/src/k8s.io/kubectl/pkg/util/service_port_test.go
  staging/src/k8s.io/kubectl/pkg/util/umask.go
  staging/src/k8s.io/kubectl/pkg/util/umask_windows.go
  staging/src/k8s.io/kubectl/pkg/util/util.go
  staging/src/k8s.io/kubectl/pkg/util/util_test.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

Store config args instead of config factory in test context
  test/integration/scheduler/scheduler_test.go
  test/integration/scheduler/util.go
Due: none

Remove NodeLister from Scheduler Configurator
  pkg/scheduler/factory/factory.go
  pkg/scheduler/testutil.go
  test/integration/scheduler/scheduler_test.go
Due: none

update dependency
  go.mod
  go.sum
  pkg/kubectl/generated/bindata.go
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiextensions-apiserver/pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/generated.pb.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/generated.proto
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/BUILD
  staging/src/k8s.io/code-generator/_examples/apiserver/openapi/zz_generated.openapi.go
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-apiserver/pkg/generated/openapi/zz_generated.openapi.go
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/fieldpath/BUILD
  vendor/sigs.k8s.io/structured-merge-diff/fieldpath/serialize-pe.go
  vendor/sigs.k8s.io/structured-merge-diff/fieldpath/serialize.go
  vendor/sigs.k8s.io/structured-merge-diff/fieldpath/set.go
  vendor/sigs.k8s.io/structured-merge-diff/value/BUILD
  vendor/sigs.k8s.io/structured-merge-diff/value/fastjson.go
  vendor/sigs.k8s.io/structured-merge-diff/value/value.go
Due: pull-kubernetes-godeps

Only support service.beta.kubernetes.io/azure-load-balancer-enable-tcp-reset on service backed by SLB
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
Due: pull-kubernetes-godeps

EvenPodsSpread: Supports Preemption (removePod)
  pkg/scheduler/algorithm/predicates/metadata.go
  pkg/scheduler/algorithm/predicates/metadata_test.go
  pkg/scheduler/algorithm/predicates/predicates.go
Due: none

EvenPodsSpread: Preemption UT on generic_scheduler
  pkg/scheduler/core/generic_scheduler_test.go
Due: none

EvenPodsSpread: update addPod() logic to match individual constraint
  pkg/scheduler/algorithm/predicates/metadata.go
  pkg/scheduler/algorithm/predicates/metadata_test.go
Due: none

fixup: address comments
  pkg/scheduler/algorithm/predicates/metadata.go
  pkg/scheduler/algorithm/predicates/metadata_test.go
Due: none

EvenPodsSpread: Supports Preemption (addPod)
  pkg/scheduler/algorithm/predicates/metadata.go
  pkg/scheduler/algorithm/predicates/metadata_test.go
Due: none

Add benchmarks for serializing PodList
  pkg/api/testing/serialization_proto_test.go
  pkg/api/testing/serialization_test.go
Due: none

Promote job pod orphaning/adotion e2e test to Conformance
  test/conformance/testdata/conformance.txt
  test/e2e/apps/job.go
Due: pull-kubernetes-conformance-image-test

Promote job completion after failure e2e test to Conformance
  test/conformance/testdata/conformance.txt
  test/e2e/apps/job.go
Due: pull-kubernetes-conformance-image-test

Move rolling updater code into rollingupdate command
  pkg/kubectl/BUILD
  pkg/kubectl/cmd/rollingupdate/BUILD
  pkg/kubectl/cmd/rollingupdate/rolling_updater.go
  pkg/kubectl/cmd/rollingupdate/rolling_updater_test.go
  pkg/kubectl/cmd/rollingupdate/rollingupdate.go
  pkg/kubectl/cmd/scale/BUILD
  pkg/kubectl/cmd/scale/scale.go
  pkg/kubectl/cmd/scale/scale_helper.go
  pkg/kubectl/cmd/scale/scale_helper_test.go
  pkg/kubectl/conditions.go
  test/utils/BUILD
  test/utils/update_resources.go
Due: none

Simplified FairQueuingSystem interface
  staging/src/k8s.io/apiserver/pkg/server/filters/BUILD
  staging/src/k8s.io/apiserver/pkg/server/filters/reqmgmt.go
Due: pull-kubernetes-godeps

Promote and rebase Scheduler: Preemption of ReplicaSet Pods
  test/conformance/testdata/conformance.txt
  test/e2e/scheduling/preemption.go
Due: pull-kubernetes-conformance-image-test

doc: nominate Draven to scheduler reviewers.
  OWNERS_ALIASES
Due: none
