Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-publishing-bot-dry-run, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

Path conditions:
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$

fix: wait deleted objects even some are not found
  staging/src/k8s.io/kubectl/pkg/cmd/delete/delete.go
Due: pull-kubernetes-godeps

Remove Alpha feature Mount Containers
  pkg/features/kube_features.go
  pkg/kubelet/BUILD
  pkg/kubelet/mountpod/BUILD
  pkg/kubelet/mountpod/mount_pod.go
  pkg/kubelet/mountpod/mount_pod_test.go
  pkg/kubelet/volume_host.go
  pkg/volume/util/BUILD
  pkg/volume/util/exec/BUILD
  pkg/volume/util/exec/exec_mount.go
  pkg/volume/util/exec/exec_mount_test.go
  pkg/volume/util/exec/exec_mount_unsupported.go
Due: pull-kubernetes-local-e2e-containerized

Dynamic SNI certificates
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/BUILD
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/dynamic_sni_content.go
  staging/src/k8s.io/apiserver/pkg/server/options/serving.go
  staging/src/k8s.io/apiserver/pkg/server/secure_serving.go
  test/integration/apiserver/certreload/BUILD
  test/integration/apiserver/certreload/certreload_test.go
Due: pull-kubernetes-godeps

Fixing comments FuzzDurationStrict and FuzzMicroTimeStrict
  test/fuzz/yaml/yaml.go
Due: none

Building peer-finder on s390x
  test/images/pets/peer-finder/BASEIMAGE
Due: none

Utilize indexer for Node for life cycle controller
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
Due: none

Adds some basic READMEs to some of the test images
  test/images/ipc-utils/README.md
  test/images/jessie-dnsutils/README.md
  test/images/kitten/README.md
  test/images/metadata-concealment/README.md
  test/images/nautilus/README.md
  test/images/nonewprivs/README.md
  test/images/nonroot/README.md
  test/images/redis/README.md
Due: none

Pass list of files through stdin to avoid hitting ARG_MAX on some environments
  test/instrumentation/BUILD
  test/instrumentation/main.go
Due: none

modify detach timeout to be csiTimeout
  pkg/volume/csi/csi_attacher.go
Due: none

Handle bazel >= 0.25 in stable metric static analysis
  test/instrumentation/update-stable-metrics.sh
  test/instrumentation/verify-stable-metrics.sh
Due: none

Separate e2enetwork from e2e core framework
  test/e2e/apps/BUILD
  test/e2e/apps/network_partition.go
  test/e2e/autoscaling/BUILD
  test/e2e/autoscaling/cluster_size_autoscaling.go
  test/e2e/common/BUILD
  test/e2e/common/downward_api.go
  test/e2e/common/networking.go
  test/e2e/framework/BUILD
  test/e2e/framework/network/BUILD
  test/e2e/framework/network/utils.go
  test/e2e/framework/service/jig.go
  test/e2e/framework/service/util.go
  test/e2e/framework/size.go
  test/e2e/network/BUILD
  test/e2e/network/firewall.go
  test/e2e/network/networking.go
  test/e2e/network/service.go
  test/e2e/windows/BUILD
  test/e2e/windows/networking.go
Due: none

Change all scheduler's Node and Pod list/lookups to be from the snapshot rather than the cache.
  pkg/scheduler/BUILD
  pkg/scheduler/algorithm/predicates/metadata_test.go
  pkg/scheduler/algorithm/predicates/predicates.go
  pkg/scheduler/algorithm/predicates/predicates_test.go
  pkg/scheduler/algorithm/priorities/BUILD
  pkg/scheduler/algorithm/priorities/interpod_affinity.go
  pkg/scheduler/algorithm/priorities/interpod_affinity_test.go
  pkg/scheduler/algorithm_factory.go
  pkg/scheduler/algorithmprovider/defaults/register_predicates.go
  pkg/scheduler/algorithmprovider/defaults/register_priorities.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/factory.go
  pkg/scheduler/framework/plugins/BUILD
  pkg/scheduler/framework/plugins/default_registry.go
  pkg/scheduler/framework/plugins/interpodaffinity/BUILD
  pkg/scheduler/framework/plugins/interpodaffinity/interpod_affinity.go
  pkg/scheduler/framework/plugins/interpodaffinity/interpod_affinity_test.go
  pkg/scheduler/framework/v1alpha1/BUILD
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/internal/cache/cache_test.go
  pkg/scheduler/internal/cache/interface.go
  pkg/scheduler/internal/queue/BUILD
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/listers/BUILD
  pkg/scheduler/listers/fake/BUILD
  pkg/scheduler/listers/fake/listers.go
  pkg/scheduler/listers/listers.go
  pkg/scheduler/nodeinfo/snapshot/BUILD
  pkg/scheduler/nodeinfo/snapshot/snapshot.go
  pkg/scheduler/scheduler.go
Due: none

WIP
  test/e2e/framework/BUILD
  test/e2e/framework/pod/create.go
  test/e2e/instrumentation/logging/generic_soak.go
Due: none

Increase maxMsgSize for dockershim
  pkg/kubelet/dockershim/remote/docker_server.go
Due: pull-kubernetes-local-e2e-containerized

Update GCE PD CSI Driver YAMLS to v0.6.0 for testing. Enable Raw Block tests
  test/e2e/storage/drivers/csi.go
  test/e2e/testing-manifests/storage-csi/gce-pd/controller_ss.yaml
  test/e2e/testing-manifests/storage-csi/gce-pd/csi-controller-rbac.yaml
  test/e2e/testing-manifests/storage-csi/gce-pd/node_ds.yaml
Due: none

set config.BindAddress to IPv4 address "127.0.0.1" if not specified
  cmd/kube-proxy/app/server_others.go
  pkg/kubemark/hollow_proxy.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/ipvs/proxier.go
Due: none

Update PredicateMetadataProducer to accept a scheduler SharedLister instead of nodeinfomap
  pkg/scheduler/algorithm/predicates/BUILD
  pkg/scheduler/algorithm/predicates/metadata.go
  pkg/scheduler/algorithm/predicates/metadata_test.go
  pkg/scheduler/algorithm/predicates/predicates_test.go
  pkg/scheduler/algorithm/priorities/interpod_affinity.go
  pkg/scheduler/core/BUILD
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/framework/plugins/imagelocality/BUILD
  pkg/scheduler/framework/plugins/imagelocality/image_locality.go
  pkg/scheduler/framework/plugins/imagelocality/image_locality_test.go
  pkg/scheduler/framework/plugins/interpodaffinity/interpod_affinity_test.go
  pkg/scheduler/framework/plugins/nodeaffinity/BUILD
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity.go
  pkg/scheduler/framework/plugins/nodeaffinity/node_affinity_test.go
  pkg/scheduler/framework/plugins/nodepreferavoidpods/BUILD
  pkg/scheduler/framework/plugins/nodepreferavoidpods/node_prefer_avoid_pods.go
  pkg/scheduler/framework/plugins/nodepreferavoidpods/node_prefer_avoid_pods_test.go
  pkg/scheduler/framework/plugins/noderesources/BUILD
  pkg/scheduler/framework/plugins/noderesources/balanced_allocation.go
  pkg/scheduler/framework/plugins/noderesources/balanced_allocation_test.go
  pkg/scheduler/framework/plugins/noderesources/least_allocated.go
  pkg/scheduler/framework/plugins/noderesources/least_allocated_test.go
  pkg/scheduler/framework/plugins/noderesources/most_allocated.go
  pkg/scheduler/framework/plugins/noderesources/most_allocated_test.go
  pkg/scheduler/framework/plugins/podtopologyspread/BUILD
  pkg/scheduler/framework/plugins/podtopologyspread/pod_topology_spread_test.go
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration.go
Due: none

Apply feature gates in scheduler policy api compatibility test
  pkg/scheduler/api/compatibility/BUILD
  pkg/scheduler/api/compatibility/compatibility_test.go
Due: none

Convert NodeLabelPresence custom predicate to filter plugin.
  cmd/kube-scheduler/app/server.go
  pkg/scheduler/BUILD
  pkg/scheduler/algorithm_factory.go
  pkg/scheduler/api/compatibility/compatibility_test.go
  pkg/scheduler/factory.go
  pkg/scheduler/factory_test.go
  pkg/scheduler/framework/plugins/BUILD
  pkg/scheduler/framework/plugins/default_registry.go
  pkg/scheduler/framework/plugins/nodelabel/BUILD
  pkg/scheduler/framework/plugins/nodelabel/node_label.go
  pkg/scheduler/framework/plugins/nodelabel/node_label_test.go
  pkg/scheduler/scheduler.go
Due: none

fix job sttaus inconsistent
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Due: none

remove reference to promhttp in kubelet
  pkg/kubelet/server/BUILD
  pkg/kubelet/server/server.go
Due: pull-kubernetes-local-e2e-containerized

Fix metrics will be hidden in current minor release issue.
  staging/src/k8s.io/component-base/metrics/metric.go
  staging/src/k8s.io/component-base/metrics/registry.go
  staging/src/k8s.io/component-base/metrics/registry_test.go
Due: pull-kubernetes-godeps

Update conversion.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/conversion.go
Due: pull-kubernetes-godeps

fix bug in fuc parseThresholdStatement
  pkg/kubelet/eviction/helpers.go
  pkg/kubelet/eviction/helpers_test.go
Due: pull-kubernetes-local-e2e-containerized

add certificate deny flag message
  staging/src/k8s.io/kubectl/pkg/cmd/certificates/certificates.go
Due: pull-kubernetes-godeps

new priority to favor nodes with less non ready pods
  pkg/scheduler/algorithm/priorities/priorities.go
  pkg/scheduler/algorithm/priorities/ready.go
  pkg/scheduler/algorithm/priorities/ready_test.go
  pkg/scheduler/algorithmprovider/defaults/defaults.go
  pkg/scheduler/algorithmprovider/defaults/register_priorities.go
Due: none

Fix example command for generating CA cert hashes
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta1/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta2/types.go
  cmd/kubeadm/app/util/pubkeypin/pubkeypin_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

bring back NewCertificateOptions with operation parameter
  staging/src/k8s.io/kubectl/pkg/cmd/certificates/certificates.go
Due: pull-kubernetes-godeps

Kubectl certificate signing: fix certificate deny message (#84400)
  staging/src/k8s.io/kubectl/pkg/cmd/certificates/certificates.go
Due: pull-kubernetes-godeps

fixup! refactor: move kubectl out of util
  test/e2e/framework/kubectl/kubectl_util.go
Due: none

fixup! refactor: move kubectl out of util
  test/e2e/framework/framework.go
Due: none

Change FuzzTime to FuzzTimeStrict for naming consistency
  test/fuzz/yaml/yaml.go
Due: none
