Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-publishing-bot-dry-run, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-godeps

pull-publishing-bot-dry-run:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190301-76bc03340-master
      command:
      - make
      args:
      - run
      env:
      - name: CONFIG
        value: https://raw.githubusercontent.com/kubernetes/publishing-bot/master/configs/kubernetes
  ...

pull-kubernetes-e2e-kubeadm-gce:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:latest-master
  ...

pull-kubernetes-e2e-gke:
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
  spec:
    containers:
    - args:
      - --root=/go/src
      - --repo=k8s.io/kubernetes=$(PULL_REFS)
      - --repo=k8s.io/release
      - --upload=gs://kubernetes-jenkins/pr-logs
      - --timeout=90
  ...

pull-kubernetes-local-e2e-containerized:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20181203-a441fa430-master
      args:
      - --root=/go/src
      - --job=$(JOB_NAME)
  ...

pull-kubernetes-cross:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20180912-f97e35a46
      args:
      - --job=$(JOB_NAME)
      - --repo=k8s.io/$(REPO_NAME)=$(PULL_REFS)
      - --service-account=/etc/service-account/service-account.json
  ...

pull-kubernetes-godeps:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - name: main
      command:
      - make
      image: gcr.io/k8s-testimages/kubekins-e2e:v20181205-915278e90-master
      args:
      - verify
      - WHAT="godeps staging-godeps godep-licenses"
      env:
  ...

Use UUIDv4 not UUIDv1
  staging/src/k8s.io/apiextensions-apiserver/Godeps/Godeps.json
  staging/src/k8s.io/apimachinery/Godeps/Godeps.json
  staging/src/k8s.io/apimachinery/pkg/util/uuid/BUILD
  staging/src/k8s.io/apimachinery/pkg/util/uuid/uuid.go
  staging/src/k8s.io/apiserver/Godeps/Godeps.json
  staging/src/k8s.io/kube-aggregator/Godeps/Godeps.json
  staging/src/k8s.io/sample-apiserver/Godeps/Godeps.json
Due: pull-kubernetes-godeps

[WIP] Replace MASQUERADE with SNAT
  pkg/proxy/iptables/proxier.go
Due: none

Update CHANGELOG-1.14.md for v1.14.0-beta.2.
  CHANGELOG-1.14.md
Due: none

Add/Update CHANGELOG-1.14.md for v1.14.0-beta.2.
  CHANGELOG-1.14.md
Due: none

remove DevicePlugin test for feature gate that can no longer be set
  test/e2e_node/device_plugin.go
Due: none

Use apps/v1 APIs in integration tests
  test/integration/apiserver/apply/apply_test.go
Due: none

Add custom runtime handler e2e test
  test/e2e/common/BUILD
  test/e2e/common/runtimeclass.go
  test/e2e/node/BUILD
Due: none

dont withhold reason
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go
Due: pull-kubernetes-godeps

Speculative workaround for #74890
  test/e2e/lifecycle/cluster_upgrade.go
Due: none

Migration on by default
  pkg/features/kube_features.go
Due: none

ignore kubeclient nil in csi plugin init
  pkg/volume/csi/csi_plugin.go
Due: none

Correct a spelling error
  cluster/images/etcd/migrate/migrate.go
Due: none

Allow disable outbound snat when Azure standard load balancer is used
  pkg/cloudprovider/providers/azure/azure.go
  pkg/cloudprovider/providers/azure/azure_loadbalancer.go
  pkg/cloudprovider/providers/azure/azure_wrap.go
Due: none

Ensure Azure load balancer cleaned up on 404 or 403
  pkg/cloudprovider/providers/azure/azure_loadbalancer.go
  pkg/cloudprovider/providers/azure/azure_loadbalancer_test.go
  pkg/cloudprovider/providers/azure/azure_test.go
  pkg/cloudprovider/providers/azure/azure_wrap.go
Due: none

Update cluster/images/hyperkube/README.md
  cluster/images/hyperkube/README.md
Due: none

Correcting a spelling error
  cmd/kubeadm/app/phases/copycerts/copycerts_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

Change log: avoid to print raw json response too frequently
  pkg/controller/podautoscaler/metrics/legacy_metrics_client.go
Due: none

add missing psp e2e tests for runasgroup
  test/e2e/auth/pod_security_policy.go
Due: none

Add RunAsGroup test in e2e PSP
  test/e2e/auth/pod_security_policy.go
Due: none

Update pod_security_policy.go
  test/e2e/auth/pod_security_policy.go
Due: none

Update state_file_test.go
  pkg/kubelet/cm/cpumanager/state/state_file_test.go
Due: pull-kubernetes-local-e2e-containerized

govet fix
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
Due: none

kubelet: updated logic of verifying a static critical pod
  pkg/kubelet/eviction/eviction_manager.go
  pkg/kubelet/eviction/eviction_manager_test.go
  pkg/kubelet/eviction/types.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/runonce_test.go
Due: pull-kubernetes-local-e2e-containerized

Correcting some spelling errors
  pkg/apis/authentication/types.go
Due: none

fix a minor bug for update
  build/root/Makefile
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Add a kubelet /podProxy endpoint
  pkg/kubelet/server/server.go
  pkg/registry/core/pod/rest/subresources.go
  pkg/registry/core/pod/storage/storage.go
  pkg/registry/core/pod/strategy.go
Due: pull-kubernetes-local-e2e-containerized

kubeadm: refactored directory fetch code
  cmd/kubeadm/app/cmd/init.go
  cmd/kubeadm/app/cmd/upgrade/node.go
  cmd/kubeadm/app/phases/upgrade/postupgrade.go
Due: pull-kubernetes-e2e-kubeadm-gce

update tranlate zh_CN
  translations/kubectl/zh_CN/LC_MESSAGES/k8s.mo
  translations/kubectl/zh_CN/LC_MESSAGES/k8s.po
Due: none

a
  translations/kubectl/zh_CN/LC_MESSAGES/k8s.po
Due: none

fix_translation_zh_CN
  translations/kubectl/zh_CN/LC_MESSAGES/k8s.mo
  translations/kubectl/zh_CN/LC_MESSAGES/k8s.po
Due: none

test: remove k8s.io/apiextensions-apiserver from framework
  test/e2e/apimachinery/crd_conversion_webhook.go
  test/e2e/apimachinery/crd_publish_openapi.go
  test/e2e/apimachinery/discovery.go
  test/e2e/apimachinery/webhook.go
  test/e2e/framework/framework.go
  test/e2e/framework/util.go
  test/e2e/kubectl/kubectl.go
  test/utils/crd/crd_util.go
Due: none

update Bazel files
  test/e2e/apimachinery/BUILD
  test/e2e/framework/BUILD
  test/e2e/kubectl/BUILD
  test/utils/BUILD
  test/utils/crd/BUILD
Due: none

Allow different operation names
  pkg/volume/util/nestedpendingoperations/BUILD
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations.go
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations_test.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/util/types/types.go
Due: none

Allow session affinity a period of time to setup for new services.
  test/e2e/framework/service_util.go
  test/e2e/network/service.go
Due: none

scheduler: cleanup unused parameters in unschedulableQ
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
Due: none

Fix double error of secret negative testcase
  test/e2e/common/secrets.go
Due: none

Avoid allocating when performing VisitRulesFor on service accounts
  pkg/registry/rbac/validation/rule.go
  staging/src/k8s.io/apiserver/pkg/authentication/serviceaccount/util.go
  staging/src/k8s.io/apiserver/pkg/authentication/serviceaccount/util_test.go
Due: pull-kubernetes-godeps

Path conditions:
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
