Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-publishing-bot-dry-run, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

pull-publishing-bot-dry-run:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190301-76bc03340-master
      command:
      - make
      args:
      - run
      env:
      - name: CONFIG
        value: https://raw.githubusercontent.com/kubernetes/publishing-bot/master/configs/kubernetes
  ...

pull-kubernetes-e2e-kubeadm-gce:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:latest-master
  ...

pull-kubernetes-e2e-gke:
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
  spec:
    containers:
    - args:
      - --root=/go/src
      - --repo=k8s.io/kubernetes=$(PULL_REFS)
      - --repo=k8s.io/release
      - --upload=gs://kubernetes-jenkins/pr-logs
      - --timeout=90
  ...

pull-kubernetes-local-e2e-containerized:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20181203-a441fa430-master
      args:
      - --root=/go/src
      - --job=$(JOB_NAME)
  ...

pull-kubernetes-cross:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190703-1f4d616
      args:
      - --job=$(JOB_NAME)
      - --repo=k8s.io/$(REPO_NAME)=$(PULL_REFS)
      - --service-account=/etc/service-account/service-account.json
  ...

pull-kubernetes-conformance-image-test:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-master
  ...

pull-kubernetes-godeps:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - name: main
      command:
      - runner.sh
      image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-master
      args:
      - make
      - verify
      securityContext:
  ...

made scheduler cache and volume binder available when instantiating factories for default plugins
  cmd/kube-scheduler/app/BUILD
  cmd/kube-scheduler/app/server.go
  pkg/scheduler/factory/factory.go
  pkg/scheduler/factory/factory_test.go
  pkg/scheduler/framework/plugins/BUILD
  pkg/scheduler/framework/plugins/default_registry.go
  pkg/scheduler/framework/v1alpha1/registry.go
  pkg/scheduler/scheduler.go
  test/integration/scheduler/BUILD
  test/integration/scheduler/framework_test.go
  test/integration/scheduler/preemption_test.go
Due: none

Audit of test/* OWNERS files
  test/OWNERS
  test/conformance/OWNERS
  test/e2e/auth/OWNERS
  test/e2e/autoscaling/OWNERS
  test/e2e/cloud/OWNERS
  test/e2e/common/OWNERS
  test/e2e/instrumentation/OWNERS
  test/e2e/kubectl/OWNERS
  test/e2e/lifecycle/OWNERS
  test/e2e/network/OWNERS
  test/e2e/node/OWNERS
  test/e2e/scheduling/OWNERS
  test/e2e/storage/OWNERS
  test/e2e/windows/OWNERS
  test/e2e_node/OWNERS
  test/images/OWNERS
  test/instrumentation/OWNERS
  test/integration/pods/OWNERS
  test/integration/statefulset/OWNERS
  test/kubemark/OWNERS
  test/typecheck/OWNERS
Due: pull-kubernetes-conformance-image-test

Add per-pod metrics for scheduler.
  pkg/scheduler/factory/factory.go
  pkg/scheduler/factory/factory_test.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/metrics/metrics.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Due: none

kubeadm: add warning about 'upgrade apply/plan --config'
  cmd/kubeadm/app/cmd/upgrade/common.go
Due: pull-kubernetes-e2e-kubeadm-gce

Improve 'No resource limits' message
  staging/src/k8s.io/kubectl/pkg/describe/versioned/describe.go
Due: pull-kubernetes-godeps

Implemented taints and tolerations priority function as a Score plugin
  pkg/scheduler/api/compatibility/BUILD
  pkg/scheduler/api/compatibility/compatibility_test.go
  pkg/scheduler/factory/factory_test.go
  pkg/scheduler/framework/plugins/BUILD
  pkg/scheduler/framework/plugins/default_registry.go
  pkg/scheduler/framework/plugins/migration/BUILD
  pkg/scheduler/framework/plugins/migration/utils.go
  pkg/scheduler/framework/plugins/tainttoleration/BUILD
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration.go
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration_test.go
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/framework_test.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/internal/queue/BUILD
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  test/integration/scheduler/framework_test.go
  test/integration/scheduler/scheduler_test.go
Due: none

Move leader election cancelation to lock level
  staging/src/k8s.io/client-go/examples/leader-election/main.go
  staging/src/k8s.io/client-go/tools/leaderelection/healthzadaptor_test.go
  staging/src/k8s.io/client-go/tools/leaderelection/leaderelection.go
  staging/src/k8s.io/client-go/tools/leaderelection/leaderelection_test.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/BUILD
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/cancelable.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/interface.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/multilock.go
Due: pull-kubernetes-godeps

Fixed bug in TopologyManager with SingleNUMANode Policy
  pkg/kubelet/cm/topologymanager/topology_manager.go
  pkg/kubelet/cm/topologymanager/topology_manager_test.go
Due: pull-kubernetes-local-e2e-containerized

do not create StatefulSet pods when PVC is being deleted
  pkg/controller/statefulset/stateful_pod_control.go
  pkg/controller/statefulset/stateful_pod_control_test.go
Due: none

Deprecate --cleanup-ipvs flag in kube-proxy
  cmd/kube-proxy/app/server.go
Due: none

e2e test for dualstack phase2
  test/e2e/network/BUILD
  test/e2e/network/dual_stack.go
Due: none

kubelet e2e: run resource monitor only if the actual number of nodes is
  test/e2e/node/kubelet.go
Due: none

Refactor UT with testutil from k/k.
  pkg/kubelet/metrics/collectors/log_metrics_test.go
Due: pull-kubernetes-local-e2e-containerized

Deal with auto-generated files. Update bazel by hack/update-bazel.sh
  pkg/kubelet/metrics/collectors/BUILD
Due: pull-kubernetes-local-e2e-containerized

chore(*): fix typo
  staging/src/k8s.io/client-go/examples/leader-election/README.md
Due: pull-kubernetes-godeps

feat(scheduler): expose SharedInformerFactory to the framework handle
  cmd/kube-scheduler/app/server.go
  pkg/scheduler/BUILD
  pkg/scheduler/api/compatibility/compatibility_test.go
  pkg/scheduler/eventhandlers.go
  pkg/scheduler/factory/BUILD
  pkg/scheduler/factory/factory.go
  pkg/scheduler/factory/factory_test.go
  pkg/scheduler/framework/v1alpha1/BUILD
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/internal/queue/BUILD
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  test/integration/daemonset/daemonset_test.go
  test/integration/scheduler/scheduler_test.go
  test/integration/scheduler/util.go
  test/integration/util/util.go
  test/integration/volumescheduling/util.go
Due: none

Add more tracing steps in generic_scheduler
  pkg/scheduler/core/generic_scheduler.go
Due: none

HandleError in original goroutine instead of creating a new goroutine when timeout
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go
Due: pull-kubernetes-godeps

Introduce promhttp.HandlerFor to metrics stability framework
  staging/src/k8s.io/component-base/metrics/http.go
Due: pull-kubernetes-godeps

Deprecate NewNamespaceKeyedIndexerAndReflector
  staging/src/k8s.io/client-go/tools/cache/reflector.go
Due: pull-kubernetes-godeps

Deal with auto-generated files. Update bazel by hack/update-bazel.sh
  staging/src/k8s.io/component-base/metrics/BUILD
Due: pull-kubernetes-godeps

Fix dynamic kubelet config init order
  cmd/kubelet/app/server.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

Fixed bug in TopologyManager with SingleNUMANode Policy
  pkg/kubelet/cm/topologymanager/policy_single_numa_node.go
  pkg/kubelet/cm/topologymanager/policy_single_numa_node_test.go
  pkg/kubelet/cm/topologymanager/topology_manager_test.go
Due: pull-kubernetes-local-e2e-containerized

Fix hash for etcd in go.sum
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
Due: pull-kubernetes-godeps

chore(*): update election example (#82821)
  staging/src/k8s.io/client-go/examples/leader-election/BUILD
  staging/src/k8s.io/client-go/examples/leader-election/README.md
  staging/src/k8s.io/client-go/examples/leader-election/main.go
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
Due: pull-kubernetes-godeps

Revert #83735: Update etcd client to 3.3.16
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/github.com/coreos/etcd/clientv3/balancer/resolver/endpoint/endpoint.go
  vendor/github.com/coreos/etcd/clientv3/client.go
  vendor/github.com/coreos/etcd/clientv3/credentials/BUILD
  vendor/github.com/coreos/etcd/clientv3/credentials/credentials.go
  vendor/github.com/coreos/etcd/embed/config.go
  vendor/github.com/coreos/etcd/etcdserver/api/v2http/client.go
  vendor/github.com/coreos/etcd/mvcc/backend/backend.go
  vendor/github.com/coreos/etcd/mvcc/kvstore.go
  vendor/github.com/coreos/etcd/mvcc/metrics.go
  vendor/github.com/coreos/etcd/pkg/testutil/leak.go
  vendor/github.com/coreos/etcd/pkg/transport/listener.go
  vendor/github.com/coreos/etcd/version/version.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

fixing sed separator
  test/kubemark/start-kubemark.sh
Due: none

[migration phase 1] PodFitsHost as filter plugin
  pkg/scheduler/api/compatibility/compatibility_test.go
  pkg/scheduler/framework/plugins/BUILD
  pkg/scheduler/framework/plugins/default_registry.go
  pkg/scheduler/framework/plugins/nodename/BUILD
  pkg/scheduler/framework/plugins/nodename/node_name.go
  pkg/scheduler/framework/plugins/nodename/node_name_test.go
Due: none

adding support for kubemark --node-labels flag
  cmd/kubemark/hollow-node.go
  pkg/kubemark/hollow_kubelet.go
Due: none

Improve IPVS Module loader logic
  pkg/proxy/ipvs/proxier.go
Due: none

Remove e2e/common package usage in volumemode testsuite
  test/e2e/storage/testsuites/BUILD
  test/e2e/storage/testsuites/volumemode.go
Due: none

[migration phase 1] Implement CheckVolumeBinding as a filter plugin
  pkg/scheduler/api/compatibility/compatibility_test.go
  pkg/scheduler/framework/plugins/BUILD
  pkg/scheduler/framework/plugins/default_registry.go
  pkg/scheduler/framework/plugins/volumebinding/BUILD
  pkg/scheduler/framework/plugins/volumebinding/volume_binding.go
  test/integration/scheduler/scheduler_test.go
Due: none

Do not move deletionTimestamp to the future
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go
  staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store_test.go
Due: pull-kubernetes-godeps

Add RainbowMango to sig instrumentation reviewers
  OWNERS_ALIASES
Due: none

Address staticcheck failures for test/e2e/lifecycle/bootstrap
  hack/.staticcheck_failures
  test/e2e/lifecycle/bootstrap/bootstrap_signer.go
Due: none

bump k8s.io/utils to pickup bug fix for rangesize
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/utils/net/net.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

feat(scheduler): expand node score range to [0, 100]
  pkg/scheduler/algorithm/priorities/balanced_resource_allocation_test.go
  pkg/scheduler/algorithm/priorities/even_pods_spread_test.go
  pkg/scheduler/algorithm/priorities/image_locality_test.go
  pkg/scheduler/algorithm/priorities/interpod_affinity_test.go
  pkg/scheduler/algorithm/priorities/least_requested_test.go
  pkg/scheduler/algorithm/priorities/most_requested_test.go
  pkg/scheduler/algorithm/priorities/node_affinity_test.go
  pkg/scheduler/algorithm/priorities/requested_to_capacity_ratio.go
  pkg/scheduler/algorithm/priorities/requested_to_capacity_ratio_test.go
  pkg/scheduler/algorithm/priorities/selector_spreading_test.go
  pkg/scheduler/algorithm/priorities/taint_toleration_test.go
  pkg/scheduler/api/types.go
  pkg/scheduler/core/extender_test.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/factory/plugins.go
  pkg/scheduler/factory/plugins_test.go
  pkg/scheduler/framework/plugins/tainttoleration/taint_toleration_test.go
  pkg/scheduler/framework/v1alpha1/interface.go
Due: none

add the ability for dynamic header names in delegated authentication
  pkg/kubeapiserver/authenticator/config.go
  pkg/kubeapiserver/options/BUILD
  pkg/kubeapiserver/options/authentication_test.go
  staging/src/k8s.io/apiserver/pkg/authentication/authenticatorfactory/delegating.go
  staging/src/k8s.io/apiserver/pkg/authentication/authenticatorfactory/requestheader.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/headerrequest/BUILD
  staging/src/k8s.io/apiserver/pkg/authentication/request/headerrequest/requestheader.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/verify_options.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/x509.go
  staging/src/k8s.io/apiserver/pkg/server/options/BUILD
  staging/src/k8s.io/apiserver/pkg/server/options/authentication.go
  staging/src/k8s.io/apiserver/pkg/server/options/authentication_test.go
Due: pull-kubernetes-godeps

Path conditions:
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
