Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-publishing-bot-dry-run, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

Path conditions:
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$

Fix shellcheck failures in run_gluster.sh create_block.sh run_nfs.sh
  hack/.shellcheck_failures
  test/images/volume/gluster/run_gluster.sh
  test/images/volume/iscsi/create_block.sh
  test/images/volume/nfs/run_nfs.sh
Due: none

fix shellcheck failures of hack/update-gofmt.sh hack/update-translations.sh
  hack/.shellcheck_failures
  hack/update-gofmt.sh
  hack/update-translations.sh
Due: none

fix shellcheck failures of hack/update-vendor-licenses.sh
  hack/.shellcheck_failures
  hack/update-vendor-licenses.sh
Due: none

fixed bug #76316, don't delete hnsendpoint if it's referenced by another service.
  pkg/proxy/winkernel/proxier.go
Due: none

add label area/hack in k8s.io/kubernetes/hack/*
  hack/OWNERS
Due: none

Delete only unscheduled pods if node doesn't exist anymore.
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/daemon_controller_test.go
Due: none

Improve for-loop in nodesWherePreemptionMightHelp function
  pkg/scheduler/core/generic_scheduler.go
Due: none

aggregator: add OpenAPI aggregation order test
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/priority_test.go
Due: pull-kubernetes-godeps

kubeadm: disable the kube-proxy DaemonSet on non-Linux nodes
  cmd/kubeadm/app/phases/addons/proxy/manifests.go
Due: pull-kubernetes-e2e-kubeadm-gce

fix typo in azure disk logging
  pkg/volume/azure_dd/azure_common_linux.go
Due: none

Update some readme.md files in client-go
  staging/src/k8s.io/client-go/INSTALL.md
  staging/src/k8s.io/client-go/examples/in-cluster-client-configuration/README.md
  staging/src/k8s.io/client-go/examples/leader-election/README.md
  staging/src/k8s.io/client-go/examples/out-of-cluster-client-configuration/README.md
Due: pull-kubernetes-godeps

Slightly simplify watchcache
  staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
Due: pull-kubernetes-godeps

Update README.md files in sample-controller
  staging/src/k8s.io/sample-controller/README.md
Due: pull-kubernetes-godeps

remove internal client dependency in pkg/*
  pkg/BUILD
  pkg/client/tests/BUILD
  pkg/client/tests/fake_client_test.go
  pkg/client/tests/listwatch_test.go
  pkg/kubeapiserver/admission/BUILD
  pkg/kubeapiserver/admission/config.go
  pkg/registry/core/pod/storage/BUILD
  pkg/registry/core/pod/storage/eviction.go
  pkg/registry/core/pod/storage/eviction_test.go
  pkg/registry/core/pod/storage/storage.go
  pkg/registry/core/rest/BUILD
  pkg/registry/core/rest/storage_core.go
  pkg/registry/scheduling/rest/BUILD
  pkg/registry/scheduling/rest/storage_scheduling.go
Due: none

remove internal client references in cluster/*
  cluster/addons/fluentd-elasticsearch/es-image/BUILD
  cluster/addons/fluentd-elasticsearch/es-image/elasticsearch_logging_discovery.go
Due: pull-kubernetes-e2e-gke

remove internal client from udpate-codegen script
  hack/update-codegen.sh
Due: none

prune internal client references from test/*
  pkg/client/tests/fake_client_test.go
  pkg/client/tests/listwatch_test.go
  test/images/nettest/BUILD
  test/images/nettest/nettest.go
  test/integration/auth/BUILD
  test/integration/auth/accessreview_test.go
  test/integration/auth/node_test.go
  test/integration/auth/rbac_test.go
  test/integration/master/BUILD
  test/integration/master/synthetic_master_test.go
  test/soak/cauldron/BUILD
  test/soak/cauldron/cauldron.go
Due: none

Remove Ingress-GCE test that verifies backend health check is not reconciled.
  test/e2e/network/BUILD
  test/e2e/network/ingress.go
Due: none

Remove storageapi api check
  pkg/registry/storage/csidriver/storage/BUILD
  pkg/registry/storage/csidriver/storage/storage_test.go
  pkg/registry/storage/csinode/storage/BUILD
  pkg/registry/storage/csinode/storage/storage_test.go
Due: none

refactor and clean up e2e/framework/exec_util.go
  test/e2e/framework/exec_util.go
Due: none

make pin-dependency.sh only work at the module level
  hack/pin-dependency.sh
Due: none

Escape quotes for user provided passwords in basic auth. Without this the master does not start up, when there is a quote in the password.
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

Use kubeapiserver storage config for registry tests
  pkg/registry/registrytest/BUILD
  pkg/registry/registrytest/etcd.go
  pkg/registry/storage/csidriver/storage/storage_test.go
  pkg/registry/storage/csinode/storage/storage_test.go
Due: none

Fix up cronjob and job registry tests to not use testapi
  pkg/registry/batch/cronjob/storage/BUILD
  pkg/registry/batch/cronjob/storage/storage_test.go
  pkg/registry/batch/job/BUILD
  pkg/registry/batch/job/strategy_test.go
Due: none

for aggregated apiserver availability, try multiple endpoints in parallel
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
Due: pull-kubernetes-godeps

update benchmark-dockerized.sh and verify-dockerized.sh
  hack/jenkins/benchmark-dockerized.sh
  hack/jenkins/verify-dockerized.sh
Due: none

Fix concurrent map access in Portworx create volume call
  pkg/volume/portworx/portworx_util.go
Due: none

Signed-off-by: xichengliudui <1693291525@qq.com>
  hack/.shellcheck_failures
  hack/make-rules/helpers/cache_go_dirs.sh
  hack/make-rules/make-help.sh
  hack/make-rules/test-e2e-node.sh
  hack/make-rules/test-integration.sh
  logo/usage_guidelines.md
Due: none

Return from loop in removeZone when zone is found
  pkg/scheduler/internal/cache/node_tree.go
Due: none

Escape quotes for user provided passwords used in basic auth.
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

kubelet: dockershim: fix image removal/untagging and add logging
  pkg/kubelet/dockershim/docker_image.go
  pkg/kubelet/dockershim/docker_image_test.go
Due: pull-kubernetes-local-e2e-containerized

Perform GCE log rotation check every 5 minutes
  cluster/gce/gci/master.yaml
Due: pull-kubernetes-e2e-gke

Add envs for CNI version.
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/gci/configure.sh
  cluster/gce/util.sh
Due: pull-kubernetes-e2e-gke

Install cadvisor collectors for containerd, crio, docker, systemd
  pkg/kubelet/cadvisor/BUILD
  pkg/kubelet/cadvisor/cadvisor_linux.go
Due: pull-kubernetes-local-e2e-containerized

TMP: point at branch of https://github.com/google/cadvisor/pull/2217 for testing
  go.mod
Due: none

Simplify two if (remove redundant code)
  cmd/kubeadm/app/phases/etcd/local.go
Due: pull-kubernetes-e2e-kubeadm-gce

small cleanup of e2e/framework/ingress
  test/e2e/framework/ingress/ingress_utils.go
Due: none

Improve the tag testing script a little
  pkg/master/import_known_versions_test.go
  staging/src/k8s.io/apimachinery/pkg/api/apitesting/naming/naming.go
Due: pull-kubernetes-godeps

Update component-base/config bazel
  staging/src/k8s.io/component-base/config/BUILD
  staging/src/k8s.io/component-base/config/testing/BUILD
Due: pull-kubernetes-godeps
