Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-publishing-bot-dry-run, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

pull-publishing-bot-dry-run:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190301-76bc03340-master
      command:
      - make
      args:
      - run
      env:
      - name: CONFIG
        value: https://raw.githubusercontent.com/kubernetes/publishing-bot/master/configs/kubernetes
  ...

pull-kubernetes-e2e-kubeadm-gce:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:latest-master
  ...

pull-kubernetes-e2e-gke:
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
  spec:
    containers:
    - args:
      - --root=/go/src
      - --repo=k8s.io/kubernetes=$(PULL_REFS)
      - --repo=k8s.io/release
      - --upload=gs://kubernetes-jenkins/pr-logs
      - --timeout=90
  ...

pull-kubernetes-local-e2e-containerized:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20181203-a441fa430-master
      args:
      - --root=/go/src
      - --job=$(JOB_NAME)
  ...

pull-kubernetes-cross:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190703-1f4d616
      args:
      - --job=$(JOB_NAME)
      - --repo=k8s.io/$(REPO_NAME)=$(PULL_REFS)
      - --service-account=/etc/service-account/service-account.json
  ...

pull-kubernetes-conformance-image-test:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-master
  ...

pull-kubernetes-godeps:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - name: main
      command:
      - runner.sh
      image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-master
      args:
      - make
      - verify
      securityContext:
  ...

add port-forward svc/ completion
  pkg/kubectl/cmd/cmd.go
Due: none

adding better logs tab completion.
  pkg/kubectl/cmd/cmd.go
Due: none

use long names
  pkg/kubectl/cmd/cmd.go
Due: none

fix spaces
  pkg/kubectl/cmd/cmd.go
Due: none

add port-forward svc/ completion add logs tab completion.
  pkg/kubectl/cmd/cmd.go
Due: none

Create go.yml
  .github/workflows/go.yml
Due: none

use context to check client closed instead of http.CloseNotifier in processing watch request
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/watch.go
  staging/src/k8s.io/apiserver/pkg/endpoints/watch_test.go
Due: pull-kubernetes-godeps

LeaseDurationSeconds can't be zero when update lease
  staging/src/k8s.io/client-go/tools/leaderelection/leaderelection.go
Due: pull-kubernetes-godeps

Fix device plugin generator script
  staging/src/k8s.io/kubelet/pkg/apis/deviceplugin/v1alpha/api.proto
  staging/src/k8s.io/kubelet/pkg/apis/deviceplugin/v1beta1/api.proto
Due: pull-kubernetes-godeps

kubelet/network: add sig-network-approvers to OWNERS
  pkg/kubelet/network/OWNERS
Due: pull-kubernetes-local-e2e-containerized

upgrade api-version to fix azure file AuthorizationFailure
  pkg/volume/azure_dd/BUILD
  pkg/volume/azure_dd/azure_dd.go
  pkg/volume/azure_dd/azure_provision.go
  pkg/volume/azure_file/BUILD
  pkg/volume/azure_file/azure_provision.go
  staging/src/k8s.io/legacy-cloud-providers/azure/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_blobDiskController.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_client.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_fakes.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_storage.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_storage_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_storageaccount.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_storageaccount_test.go
  vendor/BUILD
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/BUILD
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/accounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/blobcontainers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/blobservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/fileservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/fileshares.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/managementpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/skus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/usages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/version.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

test images: Updates agnhost guestbook
  test/e2e/testing-manifests/guestbook/agnhost-master-deployment.yaml.in
  test/e2e/testing-manifests/guestbook/agnhost-master-service.yaml
  test/e2e/testing-manifests/guestbook/agnhost-slave-deployment.yaml.in
  test/e2e/testing-manifests/guestbook/agnhost-slave-service.yaml
  test/e2e/testing-manifests/guestbook/frontend-deployment.yaml.in
  test/images/agnhost/VERSION
  test/images/agnhost/agnhost.go
  test/images/agnhost/guestbook/guestbook.go
  test/utils/image/manifest.go
Due: none

kubeadm: check if image exists before pulling
  cmd/kubeadm/app/cmd/config.go
Due: pull-kubernetes-e2e-kubeadm-gce

Change env to envs in the kustomize documentation
  staging/src/k8s.io/kubectl/docs/book/pages/reference/kustomize.md
Due: pull-kubernetes-godeps

client-go: add connection refused to list of transient errors
  staging/src/k8s.io/client-go/rest/request.go
Due: pull-kubernetes-godeps

apiserver: add Retry-After header to response when apiserver is shutting down
  staging/src/k8s.io/apiserver/pkg/server/filters/BUILD
  staging/src/k8s.io/apiserver/pkg/server/filters/waitgroup.go
Due: pull-kubernetes-godeps

apiextensions: add items+type integration test
  staging/src/k8s.io/apiextensions-apiserver/test/integration/validation_test.go
Due: pull-kubernetes-godeps

apiextensions: fixup go-openapi constructor invocations
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/validation/validation.go
Due: pull-kubernetes-godeps

DEBUG
  pkg/util/iptables/iptables.go
  test/e2e/e2e.go
  test/e2e/network/networking.go
Due: none

apimachinery: fix dropped test error in pkg/runtime/serializer
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/codec_test.go
Due: pull-kubernetes-godeps

apimachinery: fix dropped test error in pkg/conversion
  staging/src/k8s.io/apimachinery/pkg/conversion/converter_test.go
Due: pull-kubernetes-godeps

apimachinery: fix dropped test error in pkg/util/net
  staging/src/k8s.io/apimachinery/pkg/util/net/http_test.go
Due: pull-kubernetes-godeps

Remove bsalamat from SIG Scheduling maintainers
  OWNERS_ALIASES
Due: none

New extended resources kublet flag
  cmd/kubelet/app/options/options.go
  cmd/kubelet/app/options/options_test.go
  cmd/kubelet/app/server.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/kubelet_node_status_test.go
  pkg/kubelet/nodestatus/setters.go
  pkg/kubelet/nodestatus/setters_test.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

Reword comment and error message
  cmd/kubelet/app/options/options.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

Sets HostNetwork to False for tests which do not require it
  test/e2e/common/networking.go
  test/e2e/framework/network/utils.go
  test/e2e/network/networking.go
  test/e2e/windows/BUILD
  test/e2e/windows/networking.go
Due: none

add cofyc as local volume owner
  pkg/volume/local/OWNERS
Due: none

fix 1-12 number urls
  CHANGELOG-1.10.md
  CHANGELOG-1.11.md
  CHANGELOG-1.13.md
  CHANGELOG-1.14.md
  cluster/gce/windows/README-GCE-Windows-kube-up.md
  staging/src/k8s.io/kubectl/docs/book/CONTRIBUTING.md
  staging/src/k8s.io/kubectl/docs/maintainers/issue_backlog.md
  test/e2e_node/perf/workloads/tf_wide_deep.go
  test/images/node-perf/tf-wide-deep/README.md
Due: pull-kubernetes-e2e-gke, pull-kubernetes-godeps

Fill in default node cidr mask size when dual stack is not enabled
  cmd/kubeadm/app/phases/controlplane/manifests.go
Due: pull-kubernetes-e2e-kubeadm-gce

Set node cidr mask size ipv4/ipv6 config
  cmd/kube-controller-manager/app/options/nodeipamcontroller.go
Due: none

Add public documentation for kubelet/apis/config
  hack/.golint_failures
  pkg/kubelet/apis/config/types.go
Due: pull-kubernetes-local-e2e-containerized

fix kubemark output error
  test/kubemark/pre-existing/README.md
  test/kubemark/resources/start-kubemark-master.sh
Due: none

FindContainerStatusByName should find non-exited container
  pkg/kubelet/container/helpers_test.go
  pkg/kubelet/container/runtime.go
Due: pull-kubernetes-local-e2e-containerized

Set default value for TEST_CLUSTER_LOG_LEVEL and KUBE_GCE_INSTANCE_PREFIX
  cluster/kubemark/gce/config-default.sh
Due: none

fix string trim func isBackendPoolOnSameLB in azure
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_wrap.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_wrap_test.go
Due: pull-kubernetes-godeps

misc fixes
  pkg/credentialprovider/azure/azure_credentials.go
  staging/src/k8s.io/legacy-cloud-providers/azure/auth/azure_auth.go
Due: pull-kubernetes-godeps

Fix a bug in port-forward: named port not working with service
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward.go
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward_test.go
Due: pull-kubernetes-godeps

Path conditions:
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
