Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-publishing-bot-dry-run, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

Path conditions:
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$

vsphere: check if volume exists before create
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/diskmanagers/vdm.go
Due: pull-kubernetes-godeps

vsphere: check if volume exists before create
  pkg/cloudprovider/providers/vsphere/vclib/diskmanagers/vdm.go
Due: none

Create ILB firewall name with prefix "k8s-fw".
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
Due: pull-kubernetes-godeps

Added new test, fixed existing tests.
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_utils_test.go
Due: pull-kubernetes-godeps

Address feedback, refactor test
  plugin/pkg/admission/noderestriction/admission.go
  plugin/pkg/admission/noderestriction/admission_test.go
Due: none

By-pass FieldManager half the time, based on namespace/name
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager.go
Due: pull-kubernetes-godeps

Fix golint issues in pkg/credentialprovider
  hack/.golint_failures
  pkg/credentialprovider/config.go
  pkg/credentialprovider/config_test.go
  pkg/credentialprovider/gcp/metadata.go
  pkg/credentialprovider/keyring.go
  pkg/credentialprovider/keyring_test.go
  pkg/credentialprovider/secrets/secrets.go
Due: none

tests: Adds large requests tests
  test/e2e/framework/network/utils.go
  test/e2e/network/networking.go
Due: none

Move test inputs for EncryptionConfiguration tests into testdata.
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/BUILD
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/invalid-configs/aes/invalid-key.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/invalid-configs/aes/no-key.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/invalid-configs/kms/negative-timeout.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/invalid-configs/kms/no-endpoint.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/invalid-configs/kms/zero-timeout.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/valid-configs/aes-cbc-first.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/valid-configs/aes-gcm-first.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/valid-configs/aes/aes-gcm.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/valid-configs/identity-first.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/valid-configs/kms-first.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/valid-configs/kms/default-timeout.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/valid-configs/kms/multiple-providers.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/valid-configs/kms/valid-timeout.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/valid-configs/legacy.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/valid-configs/secret-box-first.yaml
Due: pull-kubernetes-godeps

Verify node owner UID
  plugin/pkg/admission/noderestriction/admission.go
  plugin/pkg/admission/noderestriction/admission_test.go
Due: none

remove disk locks per vm
  staging/src/k8s.io/legacy-cloud-providers/azure/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_utils.go
Due: pull-kubernetes-godeps

add unit tests
  staging/src/k8s.io/legacy-cloud-providers/azure/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_utils.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_utils_test.go
Due: pull-kubernetes-godeps

Update GetDiskFormat() base on new version blkid
  pkg/util/mount/mount_linux.go
  pkg/util/mount/mount_linux_test.go
Due: none

check dumplicate volumes
  pkg/apis/apps/validation/validation.go
Due: none

test(cr::update): add corresponding tests
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/etcd_test.go
Due: pull-kubernetes-godeps

Hide apiserver metrics that have been deprecated in 1.14 Update E2E test accordingly.
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/value/metrics.go
  test/e2e/framework/metrics/interesting_metrics.go
Due: pull-kubernetes-godeps

add DeleteOptions conversion
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/conversion.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/conversion_test.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/generated.proto
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/zz_generated.conversion.go
  staging/src/k8s.io/code-generator/cmd/conversion-gen/generators/conversion.go
Due: pull-kubernetes-godeps

Hide apiserver metrics that have been deprecated in 1.15
  staging/src/k8s.io/apiserver/pkg/storage/value/metrics.go
  staging/src/k8s.io/apiserver/pkg/storage/value/metrics_test.go
Due: pull-kubernetes-godeps

Hide scheduler metrics that have been deprecated in 1.14
  pkg/scheduler/metrics/metrics.go
Due: none

pkg/client: fix staticcheck warning
  hack/.staticcheck_failures
  pkg/client/tests/listwatch_test.go
  pkg/client/tests/portfoward_test.go
Due: none

Parallelize attach operations across different nodes for volumes that allow multi-attach
  pkg/controller/volume/attachdetach/reconciler/BUILD
  pkg/controller/volume/attachdetach/reconciler/reconciler.go
  pkg/kubelet/volumemanager/reconciler/reconciler.go
  pkg/volume/util/nestedpendingoperations/BUILD
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/util.go
Due: pull-kubernetes-local-e2e-containerized

add unit test
  pkg/volume/util/util_test.go
Due: none

pkg/kubeapiserver: fix staticcheck warning
  hack/.staticcheck_failures
  pkg/kubeapiserver/admission/BUILD
  pkg/kubeapiserver/admission/initializer.go
  pkg/kubeapiserver/options/authentication.go
Due: none

Fix issue that kubelet may use stale node info to predicate pods
  pkg/kubelet/kubelet.go
Due: pull-kubernetes-local-e2e-containerized

Updating kube-proxy to support new EndpointSlice address types
  pkg/proxy/endpoints.go
  pkg/proxy/endpoints_test.go
  pkg/proxy/ipvs/meta_proxier.go
Due: none

Moved rotation observation inside of old cert nil check block
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec.go
Due: pull-kubernetes-godeps

Fixed foo bar comment, added nil checks
  staging/src/k8s.io/client-go/tools/metrics/metrics.go
Due: pull-kubernetes-godeps

fixed null pointer dereference in exec.go
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec.go
Due: pull-kubernetes-godeps

fixed BUILD for exec plugin package
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/BUILD
Due: pull-kubernetes-godeps

Fixed rotation age logic.
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec.go
Due: pull-kubernetes-godeps

Added rest client metrics for client TTL and rot.
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec.go
  staging/src/k8s.io/client-go/tools/metrics/metrics.go
  staging/src/k8s.io/component-base/metrics/prometheus/restclient/metrics.go
Due: pull-kubernetes-godeps

Correct the checking of robinIndex
  staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
Due: pull-kubernetes-godeps

refactor apparmor utils in e2e
  test/e2e/auth/BUILD
  test/e2e/auth/pod_security_policy.go
  test/e2e/common/BUILD
  test/e2e/framework/BUILD
  test/e2e/framework/checks.go
  test/e2e/framework/security/BUILD
  test/e2e/framework/security/apparmor.go
  test/e2e/framework/skip.go
  test/e2e/node/BUILD
  test/e2e/node/apparmor.go
  test/e2e/upgrades/BUILD
  test/e2e/upgrades/apparmor.go
Due: none

Include *intstr.IntOrString in API compatibility tests
  staging/src/k8s.io/api/testdata/HEAD/apps.v1.DaemonSet.json
  staging/src/k8s.io/api/testdata/HEAD/apps.v1.DaemonSet.pb
  staging/src/k8s.io/api/testdata/HEAD/apps.v1.DaemonSet.yaml
  staging/src/k8s.io/api/testdata/HEAD/apps.v1.Deployment.json
  staging/src/k8s.io/api/testdata/HEAD/apps.v1.Deployment.pb
  staging/src/k8s.io/api/testdata/HEAD/apps.v1.Deployment.yaml
  staging/src/k8s.io/api/testdata/HEAD/apps.v1beta1.Deployment.json
  staging/src/k8s.io/api/testdata/HEAD/apps.v1beta1.Deployment.pb
  staging/src/k8s.io/api/testdata/HEAD/apps.v1beta1.Deployment.yaml
  staging/src/k8s.io/api/testdata/HEAD/apps.v1beta2.DaemonSet.json
  staging/src/k8s.io/api/testdata/HEAD/apps.v1beta2.DaemonSet.pb
  staging/src/k8s.io/api/testdata/HEAD/apps.v1beta2.DaemonSet.yaml
  staging/src/k8s.io/api/testdata/HEAD/apps.v1beta2.Deployment.json
  staging/src/k8s.io/api/testdata/HEAD/apps.v1beta2.Deployment.pb
  staging/src/k8s.io/api/testdata/HEAD/apps.v1beta2.Deployment.yaml
  staging/src/k8s.io/api/testdata/HEAD/coordination.k8s.io.v1.Lease.json
  staging/src/k8s.io/api/testdata/HEAD/coordination.k8s.io.v1.Lease.pb
  staging/src/k8s.io/api/testdata/HEAD/coordination.k8s.io.v1.Lease.yaml
  staging/src/k8s.io/api/testdata/HEAD/coordination.k8s.io.v1beta1.Lease.json
  staging/src/k8s.io/api/testdata/HEAD/coordination.k8s.io.v1beta1.Lease.pb
  staging/src/k8s.io/api/testdata/HEAD/coordination.k8s.io.v1beta1.Lease.yaml
  staging/src/k8s.io/api/testdata/HEAD/extensions.v1beta1.DaemonSet.json
  staging/src/k8s.io/api/testdata/HEAD/extensions.v1beta1.DaemonSet.pb
  staging/src/k8s.io/api/testdata/HEAD/extensions.v1beta1.DaemonSet.yaml
  staging/src/k8s.io/api/testdata/HEAD/extensions.v1beta1.Deployment.json
  staging/src/k8s.io/api/testdata/HEAD/extensions.v1beta1.Deployment.pb
  staging/src/k8s.io/api/testdata/HEAD/extensions.v1beta1.Deployment.yaml
  staging/src/k8s.io/api/testdata/HEAD/extensions.v1beta1.NetworkPolicy.json
  staging/src/k8s.io/api/testdata/HEAD/extensions.v1beta1.NetworkPolicy.pb
  staging/src/k8s.io/api/testdata/HEAD/extensions.v1beta1.NetworkPolicy.yaml
  staging/src/k8s.io/api/testdata/HEAD/networking.k8s.io.v1.NetworkPolicy.json
  staging/src/k8s.io/api/testdata/HEAD/networking.k8s.io.v1.NetworkPolicy.pb
  staging/src/k8s.io/api/testdata/HEAD/networking.k8s.io.v1.NetworkPolicy.yaml
  staging/src/k8s.io/api/testdata/HEAD/policy.v1beta1.PodDisruptionBudget.json
  staging/src/k8s.io/api/testdata/HEAD/policy.v1beta1.PodDisruptionBudget.pb
  staging/src/k8s.io/api/testdata/HEAD/policy.v1beta1.PodDisruptionBudget.yaml
  staging/src/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/BUILD
  staging/src/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/compatibility.go
Due: pull-kubernetes-godeps

Adding code for Pods to be cleaned up by TTL Controller
  cmd/kube-controller-manager/app/core.go
  pkg/controller/ttlafterfinished/ttlafterfinished_controller.go
  pkg/controller/ttlafterfinished/ttlafterfinished_controller_test.go
  staging/src/k8s.io/api/core/v1/types.go
Due: pull-kubernetes-godeps

Update bazel build
  pkg/controller/ttlafterfinished/BUILD
Due: none

Identify cluster scope by a boolean field rather than a special namespace
  pkg/apis/flowcontrol/types.go
  pkg/apis/flowcontrol/validation/validation.go
  pkg/apis/flowcontrol/validation/validation_test.go
  staging/src/k8s.io/api/flowcontrol/v1alpha1/types.go
Due: pull-kubernetes-godeps

applied gofmt
  pkg/apis/flowcontrol/types.go
Due: none
