Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-publishing-bot-dry-run, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

Path conditions:
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$

kubeadm token list: implement structured output
  cmd/kubeadm/app/cmd/BUILD
  cmd/kubeadm/app/cmd/token.go
Due: pull-kubernetes-e2e-kubeadm-gce

Test token output
  cmd/kubeadm/app/cmd/token_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

debug identifier
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/versioning/versioning.go
Due: pull-kubernetes-godeps

Remove Prometheus addon and it's tests
  cluster/addons/prometheus/OWNERS
  cluster/addons/prometheus/README.md
  cluster/addons/prometheus/alertmanager-configmap.yaml
  cluster/addons/prometheus/alertmanager-deployment.yaml
  cluster/addons/prometheus/alertmanager-pvc.yaml
  cluster/addons/prometheus/alertmanager-service.yaml
  cluster/addons/prometheus/kube-state-metrics-deployment.yaml
  cluster/addons/prometheus/kube-state-metrics-rbac.yaml
  cluster/addons/prometheus/kube-state-metrics-service.yaml
  cluster/addons/prometheus/node-exporter-ds.yml
  cluster/addons/prometheus/node-exporter-service.yaml
  cluster/addons/prometheus/prometheus-configmap.yaml
  cluster/addons/prometheus/prometheus-rbac.yaml
  cluster/addons/prometheus/prometheus-service.yaml
  cluster/addons/prometheus/prometheus-statefulset.yaml
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/gci/configure-helper.sh
  cluster/gce/util.sh
  hack/ginkgo-e2e.sh
  test/e2e/framework/skip.go
  test/e2e/framework/test_context.go
  test/e2e/instrumentation/monitoring/BUILD
  test/e2e/instrumentation/monitoring/prometheus.go
Due: pull-kubernetes-e2e-gke

Structured Logging migration: modify server.go part logs of kube-proxy
  cmd/kube-proxy/app/server.go
Due: none

Clean up TODOs
  plugin/pkg/admission/noderestriction/admission.go
  plugin/pkg/admission/security/podsecuritypolicy/admission.go
Due: none

Structured Logging migration: modify cmd/kubelet and pkg/kubelet/kuberuntime part logs of kubelet
  cmd/kubelet/app/server.go
  cmd/kubelet/app/server_linux.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

Cache encoder for auditlog backend
  staging/src/k8s.io/apiserver/plugin/pkg/audit/log/backend.go
Due: pull-kubernetes-godeps

Avoid unnecessary identifier computations
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/versioning/versioning.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/versioning/versioning_test.go
Due: pull-kubernetes-godeps

Refactor scheduler.New so that all framework-related parameters are passed as options
  cmd/kube-scheduler/app/server.go
  pkg/scheduler/BUILD
  pkg/scheduler/api/compatibility/BUILD
  pkg/scheduler/api/compatibility/compatibility_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  test/integration/daemonset/BUILD
  test/integration/daemonset/daemonset_test.go
  test/integration/scheduler/BUILD
  test/integration/scheduler/framework_test.go
  test/integration/scheduler/preemption_test.go
  test/integration/scheduler/scheduler_test.go
  test/integration/scheduler/util.go
  test/integration/util/BUILD
  test/integration/util/util.go
  test/integration/volumescheduling/BUILD
  test/integration/volumescheduling/util.go
Due: none

Update podStatuses map after sending new status to channel
  pkg/kubelet/status/status_manager.go
Due: pull-kubernetes-local-e2e-containerized

Remove hyperkube from release artifacts
  build/BUILD
  build/lib/release.sh
  build/release-images.sh
  build/root/BUILD.root
  build/root/Makefile
  build/visible_to/BUILD
  cluster/get-kube-local.sh
  hack/dev-push-hyperkube.sh
  hack/lib/golang.sh
  hack/verify-symbols.sh
Due: pull-kubernetes-cross, pull-kubernetes-godeps

check that N job pods succceeded instead of exactly N pods existing and succeeding
  test/e2e/apps/job.go
Due: none

Dedupe logging for PD SetUpAt and added a slow SetVolumeOwnership warning
  pkg/volume/gcepd/gce_pd.go
  pkg/volume/volume_linux.go
Due: none

refactor: Manual changes to non-core types
  build/root/Makefile.generated_files
  cluster/gce/gci/configure_helper_test.go
  cmd/kubeadm/.import-restrictions
  hack/verify-api-groups.sh
  pkg/controller/.import-restrictions
  pkg/kubectl/.import-restrictions
  staging/src/k8s.io/apimachinery/pkg/test/util.go
  staging/src/k8s.io/cli-runtime/pkg/printers/sourcechecker.go
  staging/src/k8s.io/cloud-provider/service/helpers/helper.go
  staging/src/k8s.io/cloud-provider/service/helpers/helper_test.go
  staging/src/k8s.io/code-generator/_examples/HyphenGroup/apis/example/v1/types.go
  staging/src/k8s.io/code-generator/_examples/HyphenGroup/clientset/versioned/typed/example/v1/clustertesttype.go
  staging/src/k8s.io/code-generator/_examples/HyphenGroup/clientset/versioned/typed/example/v1/fake/fake_clustertesttype.go
  staging/src/k8s.io/code-generator/_examples/MixedCase/apis/example/v1/types.go
  staging/src/k8s.io/code-generator/_examples/MixedCase/clientset/versioned/typed/example/v1/clustertesttype.go
  staging/src/k8s.io/code-generator/_examples/MixedCase/clientset/versioned/typed/example/v1/fake/fake_clustertesttype.go
  staging/src/k8s.io/code-generator/_examples/crd/apis/example/v1/types.go
  staging/src/k8s.io/code-generator/_examples/crd/clientset/versioned/typed/example/v1/clustertesttype.go
  staging/src/k8s.io/code-generator/_examples/crd/clientset/versioned/typed/example/v1/fake/fake_clustertesttype.go
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/client_generator.go
  staging/src/k8s.io/code-generator/cmd/client-gen/main.go
  staging/src/k8s.io/code-generator/cmd/client-gen/types/types.go
  staging/src/k8s.io/code-generator/cmd/informer-gen/generators/types.go
  staging/src/k8s.io/code-generator/generate-internal-groups.sh
  staging/src/k8s.io/metrics/pkg/apis/custom_metrics/types.go
  test/e2e/framework/.import-restrictions
  test/test_owners.csv
  third_party/forked/golang/expansion/expand_test.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-cross, pull-kubernetes-godeps

refactor
  staging/src/k8s.io/internal-api/refactor.sh
  vendor/k8s.io/internal-api
Due: pull-kubernetes-godeps

based refactor
  test/test_owners.csv
Due: none

refactor: Correct defaulter input paths in internal apis
  staging/src/k8s.io/internal-api/apis/admission/v1/doc.go
  staging/src/k8s.io/internal-api/apis/admission/v1beta1/doc.go
  staging/src/k8s.io/internal-api/apis/admissionregistration/v1/doc.go
  staging/src/k8s.io/internal-api/apis/admissionregistration/v1beta1/doc.go
  staging/src/k8s.io/internal-api/apis/apps/v1/doc.go
  staging/src/k8s.io/internal-api/apis/apps/v1beta1/doc.go
  staging/src/k8s.io/internal-api/apis/apps/v1beta2/doc.go
  staging/src/k8s.io/internal-api/apis/auditregistration/v1alpha1/doc.go
  staging/src/k8s.io/internal-api/apis/authentication/v1/doc.go
  staging/src/k8s.io/internal-api/apis/authentication/v1beta1/doc.go
  staging/src/k8s.io/internal-api/apis/authorization/v1/doc.go
  staging/src/k8s.io/internal-api/apis/authorization/v1beta1/doc.go
  staging/src/k8s.io/internal-api/apis/autoscaling/v1/doc.go
  staging/src/k8s.io/internal-api/apis/autoscaling/v2beta1/doc.go
  staging/src/k8s.io/internal-api/apis/batch/v1/doc.go
  staging/src/k8s.io/internal-api/apis/batch/v1beta1/doc.go
  staging/src/k8s.io/internal-api/apis/batch/v2alpha1/doc.go
  staging/src/k8s.io/internal-api/apis/certificates/v1beta1/doc.go
  staging/src/k8s.io/internal-api/apis/coordination/v1/doc.go
  staging/src/k8s.io/internal-api/apis/coordination/v1beta1/doc.go
  staging/src/k8s.io/internal-api/apis/core/v1/doc.go
  staging/src/k8s.io/internal-api/apis/discovery/v1alpha1/doc.go
  staging/src/k8s.io/internal-api/apis/events/v1beta1/doc.go
  staging/src/k8s.io/internal-api/apis/extensions/v1beta1/doc.go
  staging/src/k8s.io/internal-api/apis/imagepolicy/v1alpha1/doc.go
  staging/src/k8s.io/internal-api/apis/networking/v1/doc.go
  staging/src/k8s.io/internal-api/apis/networking/v1beta1/doc.go
  staging/src/k8s.io/internal-api/apis/policy/v1beta1/doc.go
  staging/src/k8s.io/internal-api/apis/rbac/v1/doc.go
  staging/src/k8s.io/internal-api/apis/rbac/v1alpha1/doc.go
  staging/src/k8s.io/internal-api/apis/rbac/v1beta1/doc.go
  staging/src/k8s.io/internal-api/apis/scheduling/v1/doc.go
  staging/src/k8s.io/internal-api/apis/scheduling/v1alpha1/doc.go
  staging/src/k8s.io/internal-api/apis/scheduling/v1beta1/doc.go
  staging/src/k8s.io/internal-api/apis/settings/v1alpha1/doc.go
  staging/src/k8s.io/internal-api/apis/storage/v1/doc.go
  staging/src/k8s.io/internal-api/apis/storage/v1alpha1/doc.go
  staging/src/k8s.io/internal-api/apis/storage/v1beta1/doc.go
Due: pull-kubernetes-godeps

ingress: add IngressClass to v1 networking API
  pkg/apis/networking/types.go
Due: none

Add klueska as reviewer for CPUManager and devicemanager
  pkg/kubelet/cm/cpumanager/OWNERS
  pkg/kubelet/cm/devicemanager/OWNERS
Due: pull-kubernetes-local-e2e-containerized

api/admissionregistration: fix godoc for webhook caBundle
  staging/src/k8s.io/api/admissionregistration/v1beta1/types.go
Due: pull-kubernetes-godeps

Remove \0 in zone key
  pkg/controller/testutil/test_utils.go
  pkg/scheduler/internal/cache/node_tree_test.go
  pkg/util/node/node.go
Due: none

refactor fs file in fs(file system) folder
  pkg/volume/util/fs/fs.go
  pkg/volume/util/fs/fs_windows.go
Due: none

Cap the number of managedFields entries for updates at 10
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/capmanagers.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/capmanagers_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/managedfields.go
  test/integration/apiserver/apply/apply_test.go
Due: pull-kubernetes-godeps

Refactor fieldmanager to be more modular
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/BUILD
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/buildmanagerinfo.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/managedfields.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/managedfields_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/skipnonapplied.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/stripmeta.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/structuredmerge.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest.go
  staging/src/k8s.io/apiserver/pkg/endpoints/installer.go
  test/integration/apiserver/apply/apply_test.go
Due: pull-kubernetes-godeps

pkg/util/iptables: add Dan Winship to OWNERS
  pkg/util/iptables/OWNERS
Due: none

127.0.0.1-as-advertise-address
  cmd/kubeadm/app/util/config/common.go
  cmd/kubeadm/app/util/config/common_test.go
  cmd/kubeadm/app/util/config/initconfiguration.go
  staging/src/k8s.io/apimachinery/pkg/util/net/interface.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-godeps

nodeipam-controller:fix static check failures
  hack/.staticcheck_failures
  pkg/controller/nodeipam/ipam/cidrset/cidr_set_test.go
Due: none

Kubelet volume manager: fix logging of unattached volumes
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/volume_manager.go
  pkg/kubelet/volumemanager/volume_manager_test.go
Due: pull-kubernetes-local-e2e-containerized

Allow users to use custom tags
  hack/lib/version.sh
Due: pull-kubernetes-cross, pull-kubernetes-godeps

feat(scheduler): rename PluginContext to CycleState
  pkg/scheduler/core/extender_test.go
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/factory/factory_test.go
  pkg/scheduler/framework/plugins/examples/multipoint/multipoint.go
  pkg/scheduler/framework/plugins/examples/prebind/prebind.go
  pkg/scheduler/framework/plugins/examples/stateful/stateful.go
  pkg/scheduler/framework/plugins/noop/noop.go
  pkg/scheduler/framework/v1alpha1/BUILD
  pkg/scheduler/framework/v1alpha1/context.go
  pkg/scheduler/framework/v1alpha1/cycle_state.go
  pkg/scheduler/framework/v1alpha1/cycle_state_test.go
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/framework_test.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  test/integration/scheduler/framework_test.go
  test/integration/scheduler/preemption_test.go
Due: none

feat(scheduler): scale the extender output in generic scheduler
  pkg/scheduler/apis/extender/v1/types.go
  pkg/scheduler/core/generic_scheduler.go
Due: none

improve explanatory comment about trailing dots in searches
  pkg/kubelet/network/dns/dns.go
Due: pull-kubernetes-local-e2e-containerized

don't add extra variable for searches
  pkg/kubelet/network/dns/dns.go
Due: pull-kubernetes-local-e2e-containerized

Return proper error message when BindPodVolumes fails
  pkg/controller/volume/scheduling/scheduler_binder.go
Due: none
