Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-publishing-bot-dry-run, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

Path conditions:
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$

Restrict builds to officially supported platforms
  hack/lib/golang.sh
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Add enj and mikedanese sig-auth-api-reviewers
  OWNERS_ALIASES
Due: none

kubeadm: remove flaky unit tests for chroot
  cmd/kubeadm/app/util/BUILD
  cmd/kubeadm/app/util/chroot_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

Rename NewHumanReadablePrinter to NewTablePrinter
  pkg/kubectl/cmd/get/humanreadable_flags.go
  pkg/printers/internalversion/printers_test.go
  pkg/printers/tableprinter.go
Due: none

Remove proxy workaround fixed in go 1.12.4
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go
Due: pull-kubernetes-godeps

Update CHANGELOG-1.15.md for v1.15.0-alpha.2.
  CHANGELOG-1.15.md
Due: none

Extend ResourceLock interface to include leader election config
  staging/src/k8s.io/client-go/tools/leaderelection/healthzadaptor_test.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/configmaplock.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/endpointslock.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/interface.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/leaselock.go
Due: pull-kubernetes-godeps

Upgrade Stackdriver Logging Agent addon image from 1.6.0 to 1.6.8.
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

Merge the two goroutines in realImageGCManager#Start
  pkg/kubelet/images/image_gc_manager.go
Due: pull-kubernetes-local-e2e-containerized

Adjust multiplier
  pkg/kubelet/images/image_gc_manager.go
Due: pull-kubernetes-local-e2e-containerized

Add --config=ci for bazel
  build/root/.bazelrc
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Return early when node expansion is determined
  pkg/volume/csi/csi_client.go
Due: none

Add support for GCP service account credentials to be provided in kubernetes configs in addition to the current alternatives (cmd based and google default token source)
  staging/src/k8s.io/client-go/plugin/pkg/client/auth/gcp/gcp.go
Due: pull-kubernetes-godeps

Provide Stop func to ImageGCManager
  pkg/kubelet/images/image_gc_manager.go
Due: pull-kubernetes-local-e2e-containerized

Address gofmt
  pkg/kubelet/images/image_gc_manager.go
Due: pull-kubernetes-local-e2e-containerized

remove pd-external from e2e config
  test/e2e/storage/csi_volumes.go
  test/e2e/storage/drivers/csi.go
Due: none

Fix verify godeps failure
  Godeps/Godeps.json
Due: pull-kubernetes-godeps

Fix verify godeps failure for 1.12
  Godeps/Godeps.json
Due: pull-kubernetes-godeps

Fix verify godeps failure for 1.13
  Godeps/Godeps.json
Due: pull-kubernetes-godeps

Update scheduler framework plugins to align with the latest changes to the framework design
  pkg/scheduler/core/extender_test.go
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/factory/factory.go
  pkg/scheduler/factory/factory_test.go
  pkg/scheduler/framework/BUILD
  pkg/scheduler/framework/plugins/examples/BUILD
  pkg/scheduler/framework/plugins/examples/multipoint/multipoint.go
  pkg/scheduler/framework/plugins/examples/prebind/prebind.go
  pkg/scheduler/framework/plugins/examples/stateful/stateful.go
  pkg/scheduler/framework/v1alpha1/BUILD
  pkg/scheduler/framework/v1alpha1/context.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/cache/cache_test.go
  pkg/scheduler/plugins/examples/multipoint.go
  pkg/scheduler/plugins/examples/stateful.go
  pkg/scheduler/plugins/registrar.go
  pkg/scheduler/plugins/v1alpha1/interface.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/testutil.go
  test/integration/scheduler/framework_test.go
  test/integration/scheduler/plugin_test.go
  test/integration/scheduler/scheduler_test.go
  test/integration/scheduler/util.go
Due: none

Add framework and registry for the scheduling framework
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/registry.go
Due: none

Change scheduler constructors to receive a plugin registry.
  cmd/kube-scheduler/app/server.go
  pkg/scheduler/scheduler.go
  test/integration/scheduler/scheduler_test.go
Due: none

autogenerated files
  cmd/kube-scheduler/app/BUILD
  pkg/scheduler/BUILD
  pkg/scheduler/core/BUILD
  pkg/scheduler/factory/BUILD
  pkg/scheduler/framework/BUILD
  pkg/scheduler/framework/plugins/examples/BUILD
  pkg/scheduler/framework/plugins/examples/multipoint/BUILD
  pkg/scheduler/framework/plugins/examples/prebind/BUILD
  pkg/scheduler/framework/plugins/examples/stateful/BUILD
  test/integration/scheduler/BUILD
Due: none

Proof of concept on how kube-proxy could return unhealthy if watch stops returning endpoint updated
  pkg/proxy/healthcheck/healthcheck.go
  pkg/proxy/iptables/proxier.go
Due: none

GCE: update the set of reserved IP ranges that will not be masqueraded
  cluster/gce/gci/configure-helper.sh
Due: pull-kubernetes-e2e-gke

Return the error from handleCreateEvent
  pkg/kubelet/util/pluginwatcher/plugin_watcher.go
Due: pull-kubernetes-local-e2e-containerized

feat: add logger package in test e2e framework
  test/e2e/framework/BUILD
  test/e2e/framework/job/BUILD
  test/e2e/framework/job/rest.go
  test/e2e/framework/log/BUILD
  test/e2e/framework/log/logger.go
Due: none

Swap in fejta, out ixdy in build/OWNERS
  build/OWNERS
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Addressing review comments
  pkg/volume/csi/csi_client.go
  pkg/volume/csi/csi_metrics.go
Due: none

Fix ACR MSI cross-subscription authentication error
  pkg/credentialprovider/azure/azure_credentials.go
  pkg/credentialprovider/azure/azure_credentials_test.go
Due: none

Add more test cases
  pkg/credentialprovider/azure/azure_credentials_test.go
Due: none

make all nodePorts jump to the firewall chain
  pkg/proxy/iptables/proxier.go
Due: none

rename formatEndpointAddresses => prepareForDisplay
  pkg/master/reconcilers/lease.go
Due: none

apiextensions: add structural x-kubernetes-* fields to validation schemas
  api/api-rules/violation_exceptions.list
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/types_jsonschema.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/types_jsonschema.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/validation/validation.go
Due: pull-kubernetes-godeps

Optimization cleanDir
  cmd/kubeadm/app/cmd/reset.go
Due: pull-kubernetes-e2e-kubeadm-gce

mastercount: validate nodename + additional test cases
  pkg/master/controller_test.go
  pkg/master/reconcilers/lease_test.go
  pkg/master/reconcilers/mastercount.go
Due: none
