Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-publishing-bot-dry-run, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

pull-publishing-bot-dry-run:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190301-76bc03340-master
      command:
      - make
      args:
      - run
      env:
      - name: CONFIG
        value: https://raw.githubusercontent.com/kubernetes/publishing-bot/master/configs/kubernetes
  ...

pull-kubernetes-e2e-kubeadm-gce:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:latest-master
  ...

pull-kubernetes-e2e-gke:
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
  spec:
    containers:
    - args:
      - --root=/go/src
      - --repo=k8s.io/kubernetes=$(PULL_REFS)
      - --repo=k8s.io/release
      - --upload=gs://kubernetes-jenkins/pr-logs
      - --timeout=90
  ...

pull-kubernetes-local-e2e-containerized:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20181203-a441fa430-master
      args:
      - --root=/go/src
      - --job=$(JOB_NAME)
  ...

pull-kubernetes-cross:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190703-1f4d616
      args:
      - --job=$(JOB_NAME)
      - --repo=k8s.io/$(REPO_NAME)=$(PULL_REFS)
      - --service-account=/etc/service-account/service-account.json
  ...

pull-kubernetes-conformance-image-test:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-master
  ...

pull-kubernetes-godeps:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - name: main
      command:
      - runner.sh
      image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-master
      args:
      - make
      - verify
      securityContext:
  ...

Move functions from e2e/framework/util.go
  test/e2e/framework/ingress/ingress_utils.go
  test/e2e/framework/util.go
  test/e2e/network/ingress.go
  test/e2e/network/service.go
  test/e2e_node/BUILD
  test/e2e_node/util.go
Due: none

Randomize csi-hostpath's healthz port in e2e test
  test/e2e/storage/drivers/BUILD
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/utils/deployment.go
Due: none

Make writing file via container in tests sync for real this time
  test/e2e/framework/framework.go
Due: none

Remove the condition for only wait for KMS key is used
  pkg/cloudprovider/providers/aws/aws.go
  pkg/cloudprovider/providers/aws/aws_test.go
Due: none

Updated usage of certificate.Manager to use new rotation metric
  pkg/kubelet/certificate/kubelet.go
Due: pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-local-e2e-containerized

Refactor tests for configure-helper.sh by moving environment config to testdata.
  cluster/gce/gci/BUILD
  cluster/gce/gci/apiserver_etcd_test.go
  cluster/gce/gci/apiserver_kms_test.go
  cluster/gce/gci/audit_policy_test.go
  cluster/gce/gci/configure_helper_test.go
  cluster/gce/gci/testdata/kube-apiserver/base.template
  cluster/gce/gci/testdata/kube-apiserver/etcd.template
  cluster/gce/gci/testdata/kube-apiserver/kms.template
Due: pull-kubernetes-e2e-gke

adding support for container.name in downward api
  pkg/api/v1/resource/helpers.go
  pkg/apis/core/validation/validation_test.go
Due: none

Adding e2e test to ensure kubectl get output is using custom columns when desired.
  test/e2e/kubectl/BUILD
  test/e2e/kubectl/kubectl.go
Due: none

manual API changes and code refactoring
  api/api-rules/violation_exceptions.list
  pkg/scheduler/algorithm/predicates/predicates.go
  pkg/scheduler/algorithm/predicates/predicates_test.go
  pkg/scheduler/algorithm/types.go
  pkg/scheduler/algorithm_factory.go
  pkg/scheduler/algorithm_factory_test.go
  pkg/scheduler/api/latest/BUILD
  pkg/scheduler/api/latest/latest.go
  pkg/scheduler/api/v1/BUILD
  pkg/scheduler/api/v1/zz_generated.deepcopy.go
  pkg/scheduler/api/validation/BUILD
  pkg/scheduler/api/validation/validation.go
  pkg/scheduler/api/validation/validation_test.go
  pkg/scheduler/api/zz_generated.deepcopy.go
  pkg/scheduler/apis/config/legacy_types.go
  pkg/scheduler/apis/config/register.go
  pkg/scheduler/apis/config/scheme/scheme.go
  pkg/scheduler/apis/config/testing/BUILD
  pkg/scheduler/apis/config/testing/compatibility_test.go
  pkg/scheduler/apis/config/testing/policy_test.go
  pkg/scheduler/apis/config/types.go
  pkg/scheduler/apis/config/v1/doc.go
  pkg/scheduler/apis/config/v1/register.go
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/apis/config/validation/validation_test.go
  pkg/scheduler/core/extender.go
  pkg/scheduler/core/extender_test.go
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/factory.go
  pkg/scheduler/factory_test.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  staging/src/k8s.io/kube-scheduler/config/v1/doc.go
  staging/src/k8s.io/kube-scheduler/config/v1/register.go
  staging/src/k8s.io/kube-scheduler/config/v1/types.go
  test/integration/scheduler/extender_test.go
  test/integration/scheduler/util.go
Due: pull-kubernetes-godeps

Fixes error in go_pkg()
  build/code_generation.bzl
Due: pull-kubernetes-cross, pull-kubernetes-godeps

autogen files
  build/kazel_generated.bzl
  pkg/scheduler/BUILD
  pkg/scheduler/api/BUILD
  pkg/scheduler/apis/config/BUILD
  pkg/scheduler/apis/config/testing/BUILD
  pkg/scheduler/apis/config/v1/BUILD
  pkg/scheduler/apis/config/v1/zz_generated.conversion.go
  pkg/scheduler/apis/config/v1/zz_generated.deepcopy.go
  pkg/scheduler/apis/config/v1/zz_generated.defaults.go
  pkg/scheduler/apis/config/validation/BUILD
  pkg/scheduler/core/BUILD
  pkg/scheduler/factory/BUILD
  staging/src/k8s.io/kube-scheduler/config/v1/BUILD
  staging/src/k8s.io/kube-scheduler/config/v1/zz_generated.deepcopy.go
  test/integration/scheduler/BUILD
  vendor/modules.txt
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Enable TaintNodesByCondition admission by default in scripts
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  hack/local-up-cluster.sh
Due: pull-kubernetes-e2e-gke

Add linux selector to kube-proxy yaml.
  cluster/addons/kube-proxy/kube-proxy-ds.yaml
Due: pull-kubernetes-e2e-gke

deprecate cleanup-ipvs flag
  cmd/kube-proxy/app/server.go
Due: none

Add conversion function to pointer metav1.Time
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/conversion.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/conversion_test.go
Due: pull-kubernetes-godeps

Add tags for autogenerating conversions for Option types
  staging/src/k8s.io/api/core/v1/types.go
Due: pull-kubernetes-godeps

fixed hack file
  hack/.golint_failures
Due: none

Autogenerated
  pkg/apis/core/v1/zz_generated.conversion.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/BUILD
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/zz_generated.conversion.go
Due: pull-kubernetes-godeps

cmd:fix staticcheck warning
  cmd/preferredimports/preferredimports.go
  hack/.staticcheck_failures
Due: none

Use log functions of core framework on test/e2e/framework/kubelet
  test/e2e/framework/BUILD
  test/e2e/framework/kubelet/BUILD
  test/e2e/framework/kubelet/kubelet_pods.go
  test/e2e/framework/kubelet/stats.go
  test/e2e/framework/resource_usage_gatherer.go
  test/e2e/framework/util.go
Due: none

Recreate target group when externalTrafficPolicy changes to local
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer.go
Due: pull-kubernetes-godeps

Refactor the process to get ip address of loopback interface
  staging/src/k8s.io/apiserver/pkg/server/BUILD
  staging/src/k8s.io/apiserver/pkg/server/config_selfclient.go
  staging/src/k8s.io/apiserver/pkg/server/config_selfclient_test.go
Due: pull-kubernetes-godeps

Move funcs of nodeutil to cloud/nodes.go.
  test/e2e/cloud/BUILD
  test/e2e/cloud/nodes.go
  test/e2e/framework/nodes_util.go
Due: none

Bumpd NodeProblemDetector
  cluster/addons/node-problem-detector/npd.yaml
  cluster/gce/gci/configure.sh
  test/kubemark/resources/hollow-node_template.yaml
Due: pull-kubernetes-e2e-gke

n to _
  pkg/client/tests/portfoward_test.go
Due: none

fix error docs: fix maxUnavailable, maxSurge of deployment to a default value 25%
  pkg/apis/apps/types.go
  staging/src/k8s.io/api/extensions/v1beta1/types.go
  staging/src/k8s.io/api/extensions/v1beta1/types_swagger_doc_generated.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollingupdate/rolling_updater.go
Due: pull-kubernetes-godeps

Create a shim for Codecs that handles client duties
  staging/src/k8s.io/apimachinery/pkg/runtime/BUILD
  staging/src/k8s.io/apimachinery/pkg/runtime/interfaces.go
  staging/src/k8s.io/apimachinery/pkg/runtime/negotiate.go
  test/e2e/apimachinery/BUILD
Due: pull-kubernetes-godeps

Detect watch protocol errors via an e2e test for apimachinery
  test/e2e/apimachinery/protocol.go
Due: none

Remove deprecated-dynamic client
  hack/.golint_failures
  staging/src/k8s.io/client-go/BUILD
  staging/src/k8s.io/client-go/deprecated-dynamic/BUILD
  staging/src/k8s.io/client-go/deprecated-dynamic/client.go
  staging/src/k8s.io/client-go/deprecated-dynamic/client_pool.go
  staging/src/k8s.io/client-go/deprecated-dynamic/client_test.go
Due: pull-kubernetes-godeps

test: Watch should fail immediately on negotiate errors
  staging/src/k8s.io/apiserver/pkg/endpoints/watch_test.go
Due: pull-kubernetes-godeps

dynamic: The dynamic client no longer needs a special cased watch
  staging/src/k8s.io/client-go/dynamic/BUILD
  staging/src/k8s.io/client-go/dynamic/client_test.go
  staging/src/k8s.io/client-go/dynamic/scheme.go
  staging/src/k8s.io/client-go/dynamic/simple.go
Due: pull-kubernetes-godeps

test: Set RateLimiter via client config vs direct casting
  test/e2e/network/BUILD
  test/e2e/network/service_latency.go
Due: none

test: kubectl unit tests should be using codecs without conversion
  staging/src/k8s.io/kubectl/pkg/cmd/attach/attach_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_clusterrolebinding_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/create/create_rolebinding_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/drain/drain_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/expose/expose_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/BUILD
  staging/src/k8s.io/kubectl/pkg/cmd/rollout/rollout_pause_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/run/run_test.go
  staging/src/k8s.io/kubectl/pkg/cmd/taint/taint_test.go
Due: pull-kubernetes-godeps

test: Exit early during resource helper test
  staging/src/k8s.io/cli-runtime/pkg/resource/helper_test.go
Due: pull-kubernetes-godeps

Always negotiate a decoder using ClientNegotiator
  pkg/client/tests/remotecommand_test.go
  staging/src/k8s.io/client-go/rest/client.go
  staging/src/k8s.io/client-go/rest/client_test.go
  staging/src/k8s.io/client-go/rest/config.go
  staging/src/k8s.io/client-go/rest/fake/fake.go
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
Due: pull-kubernetes-godeps

Fix golint issues in pkg/security/apparmor
  hack/.golint_failures
  pkg/security/apparmor/helpers.go
  pkg/security/apparmor/validate.go
Due: none

Path conditions:
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
