Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-publishing-bot-dry-run, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

Path conditions:
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$

Enable mutation detection
  hack/make-rules/test-cmd.sh
  hack/make-rules/test-e2e-node.sh
  hack/make-rules/test-integration.sh
Due: none

Retain objects for a limited lifetime in the mutation cache detector by default
  staging/src/k8s.io/client-go/tools/cache/mutation_detector.go
Due: pull-kubernetes-godeps

fix executable path
  build/root/Makefile
Due: pull-kubernetes-cross, pull-kubernetes-godeps

feat: make delete protection to namespace kube-node-lease
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/namespace/lifecycle/admission.go
Due: pull-kubernetes-godeps

Flip scheduler_bench_test.go to collect metrics instead of relying on golang benchmark
  test/integration/scheduler_perf/TestBenchmarkSchedulingCSIPVs_2019-12-02T13:01:44Z.json
  test/integration/scheduler_perf/TestBenchmarkSchedulingInTreePVs_2019-12-02T12:50:38Z.json
  test/integration/scheduler_perf/TestBenchmarkSchedulingMigratedInTreePVs_2019-12-02T12:57:37Z.json
  test/integration/scheduler_perf/TestBenchmarkSchedulingNodeAffinity_2019-12-02T13:05:05Z.json
  test/integration/scheduler_perf/TestBenchmarkSchedulingPodAffinity_2019-12-02T13:03:26Z.json
  test/integration/scheduler_perf/TestBenchmarkSchedulingPodAntiAffinity_2019-12-02T12:36:24Z.json
  test/integration/scheduler_perf/TestBenchmarkSchedulingSecrets_2019-12-02T12:40:00Z.json
  test/integration/scheduler_perf/TestBenchmarkScheduling_2019-12-02T12:32:30Z.json
  test/integration/scheduler_perf/perf_util.go
  test/integration/scheduler_perf/scheduler_bench_test.go
  test/integration/scheduler_perf/scheduler_my_test.go
Due: none

Add code for introducing uncertain state of mounts
  pkg/kubelet/volumemanager/cache/BUILD
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/cache/actual_state_of_world_test.go
  pkg/kubelet/volumemanager/metrics/BUILD
  pkg/kubelet/volumemanager/metrics/metrics_test.go
  pkg/kubelet/volumemanager/populator/BUILD
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
  pkg/kubelet/volumemanager/reconciler/reconciler.go
  pkg/kubelet/volumemanager/volume_manager.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_generator.go
Due: pull-kubernetes-local-e2e-containerized

Add code to mark volume as uncertain
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/metrics/metrics_test.go
  pkg/kubelet/volumemanager/reconciler/reconciler.go
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/volume/csi/BUILD
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_client.go
  pkg/volume/csi/csi_mounter.go
  pkg/volume/testing/BUILD
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/util/types/types.go
Due: pull-kubernetes-local-e2e-containerized

Make sure PodExistsInVolume does not uses uncertain volumes
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/cache/actual_state_of_world_test.go
  pkg/volume/csi/csi_client.go
Due: pull-kubernetes-local-e2e-containerized

Ensure webhook backend requests are not artificially rate-limited
  staging/src/k8s.io/apiserver/pkg/util/webhook/client.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook.go
  test/integration/apiserver/admissionwebhook/admission_test.go
Due: pull-kubernetes-godeps

Implement return status codes
  pkg/controller/volume/attachdetach/testing/testvolumespec.go
  pkg/volume/awsebs/attacher.go
  pkg/volume/azure_dd/attacher.go
  pkg/volume/cinder/attacher.go
  pkg/volume/csi/csi_attacher.go
  pkg/volume/fc/attacher.go
  pkg/volume/flexvolume/attacher.go
  pkg/volume/gcepd/attacher.go
  pkg/volume/iscsi/attacher.go
  pkg/volume/local/local.go
  pkg/volume/rbd/attacher.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/util/types/types.go
  pkg/volume/volume.go
  pkg/volume/vsphere_volume/attacher.go
Due: none

Ensure that metadata directory is not created if secret is not found
  pkg/volume/csi/csi_attacher.go
Due: none

Refactor NodeStage function
  pkg/kubelet/BUILD
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/volume/csi/BUILD
  pkg/volume/csi/csi_mounter_test.go
  pkg/volume/csi/fake/BUILD
  pkg/volume/flexvolume/attacher.go
  pkg/volume/testing/testing.go
  pkg/volume/util/types/types.go
Due: pull-kubernetes-local-e2e-containerized

Update generated files
  pkg/controller/volume/attachdetach/testing/BUILD
  pkg/kubelet/kubelet_volumes_test.go
  pkg/volume/BUILD
  pkg/volume/awsebs/BUILD
  pkg/volume/azure_dd/BUILD
  pkg/volume/azure_file/BUILD
  pkg/volume/cephfs/BUILD
  pkg/volume/cinder/BUILD
  pkg/volume/configmap/BUILD
  pkg/volume/downwardapi/BUILD
  pkg/volume/emptydir/BUILD
  pkg/volume/fc/BUILD
  pkg/volume/flexvolume/BUILD
  pkg/volume/flocker/BUILD
  pkg/volume/gcepd/BUILD
  pkg/volume/git_repo/BUILD
  pkg/volume/glusterfs/BUILD
  pkg/volume/hostpath/BUILD
  pkg/volume/iscsi/BUILD
  pkg/volume/local/BUILD
  pkg/volume/nfs/BUILD
  pkg/volume/portworx/BUILD
  pkg/volume/projected/BUILD
  pkg/volume/quobyte/BUILD
  pkg/volume/rbd/BUILD
  pkg/volume/scaleio/BUILD
  pkg/volume/secret/BUILD
  pkg/volume/storageos/BUILD
  pkg/volume/testing/testing.go
  pkg/volume/vsphere_volume/BUILD
Due: pull-kubernetes-local-e2e-containerized

Handle the case of remounts correctly
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/volume/csi/csi_mounter.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/util/types/types.go
Due: pull-kubernetes-local-e2e-containerized

Add code to handle Setup With Status tracking
  pkg/volume/awsebs/aws_ebs.go
  pkg/volume/azure_dd/azure_mounter.go
  pkg/volume/azure_file/azure_file.go
  pkg/volume/cephfs/cephfs.go
  pkg/volume/cinder/cinder.go
  pkg/volume/configmap/configmap.go
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_mounter.go
  pkg/volume/downwardapi/downwardapi.go
  pkg/volume/emptydir/empty_dir.go
  pkg/volume/fc/fc.go
  pkg/volume/flexvolume/mounter.go
  pkg/volume/flocker/flocker.go
  pkg/volume/gcepd/gce_pd.go
  pkg/volume/git_repo/git_repo.go
  pkg/volume/glusterfs/glusterfs.go
  pkg/volume/hostpath/host_path.go
  pkg/volume/iscsi/iscsi.go
  pkg/volume/local/local.go
  pkg/volume/nfs/nfs.go
  pkg/volume/portworx/portworx.go
  pkg/volume/projected/projected.go
  pkg/volume/quobyte/quobyte.go
  pkg/volume/rbd/rbd.go
  pkg/volume/scaleio/sio_volume.go
  pkg/volume/secret/secret.go
  pkg/volume/storageos/storageos.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/volume.go
  pkg/volume/vsphere_volume/vsphere_volume.go
Due: none

Add tests for verifying in-progress state
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_attacher_test.go
  pkg/volume/csi/csi_client_test.go
  pkg/volume/csi/csi_mounter.go
  pkg/volume/csi/csi_mounter_test.go
  pkg/volume/csi/fake/fake_client.go
Due: none

Rename MarkVolumeMountedOpts to MarkVolumeOpts
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/cache/actual_state_of_world_test.go
  pkg/kubelet/volumemanager/metrics/metrics_test.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
  pkg/kubelet/volumemanager/reconciler/reconciler.go
  pkg/volume/csi/csi_mounter.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_generator.go
Due: pull-kubernetes-local-e2e-containerized

Change signature of MountDevice function and remove MountDeviceWithStatusTracking
  pkg/controller/volume/attachdetach/testing/testvolumespec.go
  pkg/volume/awsebs/attacher.go
  pkg/volume/azure_dd/attacher.go
  pkg/volume/cinder/attacher.go
  pkg/volume/csi/csi_attacher.go
  pkg/volume/csi/csi_attacher_test.go
  pkg/volume/csi/csi_test.go
  pkg/volume/fc/attacher.go
  pkg/volume/flexvolume/attacher.go
  pkg/volume/gcepd/attacher.go
  pkg/volume/iscsi/attacher.go
  pkg/volume/local/local.go
  pkg/volume/local/local_test.go
  pkg/volume/rbd/attacher.go
  pkg/volume/rbd/rbd_test.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/volume.go
  pkg/volume/vsphere_volume/attacher.go
Due: none

Fix iscsi refcounter in the case of no Block iscsi volumes
  pkg/volume/iscsi/BUILD
  pkg/volume/iscsi/iscsi_util.go
  pkg/volume/iscsi/iscsi_util_test.go
Due: none

update gopkg.in/yaml.v2 to v2.2.7
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/gopkg.in/yaml.v2/.travis.yml
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/scannerc.go
  vendor/gopkg.in/yaml.v2/yaml.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

kubeadm: set cluster name on the controller manager
  cmd/kubeadm/app/phases/controlplane/manifests.go
  cmd/kubeadm/app/phases/controlplane/manifests_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

update scheduler benchmarks to be more representative
  test/integration/scheduler_perf/scheduler_bench_test.go
Due: none

make scheduling queue start before the scheduler starts and stops after the scheduler stops
  pkg/scheduler/core/extender_test.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/factory.go
  pkg/scheduler/factory_test.go
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Due: none

Add defaulting logic for EncryptionConfiguration.
  hack/.golint_failures
  staging/src/k8s.io/apiserver/pkg/apis/config/BUILD
  staging/src/k8s.io/apiserver/pkg/apis/config/types.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/BUILD
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/defaults.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/defaults_test.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/register.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/types.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/zz_generated.conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/pkg/apis/config/v1/zz_generated.defaults.go
  staging/src/k8s.io/apiserver/pkg/apis/config/validation/BUILD
  staging/src/k8s.io/apiserver/pkg/apis/config/validation/validation.go
  staging/src/k8s.io/apiserver/pkg/apis/config/validation/validation_test.go
  staging/src/k8s.io/apiserver/pkg/apis/config/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/BUILD
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/invalid-configs/aes/invalid-key.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/invalid-configs/aes/no-key.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/invalid-configs/kms/negative-timeout.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/invalid-configs/kms/no-endpoint.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/invalid-configs/kms/zero-timeout.yaml
  staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/testdata/valid-configs/kms/valid-timeout.yaml
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/envelope.go
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/envelope_test.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

Move hostdns.conf out of cni directory.
  cluster/gce/util.sh
  cluster/gce/windows/k8s-node-setup.psm1
Due: pull-kubernetes-e2e-gke

Remove unreferenced DryRun field
  staging/src/k8s.io/kubectl/pkg/drain/drain.go
Due: pull-kubernetes-godeps

Use GCS bucket for crictl on windows.
  cluster/gce/windows/k8s-node-setup.psm1
Due: pull-kubernetes-e2e-gke

Adds initial unit tests for tablegenerator.go
  pkg/printers/BUILD
  pkg/printers/tablegenerator_test.go
Due: none

Add test cases to verify kubelet & kube-proxy can recover if being killed accidentally
  test/e2e/apps/daemon_restart.go
Due: none

Replace the hostname in the fluentd config file even if the file exists
  cluster/gce/windows/k8s-node-setup.psm1
Due: pull-kubernetes-e2e-gke

remove disk locks per vm
  staging/src/k8s.io/legacy-cloud-providers/azure/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_utils.go
Due: pull-kubernetes-godeps

add unit tests
  staging/src/k8s.io/legacy-cloud-providers/azure/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_utils.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_utils_test.go
Due: pull-kubernetes-godeps

skip e2e tests that run on multi node cluster and require node independent volume for the drivers that does not support node independent volumes, like hostpath
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/testsuites/multivolume.go
  test/e2e/storage/testsuites/testdriver.go
Due: none

remove disk locks per vm
  go.mod
  staging/src/k8s.io/legacy-cloud-providers/azure/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_utils.go
Due: pull-kubernetes-godeps

add err handling in gce/gci
  cluster/gce/gci/configure_helper_test.go
Due: pull-kubernetes-e2e-gke

Skip single node driver for provisioning multi-node test
  test/e2e/storage/testsuites/provisioning.go
Due: none
