Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-publishing-bot-dry-run, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

pull-publishing-bot-dry-run:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190301-76bc03340-master
      command:
      - make
      args:
      - run
      env:
      - name: CONFIG
        value: https://raw.githubusercontent.com/kubernetes/publishing-bot/master/configs/kubernetes
  ...

pull-kubernetes-e2e-kubeadm-gce:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:latest-master
  ...

pull-kubernetes-e2e-gke:
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
  spec:
    containers:
    - args:
      - --root=/go/src
      - --repo=k8s.io/kubernetes=$(PULL_REFS)
      - --repo=k8s.io/release
      - --upload=gs://kubernetes-jenkins/pr-logs
      - --timeout=90
  ...

pull-kubernetes-local-e2e-containerized:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20181203-a441fa430-master
      args:
      - --root=/go/src
      - --job=$(JOB_NAME)
  ...

pull-kubernetes-cross:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190703-1f4d616
      args:
      - --job=$(JOB_NAME)
      - --repo=k8s.io/$(REPO_NAME)=$(PULL_REFS)
      - --service-account=/etc/service-account/service-account.json
  ...

pull-kubernetes-conformance-image-test:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-master
  ...

pull-kubernetes-godeps:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - name: main
      command:
      - runner.sh
      image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-master
      args:
      - make
      - verify
      securityContext:
  ...

Fix default scheduler crash if scheduler extender filter returns a not found node
  pkg/scheduler/core/extender.go
  pkg/scheduler/scheduler.go
Due: none

fix azure load balancer update dns label issue
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
Due: pull-kubernetes-godeps

Update to go 1.12.8
  build/build-image/cross/Dockerfile
  build/build-image/cross/VERSION
  build/dependencies.yaml
  build/root/WORKSPACE
  test/images/Makefile
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Fix up failing boilerplate test
  hack/boilerplate/boilerplate_test.py
Due: none

Update to go 1.12.7
  build/build-image/cross/Dockerfile
  build/build-image/cross/VERSION
  build/root/WORKSPACE
  test/images/Makefile
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Update to go 1.12.7
  staging/publishing/rules.yaml
Due: pull-publishing-bot-dry-run, pull-kubernetes-godeps

Generate TopologyHints from the CPUManager
  pkg/kubelet/cm/cpumanager/BUILD
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/cpumanager/topology_hints.go
Due: pull-kubernetes-local-e2e-containerized

Add CPUManager tests for TopologyHint generation
  pkg/kubelet/cm/cpumanager/BUILD
  pkg/kubelet/cm/cpumanager/topology_hints_test.go
Due: pull-kubernetes-local-e2e-containerized

Consume TopologyHints in the CPUManager
  pkg/kubelet/cm/cpumanager/policy_static.go
Due: pull-kubernetes-local-e2e-containerized

Add IterateSocketMasks() function to socketmask abstraction
  pkg/kubelet/cm/topologymanager/socketmask/socketmask.go
  pkg/kubelet/cm/topologymanager/socketmask/socketmask_test.go
Due: pull-kubernetes-local-e2e-containerized

Add CPUManager tests for TopologyHint consumption
  pkg/kubelet/cm/cpumanager/policy_static_test.go
Due: pull-kubernetes-local-e2e-containerized

Fix malformed port in vsphere cloud provider test
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/connection_test.go
Due: pull-kubernetes-godeps

Handle error correctly in kubee-proxy command
  cmd/kube-proxy/app/server.go
Due: none

Add CRD e2e tests for list, delete collection, and status sub-resource operations
  staging/src/k8s.io/apiextensions-apiserver/test/integration/fixtures/resources.go
  test/e2e/apimachinery/BUILD
  test/e2e/apimachinery/custom_resource_definition.go
Due: pull-kubernetes-godeps

Fix GetReference function
  pkg/controller/volume/persistentvolume/scheduler_binder_test.go
  pkg/kubelet/container/ref_test.go
  staging/src/k8s.io/client-go/tools/reference/ref.go
  staging/src/k8s.io/client-go/tools/reference/ref_test.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-godeps

Fix events test
  staging/src/k8s.io/client-go/tools/record/event_test.go
Due: pull-kubernetes-godeps

move codes to avoid conflict w/ master
  staging/src/k8s.io/apiserver/pkg/server/options/recommended.go
Due: pull-kubernetes-godeps

do not publish openapi for a schema containing bad types
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/BUILD
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/builder.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/builder_test.go
Due: pull-kubernetes-godeps

Promote e2e verifying service type updates
  test/conformance/testdata/conformance.txt
  test/e2e/network/service.go
Due: pull-kubernetes-conformance-image-test

resolve api-rule violation failure
  api/api-rules/violation_exceptions.list
Due: none

fixes compiliation failure
  pkg/registry/flowcontrol/rest/storage_flowcontrol.go
Due: none

feat(scheduler): return error when score is out of range
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/framework_test.go
  pkg/scheduler/framework/v1alpha1/interface.go
  test/integration/scheduler/framework_test.go
Due: none

feat: use schedulerapi.MaxPriority instead of hard-coded int
  pkg/scheduler/framework/v1alpha1/BUILD
  pkg/scheduler/framework/v1alpha1/interface.go
Due: none

kube-proxy: do not export network programming latency for deleted enpoints.
  pkg/controller/endpoint/trigger_time_tracker.go
  pkg/proxy/endpoints.go
Due: none

dealing with generated files
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/pkg/client/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/fake/clientset_generated.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/clientset/internalclientset/fake/clientset_generated.go
  staging/src/k8s.io/client-go/kubernetes/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/_examples/HyphenGroup/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/_examples/MixedCase/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/_examples/apiserver/clientset/internalversion/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/_examples/apiserver/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/_examples/crd/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/fake/generator_fake_for_clientset.go
  staging/src/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/fake/clientset_generated.go
  staging/src/k8s.io/metrics/pkg/client/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/node-api/pkg/client/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/clientset/versioned/fake/clientset_generated.go
  staging/src/k8s.io/sample-controller/pkg/generated/clientset/versioned/fake/clientset_generated.go
Due: pull-kubernetes-godeps

re generated protobuf
  staging/src/k8s.io/api/flowcontrol/v1alpha1/generated.pb.go
Due: pull-kubernetes-godeps

fix some typos in testing.go
  pkg/controller/volume/persistentvolume/testing/testing.go
Due: none

fixed a typo in kubectl book
  staging/src/k8s.io/kubectl/docs/book/pages/resource_printing/cluster_information.md
Due: pull-kubernetes-godeps

commit generated openapi definitions
  .gitignore
  hack/make-rules/clean.sh
  pkg/generated/openapi/zz_generated.openapi.go
Due: none

Update generated file to match schema
  .gitignore
  pkg/generated/openapi/zz_generated.openapi.go
Due: none

Fix tests
  pkg/controller/volume/attachdetach/cache/actual_state_of_world_test.go
  pkg/volume/util/operationexecutor/operation_executor_test.go
Due: none

Add admission e2e tests for untested stable operations
  test/e2e/apimachinery/BUILD
  test/e2e/apimachinery/webhook.go
Due: none

fix shellcheck failures in hack/test-integration.sh and hack/verify-test-featuregates.sh
  hack/.shellcheck_failures
  hack/test-integration.sh
Due: none

Add instruction for "Application Default Credentials"
  cluster/gce/windows/README-GCE-Windows-kube-up.md
Due: pull-kubernetes-e2e-gke

Bump vertical autoscaler to v0.8.1
  cluster/addons/calico-policy-controller/calico-node-vertical-autoscaler-deployment.yaml
  cluster/addons/calico-policy-controller/typha-vertical-autoscaler-deployment.yaml
Due: pull-kubernetes-e2e-gke

use t.fatalf instead of t.errorf for framework initializaation failure
  pkg/scheduler/api/compatibility/compatibility_test.go
  pkg/scheduler/factory/factory_test.go
  test/integration/scheduler/scheduler_test.go
  test/integration/scheduler/util.go
Due: none

adding node informer for attach test
  pkg/volume/csi/testing/testing.go
  pkg/volume/util/operationexecutor/operation_generator_test.go
Due: none

Lowercase first letter of chainable errors in PVC protection controller
  pkg/controller/volume/pvcprotection/pvc_protection_controller.go
Due: none

Add live list of pods to PVC protection controller
  pkg/controller/volume/pvcprotection/BUILD
  pkg/controller/volume/pvcprotection/pvc_protection_controller.go
  pkg/controller/volume/pvcprotection/pvc_protection_controller_test.go
Due: none

Path conditions:
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
