Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-publishing-bot-dry-run, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

pull-publishing-bot-dry-run:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190301-76bc03340-master
      command:
      - make
      args:
      - run
      env:
      - name: CONFIG
        value: https://raw.githubusercontent.com/kubernetes/publishing-bot/master/configs/kubernetes
  ...

pull-kubernetes-e2e-kubeadm-gce:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:latest-master
  ...

pull-kubernetes-e2e-gke:
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
  spec:
    containers:
    - args:
      - --root=/go/src
      - --repo=k8s.io/kubernetes=$(PULL_REFS)
      - --repo=k8s.io/release
      - --upload=gs://kubernetes-jenkins/pr-logs
      - --timeout=90
  ...

pull-kubernetes-local-e2e-containerized:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20181203-a441fa430-master
      args:
      - --root=/go/src
      - --job=$(JOB_NAME)
  ...

pull-kubernetes-cross:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190703-1f4d616
      args:
      - --job=$(JOB_NAME)
      - --repo=k8s.io/$(REPO_NAME)=$(PULL_REFS)
      - --service-account=/etc/service-account/service-account.json
  ...

pull-kubernetes-conformance-image-test:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-master
  ...

pull-kubernetes-godeps:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - name: main
      command:
      - runner.sh
      image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-master
      args:
      - make
      - verify
      securityContext:
  ...

update k8s.io/kube-openapi to 30be4d16710a
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/node-api/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/kube-openapi/pkg/generators/extension.go
  vendor/k8s.io/kube-openapi/pkg/generators/openapi.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

adding pods lister
  pkg/controller/nodelifecycle/BUILD
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
  pkg/controller/nodelifecycle/node_lifecycle_controller_test.go
  pkg/controller/util/node/controller_utils.go
Due: none

staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
Due: pull-kubernetes-godeps

Check for terminated reason appropriate for containerD and dockershim
  test/e2e/windows/security_context.go
Due: none

fixing docker fake client InspectExec
  pkg/kubelet/dockershim/libdocker/fake_client.go
Due: pull-kubernetes-local-e2e-containerized

Revert "Revert "enabling fluentd on kubemark""
  test/kubemark/gce/util.sh
Due: none

json unmarshal coded error at function applyJSPatch()
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
Due: pull-kubernetes-godeps

Errors from cgroup destroy and pid kills are swallowed. Log a warning when that happens.
  pkg/kubelet/cm/pod_container_manager_linux.go
Due: pull-kubernetes-local-e2e-containerized

Add CustomCollectAndCompare to testutils which especially for custom collector Add GetRawDesc() to Desc.
  staging/src/k8s.io/component-base/metrics/desc.go
  staging/src/k8s.io/component-base/metrics/testutil/testutil.go
Due: pull-kubernetes-godeps

Variables collides with imported package name
  pkg/registry/core/pod/storage/storage.go
  pkg/registry/core/pod/storage/storage_test.go
Due: none

Migrate CheckServiceAffinity custom predicate to Filter plugin
  pkg/scheduler/BUILD
  pkg/scheduler/algorithm_factory.go
  pkg/scheduler/apis/config/testing/compatibility_test.go
  pkg/scheduler/factory_test.go
  pkg/scheduler/framework/plugins/BUILD
  pkg/scheduler/framework/plugins/default_registry.go
  pkg/scheduler/framework/plugins/serviceaffinity/BUILD
  pkg/scheduler/framework/plugins/serviceaffinity/service_affinity.go
  pkg/scheduler/framework/plugins/serviceaffinity/service_affinity_test.go
Due: none

Fix golint failures for pkg/kubelet/config/...
  hack/.golint_failures
  pkg/kubelet/config/common.go
Due: pull-kubernetes-local-e2e-containerized

Fix blank import error for pkg/controller
  pkg/controller/controller_utils.go
Due: none

feat(scheduler): remove deprecated pattern in scheduler priority
  pkg/scheduler/BUILD
  pkg/scheduler/algorithm/priorities/types.go
  pkg/scheduler/algorithm_factory.go
  pkg/scheduler/core/extender_test.go
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/core/generic_scheduler_test.go
  pkg/scheduler/factory_test.go
  pkg/scheduler/scheduler_test.go
  test/integration/scheduler/BUILD
  test/integration/scheduler/scheduler_test.go
Due: none

Add reclaimPolicy,volumeBindMode,allowVolumeExpandsion to kubectl get storage class
  pkg/printers/internalversion/printers.go
  pkg/printers/internalversion/printers_test.go
Due: none

Update e2e framework WaitForStableCluster function
  test/e2e/framework/util.go
  test/e2e/scheduling/framework.go
  test/e2e/scheduling/predicates.go
Due: none

bumping up log level for not updated node
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
Due: none

update to version 7.3.2
  cluster/addons/fluentd-elasticsearch/es-image/Dockerfile
  cluster/addons/fluentd-elasticsearch/es-image/Makefile
  cluster/addons/fluentd-elasticsearch/es-statefulset.yaml
Due: pull-kubernetes-e2e-gke, pull-kubernetes-cross

make azure fail if feature gates are not registered
  pkg/volume/azure_file/azure_file_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/BUILD
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
Due: pull-kubernetes-godeps

e2e_kubeadm: fix missing suite --test* flags
  test/e2e_kubeadm/e2e_kubeadm_suite_test.go
Due: none

Fix the import aliase nodev1beta1
  test/e2e/node/runtimeclass.go
Due: none

allow a verifyoptionsfunc to indicate that no certpool is available
  staging/src/k8s.io/apiserver/pkg/authentication/authenticatorfactory/requestheader.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/verify_options.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/x509.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/client_ca.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/dynamic_cafile_content.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/static_content.go
  staging/src/k8s.io/apiserver/pkg/server/dynamiccertificates/union_content.go
Due: pull-kubernetes-godeps

close the kube-apiserver for taint tests
  test/integration/scheduler/extender_test.go
  test/integration/scheduler/taint_test.go
Due: none

Remove unnecessary case from WebhookAuthorizer#Authorize
  staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/webhook.go
Due: pull-kubernetes-godeps

Limiting the scope of new kubectl get e2e tests to decrease flakiness
  test/e2e/kubectl/kubectl.go
Due: none

remove cloud node_lifecycle_controller's dependencies on k/k
  pkg/controller/cloud/BUILD
  pkg/controller/cloud/node_lifecycle_controller.go
  staging/src/k8s.io/cloud-provider/node/helpers/BUILD
  staging/src/k8s.io/cloud-provider/node/helpers/taints.go
  staging/src/k8s.io/cloud-provider/node/helpers/taints_test.go
Due: pull-kubernetes-godeps

Set go version in fluentd-elasticsearch addon
  cluster/addons/fluentd-elasticsearch/es-image/go.mod
Due: pull-kubernetes-e2e-gke

Add --certificate-key flag to token create
  cmd/kubeadm/app/cmd/token.go
  cmd/kubeadm/app/cmd/token_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

kubelet: rename cm ResourceConfig CPU fields
  pkg/kubelet/cm/cgroup_manager_linux.go
  pkg/kubelet/cm/helpers_linux.go
  pkg/kubelet/cm/helpers_linux_test.go
  pkg/kubelet/cm/node_container_manager_linux.go
  pkg/kubelet/cm/qos_container_manager_linux.go
  pkg/kubelet/cm/types.go
Due: pull-kubernetes-local-e2e-containerized

Setting Hostname from Pods on EndpointSlice to match Endpoints behavior.
  pkg/controller/endpoint/endpoints_controller.go
  pkg/controller/endpointslice/endpointslice_controller_test.go
  pkg/controller/endpointslice/reconciler.go
  pkg/controller/endpointslice/reconciler_test.go
  pkg/controller/endpointslice/utils.go
  pkg/controller/endpointslice/utils_test.go
  pkg/controller/util/endpoint/controller_utils.go
  pkg/controller/util/endpoint/controller_utils_test.go
Due: none

Option to use CONNMARK instead of MARK
  cmd/kube-proxy/app/server_others.go
  pkg/kubelet/apis/config/fuzzer/fuzzer.go
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/v1beta1/zz_generated.conversion.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_network_linux.go
  pkg/kubemark/hollow_proxy.go
  pkg/proxy/apis/config/types.go
  pkg/proxy/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/ipvs/proxier.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/types.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
  staging/src/k8s.io/kubelet/config/v1beta1/zz_generated.deepcopy.go
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-godeps

Minor updates on comments for verb.
  pkg/apis/rbac/types.go
Due: none

Stop Watching when there is encoding error
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/watch.go
Due: pull-kubernetes-godeps

fix: return NodeScore in even pods spread priority
  pkg/scheduler/algorithm/priorities/even_pods_spread.go
Due: none

change aws encryptedCheck to exponential backoff
  pkg/cloudprovider/providers/aws/aws.go
Due: none

rename and change aws backoff vars
  pkg/cloudprovider/providers/aws/aws.go
Due: none

fix volumecreate comments
  pkg/cloudprovider/providers/aws/aws.go
Due: none

add sleep 5 before exponential backoff in waitUntilVolumeAvailable
  pkg/cloudprovider/providers/aws/aws.go
Due: none

rename and change aws backoff vars
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
Due: pull-kubernetes-godeps

Path conditions:
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
