Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-publishing-bot-dry-run, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

pull-publishing-bot-dry-run:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190301-76bc03340-master
      command:
      - make
      args:
      - run
      env:
      - name: CONFIG
        value: https://raw.githubusercontent.com/kubernetes/publishing-bot/master/configs/kubernetes
  ...

pull-kubernetes-e2e-kubeadm-gce:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:latest-master
  ...

pull-kubernetes-e2e-gke:
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
  spec:
    containers:
    - args:
      - --root=/go/src
      - --repo=k8s.io/kubernetes=$(PULL_REFS)
      - --repo=k8s.io/release
      - --upload=gs://kubernetes-jenkins/pr-logs
      - --timeout=90
  ...

pull-kubernetes-local-e2e-containerized:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20181203-a441fa430-master
      args:
      - --root=/go/src
      - --job=$(JOB_NAME)
  ...

pull-kubernetes-cross:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20180912-f97e35a46
      args:
      - --job=$(JOB_NAME)
      - --repo=k8s.io/$(REPO_NAME)=$(PULL_REFS)
      - --service-account=/etc/service-account/service-account.json
  ...

pull-kubernetes-conformance-image-test:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-master
  ...

pull-kubernetes-godeps:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - name: main
      command:
      - runner.sh
      image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-master
      args:
      - make
      - verify
      securityContext:
  ...

Remove duplicate call to volumeHost.GetKubeClient()
  pkg/volume/csi/nodeinfomanager/nodeinfomanager.go
Due: none

Fix race condition between actual and desired state in kublet volume manager
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
Due: pull-kubernetes-local-e2e-containerized

add metrics directory in component-base for shared metrics code across kubernetes binaries
  staging/src/k8s.io/component-base/metrics/OWNERS
Due: pull-kubernetes-godeps

Add johnbelamaric to sig-network-{reviewers,approvers}
  OWNERS_ALIASES
Due: none

Bump metadata-proxy image to v0.1.12
  cluster/addons/metadata-proxy/gce/metadata-proxy.yaml
Due: pull-kubernetes-e2e-gke

Initial API changes
  pkg/apis/storage/v1/zz_generated.conversion.go
  pkg/apis/storage/v1/zz_generated.defaults.go
  staging/src/k8s.io/api/storage/v1/generated.pb.go
  staging/src/k8s.io/api/storage/v1/generated.proto
  staging/src/k8s.io/api/storage/v1/types.go
  staging/src/k8s.io/api/storage/v1/zz_generated.deepcopy.go
Due: pull-kubernetes-godeps

Short-circuit quota admission rejection on zero-delta updates
  plugin/pkg/admission/resourcequota/controller.go
Due: none

Accept admission request if resource is being deleted
  plugin/pkg/admission/resourcequota/admission_test.go
Due: none

Remove encryption via locally stored key.
  cluster/gce/config-default.sh
  cluster/gce/util.sh
Due: pull-kubernetes-e2e-gke

Fix golint failures of e2e/framework/providers/gce/recreate_node.go
  hack/.golint_failures
  test/e2e/framework/providers/gce/BUILD
  test/e2e/framework/providers/gce/recreate_node.go
Due: none

adding unit tests for provisioning metric reporting via CSI driver
  pkg/controller/volume/persistentvolume/provision_test.go
  pkg/controller/volume/persistentvolume/pv_controller.go
Due: none

changing back to use tabs to reduce noises
  pkg/controller/volume/persistentvolume/pv_controller.go
Due: none

remove unused variables for now
  pkg/controller/volume/persistentvolume/pv_controller.go
Due: none

comments
  pkg/controller/volume/persistentvolume/pv_controller.go
Due: none

GCE/Windows: force kill the stackdriver processes when necessary
  cluster/gce/windows/k8s-node-setup.psm1
Due: pull-kubernetes-e2e-gke

fix golint
  cmd/kube-proxy/app/server.go
  pkg/proxy/endpoints.go
  pkg/proxy/service.go
  pkg/proxy/util/network.go
Due: none

add myself as apps reviewer
  OWNERS_ALIASES
Due: none

fix golint failures of pkg/apis/scheduling pkg/apis/storage/util pkg/apis/storage/v1/util pkg/apis/storage/v1beta1/util
  hack/.golint_failures
  pkg/apis/scheduling/register.go
  pkg/apis/scheduling/types.go
  pkg/apis/storage/util/helpers.go
  pkg/apis/storage/v1/util/helpers.go
  pkg/apis/storage/v1beta1/util/helpers.go
  pkg/kubectl/util/storage/storage.go
Due: none

feat: add un-reserve extension point to scheduler
  pkg/scheduler/framework/v1alpha1/framework.go
  pkg/scheduler/framework/v1alpha1/interface.go
  pkg/scheduler/scheduler.go
  test/integration/scheduler/framework_test.go
Due: none

Avoid duplicate error reporting in glusterfs
  pkg/volume/glusterfs/glusterfs.go
Due: none

fix shellcheck failures of cluster/gce/upgrade-aliases.sh
  cluster/gce/upgrade-aliases.sh
  hack/.shellcheck_failures
Due: pull-kubernetes-e2e-gke

kubeadm: Fix omitempty in v1beta2
  cmd/kubeadm/app/apis/kubeadm/v1beta2/types.go
  cmd/kubeadm/app/cmd/upgrade/common_test.go
  cmd/kubeadm/app/util/config/BUILD
  cmd/kubeadm/app/util/config/initconfiguration_test.go
  cmd/kubeadm/app/util/config/testdata/defaulting/node/defaulted.yaml
Due: pull-kubernetes-e2e-kubeadm-gce

apiserver: add supplementary SetupSignalHandlerContext to handle SIGTERM and SIGINT
  staging/src/k8s.io/apiserver/pkg/server/signal.go
Due: pull-kubernetes-godeps

fix scheduler plugin example
  pkg/scheduler/framework/plugins/examples/multipoint/multipoint.go
Due: none

Use any host that mounts the datastore to create Volume
  staging/src/k8s.io/legacy-cloud-providers/vsphere/BUILD
  staging/src/k8s.io/legacy-cloud-providers/vsphere/nodemanager.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/constants.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/datacenter.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/datastore.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/diskmanagers/vmdm.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/pbm.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/virtualmachine.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere_util.go
  test/e2e/storage/vsphere/vsphere_volume_datastore.go
  test/e2e/storage/vsphere/vsphere_zone_support.go
Due: pull-kubernetes-godeps

Allow to define exec credential plugin config options from kubectl
  pkg/kubectl/cmd/config/create_authinfo.go
  pkg/kubectl/cmd/config/create_authinfo_test.go
Due: none

Move auth and network tests to use framework/log
  test/e2e/auth/BUILD
  test/e2e/auth/audit.go
  test/e2e/auth/audit_dynamic.go
  test/e2e/auth/certificates.go
  test/e2e/auth/node_authz.go
  test/e2e/auth/service_accounts.go
  test/e2e/network/BUILD
  test/e2e/network/dns.go
  test/e2e/network/dns_common.go
  test/e2e/network/dns_scale_records.go
  test/e2e/network/example_cluster_dns.go
  test/e2e/network/firewall.go
  test/e2e/network/ingress.go
  test/e2e/network/kube_proxy.go
  test/e2e/network/network_policy.go
  test/e2e/network/network_tiers.go
  test/e2e/network/networking_perf.go
  test/e2e/network/proxy.go
  test/e2e/network/service.go
  test/e2e/network/service_latency.go
  test/e2e/network/util_iperf.go
Due: none

Require version match to special-case status objects
  staging/src/k8s.io/cli-runtime/pkg/resource/BUILD
  staging/src/k8s.io/cli-runtime/pkg/resource/scheme.go
  staging/src/k8s.io/cli-runtime/pkg/resource/scheme_test.go
Due: pull-kubernetes-godeps

Error when etcd3 watch finds delete event with nil prevKV
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/BUILD
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/event.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/event_test.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher.go
Due: pull-kubernetes-godeps

test/e2e/network: Honor --dns-domain in more places
  test/e2e/network/dns.go
Due: none

Generate meta/v1 protobuf
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/generated.pb.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/generated.proto
Due: pull-kubernetes-godeps

Verify apimachinery protobuf
  hack/verify-generated-protobuf.sh
Due: none

Fix kubectl rename-context description grammar
  pkg/kubectl/cmd/config/rename_context.go
Due: none

Self nominate cmluciano as a sig-network reviewer
  OWNERS_ALIASES
Due: none

Path conditions:
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
