Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-publishing-bot-dry-run, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

pull-publishing-bot-dry-run:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190301-76bc03340-master
      command:
      - make
      args:
      - run
      env:
      - name: CONFIG
        value: https://raw.githubusercontent.com/kubernetes/publishing-bot/master/configs/kubernetes
  ...

pull-kubernetes-e2e-kubeadm-gce:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:latest-master
  ...

pull-kubernetes-e2e-gke:
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
  spec:
    containers:
    - args:
      - --root=/go/src
      - --repo=k8s.io/kubernetes=$(PULL_REFS)
      - --repo=k8s.io/release
      - --upload=gs://kubernetes-jenkins/pr-logs
      - --timeout=90
  ...

pull-kubernetes-local-e2e-containerized:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20181203-a441fa430-master
      args:
      - --root=/go/src
      - --job=$(JOB_NAME)
  ...

pull-kubernetes-cross:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20180912-f97e35a46
      args:
      - --job=$(JOB_NAME)
      - --repo=k8s.io/$(REPO_NAME)=$(PULL_REFS)
      - --service-account=/etc/service-account/service-account.json
  ...

pull-kubernetes-conformance-image-test:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-master
  ...

pull-kubernetes-godeps:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - name: main
      command:
      - runner.sh
      image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-master
      args:
      - make
      - verify
      securityContext:
  ...

fix golint failures of pkg/registry/rbac/clusterrole
  hack/.golint_failures
  pkg/registry/rbac/clusterrole/doc.go
  pkg/registry/rbac/clusterrole/registry.go
  pkg/registry/rbac/clusterrole/strategy.go
Due: none

os exit when option is true
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_test.go
  cmd/kube-proxy/app/server_windows.go
Due: none

fix golint failures of pkg/registry/rbac/role
  hack/.golint_failures
  pkg/registry/rbac/role/doc.go
  pkg/registry/rbac/role/registry.go
  pkg/registry/rbac/role/strategy.go
Due: none

kubeadm: remove duplicated token.parsePEMCerts()
  cmd/kubeadm/app/discovery/token/BUILD
  cmd/kubeadm/app/discovery/token/token.go
  cmd/kubeadm/app/discovery/token/token_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

add TODO
  cmd/kubeadm/app/phases/certs/certlist.go
Due: pull-kubernetes-e2e-kubeadm-gce

kubeadm: simplify service account keys validation
  cmd/kubeadm/app/phases/certs/BUILD
  cmd/kubeadm/app/phases/certs/certs.go
  cmd/kubeadm/app/phases/certs/certs_test.go
  cmd/kubeadm/app/util/pkiutil/pki_helpers.go
Due: pull-kubernetes-e2e-kubeadm-gce

kubeadm: do unit testing of actual public function
  cmd/kubeadm/app/phases/certs/certs.go
  cmd/kubeadm/app/phases/certs/certs_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

kubeadm: add support for ECDSA keys
  cmd/kubeadm/app/cmd/alpha/certs_test.go
  cmd/kubeadm/app/phases/certs/BUILD
  cmd/kubeadm/app/phases/certs/certlist.go
  cmd/kubeadm/app/phases/certs/certs.go
  cmd/kubeadm/app/phases/certs/certs_test.go
  cmd/kubeadm/app/phases/certs/renewal/certsapi.go
  cmd/kubeadm/app/phases/certs/renewal/filerenewal.go
  cmd/kubeadm/app/phases/certs/renewal/interface.go
  cmd/kubeadm/app/phases/certs/renewal/renewal_test.go
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig.go
  cmd/kubeadm/app/phases/kubeconfig/kubeconfig_test.go
  cmd/kubeadm/app/util/certs/util.go
  cmd/kubeadm/app/util/pkiutil/pki_helpers.go
Due: pull-kubernetes-e2e-kubeadm-gce

WIP
  cmd/kubeadm/app/apis/kubeadm/types.go
  cmd/kubeadm/app/apis/kubeadm/v1beta1/defaults_unix.go
  cmd/kubeadm/app/apis/kubeadm/v1beta1/defaults_windows.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
  cmd/kubeadm/app/cmd/phases/init/BUILD
  cmd/kubeadm/app/cmd/phases/init/certs.go
  cmd/kubeadm/app/constants/constants.go
  cmd/kubeadm/app/phases/certs/certs.go
  cmd/kubeadm/app/phases/certs/renewal/renewal.go
  cmd/kubeadm/app/phases/controlplane/manifests.go
  cmd/kubeadm/app/phases/copycerts/copycerts.go
Due: pull-kubernetes-e2e-kubeadm-gce

clean up genclient tags for hub types
  pkg/apis/admissionregistration/types.go
  pkg/apis/apps/types.go
  pkg/apis/auditregistration/types.go
  pkg/apis/authentication/types.go
  pkg/apis/authorization/types.go
  pkg/apis/autoscaling/types.go
  pkg/apis/batch/types.go
  pkg/apis/certificates/types.go
  pkg/apis/coordination/types.go
  pkg/apis/core/types.go
  pkg/apis/imagepolicy/types.go
  pkg/apis/networking/types.go
  pkg/apis/policy/types.go
  pkg/apis/rbac/types.go
  pkg/apis/scheduling/types.go
  pkg/apis/settings/types.go
  pkg/apis/storage/types.go
Due: none

recogize status err after decoding in dynamic client
  staging/src/k8s.io/client-go/dynamic/BUILD
  staging/src/k8s.io/client-go/dynamic/client_test.go
  staging/src/k8s.io/client-go/dynamic/simple.go
Due: pull-kubernetes-godeps

Upgrade compute API to version 2019-03-01
  pkg/cloudprovider/providers/azure/BUILD
  pkg/cloudprovider/providers/azure/azure_backoff.go
  pkg/cloudprovider/providers/azure/azure_client.go
  pkg/cloudprovider/providers/azure/azure_controller_common.go
  pkg/cloudprovider/providers/azure/azure_controller_standard.go
  pkg/cloudprovider/providers/azure/azure_controller_vmss.go
  pkg/cloudprovider/providers/azure/azure_fakes.go
  pkg/cloudprovider/providers/azure/azure_instances_test.go
  pkg/cloudprovider/providers/azure/azure_managedDiskController.go
  pkg/cloudprovider/providers/azure/azure_standard.go
  pkg/cloudprovider/providers/azure/azure_test.go
  pkg/cloudprovider/providers/azure/azure_vmsets.go
  pkg/cloudprovider/providers/azure/azure_vmss.go
  pkg/cloudprovider/providers/azure/azure_vmss_test.go
  pkg/cloudprovider/providers/azure/azure_wrap.go
  pkg/volume/azure_dd/BUILD
  pkg/volume/azure_dd/attacher.go
  pkg/volume/azure_dd/azure_dd.go
  pkg/volume/azure_dd/azure_dd_test.go
Due: none

fix golint failures of pkg/capabilities
  hack/.golint_failures
  pkg/capabilities/capabilities.go
  pkg/capabilities/doc.go
Due: none

fix some shellcheck failures
  hack/.shellcheck_failures
  hack/test-integration.sh
  hack/test-update-storage-objects.sh
Due: none

fix golint failures of pkg/apis/networking
  hack/.golint_failures
  pkg/apis/networking/register.go
  pkg/apis/networking/types.go
Due: none

fix vet error
  pkg/kubelet/kuberuntime/logs/logs.go
Due: pull-kubernetes-local-e2e-containerized

test coverage for pod QOS
  test/e2e/node/pods.go
Due: none

Add --sort-by option to kubectl top command
  pkg/kubectl/cmd/top/top.go
  pkg/kubectl/cmd/top/top_node.go
  pkg/kubectl/cmd/top/top_pod.go
  pkg/kubectl/metricsutil/metrics_printer.go
Due: none

Change Vsphere e2e test to verify rounded PV size instead
  test/e2e/storage/vsphere/vsphere_volume_disksize.go
Due: none

proxy: ipvs scheduler per service
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/ipvs/testing/util.go
Due: none

proxy: ipvs local real server weight
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/ipvs/proxier_test.go
  pkg/proxy/ipvs/testing/util.go
Due: none

Copy object sent to validating admission
  pkg/registry/core/pod/storage/eviction.go
  pkg/registry/core/pod/storage/storage.go
Due: none

Make the error slightly more readable
  pkg/kubectl/cmd/util/helpers.go
Due: none

fix validation message: apiServerEndpoints -> apiServerEndpoint
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
Due: pull-kubernetes-e2e-kubeadm-gce

Check error when copying from pod
  pkg/kubectl/cmd/cp/cp.go
Due: none

[WIP] Drop GCE alpha
  go.mod
  go.sum
  pkg/cloudprovider/providers/gce/BUILD
  pkg/cloudprovider/providers/gce/gce.go
  pkg/cloudprovider/providers/gce/gce_addresses.go
  pkg/cloudprovider/providers/gce/gce_backendservice.go
  pkg/cloudprovider/providers/gce/gce_disks_test.go
  pkg/cloudprovider/providers/gce/gce_forwardingrule.go
  pkg/cloudprovider/providers/gce/gce_healthchecks.go
  pkg/cloudprovider/providers/gce/gce_interfaces.go
  pkg/cloudprovider/providers/gce/gce_loadbalancer_external.go
  pkg/cloudprovider/providers/gce/gce_loadbalancer_external_test.go
  pkg/cloudprovider/providers/gce/gce_util.go
  pkg/cloudprovider/providers/gce/metrics.go
  test/e2e/network/BUILD
  test/e2e/network/network_tiers.go
  vendor/github.com/GoogleCloudPlatform/k8s-cloud-provider/pkg/cloud/filter/filter.go
  vendor/github.com/GoogleCloudPlatform/k8s-cloud-provider/pkg/cloud/gen.go
  vendor/github.com/GoogleCloudPlatform/k8s-cloud-provider/pkg/cloud/meta/meta.go
  vendor/github.com/GoogleCloudPlatform/k8s-cloud-provider/pkg/cloud/mock/mock.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

fix kubelet config bug for kubeadm init phase
  cmd/kubeadm/app/componentconfigs/defaults.go
Due: pull-kubernetes-e2e-kubeadm-gce

Detect zone of MIG in e2e VPA tests
  test/e2e/framework/providers/gce/gce.go
Due: none

Collapse the protobuf extension file into codec factory
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/BUILD
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/codec_factory.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/protobuf_extension.go
Due: pull-kubernetes-godeps

Cleanup content-type protobuf constants
  pkg/api/testing/serialization_proto_test.go
  staging/src/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/roundtrip.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/codec_factory.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/protobuf/protobuf.go
  staging/src/k8s.io/apimachinery/pkg/test/runtime_serializer_protobuf_protobuf_test.go
  test/integration/apiserver/apiserver_test.go
Due: pull-kubernetes-godeps

lazy/dynamic initilization on the int64 pointers of inter-podaffinity priority
  pkg/scheduler/algorithm/priorities/interpod_affinity.go
Due: none

Revert "Revert "scheduler: performance improvement on PodAffinity""
  pkg/scheduler/algorithm/priorities/interpod_affinity.go
Due: none

Support print volumeMode using kubectl get pv/pvc -o wide
  pkg/printers/internalversion/printers.go
  pkg/printers/internalversion/printers_test.go
Due: none

Cancel checkNode when there are errors
  pkg/scheduler/core/generic_scheduler.go
Due: none

Fix eviction dry-run
  pkg/registry/core/pod/storage/BUILD
  pkg/registry/core/pod/storage/eviction.go
  pkg/registry/core/pod/storage/eviction_test.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

enable proxy admission-webhook and aggr-apiserver to Headless Service
  staging/src/k8s.io/apiserver/pkg/util/proxy/proxy.go
  staging/src/k8s.io/apiserver/pkg/util/proxy/proxy_test.go
Due: pull-kubernetes-godeps

optimize orphaned pod error log
  pkg/kubelet/kubelet_volumes.go
Due: pull-kubernetes-local-e2e-containerized

Updated URL to point to Kubernetes directory
  logo/usage_guidelines.md
Due: none

Path conditions:
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
