Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-publishing-bot-dry-run, pull-kubernetes-e2e-kubeadm-gce, pull-kubernetes-e2e-gke, pull-kubernetes-local-e2e-containerized, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-godeps

pull-publishing-bot-dry-run:
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190301-76bc03340-master
      command:
      - make
      args:
      - run
      env:
      - name: CONFIG
        value: https://raw.githubusercontent.com/kubernetes/publishing-bot/master/configs/kubernetes
  ...

pull-kubernetes-e2e-kubeadm-gce:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:latest-master
  ...

pull-kubernetes-e2e-gke:
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
  spec:
    containers:
    - args:
      - --root=/go/src
      - --repo=k8s.io/kubernetes=$(PULL_REFS)
      - --repo=k8s.io/release
      - --upload=gs://kubernetes-jenkins/pr-logs
      - --timeout=90
  ...

pull-kubernetes-local-e2e-containerized:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20181203-a441fa430-master
      args:
      - --root=/go/src
      - --job=$(JOB_NAME)
  ...

pull-kubernetes-cross:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20180912-f97e35a46
      args:
      - --job=$(JOB_NAME)
      - --repo=k8s.io/$(REPO_NAME)=$(PULL_REFS)
      - --service-account=/etc/service-account/service-account.json
  ...

pull-kubernetes-conformance-image-test:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-master
  ...

pull-kubernetes-godeps:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - name: main
      command:
      - runner.sh
      image: gcr.io/k8s-testimages/kubekins-e2e:v20190315-49d62eb51-master
      args:
      - make
      - verify
      securityContext:
  ...

Fixed golint issues in testing files
  pkg/kubelet/container/testing/fake_runtime_helper.go
  pkg/kubelet/container/testing/mock_runtime_cache.go
  pkg/kubelet/container/testing/mockfileinfo.go
  pkg/kubelet/container/testing/os.go
  pkg/kubelet/container/testing/runtime_mock.go
Due: pull-kubernetes-local-e2e-containerized

Fixed dot-import issues in fake_runtime.go
  pkg/kubelet/container/testing/fake_runtime.go
Due: pull-kubernetes-local-e2e-containerized

Changed FakeContainerCommandRunner to FakeCommandRunner
  pkg/kubelet/kuberuntime/kuberuntime_container_test.go
  pkg/kubelet/prober/prober_test.go
Due: pull-kubernetes-local-e2e-containerized

Fixed golint issues in pkg/kubelet/container/testing/fake_cache.go
  hack/.golint_failures
  pkg/kubelet/container/testing/fake_cache.go
Due: pull-kubernetes-local-e2e-containerized

Fix golint issues in fake_runtime.go
  pkg/kubelet/container/testing/fake_runtime.go
Due: pull-kubernetes-local-e2e-containerized

Renaming in test files after fixing stuttering golint issues
  pkg/kubelet/container/testing/fake_runtime.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods_test.go
  pkg/kubelet/kubelet_test.go
Due: pull-kubernetes-local-e2e-containerized

Unexport mockFileRecorder in mockfileinfo.go
  pkg/kubelet/container/testing/mockfileinfo.go
Due: pull-kubernetes-local-e2e-containerized

fix shellcheck failures list-resources.sh
  cluster/gce/list-resources.sh
  hack/.shellcheck_failures
Due: pull-kubernetes-e2e-gke

Declare sync.Mutex for MatchingCache#mutex
  pkg/controller/lookup_cache.go
Due: none

fix some golint failures of pkg/kubelet
  pkg/kubelet/errors.go
  pkg/kubelet/runtime.go
Due: pull-kubernetes-local-e2e-containerized

Cancel processing node if error occurs when getting affinity and antiaffinity
  pkg/scheduler/algorithm/predicates/metadata.go
Due: none

fix shellcheck failures of cluster/gce/gci/shutdown.sh
  cluster/gce/gci/shutdown.sh
  hack/.shellcheck_failures
Due: pull-kubernetes-e2e-gke

Revert "Merge pull request #76529 from spencerhance/automated-cherry-pick-of-#72534-#74394-upstream-release-1.12"
  pkg/proxy/iptables/proxier.go
  test/e2e/framework/networking_utils.go
  test/e2e/framework/service_util.go
  test/e2e/network/firewall.go
  test/e2e/network/service.go
Due: none

refactor detach azure disk retry operation
  pkg/cloudprovider/providers/azure/azure_controller_common.go
  pkg/cloudprovider/providers/azure/azure_controller_standard.go
  pkg/cloudprovider/providers/azure/azure_controller_vmss.go
  pkg/cloudprovider/providers/azure/azure_fakes.go
  pkg/cloudprovider/providers/azure/azure_vmsets.go
  pkg/volume/azure_dd/attacher.go
  pkg/volume/azure_dd/azure_dd.go
Due: none

move disk lock process to azure cloud provider
  pkg/cloudprovider/providers/.import-restrictions
  pkg/cloudprovider/providers/azure/BUILD
  pkg/cloudprovider/providers/azure/azure_controller_common.go
  pkg/cloudprovider/providers/azure/azure_controller_common_test.go
  pkg/volume/azure_dd/BUILD
  pkg/volume/azure_dd/attacher.go
  pkg/volume/azure_dd/azure_dd.go
Due: none

Replace vmss update API with instance-level update API
  pkg/cloudprovider/providers/azure/azure_client.go
  pkg/cloudprovider/providers/azure/azure_fakes.go
  pkg/cloudprovider/providers/azure/azure_loadbalancer.go
  pkg/cloudprovider/providers/azure/azure_standard.go
  pkg/cloudprovider/providers/azure/azure_vmsets.go
  pkg/cloudprovider/providers/azure/azure_vmss.go
Due: none

Update vendors
  go.mod
  go.sum
  vendor/BUILD
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/BUILD
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/availabilitysets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/containerservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/disks.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/galleries.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/galleryimages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/galleryimageversions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/images.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/loganalytics.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/resourceskus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/snapshots.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/usage.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/virtualmachineextensionimages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/virtualmachineextensions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/virtualmachineimages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/virtualmachineruncommands.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/virtualmachines.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/virtualmachinescalesetextensions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/virtualmachinescalesetrollingupgrades.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/virtualmachinescalesets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/virtualmachinescalesetvms.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute/virtualmachinesizes.go
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

Cleanup codes that not required any more
  pkg/cloudprovider/providers/azure/azure_client.go
  pkg/cloudprovider/providers/azure/azure_vmss.go
Due: none

Add unit tests
  pkg/cloudprovider/providers/azure/azure_vmss_test.go
Due: none

move disk lock process to azure cloud provider
  pkg/cloudprovider/providers/azure/BUILD
  pkg/cloudprovider/providers/azure/azure_controller_common.go
  pkg/cloudprovider/providers/azure/azure_controller_common_test.go
  pkg/volume/azure_dd/BUILD
  pkg/volume/azure_dd/attacher.go
  pkg/volume/azure_dd/azure_dd.go
Due: none

Create GroupVersionKind with simpler way
  staging/src/k8s.io/sample-controller/BUILD
  staging/src/k8s.io/sample-controller/controller.go
Due: pull-kubernetes-godeps

fix golint failures of pkg/kubelet/util
  hack/.golint_failures
  pkg/kubelet/util/doc.go
  pkg/kubelet/util/util_unix.go
  pkg/kubelet/util/util_unsupported.go
  pkg/kubelet/util/util_windows.go
Due: pull-kubernetes-local-e2e-containerized

Refactor performEtcdStaticPodUpgrade to reduce its complexity
  cmd/kubeadm/app/phases/upgrade/BUILD
  cmd/kubeadm/app/phases/upgrade/staticpods.go
  cmd/kubeadm/app/phases/upgrade/staticpods_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

Refactor ValidateConfigInfo and delete some redundant judgment
  cmd/kubeadm/app/discovery/file/BUILD
  cmd/kubeadm/app/discovery/file/file.go
  cmd/kubeadm/app/discovery/file/file_test.go
Due: pull-kubernetes-e2e-kubeadm-gce

os exit when option is true
  pkg/kubelet/dockershim/docker_sandbox.go
Due: pull-kubernetes-local-e2e-containerized

Add comments and fix imports
  cmd/kubeadm/app/cmd/phases/init/uploadconfig.go
  cmd/kubeadm/app/cmd/phases/join/checketcd.go
  cmd/kubeadm/app/cmd/phases/join/controlplaneprepare.go
  cmd/kubeadm/app/phases/bootstraptoken/node/tlsbootstrap.go
  cmd/kubeadm/app/phases/kubelet/kubelet.go
  cmd/kubeadm/app/phases/kubeletserver/kubelet_server.go
Due: pull-kubernetes-e2e-kubeadm-gce

Add comments
  cmd/kubeadm/app/cmd/phases/join/kubelet.go
  cmd/kubeadm/app/cmd/phases/join/kubelet_server.go
Due: pull-kubernetes-e2e-kubeadm-gce

Update kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
Due: pull-kubernetes-local-e2e-containerized

fix duplicated pod priorityClassName
  pkg/kubectl/describe/versioned/describe.go
Due: none

fix shellcheck failures of test/e2e_node/environment/setup_host.sh
  hack/.shellcheck_failures
  test/e2e_node/environment/setup_host.sh
Due: none

fix bug and golint failures of hack/verify-api-groups.sh
  hack/.shellcheck_failures
  hack/verify-api-groups.sh
Due: none

fix other MaxCSIVolumeCountPred
  pkg/scheduler/api/compatibility/compatibility_test.go
  test/integration/scheduler/scheduler_test.go
Due: none

add object type to cacheWatcher
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
Due: pull-kubernetes-godeps

Enable PVC as DataSource for PVC creation
  pkg/api/persistentvolumeclaim/util.go
  pkg/apis/core/types.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/features/kube_features.go
Due: none

Skip pvc protection tests if no default SC is found
  test/e2e/apps/statefulset.go
  test/e2e/framework/BUILD
  test/e2e/framework/pv_util.go
  test/e2e/storage/pvc_protection.go
  test/e2e/storage/volume_metrics.go
  test/e2e/storage/volume_provisioning.go
Due: none

Update unit tests and feature name
  pkg/api/persistentvolumeclaim/util.go
  pkg/api/persistentvolumeclaim/util_test.go
  pkg/apis/core/types.go
  pkg/apis/core/validation/validation_test.go
  pkg/features/kube_features.go
Due: none

Reregister cAdvisor cloud info providers in Kubelet
  pkg/kubelet/cadvisor/BUILD
  pkg/kubelet/cadvisor/cadvisor_linux.go
  vendor/github.com/google/cadvisor/utils/cloudinfo/aws/BUILD
  vendor/github.com/google/cadvisor/utils/cloudinfo/aws/aws.go
  vendor/github.com/google/cadvisor/utils/cloudinfo/azure/BUILD
  vendor/github.com/google/cadvisor/utils/cloudinfo/azure/azure.go
  vendor/github.com/google/cadvisor/utils/cloudinfo/gce/BUILD
  vendor/github.com/google/cadvisor/utils/cloudinfo/gce/gce.go
  vendor/modules.txt
Due: pull-kubernetes-local-e2e-containerized, pull-kubernetes-godeps

Fix GetScale/UpdateScale type for replicationcontroller client
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/BUILD
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/fake/BUILD
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/fake/fake_replicationcontroller.go
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/replicationcontroller.go
Due: pull-kubernetes-godeps

Add GetScale/UpdateScale methods to apps/v1 clients
  staging/src/k8s.io/api/apps/v1/types.go
  staging/src/k8s.io/client-go/kubernetes/typed/apps/v1/BUILD
  staging/src/k8s.io/client-go/kubernetes/typed/apps/v1/deployment.go
  staging/src/k8s.io/client-go/kubernetes/typed/apps/v1/fake/BUILD
  staging/src/k8s.io/client-go/kubernetes/typed/apps/v1/fake/fake_deployment.go
  staging/src/k8s.io/client-go/kubernetes/typed/apps/v1/fake/fake_replicaset.go
  staging/src/k8s.io/client-go/kubernetes/typed/apps/v1/fake/fake_statefulset.go
  staging/src/k8s.io/client-go/kubernetes/typed/apps/v1/replicaset.go
  staging/src/k8s.io/client-go/kubernetes/typed/apps/v1/statefulset.go
Due: pull-kubernetes-godeps

Path conditions:
  pull-publishing-bot-dry-run: any of: ^staging/publishing.*$
  pull-kubernetes-e2e-kubeadm-gce: any of: ^(cmd/kubeadm|build/debs|pkg/kubelet/certificate|cmd/kubelet/app).*$
  pull-kubernetes-e2e-gke: any of: ^(cluster/gce|cluster/addons).*$
  pull-kubernetes-local-e2e-containerized: any of: ^(pkg|cmd)/kubelet.*$
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
