Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: maintenance-boskos-config-upload, maintenance-ci-testgrid-config-upload, pull-test-infra-gubernator, post-test-infra-push-alpine-bash, post-test-infra-push-boskosctl-base, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-push-velodrome, post-test-infra-push-boskos, post-test-infra-push-kettle, post-test-infra-push-planter, post-test-infra-push-triage, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-kubekins-test, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder

maintenance-boskos-config-upload:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - ./boskos/update_prow_config.sh
      env:
      - name: PROW_SERVICE_ACCOUNT
        value: /etc/prow-build-service/prow-build-service.json
  ...

maintenance-ci-testgrid-config-upload:
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - ./testgrid/config-upload.sh
      resources:
        requests:
          memory: 1Gi

pull-test-infra-gubernator:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gubernator:0.4
      command:
      - ./gubernator/test-gubernator.sh
      env:
      - name: WORKSPACE
        value: /workspace

post-test-infra-push-alpine-bash:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/alpine-bash/
      env:
  ...

post-test-infra-push-boskosctl-base:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - images/boskosctl-base/
      env:
  ...

post-test-infra-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - prow/deploy.sh
      args:
      - --confirm
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-test-infra-push-prow:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20190628-265d81f-0.27.0
      command:
      - prow/push.sh
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
        mountPath: /creds
    volumes:
  ...

post-test-infra-push-velodrome:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20190627-v0.1-98-gdda7ab9
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - velodrome/
      env:
  ...

GetPresubmits: Take a closure to avoid calling to GitHub if possible
  prow/config/BUILD.bazel
  prow/config/config.go
  prow/config/config_test.go
Due: post-test-infra-push-prow

Add EBS migration periodic
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-periodics.yaml
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-presubmits.yaml
Due: maintenance-ci-testgrid-config-upload

Trigger: Use GetPresubmits
  prow/plugins/trigger/BUILD.bazel
  prow/plugins/trigger/generic-comment.go
  prow/plugins/trigger/generic-comment_test.go
  prow/plugins/trigger/pull-request.go
  prow/plugins/trigger/pull-request_test.go
  prow/plugins/trigger/trigger.go
  prow/plugins/trigger/trigger_test.go
Due: post-test-infra-push-prow

Remove enable_dns_probes experiment. It has been enable by default.
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Due: maintenance-ci-testgrid-config-upload

Add non-collaborators removal tests
  prow/plugins/verify-owners/verify-owners_test.go
Due: post-test-infra-push-prow

Kill old kube client / promote new
  experiment/tracer/main.go
  prow/cmd/config-bootstrapper/main.go
  prow/cmd/crier/main.go
  prow/cmd/crier/main_test.go
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
  prow/cmd/hook/main.go
  prow/cmd/hook/main_test.go
  prow/cmd/horologium/main.go
  prow/cmd/jenkins-operator/main.go
  prow/cmd/plank/main.go
  prow/cmd/plank/main_test.go
  prow/cmd/sinker/main.go
  prow/cmd/status-reconciler/main.go
  prow/cmd/sub/main.go
  prow/cmd/tide/main.go
  prow/cmd/tide/main_test.go
  prow/flagutil/BUILD.bazel
  prow/flagutil/kubernetes.go
  prow/flagutil/kubernetes_cluster_clients.go
  prow/flagutil/kubernetes_cluster_clients_test.go
  prow/flagutil/kubernetes_test.go
Due: post-test-infra-push-prow

Only check for added owners
  prow/plugins/verify-owners/verify-owners.go
Due: post-test-infra-push-prow

Update prow to v20190827-484b36c51, and other images as necessary.
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/pipeline_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/cmd/branchprotector/cronjob.yaml
  prow/config.yaml
  testgrid/cluster/entomologist_deployment.yaml
Due: maintenance-ci-testgrid-config-upload, pull-test-infra-gubernator, post-test-infra-deploy-prow, post-test-infra-push-prow

Sinker: Use prowjob NS for leader election instead of extra arg
  prow/cluster/sinker_deployment.yaml
  prow/cmd/sinker/main.go
  prow/cmd/sinker/main_test.go
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

clarketm wants to rerun jobs
  prow/config.yaml
Due: pull-test-infra-gubernator, post-test-infra-push-prow

Fix EBS periodic to clone master
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-periodics.yaml
Due: maintenance-ci-testgrid-config-upload

Update README.md with clustered failures feature
  testgrid/README.md
Due: none

Fix repo name in dual-stack e2e job
  config/jobs/kubernetes/sig-network/dualstack-e2e.yaml
Due: maintenance-ci-testgrid-config-upload

Remove CAPI vendor-in-sync job
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Due: maintenance-ci-testgrid-config-upload

Turn on go modules
  config/jobs/kubernetes/test-infra/test-infra-canaries.yaml
  pkg/benchmarkjunit/prowjob_example.yaml
Due: maintenance-ci-testgrid-config-upload

Refactor kubekins-e2e to build with modules
  images/kubekins-e2e/Makefile
  images/kubekins-e2e/cloudbuild.yaml
Due: post-test-infra-push-kubekins-e2e

Output relative to PWD, not root
  images/builder/Makefile
  images/builder/cloudbuild.yaml
Due: post-test-infra-push-image-builder

Add e2e test pipeline for Service Catalog
  config/jobs/kubernetes-sigs/service-catalog/service-catalog-presubmits.yaml
Due: maintenance-ci-testgrid-config-upload

Update bigquery.py
  metrics/bigquery.py
Due: none

Remove extraneous quote
  velodrome/cloudbuild.yaml
Due: post-test-infra-push-velodrome

Add chases2 to oncall rotation
  OWNERS
  experiment/slack-oncall-updater/main.go
Due: none

Configure testgrid email alerts for oncall related jobs.
  config/jobs/kubernetes/test-infra/test-infra-canaries.yaml
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-postsubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Due: maintenance-ci-testgrid-config-upload

add job for dualstack e2e using aks-e
  config/jobs/kubernetes/sig-network/dualstack-e2e.yaml
  config/testgrids/config.yaml
Due: maintenance-ci-testgrid-config-upload

Add explicit test for nearby non-collaborators
  prow/plugins/verify-owners/verify-owners_test.go
Due: post-test-infra-push-prow

Use go modules to build gopherage.
  config/jobs/kubernetes/sig-testing/coverage.yaml
Due: maintenance-ci-testgrid-config-upload

sig-release: Temporarily increase frequency of deb/rpm periodics
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Due: maintenance-ci-testgrid-config-upload

Sharding Testgrid Config: sig-n...
  config/testgrids/config.yaml
  config/testgrids/kubernetes/sig-network/OWNERS
  config/testgrids/kubernetes/sig-network/config.yaml
  config/testgrids/kubernetes/sig-node/OWNERS
  config/testgrids/kubernetes/sig-node/config.yaml
Due: maintenance-ci-testgrid-config-upload

Split openshift tabs into their own subdirectory
  config/testgrids/config.yaml
  config/testgrids/openshift/OWNERS
  config/testgrids/openshift/openshift.yaml
Due: maintenance-ci-testgrid-config-upload

Use components and regular go image for cloudbuild
  logexporter/cloudbuild.yaml
  velodrome/cloudbuild.yaml
Due: post-test-infra-push-velodrome

Rename CAPA jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Due: maintenance-ci-testgrid-config-upload

config-bootstrapper: propagate failures to return code
  prow/cmd/config-bootstrapper/main.go
Due: post-test-infra-push-prow

config/testgrids: add new canary tests for redhat openshift
  config/testgrids/config.yaml
Due: maintenance-ci-testgrid-config-upload

Update the owners fo service-catalog pipelines
  config/jobs/kubernetes-sigs/service-catalog/OWNERS
Due: maintenance-ci-testgrid-config-upload

Updated Bigquery.py
  metrics/bigquery.py
Due: none

Teach bootstrap and builder images to use modules
  images/bootstrap/cloudbuild.yaml
  images/builder/BUILD.bazel
  images/builder/Makefile
  images/builder/cloudbuild.yaml
Due: post-test-infra-push-bootstrap, post-test-infra-push-image-builder

kettle - upgrade py2 -> py3
  kettle/BUILD.bazel
  kettle/Dockerfile
  kettle/make_db.py
  kettle/make_db_test.py
  kettle/make_json.py
  kettle/make_json_test.py
  kettle/model.py
  kettle/model_test.py
  kettle/stream.py
  kettle/stream_test.py
  kettle/update.py
Due: post-test-infra-push-kettle

find GKE builds from a different bucket
  kubetest/extract_k8s.go
  kubetest/extract_test.go
Due: post-test-infra-push-kubekins-e2e

Fixed job name, added testgrid dashboard tab
  config/jobs/kubernetes-sigs/aws-encryption-provider/presubmits.yaml
  config/testgrids/config.yaml
Due: maintenance-ci-testgrid-config-upload

Update windows presubmit job to avoid any reference to k8s version
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Due: maintenance-ci-testgrid-config-upload

Path conditions:
  maintenance-boskos-config-upload: any of: ^boskos/.*$
  maintenance-ci-testgrid-config-upload: any of: ^config/(jobs|testgrids)/.*$
  pull-test-infra-gubernator: any of: gubernator|prow/config.yaml
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-boskosctl-base: any of: ^images/boskosctl-base/
  post-test-infra-deploy-prow: any of: prow/cluster/
  post-test-infra-push-prow: any of: ^(prow|ghproxy|label_sync|robots/commenter)/
  post-test-infra-push-velodrome: any of: ^velodrome/
  post-test-infra-push-boskos: any of: ^boskos/
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-planter: any of: ^planter/
  post-test-infra-push-triage: any of: ^triage/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kubekins-test: any of: ^images/kubekins-test/
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
